.akselByNumbers {
  position: relative;
  background-color: var(--ax-bg-moderate);
  border-color: var(--ax-border-subtle);

  &::after,
  &::before {
    content: " " / "";
    display: block;
    position: absolute;
    z-index: 0;
    inset: 0;
  }

  &::before {
    background-color: var(--ax-bg-moderate);
    z-index: 2;
  }

  &::after {
    background-color: var(--ax-bg-moderate-pressed);
  }

  &:nth-of-type(n) {
    &::after {
      clip-path: polygon(0% 28%, 15% 0%, 60% 0%, 85% 25%, 120% 25%, 77% 87%, 83% 100%, 0% 100%);
    }

    &::before {
      clip-path: polygon(0% 31%, 17% -1%, 57.5% -1%, 84.5% 27%, 117% 27%, 75.5% 87%, 81.5% 100%, 0% 100%);
    }
  }

  &:nth-of-type(2n) {
    &::after {
      clip-path: polygon(0% 19%, 37% 19%, 50% 0%, 100% 0%, 100% 43%, 92% 30.5%, 46% 102.5%, 2% 98%);
    }

    &::before {
      clip-path: polygon(0% 21%, 37.5% 21%, 53% -2%, 100% -2%, 100% 41%, 92% 28%, 46% 100%, 0% 100%);
    }
  }

  &:nth-of-type(3n) {
    &::after {
      clip-path: polygon(5% 40%, 35% 0%, 100% 0%, 100% 90%, 85% 90%, 80% 100%, 45% 100%, 0% 35%, 0 33%);
    }

    &::before {
      clip-path: polygon(6% 41%, 37% 0%, 100% 0%, 100% 88%, 84.5% 88%, 78.5% 100%, 46.5% 100%, 0% 33%, 0 31%);
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  .akselByNumbers__number {
    font-size: 56px;
    display: flex;
    gap: var(--ax-space-4);
    align-items: baseline;
  }
}

/**

<svg xmlns="http://www.w3.org/2000/svg" width="266" height="144" viewBox="0 0 266 144" fill="none">
  <path d="M-142.027 -133.517L-10.575 -239.636L-141.632 -239.477L-273.084 -133.358L-142.027 -133.517Z" stroke="#90E1D2" stroke-width="3" stroke-linejoin="round"/>
  <path d="M-32.912 -151.6L98.4726 -45.5349L-32.912 60.53L-164.296 -45.5349L-32.912 -151.6Z" stroke="#90E1D2" stroke-width="3" stroke-linejoin="round"/>
  <path d="M207.197 -63.8313L338.649 42.2877H207.394L75.9426 -63.8313H207.197Z" stroke="#90E1D2" stroke-width="3" stroke-linejoin="round"/>
  <path d="M316.05 24.0445L447.436 130.11L316.05 236.176L184.665 130.11L316.05 24.0445Z" stroke="#90E1D2" stroke-width="3" stroke-linejoin="round"/>
  <path d="M293.32 217.933L424.772 324.052H293.518L162.066 217.933H293.32Z" stroke="#90E1D2" stroke-width="3" stroke-linejoin="round"/>
  <path d="M533.559 411.875L665.011 305.756L533.757 305.756L402.305 411.875H533.559Z" stroke="#90E1D2" stroke-width="3" stroke-linejoin="round"/>
</svg>

*/
