/* stylelint-disable csstools/value-no-unknown-custom-properties */
.monthSpacer {
  height: var(--ax-space-12);
}

.monthContainer {
  scroll-margin-top: var(--website-header-sticky-height);
}

.monthHeader {
  position: sticky;
  top: var(--website-header-sticky-height);
  background: linear-gradient(var(--ax-bg-default) calc(100% - var(--ax-space-12)), transparent);
  z-index: 2;
}

.timeline {
  width: 0;
  border: 1px dashed var(--ax-border-neutral-subtle);
}

.bullet {
  width: 16px;
  height: 16px;
  border-width: 4px;
  border-radius: 100%;
  background-color: var(--ax-border-neutral);
  border-color: var(--ax-border-neutral-subtle);
}

.logEntry {
  /* header + monthSpacer + monthBubble + log entry spacer */
  scroll-margin-top: calc(var(--website-header-sticky-height) + var(--ax-space-12) + 48px + var(--ax-space-32));
  overflow-wrap: anywhere;
}

.entryEyebrowNotFremhevet {
  font-size: var(--ax-font-size-small);
}

.portableTextFirstHeading > h3:first-of-type {
  margin-top: 0;
}

.divider {
  color: var(--ax-border-neutral-subtleA);
}
