.showMoreContainer {
  overflow: hidden;
  border-radius: var(--ax-radius-2);
  padding: 5px;
  margin: -5px;
}

.showMoreButton {
  --button-height: 2rem;

  position: absolute;
  left: 1rem;
  bottom: var(--ax-space-32);
  z-index: 1;
  background-color: var(--ax-bg-default);
}

.showMoreCollapsed {
  margin-bottom: 0;
  mask-image: linear-gradient(rgba(0 0 0/1), rgba(0 0 0/1) 30%, rgba(0 0 0/ 0) calc(100% - var(--ax-space-16)));
}

.showMoreExpanded {
  margin-bottom: 3rem;
}

.focusFlash {
  animation: focusFlash 0.7s ease 1;
}

@keyframes focusFlash {
  40% {
    opacity: 1;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
