@import (reference) "nav-frontend-core/less/_variabler";

.mobile-nav-toggle {
  position: fixed;
  top: 2rem;
  right: 1.75rem;
  z-index: 10;
  transition: box-shadow linear 300ms;
  background-image: none;
  text-transform: none;

  &--with-shadow {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
  }

  @media (min-width: 1094px) {
    display: none;
  }

  @media (max-width: 550px) {
    top: 1.5rem;
    right: 1rem;
  }

  @media (max-width: 400px) {
    top: 1.15rem;
    right: 1rem;
  }
}
