@import '~nav-frontend-core/less/core';
@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) './../../../../packages/node_modules/nav-frontend-typografi-style/src/index';

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  color: @navMorkGra;
  font-family: @font-family;
  height: 100%;
}

a {
  color: @navBla;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

table {
  width:100%;
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    padding:8px;
    vertical-align: top;
  }

  th {
    text-align:left;
  }

  thead {
    th {
      border-bottom:1px solid @navGra20;
    }
  }

  tbody {
    td, th {
      border-bottom:1px solid #eee;
    }

    tr:nth-child(2n+1){
      td, th {
        background:#fafafa;
      }
    }
  }
}