@import '~nav-frontend-core/less/core';
@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) './../../../../packages/node_modules/nav-frontend-typografi-style/src/index';
@import '../../ui/components/table/styles.less';

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  color: @navMorkGra;
  font-family: @font-family;
  height: 100%;
}

a {
  color: @navBla;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.columns {
  display:flex;

  .column {
    flex: 1 1 auto;
  }
}