@import 'colors.less';

@GL_FONT_FAMILY: 'Source Sans Pro', sans-serif;;

a, b, i, p, h1, h2, h3, h4, h5, h6 {
  font-family: @GL_FONT_FAMILY;
  line-height: 1.1;
}

a {
  color: @GL_TEXT_COLOR;
}

.typo-ingress, .typo-normal {
  max-width: 640px;
}