.skiplink {
  @apply z-modal bg-border-focus text-text-on-inverted absolute left-0 -translate-y-full p-4 no-underline focus-within:translate-y-0 focus-within:shadow-[inset_0_0_0_2px_white] focus-within:outline-none;
}

.aksel.ReactModal__Body--open {
  overflow: hidden;
  max-height: 100vh;
}

.header-modal__overlay {
  z-index: var(--a-z-index-modal);
  @apply bg-surface-backdrop fixed inset-0 grid place-items-center lg:hidden;
}

.header-modal__overlay-search {
  z-index: 3000;
  @apply bg-surface-backdrop fixed inset-0 grid place-items-center;
}
