.aksel-cube-wrapper {
  animation: aksel-cube-bg 30s ease infinite;
  z-index: 0;
}

.aksel-cube {
  animation: aksel-cube-rotate 30s ease-in-out infinite;
  transform: rotate(-45deg);
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

.aksel-cube-1 {
  animation: aksel-cube-1 30s ease-in-out infinite;
  color: white;
  position: absolute;
  transform: translate(-95rem, -13.95rem);
}

.aksel-cube-2 {
  animation: aksel-cube-2 30s ease-in-out infinite;
  color: white;
  position: absolute;
  transform: translate(-69.5rem, -13.95rem);
}

.aksel-cube-3 {
  animation: aksel-cube-3 30s ease-in-out infinite;
  color: white;
  position: absolute;
  transform: scaleX(-1) rotate(90deg) translate(0, -27.7rem);
}

.aksel-cube-4 {
  color: white;
  position: absolute;
}

.aksel-cube-5 {
  animation: aksel-cube-5 30s ease-in-out infinite;
  color: white;
  position: absolute;
  transform: scaleX(-1) rotate(90deg) translate(-27.75rem, 27.75rem);
}

.aksel-cube-6 {
  animation: aksel-cube-6 30s ease-in-out infinite;
  color: white;
  position: absolute;
  transform: translate(70rem, -13.95rem);
}

@keyframes aksel-cube-bg {
  0% {
    background-color: #dccaf3;
  }

  10% {
    background-color: #dccaf3;
  }

  33% {
    background-color: #ffeccc;
  }

  60% {
    background-color: #b2f0e4;
  }

  90% {
    background-color: #dccaf3;
  }

  100% {
    background-color: #dccaf3;
  }
}

@keyframes aksel-cube-rotate {
  0% {
    transform: rotate(-45deg);
    bottom: 50%;
    left: 50%;
  }

  33% {
    transform: rotate(0);
    bottom: 0;
    left: 6.5rem;
  }

  66% {
    transform: rotate(0);
    bottom: 0;
    left: 6.5rem;
  }

  100% {
    transform: rotate(-45deg);
    bottom: 50%;
    left: 50%;
  }
}

@keyframes aksel-cube-1 {
  0% {
    transform: translate(-95rem, -13.95rem);
  }

  33% {
    transform: translate(-95rem, -13.95rem);
  }

  66% {
    transform: translate(-13.8rem, -13.95rem);
  }

  100% {
    transform: translate(-95rem, -13.95rem);
  }
}

@keyframes aksel-cube-2 {
  0% {
    transform: translate(-69.5rem, -13.95rem);
  }

  33% {
    transform: translate(-69.5rem, -13.95rem);
  }

  66% {
    transform: translate(-13.95rem, -13.95rem);
  }

  100% {
    transform: translate(-69.5rem, -13.95rem);
  }
}

@keyframes aksel-cube-3 {
  0% {
    transform: scaleX(-1) rotate(90deg) translate(0, -27.7rem);
  }

  33% {
    transform: scaleX(-1) rotate(90deg) translate(0, -27.7rem);
  }

  66% {
    transform: scaleX(-1) rotate(90deg) translate(0, 0);
  }

  100% {
    transform: scaleX(-1) rotate(90deg) translate(0, -27.7rem);
  }
}

@keyframes aksel-cube-5 {
  0% {
    transform: scaleX(-1) rotate(90deg) translate(-27.75rem, 27.75rem);
  }

  33% {
    transform: scaleX(-1) rotate(90deg) translate(-27.75rem, 27.75rem);
  }

  66% {
    transform: scaleX(-1) rotate(90deg) translate(-27.75rem, 0);
  }

  100% {
    transform: scaleX(-1) rotate(90deg) translate(-27.75rem, 27.75rem);
  }
}

@keyframes aksel-cube-6 {
  0% {
    transform: translate(70rem, -13.95rem);
  }

  33% {
    transform: translate(70rem, -13.95rem);
  }

  66% {
    transform: translate(13.9rem, -13.95rem);
  }

  100% {
    transform: translate(70rem, -13.95rem);
  }
}
