html {
  scrollbar-gutter: stable;
}

code,
pre {
  @apply !font-mono;
}

/* stylelint-disable-next-line aksel/no-class-override */
.navds-heading + .navds-heading {
  margin-top: 0;
}

/* stylelint-disable-next-line aksel/no-class-override */
.navds-alert code {
  color: var(--a-red-500);
  background-color: transparent;
  padding: 0;
}

p {
  @apply max-w-text;
}

.aksel-artikkel p {
  @apply max-w-none;
}

a {
  color: inherit;
  text-decoration: inherit;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.0625em;
}

[id] {
  scroll-margin-block: 5rem;
}

/* Improves rendering of images for chrome on Windows */
/* stylelint-disable-next-line media-feature-name-no-vendor-prefix */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    transform: translateZ(0);
    /* stylelint-disable-next-line value-no-vendor-prefix */
    image-rendering: -webkit-optimize-contrast !important;
  }
}

/* Unset for Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}

/* Stop content behind modal-scrolling */
.aksel.ReactModal__Body--open {
  overflow: hidden;
}

.skiplink {
  @apply z-modal bg-border-focus text-text-on-inverted absolute left-0 -translate-y-full p-4 no-underline focus-within:translate-y-0 focus-within:shadow-[inset_0_0_0_2px_white] focus-within:outline-none;
}
