html {
  /* Remove horizontal jump caused by scrollbar presens on long or short pages */
  overflow-y: scroll;
}
code,
pre {
  @apply !font-mono;
}

.navds-heading + .navds-heading {
  margin-top: 0;
}

.navds-alert code {
  color: var(--navds-global-color-red-500);
  background-color: transparent;
  padding: 0;
}

p {
  @apply max-w-text;
}

.aksel-artikkel p {
  @apply max-w-none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Improves rendering of images for chrome on Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    transform: translateZ(0);
    image-rendering: -webkit-optimize-contrast !important;
  }
}

/* Unset for Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}
