/* stylelint-disable color-function-notation */

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

code[class*="language-"],
pre[class*="language-"] {
  max-width: calc(100% - 4.5rem);
  color: var(--a-gray-50);
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

[data-prism-theme="light"] code[class*="language-"],
[data-prism-theme="light"] pre[class*="language-"] {
  color: var(--a-gray-900);
}

.aksel-artikkel code[class*="language-"],
.aksel-artikkel pre[class*="language-"] {
  max-width: 100%;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--a-surface-inverted);
}

[data-prism-theme="light"] :not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--a-surface-default);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--a-gray-200);
}

[data-prism-theme="light"] .token.comment,
[data-prism-theme="light"] .token.prolog,
[data-prism-theme="light"] .token.doctype,
[data-prism-theme="light"] .token.cdata {
  color: var(--a-gray-800);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

[data-prism-theme="light"] .token.property,
[data-prism-theme="light"] .token.tag,
[data-prism-theme="light"] .token.constant,
[data-prism-theme="light"] .token.symbol,
[data-prism-theme="light"] .token.deleted {
  color: #b00566;
}

.token.punctuation {
  color: var(--a-gray-50);
}

[data-prism-theme="light"] .token.punctuation {
  color: var(--a-gray-800);
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

[data-prism-theme="light"] .token.boolean,
[data-prism-theme="light"] .token.number {
  @apply text-violet-600;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--a-green-200);
}

[data-prism-theme="light"] .token.selector,
[data-prism-theme="light"] .token.attr-name,
[data-prism-theme="light"] .token.string,
[data-prism-theme="light"] .token.char,
[data-prism-theme="light"] .token.builtin,
[data-prism-theme="light"] .token.inserted {
  @apply text-violet-600;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--a-gray-50);
}

[data-prism-theme="light"] .token.operator,
[data-prism-theme="light"] .token.entity,
[data-prism-theme="light"] .token.url,
[data-prism-theme="light"] .language-css .token.string,
[data-prism-theme="light"] .style .token.string,
[data-prism-theme="light"] .token.variable {
  color: var(--a-gray-800);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--a-blue-200);
}

[data-prism-theme="light"] .token.atrule,
[data-prism-theme="light"] .token.attr-value,
[data-prism-theme="light"] .token.function,
[data-prism-theme="light"] .token.class-name {
  color: #b00566;
}

.token.attr-value {
  color: var(--a-orange-200);
}

[data-prism-theme="light"] .token.attr-value {
  color: var(--a-blue-500);
}

.token.keyword {
  color: #8be9fd;
}

[data-prism-theme="light"] .token.keyword {
  @apply text-deepblue-700;
}

.token.regex,
.token.important {
  color: var(--a-blue-200);
}

[data-prism-theme="light"] .token.regex,
[data-prism-theme="light"] .token.important {
  @apply text-blue-500;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
