/* stylelint-disable aksel/design-token-no-global-override */
#sanity-wrapper[data-theme="dark"] {
  --a-text-action: var(--a-blue-200);
  --a-border-strong: var(--a-gray-200);
  --a-border-default: var(--a-gray-300);
  --ac-accordion-header-text-hover: var(--a-blue-200);
  --ac-accordion-item-bg-open: var(--a-deepblue-800);
}

/* Override bug i sanity-ui */
/* stylelint-disable-next-line aksel/no-class-override */
#sanity-wrapper
  .navds-accordion
  svg.navds-accordion__expand-icon--filled:not([data-ui="Popover__arrow"]):not([data-ui="Tooltip__arrow"]) {
  display: none;
}

.aksel-admin.aksel-admin svg[focusable="false"] {
  font-size: calc(30 / 16 * 1em);
}
