.navds-body-long.navds-typo--spacing + .list-margin {
  @apply -mt-4;
}

.svg-color-reset.navds-link svg {
  color: inherit;
}

.override-text-700 p {
  max-width: 700px;
}

p.override-text-no-max {
  max-width: none;
}

.dynamic-wrapper {
  @apply max-w-aksel xs:w-[90%] mx-auto;
}

.dynamic-wrapper-prose {
  @apply xs:w-[90%] mx-auto max-w-prose;
}

.dynamic-wrapper-left {
  @apply xs:w-[90%] max-w-prose;
}

.dynamic-wrapper-2xl {
  @apply xs:w-[90%] mx-auto max-w-2xl;
}

.card-grid-3-1 {
  @apply grid gap-3 sm:grid-cols-2 md:gap-6 lg:grid-cols-3;
}

.card-grid-2-1 {
  @apply grid gap-3 md:grid-cols-2 md:gap-6;
}

.aksel-artikkel .aksel-list-ul li::before {
  content: url("/images/list-dot.svg");
  position: absolute;
  left: 0;
}

.aksel-artikkel .aksel-list-ul li::marker,
.aksel-artikkel .aksel-list-ol li::marker {
  content: none;
}

.aksel-artikkel .aksel-list-ol {
  counter-reset: li;
  list-style: none;
}

.aksel-artikkel .aksel-list-ul {
  list-style: none;
}

.aksel-artikkel .aksel-list-ol li::before {
  counter-increment: li;
  content: counter(li) ". ";
  color: var(--a-deepblue-800);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.component-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(17rem, 100%), 1fr));
  gap: 1.5rem;
}

.hyphen {
  -webkit-hyphens: auto;
  hyphens: auto;
}

.component-token-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;
}

.component-checkered-bg {
  background-color: var(--a-white);
  opacity: 0.8;
  background-image: repeating-linear-gradient(
      45deg,
      var(--a-gray-100) 25%,
      transparent 25%,
      transparent 75%,
      var(--a-gray-100) 75%,
      var(--a-gray-100)
    ),
    repeating-linear-gradient(
      45deg,
      var(--a-gray-100) 25%,
      var(--a-white) 25%,
      var(--a-white) 75%,
      var(--a-gray-100) 75%,
      var(--a-gray-100)
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.full-bleed {
  @apply relative left-1/2 right-1/2 -mx-[50vw] w-screen md:left-auto md:right-auto md:mx-auto md:w-full md:max-w-[85%];
}
