.navds-body-long.navds-typo--spacing + .list-margin {
  @apply -mt-4;
}

.svg-color-reset.navds-link svg {
  color: inherit;
}

.override-text-700 p {
  max-width: 700px;
}

p.override-text-no-max {
  max-width: none;
}

.dynamic-wrapper {
  @apply max-w-aksel mx-auto sm:w-[90%];
}

.dynamic-wrapper-prose {
  @apply mx-auto max-w-prose sm:w-[90%];
}

.card-grid-3-1 {
  @apply grid gap-3 md:grid-cols-2 md:gap-6 lg:grid-cols-3;
}

.aksel-artikkel .aksel-list-ul li::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--a-deepblue-500);
  transform: translateY(10px) translateX(2px) rotate(45deg);
  left: 0;
  content: "";
}

.aksel-artikkel .aksel-list-ul li::marker,
.aksel-artikkel .aksel-list-ol li::marker {
  content: none;
}

.aksel-artikkel .aksel-list-ol {
  counter-reset: li;
  list-style: none;
}

.aksel-artikkel .aksel-list-ul {
  list-style: none;
}

.aksel-artikkel .aksel-list-ol li::before {
  counter-increment: li;
  content: " ." counter(li);
  color: var(--a-deepblue-800);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.component-checkered-bg {
  background-color: var(--a-white);
  background-image: repeating-linear-gradient(
      45deg,
      rgb(241 241 241/ 0.8) 25%,
      transparent 25%,
      transparent 75%,
      rgb(241 241 241/ 0.8) 75%,
      rgb(241 241 241/ 0.8)
    ),
    repeating-linear-gradient(
      45deg,
      rgb(241 241 241/ 0.8) 25%,
      var(--a-white) 25%,
      var(--a-white) 75%,
      rgb(241 241 241/ 0.8) 75%,
      rgb(241 241 241/ 0.8)
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
