<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>Designsystemet</title>
    <meta name="description" content="Designsystemet vårt forsøker å tilrettelegge for effektiv samhandling, kontinuerlig forbedring og en helhetlig brukeropplevelse i NAV.">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PSQX3LG');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
