.code__dropdownCode--copy {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(242, 242, 242, 0.2);
  padding: 0 0.25rem;
  border: 2px solid var(--navds-color-gray-40);
  border-top-left-radius: 0.5rem;
  border-bottom: none;
  border-right: none;
}

.code__dropdownCode--pre:hover > .code__dropdownCode--copy {
  border-color: var(--navds-color-action-hover);
}

.code__dropdownCode--pre:focus > .code__dropdownCode--copy {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--navds-text-focus);
}
.code__dropdownCode--pre:active > .code__dropdownCode--copy {
  transform: translate3d(0, 2px, 0);
}

.code__dropdownCode--pre {
  --code-background-color: #f1f1f1;
  background-color: var(--code-background-color);
  border: 2px solid transparent;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1;
  margin: 2px;
  margin-bottom: 6px;
  position: relative;
}

.code__dropdownCode--pre:hover {
  border: 2px solid var(--navds-color-action-hover);
}

.code__dropdownCode--pre:focus {
  box-shadow: 0px 0px 0px 2px var(--navds-text-focus);
  outline: none;
}
.code__dropdownCode--pre:active {
  transform: translate3d(0px, 2px, 0);
}

figure[role="figure"] > pre[class*="code__dropdownCode--pre"] {
  transform: none;
}

pre[class*="code__dropdownCode--pre"]:not([disabled])
  > code[class*="language-"] {
  border-left: 0;
  box-shadow: none;
  background-image: none;
  background-color: var(--code-background-color);
  padding: 1rem;
}

.code__dropdownCode--accordion {
  --code-background-color: #ffffff;
}
