/* Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 68px;
  pointer-events: none;
}

.shadowTop {
  top: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(180deg, var(--shadow-color), transparent);
}

.shadowBottom {
  bottom: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(0deg, var(--shadow-color), transparent);
}

.menuListItem {
  padding-inline: var(--a-spacing-2);
}

.menuList .menuList .menuListItem {
  padding-inline-start: var(--a-spacing-5);
}

.menuListItem[data-current="true"] {
  color: var(--a-text-default);
}

.menuListItem[data-current="true"] > span {
  background-color: var(--a-surface-neutral-subtle);
}

.menuListItem[data-current="true"]::before {
  background-color: var(--a-gray-700);
}
