.akselByNumbers {
  position: relative;
  background-color: var(--ax-bg-moderate);
  border-color: var(--ax-border-subtle);
  overflow: hidden;

  &::after,
  &::before {
    content: " " / "";
    display: block;
    position: absolute;
    z-index: 0;
    inset: 0;
  }

  &::before {
    background-color: var(--ax-bg-moderate);
    z-index: 2;
  }

  &::after {
    background-color: var(--ax-bg-moderate-pressed);
  }

  &:nth-of-type(n) {
    &::after {
      clip-path: polygon(0% 28%, 15% 0%, 60% 0%, 85% 25%, 120% 25%, 77% 87%, 83% 100%, 0% 100%);
    }

    &::before {
      clip-path: polygon(0% 31%, 17% -1%, 57.5% -1%, 84.5% 27%, 117% 27%, 75.5% 87%, 81.5% 100%, 0% 100%);
    }
  }

  &:nth-of-type(2n) {
    &::after {
      clip-path: polygon(0% 19%, 37% 19%, 50% 0%, 100% 0%, 100% 43%, 92% 30.5%, 46% 102.5%, 2% 98%);
    }

    &::before {
      clip-path: polygon(0% 21%, 37.5% 21%, 53% -2%, 100% -2%, 100% 41%, 92% 28%, 46% 100%, 0% 100%);
    }
  }

  &:nth-of-type(3n) {
    &::after {
      clip-path: polygon(5% 40%, 35% 0%, 100% 0%, 100% 90%, 85% 90%, 80% 100%, 45% 100%, 0% 35%, 0 33%);
    }

    &::before {
      clip-path: polygon(6% 41%, 37% 0%, 100% 0%, 100% 88%, 84.5% 88%, 78.5% 100%, 46.5% 100%, 0% 33%, 0 31%);
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }
}

.akselByNumbers__number {
  font-size: 56px;
  display: flex;
  gap: var(--ax-space-4);
  align-items: baseline;
}
