html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-primary);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.resource-link {
  padding: 1.25rem;
}
.resource-link svg {
  width: 2rem;
  margin-right: 1rem;
}

.resource-link > .lenkepanel__heading {
  display: flex;
  align-items: center;
  margin: 0;
}

.strongAa {
  font-size: 100px;
  line-height: 75px;
  float: left;
  margin-right: 16px;
}

.sanspro--padding {
  margin-bottom: 40px;
}

.lenkepanel .typo-undertittel {
  margin: 0;
}

.tabell--dos-donts td {
  position: relative;
  padding-left: 3rem !important;
  vertical-align: top;
}

.language__table-icon {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
}

.language__table-icon svg {
  width: 24px;
}
