/* stylelint-disable csstools/value-no-unknown-custom-properties */

/************************************************
 * Field                                        *
 ************************************************/

.aksel-combobox2__field-container {
  position: relative;
}

.aksel-combobox2__field-btn {
  background-color: var(--ax-bg-input);
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral);
  color: var(--ax-text-neutral);
  width: 100%;
  min-height: 3rem;
  display: inline-block;
  position: relative;
  padding: var(--ax-space-8);
  padding-right: var(--ax-space-40);
  scroll-margin-block-start: 4rem;
  text-align: left;

  &:hover {
    border-color: var(--ax-border-strong);
    cursor: pointer;
  }

  /* &:focus {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
    border-color: var(--ax-border-strong);
  } */

  @media (forced-colors: active) {
    background-color: ButtonFace;
    border-color: ButtonText;
    color: ButtonText;
  }
}

.aksel-combobox2__field-chevron {
  position: absolute;
  font-size: 1.5rem;
  right: var(--ax-space-8);
  pointer-events: none;
  margin-top: 12px; /* We don't use dynamic centering because we don't want it to move if height changes */
  color: var(--ax-text-neutral);

  @media (forced-colors: active) {
    color: ButtonText;
  }
}

/************************************************
 * Popup                                        *
 ************************************************/

.aksel-combobox2__popup {
  width: max(280px, var(--__axc-floating-anchor-width));
  max-height: calc(var(--__axc-floating-available-height) - 4px);
  background-color: var(--ax-bg-raised);
  border: 1px solid var(--ax-border-neutral-subtleA);
  border-radius: var(--ax-radius-8);

  /* This is needed to get overflow:auto to work on child */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/************************************************
 * Input                                        *
 ************************************************/

.aksel-combobox2__input {
  margin: var(--ax-space-4);
  margin-bottom: var(--ax-space-8);
}

/************************************************
 * List                                         *
 ************************************************/

.aksel-combobox2__list {
  overflow: auto;
  padding: var(--ax-space-4);
}

.aksel-combobox2__item {
  cursor: default;
  border-radius: var(--ax-radius-8);
  padding: var(--ax-space-4) var(--ax-space-2);
  display: flex;
  gap: var(--ax-space-6);
  scroll-margin-block: 4px;

  &[data-virtual-focus="true"] {
    outline: 2px solid var(--ax-border-focus);
  }

  & > div:last-child {
    flex-grow: 1;
  }
}

.aksel-combobox2__item[aria-selected="false"] .aksel-combobox2__item-checkmark {
  visibility: hidden;
}
