.aksel-combobox2[data-disabled="true"] {
  opacity: var(--ax-opacity-disabled);
  pointer-events: none;
}

/************************************************
 * Label & description & error                  *
 ************************************************/

.aksel-combobox2__label {
  display: flex;
  margin-bottom: var(--ax-space-8);
}

.aksel-combobox2__description {
  margin-bottom: var(--ax-space-8);
}

.aksel-combobox2__error {
  margin-top: var(--ax-space-8);
}

/************************************************
 * Field                                        *
 ************************************************/

.aksel-combobox2__field-container {
  position: relative;
}

.aksel-combobox2__field-btn {
  background-color: var(--ax-bg-input);
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral);
  color: var(--ax-text-neutral);
  width: 100%;
  min-height: 3rem;
  display: inline-block;
  position: relative;
  padding: var(--ax-space-8);
  padding-right: var(--ax-space-40);
  scroll-margin-block-start: 4rem;
  text-align: left;

  &:hover {
    border-color: var(--ax-border-strong);
    cursor: pointer;
  }

  &:focus {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
    border-color: var(--ax-border-strong);
  }

  @media (forced-colors: active) {
    background-color: ButtonFace;
    border-color: ButtonText;
    color: ButtonText;
  }

  .aksel-combobox2[data-size="small"] & {
    min-height: 2rem;
    padding-block: 0;
  }

  &[data-readonly="true"] {
    background-color: var(--ax-bg-neutral-moderate);
    border-color: var(--ax-border-neutral-subtleA);
    cursor: default;
  }

  &[data-error="true"] {
    box-shadow: 0 0 0 1px var(--ax-border-danger-strong);
    border-color: var(--ax-border-danger-strong);
  }
}

.aksel-combobox2__field-chevron {
  position: absolute;
  font-size: 1.5rem;
  right: var(--ax-space-8);
  pointer-events: none;
  margin-top: 12px; /* We don't use dynamic centering because we don't want it to move if height changes */
  color: var(--ax-text-neutral);

  @media (forced-colors: active) {
    color: ButtonText;
  }

  .aksel-combobox2[data-size="small"] & {
    margin-top: 4px;
  }
}

/************************************************
 * Popup                                        *
 ************************************************/

.aksel-combobox2__popup {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  width: max(280px, var(--__axc-floating-anchor-width));
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  max-height: calc(var(--__axc-floating-available-height) - 4px);
  background-color: var(--ax-bg-raised);
  outline: 1px solid var(--ax-border-neutral-subtleA);
  outline-offset: -1px;
  padding: 1px;
  border-radius: var(--ax-radius-8);
  box-shadow: var(--ax-shadow-dialog);

  /* This is needed to get overflow:auto to work on child */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/************************************************
 * Filter input                                 *
 ************************************************/

.aksel-combobox2__filter {
  margin: -1px;
  margin-bottom: var(--ax-space-12);

  & .aksel-search__wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:has(.aksel-search__input:focus-visible) {
      outline: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border: 2px solid var(--ax-border-focus);
        border-top-left-radius: var(--ax-radius-8);
        border-top-right-radius: var(--ax-radius-8);
      }
    }
  }

  & .aksel-search__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .aksel-listbox[data-size="medium"] & {
      min-height: 0;
    }

    &:not(:hover) {
      border-color: var(--ax-border-neutral-subtleA);
    }
  }
}

/************************************************
 * List                                         *
 ************************************************/

.aksel-combobox2__list {
  overflow: auto;
}

.aksel-combobox2__no-results {
  padding: var(--ax-space-12) var(--ax-space-8);
  text-align: center;
}

/************************************************
 * Option                                       *
 ************************************************/

.aksel-combobox2__option {
  & > div {
    display: flex;
    gap: var(--ax-space-2);

    & > div:last-child {
      flex-grow: 1;
    }
  }

  &:is([aria-selected="true"], [aria-selected="true"][data-virtual-focus="true"]) > div {
    background-color: var(--ax-bg-moderate-pressedA);
  }
}

.aksel-combobox2__option-checkmark {
  --__axc-combobox2-option-checkmark-size: 1.25rem;

  width: var(--__axc-combobox2-option-checkmark-size);
  height: var(--__axc-combobox2-option-checkmark-size);
  margin-top: 0.1875rem;

  .aksel-combobox2[data-size="small"] & {
    --__axc-combobox2-option-checkmark-size: 1rem;
  }

  & svg {
    font-size: var(--__axc-combobox2-option-checkmark-size);
  }
}
