.container {
  padding-inline: 1rem;
}

.container a {
  text-underline-offset: initial;
  text-decoration-thickness: auto;
}

.containerDefault {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.containerStatic {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-block: 1.5rem;
}

.exampleStatic {
  max-width: 30rem;
  width: 100%;
}

.containerFull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.containerStaticFull {
  padding-block: 1.5rem;
}

.containerFullscreen {
  padding: 0;
}
