.pre {
  padding: 1rem;
  margin: 1rem 0 0 0;
  overflow: auto;
  width: calc(100vw - 2rem);
  background-color: var(--bg-code);
  align-items: center;
  display: flex;

  /* Fixer pixelbug på høyre side av bash-panel */
  box-shadow: inset -4px 0 0 var(--bg-code);
}

.preWrapper {
  position: relative;
  align-items: center;
  display: flex;
}

.terminal {
  color: var(--color-code);
}

.code {
  padding-right: 4rem;
  color: var(--color-code);
}

.terminal::before {
  content: "$ ";
}

.buttonBackground {
  width: 3rem;
  background-color: var(--bg-code);
  position: absolute;
  right: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  height: calc(100% - 3rem - 0.5rem);
  align-items: center;
}

.copyButton {
  background-color: var(--bg-code);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  align-items: center;
  display: inline-flex;
  height: 2.5rem;
  width: 2.5rem;
}

.copyButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.copyButton:focus {
  outline: var(--outline-code);
  outline-offset: var(--outline-offset);
}
