.aksel-stack {
  display: flex;
}

.aksel-stack-gap {
  --__axc-stack-gap-xs: initial;
  --__axc-stack-gap-sm: var(--__axc-stack-gap-xs);
  --__axc-stack-gap-md: var(--__axc-stack-gap-sm);
  --__axc-stack-gap-lg: var(--__axc-stack-gap-md);
  --__axc-stack-gap-xl: var(--__axc-stack-gap-lg);
  --__axc-stack-gap-2xl: var(--__axc-stack-gap-xl);
  --__axc-stack-gap: var(--__axc-stack-gap-xs);

  gap: var(--__axc-stack-gap);
}

.aksel-stack-align {
  --__axc-stack-align-xs: initial;
  --__axc-stack-align-sm: var(--__axc-stack-align-xs);
  --__axc-stack-align-md: var(--__axc-stack-align-sm);
  --__axc-stack-align-lg: var(--__axc-stack-align-md);
  --__axc-stack-align-xl: var(--__axc-stack-align-lg);
  --__axc-stack-align-2xl: var(--__axc-stack-align-xl);
  --__axc-stack-align: var(--__axc-stack-align-xs);

  align-items: var(--__axc-stack-align);
}

.aksel-stack-justify {
  --__axc-stack-justify-xs: initial;
  --__axc-stack-justify-sm: var(--__axc-stack-justify-xs);
  --__axc-stack-justify-md: var(--__axc-stack-justify-sm);
  --__axc-stack-justify-lg: var(--__axc-stack-justify-md);
  --__axc-stack-justify-xl: var(--__axc-stack-justify-lg);
  --__axc-stack-justify-2xl: var(--__axc-stack-justify-xl);
  --__axc-stack-justify: var(--__axc-stack-justify-xs);

  justify-content: var(--__axc-stack-justify);
}

.aksel-stack-direction {
  --__axc-stack-direction-xs: initial;
  --__axc-stack-direction-sm: var(--__axc-stack-direction-xs);
  --__axc-stack-direction-md: var(--__axc-stack-direction-sm);
  --__axc-stack-direction-lg: var(--__axc-stack-direction-md);
  --__axc-stack-direction-xl: var(--__axc-stack-direction-lg);
  --__axc-stack-direction-2xl: var(--__axc-stack-direction-xl);
  --__axc-stack-direction: var(--__axc-stack-direction-xs);

  flex-direction: var(--__axc-stack-direction);
}

.aksel-stack-wrap {
  flex-wrap: wrap;
}

.aksel-stack__spacer {
  flex: 1;
  place-content: stretch stretch;
}

.aksel-stack > .aksel-stack__spacer {
  margin-block-start: calc(var(--__axc-stack-gap) * -1);
  margin-inline-start: calc(var(--__axc-stack-gap) * -1);
}

@media (min-width: 480px) {
  .aksel-stack-gap {
    --__axc-stack-gap: var(--__axc-stack-gap-sm);
  }

  .aksel-stack-align {
    --__axc-stack-align: var(--__axc-stack-align-sm);
  }

  .aksel-stack-justify {
    --__axc-stack-justify: var(--__axc-stack-justify-sm);
  }

  .aksel-stack-direction {
    --__axc-stack-direction: var(--__axc-stack-direction-sm);
  }
}

@media (min-width: 768px) {
  .aksel-stack-gap {
    --__axc-stack-gap: var(--__axc-stack-gap-md);
  }

  .aksel-stack-align {
    --__axc-stack-align: var(--__axc-stack-align-md);
  }

  .aksel-stack-justify {
    --__axc-stack-justify: var(--__axc-stack-justify-md);
  }

  .aksel-stack-direction {
    --__axc-stack-direction: var(--__axc-stack-direction-md);
  }
}

@media (min-width: 1024px) {
  .aksel-stack-gap {
    --__axc-stack-gap: var(--__axc-stack-gap-lg);
  }

  .aksel-stack-align {
    --__axc-stack-align: var(--__axc-stack-align-lg);
  }

  .aksel-stack-justify {
    --__axc-stack-justify: var(--__axc-stack-justify-lg);
  }

  .aksel-stack-direction {
    --__axc-stack-direction: var(--__axc-stack-direction-lg);
  }
}

@media (min-width: 1280px) {
  .aksel-stack-gap {
    --__axc-stack-gap: var(--__axc-stack-gap-xl);
  }

  .aksel-stack-align {
    --__axc-stack-align: var(--__axc-stack-align-xl);
  }

  .aksel-stack-justify {
    --__axc-stack-justify: var(--__axc-stack-justify-xl);
  }

  .aksel-stack-direction {
    --__axc-stack-direction: var(--__axc-stack-direction-xl);
  }
}

@media (min-width: 1440px) {
  .aksel-stack-gap {
    --__axc-stack-gap: var(--__axc-stack-gap-2xl);
  }

  .aksel-stack-align {
    --__axc-stack-align: var(--__axc-stack-align-2xl);
  }

  .aksel-stack-justify {
    --__axc-stack-justify: var(--__axc-stack-justify-2xl);
  }

  .aksel-stack-direction {
    --__axc-stack-direction: var(--__axc-stack-direction-2xl);
  }
}
