.ReactCollapse--collapse {
  transition: height 300ms ease-out;
}
.navds-accordion {
  --accordion-border-radius: 4px;
  position: relative;
  background: var(--navds-color-background);
  border-radius: var(--accordion-border-radius);
  border: var(--navds-border-default);
}

.navds-accordion:hover {
  box-shadow: var(--navds-shadow-hover);
  border: var(--navds-panel-hover);
}

.navds-accordion:focus,
.navds-accordion__button:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-accordion__chevron {
  --chevron-rotation: 0deg;
  width: 1.25em;
  height: 1.25em;
  transition: 300ms transform;
  transform: rotateZ(var(--chevron-rotation));
}
.navds-accordion__chevron--up {
  --chevron-rotation: -180deg;
}
.navds-accordion__chevron--down {
  --chevron-rotation: 0deg;
}

.navds-accordion__button {
  background-color: var(--navds-color-background);
  display: block;
  padding: 1rem;
  border-radius: var(--accordion-border-radius);
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navds-accordion__button .navds-accordion__title {
  font-size: var(--navds-font-size-large);
  line-height: var(--navds-font-line-height-xs);
  font-weight: var(--navds-font-weight-bold);
  color: var(--navds-color-text-primary);
}
.navds-accordion__button:hover .navds-accordion__title {
  text-decoration: underline;
  color: var(--navds-color-text-link);
}

.navds-accordion__content {
  padding: 0.5rem 1rem 1rem;
}

.navds-accordion--open .navds-accordion__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navds-accordion--open > .navds-accordion__button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
