version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  - package-ecosystem: npm
    directory: /
    exclude-paths:
      - "examples/**"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
    registries:
      - npm-github
    groups:
      sanity:
        patterns:
          - "sanity"
          - "sanity-*"
          - "@sanity/*"
          - "next-sanity"
          - "@portabletext/*"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
      react:
        patterns:
          - "react"
          - "react-dom"
      storybook:
        patterns:
          - "*storybook*"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"

  - package-ecosystem: npm
    directory: /examples
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
    groups:
      all-deps:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
    registries:
      - npm-github
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
