version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  - package-ecosystem: npm
    cooldown:
      default-days: 7
      semver-major-days: 30
    directory: /
    exclude-paths:
      - "examples/**"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
    registries:
      - npm-github
    groups:
      sanity:
        patterns:
          - "sanity"
          - "@sanity/vision"
          - "@sanity/schema"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
      react:
        patterns:
          - "react"
          - "react-dom"
      storybook:
        patterns:
          - "*storybook*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
    registries:
      - npm-github
    groups:
      actions:
        patterns:
          - "*"
