@layer twBase, dsComponentsLegacy, dsComponents, twComponents, twUtilities;

@import "tailwindcss/base" layer(twBase);
@import "@navikt/ds-css" layer(dsComponents);
@import "tailwindcss/components" layer(twComponents);
@import "tailwindcss/utilities" layer(twUtilities);

body {
  background-color: var(--ax-bg-default);
}
