{
    "presets": ["es2015", "react", "stage-2"],
    "plugins": [
        "react-docgen",
        "transform-object-rest-spread", 
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true }],
        ["prismjs", {
            "languages": ["javascript", "css", "markup", "jsx"]
        }]
    ]
}