registry=http://maven.adeo.no/nexus/content/groups/npm-all
strict-ssl=false
@types:registry=http://a34apvl062.devillo.no:8082/repository/npm-all
@storybook:registry=http://a34apvl062.devillo.no:8082/repository/npm-all/
@hypnosphi:registry=http://a34apvl062.devillo.no:8082/repository/npm-all/
save-prefix=''
