/* stylelint-disable csstools/value-no-unknown-custom-properties */
.monthSpacer {
  height: var(--ax-space-12);
}

.monthContainer {
  scroll-margin-top: var(--website-header-height);
}

.monthHeader {
  position: sticky;
  top: var(--website-header-height);
  background: linear-gradient(var(--ax-bg-default) calc(100% - var(--ax-space-12)), transparent);
  z-index: 2;
}

.timeline {
  width: 0;
  border-width: 1px;
  border-style: dashed;
  border-right: none;
  border-color: var(--ax-border-neutral-subtle);
}

.bullet {
  width: 16px;
  height: 16px;
  border-width: 4px;
  border-radius: 100%;
  background-color: var(--ax-border-neutral);
  border-color: var(--ax-border-neutral-subtle);
}

.bulletFremhevet {
  background-color: var(--aksel-brand-pink-600);
  border-color: var(--aksel-brand-pink-300);
  animation: pulseShadow 1.2s infinite;
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 0 0 var(--aksel-brand-pink-600);
  }

  70% {
    box-shadow: 0 0 0 6px rgb(0 0 0 / 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0);
  }
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.logEntry {
  /* header + monthSpacer + monthBubble + logEntrySpacer ^ */
  scroll-margin-top: calc(var(--website-header-height) + var(--ax-space-12) + 48px + var(--ax-space-32));
}

.logEntryHighlight {
  animation: highlightFade 1s ease 1;
}

@keyframes highlightFade {
  0% {
    box-shadow: none;
    background-color: none;
  }

  50% {
    /* box-shadow: 0 0 0 16px var(--ax-border-neutral-subtle);
    background-color: var(--ax-border-neutral-subtle); */
    box-shadow: 0 0 0 16px var(--aksel-brand-pink-100);
    background-color: var(--aksel-brand-pink-100);
  }

  100% {
    box-shadow: none;
    background-color: none;
  }
}

.tag {
  border-radius: var(--ax-radius-4);
  background-color: var(--aksel-brand-pink-700);
}

.dateFremhevet {
  color: var(--aksel-brand-pink-900);
}

.entryEyebrowFremhevet {
  color: var(--aksel-brand-pink-900);
}

.entryEyebrowNotFremhevet {
  font-size: var(--ax-font-size-small);
}

.kategoriInArticle {
  text-transform: capitalize;
  color: var(--ax-text-brand-blue-subtle);
}

.kategoriFremhevet {
  text-transform: capitalize;
  color: var(--aksel-brand-pink-900);
}

.headingFremhevet {
  color: var(--aksel-brand-pink-1000);
}

.innhold {
  background-color: var(--ax-bg-default);
}

.innholdFremhevet {
  --ax-text-brand-blue: var(--aksel-brand-pink-1000);
  --ax-text-brand-blue-subtle: var(--aksel-brand-pink-1000);

  color: var(--aksel-brand-pink-1000);
  border: 2px solid var(--aksel-brand-pink-700);
  border-radius: var(--ax-radius-12);
}

.herobilde {
  aspect-ratio: 1200 / 630;
  border-radius: var(--ax-radius-12);
  box-shadow: 0 0 0 1px var(--ax-border-neutral-subtle);
  margin-bottom: var(--ax-space-28);

  /* --herobilde-bg-color-first: var(--ax-bg-default);
  --herobilde-bg-color-last: var(--ax-bg-default);
  --herobilde-bg-degrees: 0deg;

  background: linear-gradient(var(--herobilde-bg-degrees), var(--herobilde-bg-color-first), var(--herobilde-bg-color-last)); */
}

.portableText > h3:first-of-type {
  margin-top: 0;
}

.visMerButton {
  --button-height: 2rem;

  position: absolute;
  left: 1rem;
  bottom: var(--ax-space-32);
  z-index: 1;
  background-color: var(--ax-bg-default);
}

.visMerButtonFremhevet {
  --ax-border-neutral: var(--aksel-brand-pink-600);
  --ax-border-neutral-strong: var(--aksel-brand-pink-600);

  left: 2rem;
  bottom: calc(var(--button-height) + var(--ax-space-16));
  color: var(--aksel-brand-pink-1000);
}

.visMerContainer {
  interpolate-size: allow-keywords;
  overflow: hidden;
  padding: 1px;
  transition: max-height 1s ease;
}

.visMerCollapsed {
  max-height: 6rem;
  margin-bottom: 0;
  mask-image: linear-gradient(rgba(0 0 0/1), rgba(0 0 0/ 0) calc(100% - 0.5rem));
}

.visMerCollapsedFremhevet {
  max-height: 16rem;
}

.visMerExpanded {
  max-height: fit-content;
  margin-bottom: 3rem;
  transition: none;
}

/* Text utilities */
.capitalized {
  text-transform: capitalize;
}

/* Flexbox utilities */
.nowrap {
  flex-wrap: nowrap;
}
