@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) './../../../assets/styles/mixins';
@import (reference) './../../../../../packages/node_modules/nav-frontend-paneler-style/src/mixins';
@import './../../../assets/styles/base';

#app {
  height: 100%;

  .mainWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .contentWrapper {
      display:flex;
      flex: 1;
      background:white;

      .mainContent {
        flex: 1;
        padding: 3rem;
        overflow-y: scroll;

        &.article {
          .section {
            margin-top: 3rem;
            max-width: 640px;

            .typo-systemtittel {
              margin: 1rem 0;
            }

            p, .typo-normaltekst {
              margin: 1rem 0 1rem;
              max-width: 640px;
            }

            &.full {
              max-width: none;
            }
          }
        }

        .tabsContainer { 
          &--fullWidth {
            margin:2rem -3rem 3rem;
    
            .nav-frontend-tabs {
              padding:0 3rem;
            }
          }
        }
      }
    }
  }
}