@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) './../../../assets/styles/mixins';
@import (reference) './../../../../../packages/node_modules/nav-frontend-paneler-style/src/mixins';
@import './../../../assets/styles/base';

#app {
  height: 100%;

  .mainWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .contentWrapper {
      display:flex;
      flex: 1;
      background:white;

      .mainContent {
        flex: 1;
        padding: 3rem;
        overflow-y: scroll;
      }
    }
  }
}