@import '../../../assets/styles/main';

body {
  margin: 0;

  .app {
    font-family: @GL_FONT_FAMILY;
    min-height: 100%;
    overflow: hidden;

    .contentWrapper {
      background-color: @GL_CONTENT_BACKGROUND_COLOR;
      padding: 32px;
    }
  }

  .section {
    margin-top: 32px;
  }

  .smallSection {
    margin-top: 20px;
  }

  .section:first-child {
    margin-top: 24px;
  }
}