@import (reference) "~NavFrontendCore/less/_variabler";

.color-sample {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: all linear 50ms;
  text-decoration: none;
  position: relative;
  border: none;
  width: 100%;
  border: 4px solid black;

  span {
    color: white;

    &:last-child {
      text-transform: uppercase;
    }
  }

  &.light {
    span {
      color: @navMorkGra;
    }
  }

  &:hover {
    cursor: pointer;
    background: none !important;

    span {
      color: @navMorkGra !important;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px @fokusFarge;
    outline: none;
    z-index: 1;
  }
}
