@import (reference) '~nav-frontend-core/less/_variabler';

.color-sample {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: all linear 50ms;

  span {
    color: white;

    &:last-child {
      text-transform: uppercase;
    }
  }

  &.light {
    span {
      color: @navMorkGra;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);

    span {
      display: inline;
    }
  }
}