.navds-grid-cell-small-1 {
  grid-column: span 1;
}

.navds-grid-cell-small-2 {
  grid-column: span 2;
}

.navds-grid-cell-small-3 {
  grid-column: span 3;
}

.navds-grid-cell-small-4 {
  grid-column: span 4;
}

.navds-grid-cell-small-5 {
  grid-column: span 5;
}

.navds-grid-cell-small-6 {
  grid-column: span 6;
}

.navds-grid-cell-small-7 {
  grid-column: span 7;
}

.navds-grid-cell-small-8 {
  grid-column: span 8;
}

.navds-grid-cell-small-9 {
  grid-column: span 9;
}

.navds-grid-cell-small-10 {
  grid-column: span 10;
}

.navds-grid-cell-small-11 {
  grid-column: span 11;
}

.navds-grid-cell-small-12 {
  grid-column: span 12;
}

@media (min-width: 448px) {
  .navds-grid-cell-medium-1 {
    grid-column: span 1;
  }

  .navds-grid-cell-medium-2 {
    grid-column: span 2;
  }

  .navds-grid-cell-medium-3 {
    grid-column: span 3;
  }

  .navds-grid-cell-medium-4 {
    grid-column: span 4;
  }

  .navds-grid-cell-medium-5 {
    grid-column: span 5;
  }

  .navds-grid-cell-medium-6 {
    grid-column: span 6;
  }

  .navds-grid-cell-medium-7 {
    grid-column: span 7;
  }

  .navds-grid-cell-medium-8 {
    grid-column: span 8;
  }

  .navds-grid-cell-medium-9 {
    grid-column: span 9;
  }

  .navds-grid-cell-medium-10 {
    grid-column: span 10;
  }

  .navds-grid-cell-medium-11 {
    grid-column: span 11;
  }

  .navds-grid-cell-medium-12 {
    grid-column: span 12;
  }
}

@media (min-width: 648px) {
  .navds-grid-cell-large-1 {
    grid-column: span 1;
  }

  .navds-grid-cell-large-2 {
    grid-column: span 2;
  }

  .navds-grid-cell-large-3 {
    grid-column: span 3;
  }

  .navds-grid-cell-large-4 {
    grid-column: span 4;
  }

  .navds-grid-cell-large-5 {
    grid-column: span 5;
  }

  .navds-grid-cell-large-6 {
    grid-column: span 6;
  }

  .navds-grid-cell-large-7 {
    grid-column: span 7;
  }

  .navds-grid-cell-large-8 {
    grid-column: span 8;
  }

  .navds-grid-cell-large-9 {
    grid-column: span 9;
  }

  .navds-grid-cell-large-10 {
    grid-column: span 10;
  }

  .navds-grid-cell-large-11 {
    grid-column: span 11;
  }

  .navds-grid-cell-large-12 {
    grid-column: span 12;
  }
}

@media (min-width: 960px) {
  .navds-grid-cell-x-large-1 {
    grid-column: span 1;
  }

  .navds-grid-cell-x-large-2 {
    grid-column: span 2;
  }

  .navds-grid-cell-x-large-3 {
    grid-column: span 3;
  }

  .navds-grid-cell-x-large-4 {
    grid-column: span 4;
  }

  .navds-grid-cell-x-large-5 {
    grid-column: span 5;
  }

  .navds-grid-cell-x-large-6 {
    grid-column: span 6;
  }

  .navds-grid-cell-x-large-7 {
    grid-column: span 7;
  }

  .navds-grid-cell-x-large-8 {
    grid-column: span 8;
  }

  .navds-grid-cell-x-large-9 {
    grid-column: span 9;
  }

  .navds-grid-cell-x-large-10 {
    grid-column: span 10;
  }

  .navds-grid-cell-x-large-11 {
    grid-column: span 11;
  }

  .navds-grid-cell-x-large-12 {
    grid-column: span 12;
  }
}
