.navds-grid-cell {
  margin: calc(var(--navds-grid-gutter-small) / 2);
}

@media (min-width: 448px) {
  .navds-grid-cell {
    margin: calc(var(--navds-grid-gutter-medium-and-larger) / 2);
  }
}

@media (min-width: 648px) {
  .navds-grid-cell {
    margin: calc(var(--navds-grid-gutter-medium-and-larger) / 2);
  }
}

.navds-grid-cell-sm-1 {
  grid-column: span 1;
}

.navds-grid-cell-sm-2 {
  grid-column: span 2;
}

.navds-grid-cell-sm-3 {
  grid-column: span 3;
}

.navds-grid-cell-sm-4 {
  grid-column: span 4;
}

.navds-grid-cell-sm-5 {
  grid-column: span 5;
}

.navds-grid-cell-sm-6 {
  grid-column: span 6;
}

.navds-grid-cell-sm-7 {
  grid-column: span 7;
}

.navds-grid-cell-sm-8 {
  grid-column: span 8;
}

.navds-grid-cell-sm-9 {
  grid-column: span 9;
}

.navds-grid-cell-sm-10 {
  grid-column: span 10;
}

.navds-grid-cell-sm-11 {
  grid-column: span 11;
}

.navds-grid-cell-sm-12 {
  grid-column: span 12;
}

@media (min-width: 448px) {
  .navds-grid-cell-md-1 {
    grid-column: span 1;
  }

  .navds-grid-cell-md-2 {
    grid-column: span 2;
  }

  .navds-grid-cell-md-3 {
    grid-column: span 3;
  }

  .navds-grid-cell-md-4 {
    grid-column: span 4;
  }

  .navds-grid-cell-md-5 {
    grid-column: span 5;
  }

  .navds-grid-cell-md-6 {
    grid-column: span 6;
  }

  .navds-grid-cell-md-7 {
    grid-column: span 7;
  }

  .navds-grid-cell-md-8 {
    grid-column: span 8;
  }

  .navds-grid-cell-md-9 {
    grid-column: span 9;
  }

  .navds-grid-cell-md-10 {
    grid-column: span 10;
  }

  .navds-grid-cell-md-11 {
    grid-column: span 11;
  }

  .navds-grid-cell-md-12 {
    grid-column: span 12;
  }
}

@media (min-width: 648px) {
  .navds-grid-cell-lg-1 {
    grid-column: span 1;
  }

  .navds-grid-cell-lg-2 {
    grid-column: span 2;
  }

  .navds-grid-cell-lg-3 {
    grid-column: span 3;
  }

  .navds-grid-cell-lg-4 {
    grid-column: span 4;
  }

  .navds-grid-cell-lg-5 {
    grid-column: span 5;
  }

  .navds-grid-cell-lg-6 {
    grid-column: span 6;
  }

  .navds-grid-cell-lg-7 {
    grid-column: span 7;
  }

  .navds-grid-cell-lg-8 {
    grid-column: span 8;
  }

  .navds-grid-cell-lg-9 {
    grid-column: span 9;
  }

  .navds-grid-cell-lg-10 {
    grid-column: span 10;
  }

  .navds-grid-cell-lg-11 {
    grid-column: span 11;
  }

  .navds-grid-cell-lg-12 {
    grid-column: span 12;
  }
}

@media (min-width: 960px) {
  .navds-grid-cell-xl-1 {
    grid-column: span 1;
  }

  .navds-grid-cell-xl-2 {
    grid-column: span 2;
  }

  .navds-grid-cell-xl-3 {
    grid-column: span 3;
  }

  .navds-grid-cell-xl-4 {
    grid-column: span 4;
  }

  .navds-grid-cell-xl-5 {
    grid-column: span 5;
  }

  .navds-grid-cell-xl-6 {
    grid-column: span 6;
  }

  .navds-grid-cell-xl-7 {
    grid-column: span 7;
  }

  .navds-grid-cell-xl-8 {
    grid-column: span 8;
  }

  .navds-grid-cell-xl-9 {
    grid-column: span 9;
  }

  .navds-grid-cell-xl-10 {
    grid-column: span 10;
  }

  .navds-grid-cell-xl-11 {
    grid-column: span 11;
  }

  .navds-grid-cell-xl-12 {
    grid-column: span 12;
  }
}
