.navds-grid-cell {
  background: rgba(0, 0, 0, 0.2);
}

.navds-grid-cell-sm-1 {
  grid-column-end: span 1;
}
.navds-grid-cell-sm-2 {
  grid-column-end: span 2;
}
.navds-grid-cell-sm-3 {
  grid-column-end: span 3;
}
.navds-grid-cell-sm-4 {
  grid-column-end: span 4;
}
.navds-grid-cell-sm-5 {
  grid-column-end: span 5;
}
.navds-grid-cell-sm-6 {
  grid-column-end: span 6;
}
.navds-grid-cell-sm-7 {
  grid-column-end: span 7;
}
.navds-grid-cell-sm-8 {
  grid-column-end: span 8;
}
.navds-grid-cell-sm-9 {
  grid-column-end: span 9;
}
.navds-grid-cell-sm-10 {
  grid-column-end: span 10;
}
.navds-grid-cell-sm-11 {
  grid-column-end: span 11;
}
.navds-grid-cell-sm-12 {
  grid-column-end: span 12;
}

@media (min-width: var(--navds-grid-breakpoints-medium)) {
  .navds-grid-cell-md-1 {
    grid-column-end: span 1;
  }
  .navds-grid-cell-md-2 {
    grid-column-end: span 2;
  }
  .navds-grid-cell-md-3 {
    grid-column-end: span 3;
  }
  .navds-grid-cell-md-4 {
    grid-column-end: span 4;
  }
  .navds-grid-cell-md-5 {
    grid-column-end: span 5;
  }
  .navds-grid-cell-md-6 {
    grid-column-end: span 6;
  }
  .navds-grid-cell-md-7 {
    grid-column-end: span 7;
  }
  .navds-grid-cell-md-8 {
    grid-column-end: span 8;
  }
  .navds-grid-cell-md-9 {
    grid-column-end: span 9;
  }
  .navds-grid-cell-md-10 {
    grid-column-end: span 10;
  }
  .navds-grid-cell-md-11 {
    grid-column-end: span 11;
  }
  .navds-grid-cell-md-12 {
    grid-column-end: span 12;
  }
}

@media (min-width: var(--navds-grid-breakpoints-large)) {
  .navds-grid-cell-lg-1 {
    grid-column-end: span 1;
  }
  .navds-grid-cell-lg-2 {
    grid-column-end: span 2;
  }
  .navds-grid-cell-lg-3 {
    grid-column-end: span 3;
  }
  .navds-grid-cell-lg-4 {
    grid-column-end: span 4;
  }
  .navds-grid-cell-lg-5 {
    grid-column-end: span 5;
  }
  .navds-grid-cell-lg-6 {
    grid-column-end: span 6;
  }
  .navds-grid-cell-lg-7 {
    grid-column-end: span 7;
  }
  .navds-grid-cell-lg-8 {
    grid-column-end: span 8;
  }
  .navds-grid-cell-lg-9 {
    grid-column-end: span 9;
  }
  .navds-grid-cell-lg-10 {
    grid-column-end: span 10;
  }
  .navds-grid-cell-lg-11 {
    grid-column-end: span 11;
  }
  .navds-grid-cell-lg-12 {
    grid-column-end: span 12;
  }
}
