.navds-grid {
  display: grid;
  grid-gap: var(--navds-grid-gutter);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (min-width: 448px) {
  .navds-grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media (min-width: 648px) {
  .navds-grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
