.demo__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  text-align: center;
  row-gap: 0.5rem;
  margin-top: 10rem;
}

.demo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
