.test {
  margin: var(--ax-space-16);
  padding: var(--ax-space-0);
  padding: var(--ax-space-6);
  padding: var(--ax-space-2);
  /* Has replacement */
  background-color: var(--ax-bg-neutral-soft);
  /* Has no replacement */
  background-color: var(--a-surface-transparent);

  /* Is detected as legacy */
  --a-surface-neutral: red;
  --a-surface-subtle: orange;
  --a-surface-action:blue;
  --a-surface-action-selected :red;

  /* Border-radius */
  border-radius: var(--ax-radius-2);
  border-radius: var(--ax-radius-4);
  border-radius: var(--ax-radius-8);
  border-radius: var(--ax-radius-12);
  border-radius: var(--ax-radius-full);
}
