.test-scss {
  margin: @a-spacing-4;
  padding: @a-spacing-0;
  padding: @a-spacing-1-alt;
  padding: @a-spacing-05;
  /* Has replacement */
  background-color: @a-surface-subtle;
  /* Has no replacement */
  background-color: @a-surface-transparent;
}
