:root {
  --navds-dropdown-menu-color: var(--navds-semantic-color-text-default);
  --navdsi-dropdown-item-text-color: var(--navds-semantic-color-text-link);
  --navdsi-dropdown-item-color-background-hover: var(
    --navds-global-color-blue-100
  );
  --navdsi-dropdown-item-color-background-active: var(
    --navds-global-color-blue-200
  );
  --navds-dropdown-item-color-focus: var(--navds-semantic-color-focus);
}

.navdsi-dropdown__menu {
  overflow: hidden;
  padding: var(--navds-spacing-4) 0;
  color: var(--navds-dropdown-menu-color);
  width: 27ch;
  max-height: 616px;
  overflow-y: auto;
}

.navdsi-dropdown__menu > :not(.navdsi-divider):not(.navdsi-dropdown__list) {
  margin: 0 var(--navds-spacing-4) var(--navds-spacing-3);
}

.navdsi-dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navdsi-dropdown__list-item {
  margin: 0;
}

.navdsi-dropdown__list-heading {
  margin: 0 var(--navds-spacing-4) var(--navds-spacing-4);
}

.navdsi-dropdown__item {
  border: none;
  margin: 0;
  overflow: visible;
  background: transparent;
  color: var(--navdsi-dropdown-item-text-color);
  font: inherit;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-2);
  padding: var(--navds-spacing-1) var(--navds-spacing-4);
}

.navdsi-dropdown__item:hover {
  background-color: var(--navdsi-dropdown-item-color-background-hover);
}

.navdsi-dropdown__item:active {
  background-color: var(--navdsi-dropdown-item-color-background-active);
}

.navdsi-dropdown__item:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--navds-dropdown-item-color-focus);
}
