:root {
  --navdsi-header-color-background: var(--navds-color-darkgray);
  --navdsi-header-color-border: var(--navds-color-gray-40);
  --navdsi-header-color-text: var(--navds-color-text-inverse);
  --navdsi-header-focus: inset 0 0 0 1px var(--navdsi-header-color-background),
    inset 0 0 0 3px #cce1ff;
}

.navdsi-header {
  display: flex;
  align-self: stretch;
  background: var(--navdsi-header-color-background);
  min-height: var(--navds-spacing-12);
}

.navdsi-header__title {
  padding-right: var(--navds-spacing-5);
  padding-left: var(--navds-spacing-6);
  border-right: 1px solid var(--navdsi-header-color-border);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  color: var(--navdsi-header-color-text);
}

.navdsi-header__title:focus {
  box-shadow: var(--navdsi-header-focus);
  outline: none;
}

.navdsi-header__user {
  color: var(--navdsi-header-color-text);
  padding: 0 var(--navds-spacing-5);
  border-left: 1px solid var(--navdsi-header-color-border);
  display: flex;
  align-items: center;
}

.navdsi-header__dropdown-button {
  border: none;
  margin: 0;
  padding: 0 var(--navds-spacing-3);
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: var(--navds-spacing-2);
  border-left: 1px solid var(--navdsi-header-color-border);
  color: var(--navdsi-header-color-text);
}

.navdsi-header__dropdown-button:hover {
  background-color: #4f4f4f;
}

.navdsi-header__dropdown-button:focus {
  box-shadow: var(--navdsi-header-focus);
  outline: none;
}

.navdsi-header__dropdown-user-button {
  padding-left: var(--navds-spacing-5);
  gap: var(--navds-spacing-4);
}
