:root {
  --navdsi-header-color-background: var(--navds-color-darkgray);
  --navdsi-header-color-border: var(--navds-color-gray-40);
  --navdsi-header-color-text: var(--navds-color-text-inverse);
}

/**************************
 * .navdsi-header *
 **************************/

.navdsi-header {
  display: flex;
  align-items: center;
  background: var(--navdsi-header-color-background);
  color: var(--navdsi-header-color-text);
  max-width: 100vw;
  min-height: 50px;
}

.navdsi-header__column {
  display: flex;
  align-items: center;
}

/**************************
  * .navdsi-header__title *
  **************************/

.navdsi-header__title {
  padding: 0 var(--navds-spacing-6);
  border-right: 1px solid var(--navdsi-header-color-border);
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  margin: 0;
  color: var(--navdsi-header-color-text);
}

.navdsi-header__title > span > a {
  text-decoration: none;
  color: inherit;
}

.navdsi-header__title > span > a:focus {
  box-shadow: var(--navds-shadow-focus-on-dark);
  outline: none;
}

/**************************
  * .navdsi-header__user *
  **************************/

.navdsi-header__user {
  color: var(--navdsi-header-color-text);
  padding: 0 var(--navds-spacing-6);
  margin-left: auto;
  border-left: 1px solid var(--navdsi-header-color-border);
  display: flex;
  align-self: stretch;
  align-items: center;
}

.navdsi-header__name.navds-body-short {
  margin-right: var(--navds-spacing-4);
}
