/* stylelint-disable aksel/no-deprecated-classes */
.navdsi-header {
  display: flex;
  align-self: stretch;
  background: var(--ac-header-bg, var(--a-surface-inverted));
  min-height: var(--a-spacing-12);

  --navdsi-header-focus: inset 0 0 0 2px var(--a-border-focus-on-inverted);
}

.navdsi-header__title {
  border: none;
  overflow: visible;
  background: transparent;
  font: inherit;
  font-weight: var(--a-font-weight-bold);
  line-height: normal;
  text-align: left;
  padding: 0 var(--a-spacing-5) 0 var(--a-spacing-6);
  border-right: 1px solid var(--ac-header-divider, var(--a-gray-600));
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  color: var(--ac-header-text, var(--a-text-on-inverted));
}

button.navdsi-header__title {
  cursor: pointer;
}

.navdsi-header__user {
  padding: 0 var(--a-spacing-5);
  border-left: 1px solid var(--ac-header-divider, var(--a-gray-600));
  display: flex;
  align-items: center;
}

.navdsi-header__button {
  border: none;
  margin: 0;
  padding: 0 var(--a-spacing-3);
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: var(--a-spacing-2);
  border-left: 1px solid var(--ac-header-divider, var(--a-gray-600));
  color: var(--ac-header-text, var(--a-text-on-inverted));
}

a.navdsi-header__title:hover,
button.navdsi-header__title:hover,
.navdsi-header__button:hover {
  background-color: var(--ac-header-hover-bg, var(--a-surface-inverted-hover));
}

.navdsi-header__title:focus-visible,
.navdsi-header__button:focus-visible {
  box-shadow: var(--navdsi-header-focus);
  outline: none;
}

@supports not selector(:focus-visible) {
  .navdsi-header__title:focus,
  .navdsi-header__button:focus {
    box-shadow: var(--navdsi-header-focus);
    outline: none;
  }
}

a.navdsi-header__title:active,
button.navdsi-header__title:active,
.navdsi-header__button:active {
  background-color: var(--ac-header-active-bg, var(--a-surface-inverted-active));
}

.navdsi-header__user-button {
  padding-left: var(--a-spacing-5);
  gap: var(--a-spacing-4);
}
