.navdsi-timeline {
  position: relative;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  width: 100%;
}

.navdsi-timeline__axislabels {
  position: relative;
  height: 1rem;
  box-sizing: content-box;
  margin-bottom: 16px;
  grid-column: 2;
  margin-left: 2.375rem;
}

.navdsi-timeline__row__label {
  white-space: nowrap;
  width: auto;
  margin-right: 1.125rem;
  grid-column: 1;
  font-size: var(--navds-font-size-medium);
  height: 1.5rem;
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-4);
}

.navdsi-timeline__axislabels > * {
  position: absolute;
  font-size: var(--navds-font-size-small);
  color: var(--navds-global-color-gray-600);
}

.navdsi-timeline__row {
  display: flex;
  background: var(--navds-global-color-gray-50);
  margin: 0 0 var(--navds-spacing-5);
  padding-left: 2.375rem;
  grid-column: 2;
}

.navdsi-timeline__row:last-of-type {
  margin-bottom: 0;
}

.navdsi-timeline__row__periods {
  height: var(--navds-font-line-height-large);
  position: relative;
  width: 100%;
  margin: 0;
}

.navdsi-timeline__row__periods li {
  all: unset;
}

.navdsi-timeline__period {
  height: calc(100% - 2px);
  border-radius: 20px;
  position: absolute;
  border: 1px solid;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.navdsi-timeline__period > * {
  padding-left: var(--navds-spacing-2);
}

.navdsi-timeline__period--success {
  background: var(--navds-global-color-green-50);
  border-color: var(--navds-global-color-green-500);
}

.navdsi-timeline__period--success[data-clickable]:hover {
  background: var(--navds-global-color-green-100);
}

.navdsi-timeline__period--warning {
  background: var(--navds-global-color-orange-50);
  border-color: var(--navds-global-color-orange-600);
}

.navdsi-timeline__period--warning[data-clickable]:hover {
  background: var(--navds-global-color-orange-100);
}

.navdsi-timeline__period--danger {
  background: var(--navds-global-color-red-50);
  border-color: var(--navds-global-color-red-500);
}

.navdsi-timeline__period--danger[data-clickable]:hover {
  background: var(--navds-global-color-red-100);
}

.navdsi-timeline__period--information {
  background: var(--navds-global-color-lightblue-50);
  border-color: var(--navds-global-color-lightblue-700);
}

.navdsi-timeline__period--information[data-clickable]:hover {
  background: var(--navds-global-color-lightblue-100);
}

.navdsi-timeline__period--default {
  background: var(--navds-global-color-gray-50);
  border-color: var(--navds-global-color-gray-600);
}

.navdsi-timeline__period--default[data-clickable]:hover {
  background: var(--navds-global-color-gray-100);
}

.navdsi-timeline__period[data-clickable]:hover {
  cursor: pointer;
}

.navdsi-timeline__period--connectedBoth {
  border-radius: 0;
}

.navdsi-timeline__period--connectedRight {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.navdsi-timeline__period--connectedLeft {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.navdsi-timeline__period--selected {
  box-shadow: 0 0 0 1px var(--navds-global-color-deepblue-500);
  border-color: var(--navds-global-color-deepblue-500);
  height: calc(100% - 4px);
  transform: translateY(1px);
  z-index: 4;
}

.navdsi-timeline__pins {
  grid-column: 2;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.navdsi-timeline__pin__wrapper {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.navdsi-timeline__pin__button {
  cursor: pointer;
  background: #fff;
  border: 3px solid var(--navds-global-color-red-500);
  z-index: 2;
  border-radius: var(--navds-border-radius-full);
  padding: 2.5px;
}

.navdsi-timeline__pin__wrapper::before {
  content: " ";
  top: 13px;
  height: calc(100% - 13px);
  width: 1px;
  margin: 0 auto;
  background: var(--navds-global-color-gray-900);
}

.navdsi-timeline__zoom {
  margin-top: var(--navds-spacing-6);
  float: right;
}

.navdsi-timeline__zoom__button {
  all: unset;
  cursor: pointer;
  padding: 6px 8px;
  font-size: var(--navds-font-size-small);
  border: 1px solid var(--navds-global-color-gray-500);
  border-width: 1px 0 1px 1px;
  background: #fff;
}

.navdsi-timeline__zoom__button:first-child {
  border-radius: var(--navds-border-radius-medium) 0 0
    var(--navds-border-radius-medium);
}

.navdsi-timeline__zoom__button:last-child {
  border-width: 1px;
  border-radius: 0 var(--navds-border-radius-medium)
    var(--navds-border-radius-medium) 0;
}

.navdsi-timeline__zoom__button:only-child {
  border-radius: var(--navds-border-radius-medium);
}

.navdsi-timeline__zoom__button:not([data-current-zoom="true"]):hover {
  background: var(--navds-global-color-gray-100);
}

.navdsi-timeline__zoom__button[data-current-zoom="true"] {
  background: var(--navds-global-color-gray-900);
  color: #fff;
}

.navdsi-timeline__zoom__button:focus {
  box-shadow: 0 0 0 2px var(--navds-semantic-color-focus);
}
