.navdsi-timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.navdsi-timeline__axislabels {
  position: relative;
  width: 100%;
  height: 1rem;
  box-sizing: content-box;
  margin-bottom: 16px;
}

.navdsi-timeline__axislabels > * {
  position: absolute;
  font-size: 14px;
}

.navdsi-timeline__row {
  display: flex;
}

.navdsi-timeline__row__label {
  width: 126px;
  margin-right: 18px;
  text-align: right;
}

.navdsi-timeline__row__periods {
  background: var(--navds-global-color-gray-50);
  height: var(--navds-font-line-height-large);
  position: relative;
  margin: 0 0 var(--navds-spacing-5);
  width: 100%;
}

.navdsi-timeline__row__periods li {
  all: unset;
}

.navdsi-timeline__period {
  height: calc(100% - 2px);
  border-radius: 20px;
  position: absolute;
  border: 1px solid;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: var(--navds-spacing-2);
}

.navdsi-timeline__period--success {
  background: var(--navds-global-color-green-50);
  border-color: var(--navds-global-color-green-500);
}

.navdsi-timeline__period--success[data-clickable]:hover {
  background: var(--navds-global-color-green-100);
}

.navdsi-timeline__period--warning {
  background: var(--navds-global-color-orange-50);
  border-color: var(--navds-global-color-orange-600);
}

.navdsi-timeline__period--warning[data-clickable]:hover {
  background: var(--navds-global-color-orange-100);
}

.navdsi-timeline__period--danger {
  background: var(--navds-global-color-red-50);
  border-color: var(--navds-global-color-red-500);
}

.navdsi-timeline__period--danger[data-clickable]:hover {
  background: var(--navds-global-color-red-100);
}

.navdsi-timeline__period--information {
  background: var(--navds-global-color-lightblue-50);
  border-color: var(--navds-global-color-lightblue-700);
}

.navdsi-timeline__period--information[data-clickable]:hover {
  background: var(--navds-global-color-lightblue-100);
}

.navdsi-timeline__period--default {
  background: var(--navds-global-color-gray-50);
  border-color: var(--navds-global-color-gray-600);
}

.navdsi-timeline__period--default[data-clickable]:hover {
  background: var(--navds-global-color-gray-100);
}

.navdsi-timeline__period[data-clickable]:hover {
  cursor: pointer;
}

.navdsi-timeline__period--connectedBoth {
  border-radius: 0;
}

.navdsi-timeline__period--connectedRight {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.navdsi-timeline__period--connectedLeft {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
