@import (reference) '~NavFrontendCore/less/_variabler';

.propTypeTableWrapperOuter {
  margin:1rem 0;
}

.propTypeTableWrapper {
  table {
    .deprecated {
      td {
        color: @redError;
        background: @pinkErrorBg;
      }
    }
  }
}
