.sampleWrapper {
  max-width: 640px;

  .sample {
    background-color: #e7e9e9;
    padding: 4px 16px 16px 16px;
    border-radius: 4px;
    min-width: 40%;
    margin: 24px 24px 24px 12px;

    .hjelpetekst__tekst {
      .typo-normal {
        color: white;
      }
    }

    .componentSample {
      margin: 16px;
    }
  }

  .sampleEditor {
    border: 1px solid #e7e9e9;
    padding: 4px 16px 16px 16px;
    border-radius: 4px;
    margin: 12px 24px 12px 12px;
    min-width: 28%;

    &__form {
      display: flex;
      padding: 16px;

      .types {
        width: 50%;
      }

      .modifiers {
        width: 50%;
      }
    }
  }
}
