.navds-checkbox-group > .navds-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.navds-checkbox-group--s > .navds-checkboxes {
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-2);
}
