.navds-checkbox-group--small > .navds-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navds-fieldset.navds-checkbox-group--medium > .navds-checkboxes {
  margin-top: 0;
}

.navds-fieldset.navds-checkbox-group--medium > .navds-fieldset__error {
  margin-top: 0;
}
