.navds-checkbox {
  position: relative;
  padding: var(--navds-spacing-3) 0;
}

.navds-checkbox__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  left: -12px;
  margin: 0;
  opacity: 0;
  top: 0;
}

.navds-checkbox__label {
  display: flex;
  width: fit-content;
  gap: 12px;
  cursor: pointer;
}

.navds-checkbox__description {
  padding-left: calc(48px - 12px);
  color: var(--navds-color-gray-80);
}

.navds-checkbox--with-description {
  padding-bottom: 0;
}

.navds-checkbox .navds-error-message {
  margin-top: var(--navds-spacing-3);
}

.navds-checkbox--with-description .navds-error-message {
  margin-top: 0;
}

.navds-checkbox--with-error-message {
  padding-bottom: var(--navds-spacing-2);
}

.navds-checkbox__label::before {
  content: "";
  background-color: white;
  border: 1px solid var(--navds-color-border);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  flex-shrink: 0;
}

.navds-checkbox--s {
  padding: var(--navds-spacing-1) 0;
}

.navds-checkbox--s > .navds-checkbox__input {
  width: 24px;
  height: 24px;
  top: 2px;
  left: 0;
}

.navds-checkbox--s > .navds-checkbox__label::before {
  margin-top: -2px;
  margin-bottom: -2px;
}

.navds-checkbox__input:hover + .navds-checkbox__label {
  color: var(--navds-color-blue-50);
}

.navds-checkbox__input:hover + .navds-checkbox__label::before {
  border-color: var(--navds-color-blue-50);
  background-color: var(--navds-color-blue-10);
}

.navds-checkbox__input:focus + .navds-checkbox__label::before {
  box-shadow: var(--navds-shadow-focus);
}

.navds-checkbox__input:checked + .navds-checkbox__label::before {
  background-image: var(--navds-checkmark-image-white);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  border: 2px solid var(--navds-color-blue-50);
  background-color: var(--navds-color-blue-50);
}

.navds-checkbox__input:checked:focus + .navds-checkbox__label::before {
  background-color: white;
  background-image: var(--navds-checkmark-image-blue);
}

.navds-checkbox--error
  > .navds-checkbox__input:not(:hover):not(:focus):not(:disabled):not(:checked)
  + .navds-checkbox__label::before {
  box-shadow: 0 0 0 1px var(--navds-color-red-50);
  border-color: var(--navds-color-red-50);
}

.navds-checkbox--s .navds-error-message {
  margin-top: 4px;
}

.navds-checkbox__input:disabled,
.navds-checkbox__input:disabled + .navds-checkbox__label {
  color: var(--navds-color-gray-40);
  cursor: not-allowed;
}

.navds-checkbox__input:disabled + .navds-checkbox__label::before {
  background-color: var(--navds-color-gray-10);
  border-color: var(--navds-color-gray-60);
}

.navds-checkbox__input:disabled:checked + .navds-checkbox__label::before {
  background-color: var(--navds-color-gray-40);
  border-color: var(--navds-color-gray-40);
}
