.navds-error-summary {
  display: block;
  background-color: #fff;
  padding: var(--navds-spacing-4);
  border-radius: 0;
  border: 4px solid #ba3a26;
}

.navds-error-summary--s {
  padding: var(--navds-spacing-2);
}

.navds-error-summary:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-error-summary__list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.navds-error-summary--s > .navds-error-summary__list {
  margin: 0.5rem 0;
}
