:root {
  --navds-error-summary-color-background: var(--navds-color-white);
  --navds-error-summary-color-border: #ba3a26;
}

.navds-error-summary {
  background-color: var(--navds-error-summary-color-background);
  padding: var(--navds-spacing-4);
  border: 4px solid var(--navds-error-summary-color-border);
}

.navds-error-summary--small {
  padding: var(--navds-spacing-2);
}

.navds-error-summary:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-error-summary__list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.navds-error-summary--small > .navds-error-summary__list {
  margin: 0.5rem 0;
}
