.navds-error-message {
  display: block;
  color: var(--navds-color-red-50);
  margin-top: var(--navds-spacing-2);
}

.navds-form__label,
.navds-form__description,
.navds-form__legend {
  display: block;
  margin-bottom: var(--navds-spacing-2);
}
