.navds-radio-group--s > .navds-radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navds-fieldset.navds-radio-group--m > .navds-radio-buttons {
  margin-top: 0;
}

.navds-fieldset.navds-radio-group--m > .navds-fieldset__error {
  margin-top: 0;
}

.navds-radio-group--s .navds-error-message {
  margin-top: 4px;
}
