.navds-textarea > *:not(:first-child):not(:empty) {
  margin-top: 8px;
}

.navds-textarea--s > *:not(:first-child):not(:empty) {
  margin-top: 4px;
}

.navds-textarea__wrapper {
  position: relative;
  width: 100%;
}

.navds-textarea__input {
  appearance: none;
  padding: var(--navds-spacing-2);
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--navds-color-border);
  resize: none;
  width: 100%;
  transition: height 0.1s ease-out;
  display: block;
  min-height: 48px;
}

.navds-textarea--counter {
  padding-bottom: var(--navds-spacing-8);
}

.navds-textarea__input:hover {
  border-color: var(--navds-color-blue-50);
}

.navds-textarea__input:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-textarea--s .navds-textarea__input {
  padding: var(--navds-spacing-1);
  min-height: 32px;
}

.navds-textarea--s .navds-textarea--counter.navds-textarea__input {
  padding-bottom: var(--navds-spacing-7);
}

.navds-textarea__counter {
  pointer-events: none;
  color: var(--navds-color-gray-40);
  font-style: italic;
  position: absolute;
  text-align: right;
  left: var(--navds-spacing-3);
  right: var(--navds-spacing-3);
  bottom: var(--navds-spacing-2);
}

.navds-textarea__counter--error {
  color: var(--navds-color-red-50);
}

/**
  Error handling
*/
.navds-textarea--error
  .navds-textarea__input:not(:hover):not(:focus):not(:disabled) {
  box-shadow: 0 0 0 1px var(--navds-color-red-50);
  border-color: var(--navds-color-red-50);
}

/*
  TODO: Oppdater denne til riktige farger
  Disabled handling
 */
.navds-textarea__input:disabled,
.navds-textarea__input[readonly] {
  background-color: #f1f1f1;
  border-color: #6a6a6a;
  box-shadow: none;
  color: #262626;
}

.navds-text-input__input:disabled:hover,
.navds-text-input__input[readonly]:hover {
  cursor: not-allowed;
}
