@import (reference) "nav-frontend-core/less/_variabler";
@import (reference) "nav-frontend-core/less/_mixins";

.header {
  background: white;
  line-height: auto;
  border-bottom: 4px solid @navLysGra;
  z-index: 200;

  &__content {
    top: 4px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: 6.875rem;

    .header__logo {
      display: inline-flex;
      width: fit-content;
      text-decoration: none;
      color: @navMorkGra;

      svg {
        height: 5.625rem;
        width: 5.625rem;
      }

      .header__title {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
        margin-top: 2.2rem;
      }

      &:hover {
        .header__title {
          text-decoration: underline;
          color: @navBla;
        }
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px @fokusFarge;
        z-index: 1;
      }
    }
  }

  @media (max-width: 1094px) {
    .header__content {
      padding-bottom: 0.5rem;
    }
  }

  @media (max-width: 550px) {
    .header__content {
      padding: 0.5rem 1.5rem 0.5rem 1rem;

      .navLogo {
        width: 4.7rem;
        height: 5.625rem;
      }

      .header__title {
        font-size: 1.375rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-top: 2.2rem;
      }
    }
  }

  // Em since typografi component has auto adjustment at max-width 30em
  @media (max-width: 30em) {
    .header__content {
      padding: 0.5rem 1.5rem 0.5rem 1rem;

      .navLogo {
        width: 3.75rem;
        height: 5.625rem;
      }

      .header__title {
        font-size: 1.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 2.2rem;
      }
    }
  }
}

.header__home {
  display: inline-flex;
  width: fit-content;
  color: @navMorkGra;
  align-items: center;
  margin-right: 1rem;
  text-decoration: none;
  padding: 0 1rem;

  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
  }

  svg {
    height: 1.75rem;
    width: 1.75rem;
  }
}

.header__home_title {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}
