@import (reference) "~nav-frontend-core/less/_variabler";
@import (reference) "~nav-frontend-core/less/_mixins";
@import (reference) "~nav-frontend-typografi-style/src/index";
@import (reference) "~nav-frontend-knapper-style";

.tabell {
  border-collapse: collapse;
  display: table;
  width: 100%;

  caption,
  .tabell__caption {
    display: table-caption;
    caption-side: bottom;
    color: @navGra60;
    font-style: italic;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    padding: 1rem;
    text-align: right;
  }

  td,
  th,
  .tabell__td,
  .tabell__th {
    display: table-cell;
    padding: 1rem;

    &:not([align]) {
      text-align: left;
    }

    .skjemaelement {
      margin: 0;

      &__label {
        margin: 0;
      }
    }

    &:first-child {
      .skjemaelement {
        &.skjemaelement--horisontal {
          height: 24px;
        }
      }

      .checkboks + .skjemaelement__label {
        width: 24px;
        text-indent: -9999px;
        padding: 0;
      }

      .checkboks[data-label="true"] + .skjemaelement__label {
        width: fit-content;
        text-indent: 1rem;
        padding: 0 0 0 32px;
      }
    }
  }

  th,
  .tabell__th {
    .typo-element-mixin();
  }

  td,
  .tabell__td {
    .typo-normal-mixin();

    &.tabell__td--sortert {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  thead,
  .tabell__thead {
    display: table-header-group;

    td,
    th,
    .tabell__td,
    .tabell__th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    }

    th,
    .tabell__th {
      button {
        .knappbase-mixin(@font-family);
        .knappflat-mixin(@navBla, @navBla, transparent);

        width: calc(100% + 2rem);
        text-transform: none;
        padding: calc(1rem - 1px);
        margin: -1rem;
        text-decoration: none;
        border-radius: 0;
        display: flex;
        justify-content: flex-start;

        &::after {
          content: url("./sortable.svg");
          line-height: 0;
          padding-left: 0.5rem;
        }
      }

      &--sortert-asc button::after {
        content: url("./sort-asc.svg");
      }

      &--sortert-desc button::after {
        content: url("./sort-desc.svg");
      }
    }
  }

  tbody,
  .tabell__tbody {
    display: table-row-group;

    td,
    th,
    .tabell__td,
    .tabell__th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    tr,
    .tabell__tr {
      &:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }

  tr,
  .tabell__tr {
    display: table-row;

    &.tabell__tr--valgt {
      td,
      .tabell__td {
        background: @navBlaLighten80;
      }
    }
  }

  tfoot,
  .tabell__tfoot {
    display: table-footer-group;
  }

  &--stripet {
    tbody,
    .tabell__tbody {
      tr:nth-child(2n + 1),
      .tabell__tr:nth-child(2n + 1) {
        &:not(.tabell__tr--valgt) {
          td,
          th,
          .tabell__td,
          .tabell__th {
            background: rgba(0, 0, 0, 0.03);
          }

          .tabell__td--sortert,
          .tabell__th--sortert {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  &--border {
    thead,
    tbody,
    tfoot,
    .tabell__thead,
    .tabell__tbody,
    .tabell__tfoot {
      td,
      th,
      .tabell__td,
      .tabell__th {
        border: 1px solid rgba(0, 0, 0, 0.55);
      }
    }
  }
}

// tabell-spesifike ting
.tabell-enkel {
  border-spacing: 0 10px;
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  margin-bottom: 1rem;

  tr {
    border-top: 1px solid @navGra40;

    &:last-child {
      border-bottom: 1px solid @navGra40;
    }
  }

  thead tr:last-child {
    border-bottom: 2px solid @navGra40;
  }

  td:not(:first-child) {
    &::before {
      content: "";
      width: 0;
      height: 30%;
      position: relative;
      border: 1px solid @navGra40;
      left: -50%;
    }
  }

  tbody tr:first-child th,
  tbody tr:first-child td {
    border-top-width: 2px;
  }
}
