/* stylelint-disable csstools/value-no-unknown-custom-properties */

.navds-combobox__wrapper {
  --__axc-combobox-icon-size: 1.5rem;
  --__axc-combobox-wrapper-inner-padding: var(--ax-spacing-2);
  --__axc-combobox-list-item-padding-block: var(--ax-spacing-3);
  --__axc-combobox-list-item-padding-inline: var(--ax-spacing-3);
  --__axc-combobox-border-width: 1px;
  --__axc-combobox-input-height: 2rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border: 1px solid var(--ax-border-default);
  border-radius: var(--ax-border-radius-medium);
}

.navds-form-field--small .navds-combobox__wrapper {
  --__axc-combobox-icon-size: 1.25rem;
  --__axc-combobox-wrapper-inner-padding: var(--ax-spacing-1);
  --__axc-combobox-list-item-padding-block: var(--ax-spacing-1-alt);
  --__axc-combobox-list-item-padding-inline: var(--ax-spacing-2);
  --__axc-combobox-input-height: 1.5rem;
}

.navds-combobox--disabled {
  opacity: 0.3;
}

.navds-combobox--disabled .navds-combobox__wrapper *:hover {
  cursor: not-allowed;
}

.navds-combobox--disabled .navds-text-field__input {
  border: 1px solid var(--ax-border-default);
}

.navds-combobox--disabled .navds-combobox__selected-options {
  pointer-events: none;
}

.navds-combobox--readonly {
  pointer-events: none;
}

.navds-combobox--readonly .navds-combobox__button-toggle-list {
  color: var(--ax-bg-neutral-moderate);
}

.navds-combobox--readonly .navds-text-field__input,
.navds-combobox--readonly .navds-combobox__input {
  background-color: var(--ax-bg-neutral-moderate);
  border-color: var(--ax-border-subtle);
}

.navds-combobox__button-clear svg,
.navds-combobox__button-toggle-list svg,
.navds-combobox__list svg {
  width: var(--__axc-combobox-icon-size);
  height: var(--__axc-combobox-icon-size);
}

.navds-combobox__wrapper-inner.navds-text-field__input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: calc(var(--__axc-combobox-wrapper-inner-padding) - var(--__axc-combobox-border-width));
  padding-inline: var(--__axc-combobox-wrapper-inner-padding);
}

.navds-combobox__wrapper-inner > :first-child {
  flex: 2;
}

.navds-combobox__wrapper-inner > :last-child {
  display: flex;
  flex-flow: row nowrap;
}

.navds-combobox__wrapper-inner:hover {
  cursor: text;
}

.navds-combobox--error {
  .navds-combobox__wrapper {
    border-radius: var(--ax-border-radius-medium);
    outline: 3px solid var(--ax-border-danger-strong);
  }
}

.navds-combobox--error
  .navds-text-field__input:not(:hover, :disabled, .navds-combobox__wrapper-inner--virtually-unfocused):focus-within {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.navds-combobox__selected-options {
  gap: var(--__axc-combobox-wrapper-inner-padding);
  align-items: center;
}

.navds-combobox__selected-options > li {
  margin: auto 0;
  border-radius: var(--ax-border-radius-full);
}

.navds-combobox__selected-options > li:last-of-type {
  display: flex;
  flex: 1;
}

.navds-combobox__selected-options--no-bg {
  font-family: inherit;
  font-size: var(--ax-font-size-large);
  font-weight: var(--ax-font-weight-regular);
  letter-spacing: 0;
  line-height: var(--ax-font-line-height-large);
  margin: 0;
  padding-left: 0.25rem;
}

.navds-combobox__input-wrapper {
  width: 100%;
}

.navds-combobox__input {
  flex: 1;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: var(--ax-spacing-1);
  min-width: 10ch;
  width: 100%;
  height: var(--__axc-combobox-input-height);
  background: var(--ax-bg-input);
}

.navds-combobox__input--hide-caret {
  caret-color: transparent;
}

.navds-combobox__input:focus-visible {
  outline: 2px solid var(--ax-border-accent-strong);
  border: none;
}

.navds-combobox__wrapper-inner:has(.navds-combobox__input:focus-visible) {
  outline: 3px solid transparent;
  outline-offset: 2px;
}

.navds-combobox__wrapper-inner:has(.navds-combobox__input:focus-visible).navds-combobox__wrapper-inner--virtually-unfocused {
  outline: none;
}

@supports not selector(:focus-visible) {
  .navds-combobox__input:focus {
    outline: none;
    border: none;
  }

  .navds-combobox__wrapper-inner:has(.navds-combobox__input:focus) {
    outline: 3px solid transparent;
    outline-offset: 2px;
  }

  .navds-combobox__wrapper-inner:has(.navds-combobox__input:focus).navds-combobox__wrapper-inner--virtually-unfocused {
    outline: none;
  }
}

@supports not selector(:has) {
  .navds-combobox--focused .navds-combobox__wrapper-inner {
    outline: 3px solid transparent;
    outline-offset: 2px;
  }

  .navds-combobox--focused .navds-combobox__wrapper-inner.navds-combobox__wrapper-inner--virtually-unfocused {
    outline: none;
  }
}

.navds-combobox__button-clear {
  border-radius: var(--ax-border-radius-medium);
  color: var(--ax-text-subtle);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
}

.navds-combobox__input::-webkit-search-cancel-button {
  display: none;
}

.navds-combobox__button-toggle-list {
  border-radius: var(--ax-border-radius-medium);
  color: var(--ax-text-default);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
}

.navds-combobox__button-clear:active:hover,
.navds-combobox__button-toggle-list:active:hover {
  color: var(--ax-text-action);
}

.navds-combobox__button-clear:hover,
.navds-combobox__button-toggle-list:hover {
  color: var(--ax-text-action-selected);
}

.navds-combobox__button-toggle-list:focus-visible {
  outline: 2px solid var(--ax-border-accent-strong);
}

@supports not selector(:focus-visible) {
  .navds-combobox__button-toggle-list:focus {
    outline: none;
  }
}

/* dropdown & non selectable dropdown items */

.navds-combobox__list {
  max-height: 290px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: calc(100% + var(--ax-spacing-2));
  border: 1px solid var(--ax-border-default);
  display: flex;
  flex-direction: column;
  border-radius: var(--ax-border-radius-medium);
  background-color: var(--ax-bg-default);
  color: var(--ax-text-default);
  overscroll-behavior: contain;
}

.navds-combobox__list--closed {
  display: none;
}

.navds-combobox__list_non-selectables {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navds-combobox__list-item,
.navds-combobox__list-item--loading,
.navds-combobox__list-item--no-options,
.navds-combobox__list-item--new-option,
.navds-combobox__list-item--max-selected {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: var(--__axc-combobox-list-item-padding-block);
  padding-inline: var(--__axc-combobox-list-item-padding-inline);
  width: 100%;
  background-color: var(--ax-bg-input);
  border-radius: var(--ax-border-radius-medium);
  border: 0;
  margin-inline: var(--ax-spacing-2);
  margin-block: var(--ax-spacing-1);
}

.navds-combobox__list-item--no-options {
  margin: 0;
}

.navds-combobox__list-item--loading {
  justify-content: center;
  margin: 0;
}

.navds-combobox__list-item--max-selected {
  background-color: var(--ax-bg-accent-moderateA);
  margin: 0;
  border-radius: 0;
}

.navds-combobox__list_non-selectables:hover {
  cursor: default;
}

/* ul-list and selectable li-items */

.navds-combobox__list-options {
  list-style: none;
  margin: 0;
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  background-color: inherit;
  align-items: flex-start;
  overflow: hidden scroll;
  padding-inline: 0 var(--ax-spacing-4);
  padding-block: var(--ax-spacing-1);

  /* TODO: expected this to work
*
* scrollbar-gutter: stable;
* */
}

.navds-combobox__list-item--focus,
.navds-combobox__list--with-hover
  .navds-combobox__list-item:where(:not([data-no-focus="true"], .navds-combobox__list-item--new-option)):hover {
  background-color: var(--ax-bg-neutral-moderate-hoverA);
  cursor: pointer;
  outline: 3px solid var(--ax-border-accent-strong);
  outline-offset: 2px;
}

.navds-combobox__list-item[data-no-focus="true"] {
  cursor: not-allowed;
  opacity: 0.4;
}

.navds-combobox__list-item--selected {
  background-color: var(--ax-bg-accent-moderate-pressedA);
}

.navds-combobox__list-item--selected p {
  font-weight: var(--ax-font-weight-bold);
}

.navds-combobox__list-item--selected.navds-combobox__list-item--focus,
.navds-combobox__list--with-hover .navds-combobox__list-item--selected:hover {
  background-color: var(--ax-bg-accent-moderateA);
}

.navds-combobox__list-item--new-option {
  border-bottom: 1px solid var(--ax-border-accent-subtleA);
  background: var(--ax-bg-accent-moderateA);
  cursor: pointer;
  justify-content: flex-start;
  gap: 0.25rem;
  margin: 0;
  border-radius: 0;
  width: calc(100% + var(--ax-spacing-4));
}

.navds-combobox__list--with-hover .navds-combobox__list-item--new-option:hover {
  border-bottom: 1px solid var(--ax-border-accent-subtleA);
  background: var(--ax-bg-accent-moderate-hoverA);
}

.navds-combobox__list-item--new-option--focus {
  border-radius: calc(var(--ax-border-radius-medium) - 1px);
}

.navds-combobox__list-item mark {
  background-color: transparent;
  font-weight: bold;

  /* TODO: arguably not the right token for "highlighted" text */
  color: var(--ax-text-action-selected);
}

/* Mobile */
@media (max-width: 479px) {
  .navds-combobox__button-toggle-list {
    right: 0.5rem;
  }

  /* add bigger click area for input */
  .navds-combobox__input {
    min-width: min-content;
    padding: 0.75rem 0;
  }

  .navds-combobox__selected-options {
    gap: var(--ax-spacing-1);
  }
}

@media (forced-colors: active) {
  .navds-combobox__button-clear:hover {
    color: highlight;
  }

  .navds-combobox__wrapper-inner:has(.navds-combobox__input:focus-visible) {
    outline-color: highlight;
  }

  .navds-combobox__list-item--focus,
  .navds-combobox__list--with-hover
    .navds-combobox__list-item:not([data-no-focus="true"], .navds-combobox__list-item--new-option):hover {
    border-left-color: highlight;
    color: highlight;
  }

  .navds-combobox__list-item[data-no-focus="true"] {
    opacity: 1;
    color: graytext;
  }

  .navds-combobox__list-item--selected {
    background-color: selecteditem;
    color: selecteditemtext;
  }

  .navds-combobox__list-item--selected > * {
    forced-color-adjust: none;
  }

  .navds-combobox__list-item--selected.navds-combobox__list-item--focus,
  .navds-combobox__list--with-hover .navds-combobox__list-item--selected:hover {
    border-left-color: highlight;
    color: highlight;
  }

  .navds-combobox__list--with-hover .navds-combobox__list-item--new-option:hover {
    color: highlight;
  }

  .navds-combobox__list-item--new-option--focus {
    outline: 2px solid highlight;
    outline-offset: -3px;
  }
}
