.navds-error-summary {
  background-color: var(--ac-error-summary-bg, var(--a-surface-default));
  padding: var(--a-spacing-5);
  border: 4px solid var(--ac-error-summary-border, var(--a-border-danger));
  border-radius: var(--a-border-radius-large);
}

.navds-error-summary--small {
  padding: var(--a-spacing-3);
}

.navds-error-summary__heading {
  scroll-margin-top: var(--a-spacing-6);
}

.navds-error-summary--small .navds-error-summary__heading {
  scroll-margin-top: var(--a-spacing-4);
}

.navds-error-summary__heading:focus {
  outline: none;
}

.navds-error-summary:focus-visible,
.navds-error-summary:has(.navds-error-summary__heading:focus-visible) {
  box-shadow:
    0 0 0 1px var(--a-border-on-inverted),
    0 0 0 4px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
  .navds-error-summary:focus {
    box-shadow: var(--a-shadow-focus);
    outline: none;
  }
}

.navds-error-summary__list {
  margin: var(--a-spacing-3) 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  padding-left: var(--a-spacing-6);
  list-style: inherit;
}

.navds-error-summary__list > * {
  color: var(--ac-error-summary-list-dot, var(--a-text-action));
}

.navds-error-summary--small > .navds-error-summary__list {
  margin: var(--a-spacing-2) 0;
  gap: var(--a-spacing-2);
  padding-left: var(--a-spacing-5);
}
