.navds-form-summary {
  overflow: hidden;
  border: 1px solid var(--ax-border-neutral-subtleA);
  border-radius: var(--ax-border-radius-xlarge);
  background: var(--ax-bg-raised);
}

.navds-form-summary__header {
  background: var(--ax-bg-neutral-moderateA);
  padding: var(--ax-spacing-4) var(--ax-spacing-6);
  display: flex;
  justify-content: space-between;
  gap: 0 var(--ax-spacing-3);
}

@media (width <= 479px) {
  .navds-form-summary__header {
    padding: var(--ax-spacing-3) var(--ax-spacing-4);
    flex-direction: column;
  }
}

.navds-form-summary__edit {
  flex-shrink: 0;
  margin-top: var(--ax-spacing-1);
  align-self: flex-start;
}

.navds-form-summary > .navds-form-summary__answers {
  border-top: 1px solid var(--ax-border-subtleA);
}

.navds-form-summary__answers {
  padding: var(--ax-spacing-5) var(--ax-spacing-6) var(--ax-spacing-6);
  margin: 0;
}

@media (width <= 479px) {
  .navds-form-summary__answers {
    padding: var(--ax-spacing-4);
  }
}

.navds-form-summary__answer:not(:last-child) {
  margin-bottom: var(--ax-spacing-4);
  padding-bottom: var(--ax-spacing-4);
  border-bottom: 1px solid var(--ax-border-subtleA);
}

.navds-form-summary__answer:has(.navds-form-summary__answer) {
  padding-bottom: var(--ax-spacing-6);
}

.navds-form-summary__answer:has(.navds-form-summary__answer):last-child {
  padding-bottom: 0;
}

@media (width <= 479px) {
  .navds-form-summary__answer:not(:last-child) {
    margin-bottom: var(--ax-spacing-3);
    padding-bottom: var(--ax-spacing-3);
  }

  .navds-form-summary__answer:has(.navds-form-summary__answer) {
    padding-bottom: var(--ax-spacing-5);
  }
}

.navds-form-summary__value:first-of-type {
  margin-top: var(--ax-spacing-1);
}

.navds-form-summary__value .navds-form-summary__answers {
  margin-top: var(--ax-spacing-2);
  padding: var(--ax-spacing-4);
  background: var(--ax-bg-info-moderateA);
  border-radius: var(--ax-border-radius-large);

  & .navds-form-summary__answer {
    border-color: var(--ax-border-info-subtleA);
  }
}
