.navds-input__container {
  position: relative;
  width: fit-content;
}

.navds-input__element {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  left: -0.75rem;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.navds-input__label {
  padding: var(--ax-spacing-3) 0;
  cursor: pointer;
  display: flex;
  gap: var(--ax-spacing-2);

  --__axc-radio-checkbox-input-bg: var(--ax-bg-input);
  --__axc-radio-checkbox-input-border-color: var(--ax-border-default);

  &::before {
    content: "";
    background-color: var(--__axc-radio-checkbox-input-bg);
    border-radius: var(--ax-border-radius-medium);
    flex-shrink: 0;
    box-shadow: 0 0 0 2px var(--__axc-radio-checkbox-input-border-color);
    width: calc(1.5rem - 0.25rem);
    height: calc(1.5rem - 0.25rem);
    margin-block: 2px;
    margin-inline: 2px;
  }
}

.navds-input__container[data-type="radio"] .navds-input__label::before {
  border-radius: var(--ax-border-radius-full);
}

.navnavds-input__label-content {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

/* Tailwind sets all svg to block */
.navds-checkbox__icon > svg {
  display: inline;
  vertical-align: initial;
}

.navds-input__container[data-size="small"] {
  > .navds-input__element {
    width: 2rem;
    height: 2rem;
    top: 0;
    left: -0.375rem;
  }

  > .navds-input__label {
    padding: var(--a-spacing-1-alt) 0;

    &::before {
      width: calc(1.25rem - 0.25rem);
      height: calc(1.25rem - 0.25rem);
    }
  }

  &[data-type="checkbox"] > .navds-input__element {
    &:indeterminate + .navds-input__label::after {
      transform: translate(0.25rem, -50%);
    }

    &:checked + .navds-input__label > .navds-checkbox__icon {
      transform: translate(0.25rem, -10%);
    }

    &:checked + .navds-input__label::before {
      background-position: 0.25rem center;
    }
  }

  &[data-type="radio"] > .navds-input__element {
    &:checked + .navds-input__label::after {
      width: calc(1rem - 4px);
      height: calc(1rem - 4px);
      margin-block: 4px;
      margin-inline: 4px;
    }
  }
}

.navds-input__container[data-type="checkbox"] .navds-input__element {
  &:is(:checked, :indeterminate) + .navds-input__label::before {
    --__axc-radio-checkbox-input-bg: var(--ax-bg-accent-strong-pressed);
    --__axc-radio-checkbox-input-border-color: var(--ax-bg-accent-strong-pressed);
  }

  &:where(:checked, :indeterminate):hover + .navds-input__label::before {
    --__axc-radio-checkbox-input-bg: var(--ax-bg-accent-strong-hover);
  }

  &:not(:checked) + .navds-input__label > .navds-checkbox__icon {
    display: none;
  }

  &:checked + .navds-input__label > .navds-checkbox__icon {
    color: var(--ax-bg-default);
    position: absolute;
    height: 1.5rem;
    transform: translate(var(--ax-spacing-1-alt));
    pointer-events: none;

    /* Fixed edcase where when using in shadow-dom, svg will not center */
    display: flex;
    align-items: center;
  }

  &:where(:hover:not(:disabled)) + .navds-input__label {
    color: var(--ax-text-accent-strong);
  }

  &:where(:hover:not(:disabled, :checked, :indeterminate)) + .navds-input__label::before {
    --__axc-radio-checkbox-input-bg: var(--ax-bg-accent-moderate-hover);
    --__axc-radio-checkbox-input-border-color: var(--ax-border-accent-strong);
  }

  &:focus-visible + .navds-input__label::before {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 4px;
  }

  &:indeterminate + .navds-input__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(var(--ax-spacing-1-alt), -50%);
    background-color: var(--ax-bg-default);
    width: 0.75rem;
    height: 0.25rem;
    border-radius: 1px;
    flex-shrink: 0;
  }
}

.navds-input__container[data-type="radio"] .navds-input__element {
  &:where(:hover:not(:disabled)) + .navds-input__label {
    color: var(--ax-text-accent-strong);
  }

  &:where(:hover:not(:disabled, :checked)) + .navds-input__label::before {
    --__axc-radio-checkbox-input-bg: var(--ax-bg-accent-moderate-hover);
    --__axc-radio-checkbox-input-border-color: var(--ax-border-accent-strong);
  }

  &:focus-visible + .navds-input__label::before {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 4px;
  }

  &:checked {
    & + .navds-input__label::before {
      --__axc-radio-checkbox-input-border-color: var(--ax-border-accent-strong);
    }

    & + .navds-input__label::after {
      content: "";
      background-color: var(--ax-bg-accent-strong-pressed);
      border-radius: var(--ax-border-radius-full);
      width: 1rem;
      height: 1rem;
      margin-block: 4px;
      margin-inline: 4px;
      left: 0;
      position: absolute;
    }
  }
}

/* ---------------------------- Input Error mode ---------------------------- */
.navds-input__container[data-error="true"] {
  > .navds-input__element:not(:disabled, :checked) + .navds-input__label::before {
    --__axc-radio-checkbox-input-border-color: var(--ax-border-danger-strong);
  }

  > .navds-input__element:hover:not(:disabled, :checked) + .navds-input__label::before {
    --__axc-radio-checkbox-input-bg: var(--ax-bg-danger-moderate-hover);
  }
}

/* --------------------------- Input Disabled mode -------------------------- */
.navds-input__container[data-disabled="true"] {
  opacity: 0.3;

  > :is(.navds-input__element, .navds-input__label) {
    cursor: not-allowed;
  }
}

/* --------------------------- Input Readonly mode -------------------------- */
.navds-input__container[data-readonly="true"] {
  > :is(.navds-input__element, .navds-input__label) {
    cursor: default;
  }

  .navds-checkbox__label-text {
    display: inline-flex;
  }

  > .navds-input__element:hover + .navds-input__label {
    color: var(--ax-text-default);
  }

  > :is(.navds-input__element, .navds-input__element:hover) + .navds-input__label::before {
    --__axc-radio-checkbox-input-bg: var(--ax-bg-neutral-moderate);
    --__axc-radio-checkbox-input-border-color: var(--ax-border-subtle);
  }

  > .navds-input__element:checked + .navds-input__label > .navds-checkbox__icon {
    color: var(--ax-text-subtle);
  }

  > .navds-input__element:is(:indeterminate, :checked) + .navds-input__label::after {
    background-color: var(--ax-text-subtle);
  }
}

@media (forced-colors: active) {
  .-navds-checkbox__input:focus + .-navds-checkbox__label::before,
  .-navds-radio__input:focus + .-navds-radio__label::before {
    outline-color: highlight;
  }

  .-navds-checkbox,
  .-navds-radio {
    --__ac-radio-checkbox-high-contrast-bg: field;
    --__ac-radio-checkbox-high-contrast-text: fieldtext;
    --__ac-radio-checkbox-high-contrast-highlight: highlight;
  }

  .-navds-checkbox__label::before,
  .-navds-radio__label::before {
    border: 1px solid var(--__ac-radio-checkbox-high-contrast-text);
    background-color: var(--__ac-radio-checkbox-high-contrast-bg);
  }

  .-navds-checkbox__input:checked + .-navds-checkbox__label > .-navds-checkbox__icon {
    color: var(--__ac-radio-checkbox-high-contrast-text);
  }

  .-navds-checkbox__input:indeterminate + .-navds-checkbox__label::after {
    background-color: var(--__ac-radio-checkbox-high-contrast-text);
  }

  .-navds-radio__input:checked + .-navds-radio__label::before {
    border: 1px solid var(--__ac-radio-checkbox-high-contrast-text);
    outline: 3px solid var(--__ac-radio-checkbox-high-contrast-bg);
    outline-offset: -4px;
    background-color: var(--__ac-radio-checkbox-high-contrast-text);
  }

  .-navds-radio__input:checked:focus + .-navds-radio__label::before {
    border: 1px solid var(--__ac-radio-checkbox-high-contrast-bg);
    outline: 2px solid highlight;
    outline-offset: 2px;
  }

  :not(.-navds-checkbox--readonly) > .-navds-checkbox__input:hover:not(:disabled) + .-navds-checkbox__label,
  :not(.-navds-radio--readonly) > .-navds-radio__input:hover:not(:disabled) + .-navds-radio__label {
    color: highlight;
  }

  .-navds-checkbox__input:focus + .-navds-checkbox__label::before {
    outline: 2px solid var(--__ac-radio-checkbox-high-contrast-highlight);
  }

  .-navds-checkbox--readonly > .-navds-checkbox__input:checked + .-navds-checkbox__label::before {
    border: 1px solid var(--__ac-radio-checkbox-high-contrast-text);
    background-color: var(--__ac-radio-checkbox-high-contrast-bg);
  }

  .-navds-checkbox--readonly > .-navds-checkbox__input:indeterminate + .-navds-checkbox__label::after {
    background-color: var(--__ac-radio-checkbox-high-contrast-text);
  }

  .-navds-radio--readonly > .-navds-radio__input:checked + .-navds-radio__label::before {
    border: 1px solid var(--__ac-radio-checkbox-high-contrast-text);
    outline: 3px solid var(--__ac-radio-checkbox-high-contrast-bg);
    outline-offset: -4px;
    background-color: var(--__ac-radio-checkbox-high-contrast-text);
  }

  .-navds-checkbox--disabled,
  .-navds-radio--disabled {
    opacity: 1;

    --__ac-radio-checkbox-high-contrast-bg: field;
    --__ac-radio-checkbox-high-contrast-text: graytext;
  }

  :is(.-navds-checkbox--disabled, .-navds-radio--disabled) :is(.-navds-checkbox__label, .-navds-radio__label) {
    color: graytext;
  }
}
