.navds-switch {
  position: relative;
  min-height: 3rem;
  width: fit-content;
}

.navds-switch--small {
  position: relative;
  min-height: 2rem;
}

/* Input */
.navds-switch__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  top: 0;

  .navds-switch--small > & {
    height: 2rem;
    top: 0;
  }
}

/* Label */
.navds-switch__label-wrapper {
  cursor: pointer;
  color: var(--ax-text-default);
}

.navds-switch__content {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  padding: 0.75rem 0 0.75rem 3.25rem;

  .navds-switch--right & {
    padding: 0.75rem 3.25rem 0.75rem 0;
  }

  .navds-switch--small & {
    padding: calc(var(--ax-spacing-2) - var(--ax-spacing-05)) 0 calc(var(--ax-spacing-2) - var(--ax-spacing-05)) 3.25rem;
  }

  .navds-switch--right.navds-switch--small & {
    padding: calc(var(--ax-spacing-2) - var(--ax-spacing-05)) 3.25rem calc(var(--ax-spacing-2) - var(--ax-spacing-05)) 0;
  }
}

.navds-switch--with-description {
  padding-bottom: 0;
}

.navds-switch__input:hover ~ .navds-switch__label-wrapper,
.navds-switch__label-wrapper:hover {
  color: var(--ax-text-accent-strong);
}

.navds-switch__input:disabled:hover ~ .navds-switch__label-wrapper {
  color: inherit;
}

/* Track */
.navds-switch__track {
  width: 2.75rem;
  height: 1.5rem;
  background-color: var(--ax-bg-neutral-strong-pressed);
  position: absolute;
  top: var(--ax-spacing-3);
  left: 0;
  border-radius: var(--ax-border-radius-full);
  transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1);

  .navds-switch--small > & {
    top: var(--ax-spacing-1);
  }
}

.navds-switch--right {
  width: auto;

  & .navds-switch__input,
  & .navds-switch__track {
    right: 0;
    left: auto;
  }
}

.navds-switch__input:checked ~ .navds-switch__track {
  background-color: var(--ax-bg-accent-strong-pressed);
}

.navds-switch__input:hover ~ .navds-switch__track {
  background-color: var(--ax-bg-neutral-strong-hover);
}

.navds-switch__input:hover:checked ~ .navds-switch__track {
  background-color: var(--ax-bg-accent-strong-hover);
}

.navds-switch__input:disabled ~ .navds-switch__track {
  background-color: var(--ax-bg-neutral-strong-pressed);
}

.navds-switch__input:checked:disabled ~ .navds-switch__track {
  background-color: var(--ax-bg-accent-strong-pressed);
}

.navds-switch__input:focus-visible ~ .navds-switch__track {
  outline: 2px solid var(--ax-border-focus);
  outline-offset: 2px;
}

/* Thumb */
.navds-switch__thumb {
  background-color: var(--ax-bg-default);
  border-radius: var(--ax-border-radius-full);
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  transform: translateX(0);
  left: var(--ax-spacing-05);
  top: var(--ax-spacing-05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navds-switch__input:checked ~ .navds-switch__track > .navds-switch__thumb {
  transform: translateX(1.25rem);
  color: var(--ax-text-accent-strong);
}

@media (hover: hover) and (pointer: fine) {
  .navds-switch__input:hover ~ .navds-switch__track > .navds-switch__thumb {
    transform: translateX(0.125rem);
  }

  .navds-switch__input:checked:hover ~ .navds-switch__track > .navds-switch__thumb {
    transform: translateX(1.125rem);
  }
}

.navds-switch__input:disabled:hover ~ .navds-switch__track > .navds-switch__thumb {
  transform: translateX(0);
}

.navds-switch__input:checked:disabled:hover ~ .navds-switch__track > .navds-switch__thumb {
  transform: translateX(1.25rem);
}

/* Disabled */
.navds-switch__input:disabled {
  appearance: none;
}

.navds-switch--disabled:not(.navds-switch--loading) {
  opacity: 0.3;
}

.navds-switch__input:disabled,
.navds-switch__input:disabled ~ .navds-switch__label-wrapper {
  cursor: not-allowed;
}

/* Readonly */
.navds-switch--readonly > .navds-switch__track,
.navds-switch--readonly > .navds-switch__input:hover ~ .navds-switch__track,
.navds-switch--readonly > .navds-switch__input:checked ~ .navds-switch__track,
.navds-switch--readonly > .navds-switch__input:checked:hover ~ .navds-switch__track {
  background-color: var(--ax-bg-neutral-moderate);
  box-shadow: inset 0 0 0 2px var(--ax-border-subtleA);
}

.navds-switch--readonly > .navds-switch__label-wrapper,
.navds-switch--readonly > .navds-switch__input {
  cursor: default;
}

.navds-switch--readonly > .navds-switch__input:hover ~ .navds-switch__label-wrapper,
.navds-switch--readonly .navds-switch__label-wrapper:hover {
  color: var(--ax-text-default);
}

.navds-switch--readonly .navds-switch__label {
  display: inline-flex;
}

.navds-switch--readonly .navds-switch__thumb {
  background-color: var(--ax-bg-neutral-strong);
}

.navds-switch--readonly > .navds-switch__input:checked ~ .navds-switch__track > .navds-switch__thumb {
  color: var(--ax-text-neutral-contrast);
}

@media (hover: hover) and (pointer: fine) {
  .navds-switch--readonly > .navds-switch__input:hover ~ .navds-switch__track > .navds-switch__thumb {
    transform: translateX(0);
  }

  .navds-switch--readonly > .navds-switch__input:checked:hover ~ .navds-switch__track > .navds-switch__thumb {
    transform: translateX(1.25rem);
  }
}

@media (forced-colors: active) {
  .navds-switch__input:hover ~ .navds-switch__label-wrapper,
  .navds-switch__label-wrapper:hover {
    color: highlight;
  }

  .navds-switch__thumb,
  .navds-switch--readonly .navds-switch__thumb {
    background-color: fieldtext;
  }

  .navds-switch__input:checked ~ .navds-switch__track > .navds-switch__thumb,
  .navds-switch--readonly .navds-switch__input:checked ~ .navds-switch__track > .navds-switch__thumb {
    color: field;
  }

  .navds-switch__track {
    width: calc(2.75rem + 4px);
    height: calc(1.5rem + 4px);
    top: var(--ax-spacing-3);
    border: 2px solid fieldtext;
  }

  .navds-switch__input:focus-visible ~ .navds-switch__track {
    outline: 2px solid highlight;
    outline-offset: 2px;
  }

  .navds-switch--disabled:not(.navds-switch--loading) {
    opacity: 1;
  }

  .navds-switch--disabled:not(.navds-switch--loading) .navds-switch__thumb {
    background-color: graytext;
  }

  .navds-switch--disabled:not(.navds-switch--loading) .navds-switch__track {
    border-color: graytext;
  }

  .navds-switch--disabled:not(.navds-switch--loading) .navds-switch__label-wrapper,
  .navds-switch--disabled:not(.navds-switch--loading) .navds-switch__label-wrapper:hover {
    color: graytext !important;
  }
}
