@import "nav-frontend-core/less/core";
@import (reference) "nav-frontend-typografi-style/src/index";

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  color: @navMorkGra;
  font-family: @font-family;
  height: 100%;
}

a {
  color: @navBla;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

blockquote {
  background: #f4f4f4;
  font-style: italic;
  margin: 1.5rem 0;
  padding: 1.5rem 3.5rem;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    font-size: 3rem;
    line-height: 1rem;
  }

  &::before {
    content: "“";
    top: 2rem;
    left: 1.5rem;
  }

  &::after {
    content: "”";
    bottom: 1rem;
    right: 1.5rem;
  }

  cite {
    display: block;
    margin-top: 1rem;
  }
}

p,
.typo-normal {
  line-height: 1.375rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.typo-systemtittel {
  margin: 3rem 0 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.typo-undertittel {
  margin: 2.5rem 0 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.typo-ingress {
  margin: 2rem 0 1rem;
  line-height: 1.75rem;

  &.intro {
    max-width: 700px;

    p {
      margin-top: 1rem;
      line-height: 1.75rem;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.lenkepanel {
  .typo-undertittel {
    margin: 0;
  }
}

.columns {
  display: flex;

  .column {
    flex: 1 1 auto;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      color: @navBla;
      text-decoration: none;
      border-left: 2px solid transparent;
      position: relative;
      line-height: 1.15rem;

      &:hover {
        background: white;
        border-left: 2px solid @navBla;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px @fokusFarge;
        z-index: 10;
      }

      &.active {
        background: @navBla;
        color: white !important;
        font-weight: normal !important;

        .etikett {
          &--info {
            background: @navBlaLighten80;
          }

          &--fokus {
            background: @navOransjeLighten60;
          }
        }
      }

      .etikett {
        margin: -5px 0.25rem;
        color: @navMorkGra;
        background: #ddd;

        &:first-child {
          margin-left: 1rem;
        }
      }

      .dot {
        text-indent: -999px;
        width: 0.6rem;
        height: 0.6rem;
        background-color: @navOransje;
        border-radius: 50%;
        margin-left: 1rem;
      }
    }

    &.open {
      background: white;

      > a {
        font-weight: bold;
        color: @navMorkGra;
      }

      > ul > li > a {
        padding-left: 3rem;
      }
    }
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  li:not(:last-child) {
    border-bottom: 1px solid @navLysGra;
  }

  .lenke {
    display: block;
    padding: 1rem;
    text-decoration: none;

    &:focus {
      background: none;
      color: @navBla;
      box-shadow: 0 0 0 3px @fokusFarge;
    }

    &:hover {
      background: @navBla;
      color: white;
    }
  }
}

.tabsContainer {
  &--fullWidth {
    position: relative;
    margin: 2rem -3rem 3rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 9px;
      left: 0;
      right: 0;
      height: 1px;
      background: @navGra40;
    }

    .tabsContainer__inner {
      overflow-y: hidden;
      padding: 2px 3rem 10px;
    }

    .nav-frontend-tabs {
      border: none;
      position: relative;
      z-index: 1;
    }
  }

  @media (max-width: 550px) {
    margin: 2rem -1.5rem 3rem;

    .tabsContainer__inner {
      padding: 2px 1.5rem 10px;
      overflow-x: scroll;
    }
  }
}

.table-of-contents {
  position: absolute;
  top: 0;
  right: -452px;
  width: 388px;

  ol {
    list-style-type: none;
    padding-left: 1.5rem;

    li {
      a {
        display: inline-block;
        padding: 0.5rem 0.25rem;

        &:focus {
          outline: none;
          background: @fokusFarge;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  > ol {
    padding: 0;
  }

  @media (max-width: 1500px) {
    position: static;
    display: none;
  }

  ol:empty {
    display: none;
  }
}

.breadcrumbs {
  display: none;
  background: #f4f4f4;
  padding: 1rem 3rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;

      .breadcrumbs__divider {
        display: inline-block;
        margin: 0 0.5rem;
        opacity: 0.25;
      }
    }
  }

  @media (max-width: 1094px) {
    display: block;
  }

  @media (max-width: 550px) {
    padding: 1rem 1.5rem;
  }
}
