@import "./title.css";
@import "./user.css";

.navds-header {
  display: flex;
  align-items: center;
  background: var(--navds-color-darkgray);
  color: var(--navds-color-text-inverse);
  max-width: 100vw;
  min-height: 3rem;
}

.navds-header__column {
  display: flex;
  align-items: center;
}
