.navds-header__title {
  padding: 0 1.5rem 0 1.5rem;
  border-right: 1px solid var(--navds-color-gray-40);
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}

.navds-header__title:focus {
  box-shadow: inset var(--navds-shadow-focus-on-dark);
  outline: none;
}

.navds-header__title > h1 {
  color: var(--navds-color-text-inverse);
  margin: 0;
  font-size: var(--navds-font-size-medium);
  font-weight: var(--navds-font-weight-bold);
  line-height: var(--navds-font-line-height-medium);
}
