.navds-header__title {
  border-right: 1px solid var(--navds-color-gray-40);
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0 1.5rem;
  color: var(--navds-color-text-inverse);
  font-size: var(--navds-font-size-medium);
  font-weight: var(--navds-font-weight-bold);
  line-height: var(--navds-font-line-height-medium);
}

.navds-header__title > span > a {
  text-decoration: none;
  color: inherit;
}

.navds-header__title > span > a:focus {
  box-shadow: var(--navds-shadow-focus-on-dark);
  outline: none;
}
