@import (reference) "~nav-frontend-core/less/_variabler";
@import "./_mixins";

.etikett {
  .etikett();

  &--advarsel {
    background-color: @redErrorLighten80;
    border: 1px solid @redError;
  }

  &--suksess {
    background-color: @navGronnLighten80;
    border: 1px solid @navGronn;
  }

  &--fokus {
    background-color: @navOransjeLighten80;
    border: 1px solid @navOransjeDarken20;
  }

  &--info {
    background-color: @navLysBlaLighten80;
    border: 1px solid @navLysBlaDarken40;
  }

  &--mini {
    padding: 1px 8px;
  }
}
