@import (reference) "nav-frontend-core";

.iconPage {
  min-height: 100vh;

  &__icons {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    column-gap: 0.9rem;
    border-top: 4px solid @navLysGra;
  }

  &__viewSelect {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  &__checkboxes {
    display: inline-flex;
    column-gap: 1rem;
    margin: 1rem 0 1rem 0;
    flex-wrap: wrap;
  }

  &__headlines {
    &--sidebar {
      display: none;

      @media (max-width: 1439px) {
        display: block;
      }
    }

    &--fadein {
      animation: fadeIn 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 1;
    }
  }

  &__headlines.typo-undertittel {
    margin-bottom: 0.5rem;
  }

  &__dlButton.knapp {
    text-transform: none;
  }

  &__install {
    margin-bottom: 2rem;
  }

  &__installBash {
    margin-bottom: 2rem;
  }

  &__linkHeadlines {
    @media (max-width: 1439px) {
      display: none;
    }
  }

  &__modal {
    max-width: 500px;
    font-size: 1rem;

    &Svg {
      margin: 0;
    }

    &Icons {
      font-size: 128px;
      display: flex;
      padding-top: 2rem;

      &--light {
        padding: 1rem 0 1rem 0;
        width: 50%;
        align-self: center;
      }

      &--dark {
        padding: 1rem 0 1rem 0;
        width: 50%;
        background-color: @navMorkGra;
        color: white;
      }
    }
  }
}

.iconBox {
  position: relative;
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  box-shadow: @navGra40 0 1px 2px 0;
  border-radius: 2px;
  font-size: 2rem;
  opacity: 1;
  animation: fadeIn 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 1;

  &:hover {
    border: var(--navds-panel-hover);
  }

  &:focus {
    outline: none;
    box-shadow: var(--navds-shadow-focus);
  }

  &__iconName {
    position: absolute;
    bottom: 1rem;
    transition: bottom 250ms;
  }

  &:hover > &__iconName,
  &:focus > &__iconName {
    bottom: 1.5rem;
  }
}

.iconSidebar {
  &__save {
    position: absolute;
    right: 0;
    font-size: 1.8rem;
  }

  &__linkPanels {
    width: 300px;
    margin-right: 1rem;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    animation: fadeIn 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
