@import (reference) "nav-frontend-core";

.iconpage {
  &__icons {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    column-gap: 0.9rem;
    border-top: 4px solid @navLysGra;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    margin-bottom: 1rem;
    width: 17rem;
  }
  &__checkboxWrapper {
    display: flex;
    align-content: center;
    column-gap: 2rem;
    flex-wrap: wrap;
  }

  &__headlines {
    &--sidebar {
      display: none;
      @media (max-width: 1439px) {
        display: block;
      }
    }
  }
  &__headlines.typo-undertittel {
    margin-bottom: 0.5rem;
  }

  &__dlButton.knapp {
    text-transform: none;
  }

  &__install {
    margin-bottom: 2rem;
  }

  &__installBash {
    margin-bottom: 2rem;
  }

  &__linkPanels {
    width: 300px;

    margin-right: 1rem;
  }
  &__linkHeadlines {
    @media (max-width: 1439px) {
      display: none;
    }
  }

  &__modal {
    max-width: 500px;
    font-size: 1rem;

    &Svg {
      margin: 0;
    }

    &Icons {
      font-size: 128px;
      display: flex;
      padding-top: 2rem;

      &--light {
        padding: 1rem 0 1rem 0;
        width: 50%;
        align-self: center;
      }

      &--dark {
        padding: 1rem 0 1rem 0;
        width: 50%;
        background-color: @navMorkGra;
        color: white;
      }
    }
  }
}

.iconbox {
  position: relative;
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  box-shadow: @navGra40 0 1px 2px 0;
  border-radius: 2px;
  font-size: 2rem;

  &:hover {
    border: var(--navds-panel-hover);
  }

  &:focus {
    outline: none;
    box-shadow: var(--navds-shadow-focus);
  }

  &__name {
    position: absolute;
    bottom: 1rem;
    transition: bottom 250ms;
  }

  &:hover > &__name,
  &:focus > &__name {
    bottom: 1.5rem;
  }
}

.iconsidebar {
  &__save {
    position: absolute;
    right: 0rem;
    font-size: 1.8rem;
  }
}
