.aboutPage {
  width: 50%;

  @media(max-width: 900px) {
    width: 100%;
    margin: 0;
  }

  .section--withButton {
    text-align: center;
  }

  img {
    max-width: 700px;
  }

  .typo-innholdstittel {
    margin-bottom: 20px;
  }
}
