@layer twBase, dsComponents, twComponents, twUtilities;

@import "tailwindcss/base" layer(twBase);
@import "@navikt/ds-css" layer(dsComponents);
@import "tailwindcss/components" layer(twComponents);
@import "tailwindcss/utilities" layer(twUtilities);

:root {
  --website-header-height: 4rem;
  --website-header-height-width-border: calc(var(--website-header-height) + 1px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* TODO: Copy theme from figma */
[data-color-role="teal"] {
  --ax-text-subtle: #0f766e;
  --ax-bg-soft: #defcf6;
}

[data-color-role="pink"] {
  --ax-text-subtle: #be185d;
  --ax-bg-soft: #fdf2f8;
}
