.popover {
  --popover-shadow: 0 0.05rem 0.25rem 0.125rem rgba(0, 0, 0, 0.08);
  --popover-border-radius: 2px;
  --popover-z-index: 100;

  z-index: var(--popover-z-index);
  background: white;
  box-shadow: var(--popover-shadow);
  border: var(--border-default);
  border-radius: var(--popover-border-radius);
  padding: 1rem;
}

.popover__hidden {
  display: none;
}

.popover__arrow {
  --popover__arrow-size: 1rem;
}

.popover__arrow:before {
  content: "";
  display: block;
  width: var(--popover__arrow-size);
  height: var(--popover__arrow-size);
  transform: rotate(45deg);
  background: white;
  border: var(--border-default);
}

.popover[data-popper-placement^="top"] > .popover__arrow {
  bottom: calc(var(--popover__arrow-size) / -2);
}

.popover[data-popper-placement^="top"] > .popover__arrow:before {
  border-left-color: transparent;
  border-top-color: transparent;
}

.popover[data-popper-placement^="bottom"] > .popover__arrow {
  top: calc(var(--popover__arrow-size) / -2);
}

.popover[data-popper-placement^="bottom"] > .popover__arrow:before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.popover[data-popper-placement^="left"] > .popover__arrow {
  right: calc(var(--popover__arrow-size) / -2);
}

.popover[data-popper-placement^="left"] > .popover__arrow:before {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.popover[data-popper-placement^="right"] > .popover__arrow {
  left: calc(var(--popover__arrow-size) / -2);
}

.popover[data-popper-placement^="right"] > .popover__arrow:before {
  border-right-color: transparent;
  border-top-color: transparent;
}
