.navds-layout__header {
  grid-column: span 12;
  background: white;
}

.navds-layout__header-title {
  margin: 0.25rem 0.85rem;
}

@media (min-width: 448px) {
  .navds-layout__header-title {
    margin: 0.25rem 0;
  }

  .navds-layout__header--content h1 {
    margin: 0.25rem 0;
  }
}

@media (min-width: 960px) {
  .navds-layout__header--margin {
    margin-bottom: 3rem;
  }
}
