.navds-layout__panel {
  width: 100%;
  max-width: 100%;
  position: relative;
  display: inline-block;
  padding: var(--navds-layout-padding-small);
  background: white;
  padding-top: 2.5rem;
}

.navds-layout__panel--margin {
  margin-top: 2rem;
}

.navds-layout__panel--highlight {
  box-shadow: rgb(102, 164, 220) 0 0 0 0.15rem;
}

.navds-layout__panel-content {
  margin-top: 1.25rem;
}

.navds-layout__panel-icon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2rem;
  left: 0;
}

.navds-layout__panel-icon svg {
  background: #c7dbed;
  border-radius: 2rem;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
}

.navds-layout__panel-title {
  margin: 0.5rem 0;
}

.navds-layout__panel-copy {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navds-layout__panel-copy-icon {
  color: var(--navds-color-text-link);
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.navds-layout__panel-copy-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin: 0 1rem 0 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}

.navds-layout__panel-copy-etiquette {
  height: auto;
  background: var(--navds-color-darkgray);
  color: white;
  border: 1px solid var(--navds-color-darkgray);
  padding: 0.25rem 0.5rem;
}

@media (min-width: 448px) {
  .navds-layout__panel {
    padding: var(--navds-layout-padding-medium-and-larger);
  }
}

@media (min-width: 960px) {
  .navds-layout__panel--margin:first-child {
    margin-top: 0;
  }

  .navds-layout__panel--margin:not(:first-child) {
    margin-top: 2rem;
  }
}
