{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["jsx-a11y", "react-hooks"],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "max-len": [2, 120, 4],
        "comma-dangle": [0, "never"],
        "@typescript-eslint/no-var-requires": 0,
        "no-undef" : 0,
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/explicit-function-return-type": 0
    },
    "settings": {
        "react": {
            "version": "latest"
        }
    }
}
