@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.navds-link {
  color: $navds-color-text-link;
  text-decoration: underline;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.25rem;
}

.navds-link:hover {
  text-decoration: none;
}

.navds-link:focus {
  outline: none;
  color: $navds-color-text-inverse;
  text-decoration: none;
  background-color: $navds-text-focus;
  box-shadow: $navds-text-shadow;
}

.navds-link:active {
  outline: none;
  color: $navds-color-text-inverse;
  text-decoration: none;
  background-color: $navds-text-focus;
  box-shadow: $navds-text-shadow;
}

.navds-link svg {
  color: $navds-color-text-link;
}

.navds-link:focus svg {
  color: $navds-color-text-inverse;
}
