.pageWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
  height: 100vh;
  background-color: var(--bg-primary);
  overflow-x: hidden;
}

.header {
  grid-area: header;
  width: 100vw;
  display: flex;
  z-index: 99;
  color: #fff;
  height: 5rem;
  background-color: #c30000;
}

.header__link {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  height: 100%;
  flex-shrink: 0;
}

.header__icon {
  color: #fff;
  font-size: 1.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.sidebar__icon {
  color: var(--navds-color-blue-50);
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background: none;
  border: none;
  align-items: center;
}

.sidebar__icon:focus {
  outline: 2px solid var(--navds-color-blue-50);
  outline-offset: -2px;
}

.header__icon--hidden {
  visibility: hidden;
}

.header__link:focus {
  outline: 2px solid white;
  outline-offset: -2px;
}

.header__link-title {
  color: white;
  font-size: var(--navds-font-size-heading-large);
  font-weight: var(--navds-font-weight-bold);
  line-height: var(--navds-font-line-height-large);
}

.sidebar {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--bg-secondary);
  box-shadow: inset -2px 0px 0px var(--sidebar-shadow);
  flex-grow: 1;
}

.contentWrapper {
  grid-area: content;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 520px;
  margin: 0 auto 0 0;
}

@media (max-width: 959px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 447px) {
  .header__link {
    column-gap: 1rem;
  }
}

.sidebar__mobile {
  z-index: 999;
  display: flex;
  background-color: var(--bg-secondary);
  flex-direction: column;
  color: var(--text-color);
  overflow-y: auto;
  position: fixed;
  left: -300px;
  min-height: 100vh;
  border-right: var(--sidebar-divider);
}

.sidebar__mobile--open {
  transition: transform 250ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transform: translateX(100%);
}

.sidebar--overlay {
  display: block;
  z-index: 200;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: background 0.15s linear;
}

.sidebar--overlay--fade {
  background: rgba(0, 0, 0, 0.5);
}
