:root {
  --bg-primary: #faf9f9;
  --font-family-code: "Source Code Pro", monospace;
}

.darkTheme {
  --theme: "dark";
}

.lightTheme {
  --theme: "light";
  --bg-primary: #faf9f9;
  --bg-secondary: #fff;
  --sidebar-shadow: #e7e9e9;
  --outline: 1px solid var(--navds-color-gray-40);
  --tab-color: var(--navds-color-blue-50);
  --tab-color-active: var(--navds-color-darkgray);
  --tab-border: 4px solid var(--navds-color-blue-50);
  --outline-focus: 2px solid var(--navds-color-blue-80);
  --outline-offset: -2px;
  --bg-code: var(--navds-color-gray-90);
  --color-code: #fff;
  --code-divider: var(--sidebar-shadow);
  --outline-code: 2px solid var(--color-code);
}
