.menuListItem {
  padding-inline: var(--a-spacing-2);
}

.menuList .menuList .menuListItem {
  padding-inline-start: var(--a-spacing-5);
}

.menuListItem[data-type="action"][data-current="true"] {
  color: var(--a-deepblue-700);
}

.menuListItem[data-type="action"][data-current="true"] > span {
  background-color: var(--a-surface-selected);
}

.menuListItem[data-type="action"][data-current="true"]::before {
  background-color: var(--a-deepblue-700);
}

.menuListItem[data-type="neutral"][data-current="true"] {
  color: var(--a-text-default);
}

.menuListItem[data-type="neutral"][data-current="true"] > span {
  background-color: var(--a-surface-neutral-subtle);
}

.menuListItem[data-type="neutral"][data-current="true"]::before {
  background-color: var(--a-gray-700);
}

.menuListItem[data-type="darkside"][data-current="true"] {
  color: var(--ax-text-brand-magenta);
}

.menuListItem[data-type="darkside"][data-current="true"]::before {
  background-color: var(--ax-bg-brand-magenta-strong-pressed);
}

.menuListItem[data-type="darkside"][data-current="true"] > span {
  background-color: var(--ax-bg-brand-magenta-moderate-pressedA);
}
