html {
  scroll-behavior: smooth;
}

.navds-accorcion-menu__container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navds-accordion-menu__item {
  position: relative;
  padding: 1px 0;
  margin: 0;
}

.navds-accorcion-menu__title {
  margin-bottom: 0.75rem;
}

.navds-accordion-menu__item--active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  width: 8px;
  height: 100%;
  background-color: var(--navds-color-blue-50);
}

@media (min-width: 448px) {
  .navds-accordion-menu__item--active::after {
    left: -2.5rem;
  }
}

@media (min-width: 980px) {
  .navds-accordion-menu__item--active::after {
    left: -1rem;
  }
}

.navds-accordion-menu__dropdown > ul > li {
  padding-left: 1rem;
}

.navds-accordion-menu__link--active {
  font-size: 1.125rem;
  font-weight: 600;
}

.navds-accordion-menu__link,
.navds-accordion-menu__link--active,
.navds-accordion-menu__button {
  min-height: 3rem;
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
}

.navds-accordion-menu__link {
  display: flex;
}

.navds-accordion-menu__chevron {
  margin-right: 0.25rem;
  font-size: 1rem;
}

.navds-accordion-menu__button {
  display: flex;
  clear: both;
  align-items: center;
  justify-content: space-between;
  border: 0;
  width: 100%;
}

.navds-accordion-menu__dropdown--content {
  box-sizing: border-box;
  clear: both;
}
