@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.ReactCollapse--collapse {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navds-accordion {
  position: relative;
  background: $navds-color-background;
  border: $navds-border-default;
  border-radius: 4px;
}

.navds-accordion:hover {
  box-shadow: $navds-color-hover;
  border: $navds-panel-hover;
  color: black;
}

.navds-accordion:focus,
.navds-accordion__button:focus {
  box-shadow: $navds-shadow-focus;
  outline: none;
}

.navds-accordion__chevron {
  width: 1.25em;
  height: 1.25em;
  transition: 300ms transform;
  transform: rotateZ(0deg);
}

.navds-accordion__chevron--up {
  transform: rotateZ(-180deg);
}

.navds-accordion__chevron--down {
  transform: rotateZ(0deg);
}

.navds-accordion__button {
  padding: 1rem;
  border-radius: 4px;
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navds-accordion__button .navds-accordion__title {
  font-size: $navds-font-size-large;
  font-weight: $navds-font-weight-bold;
  line-height: 1;
}

.navds-accordion__button:hover .navds-accordion__title {
  text-decoration: underline;
  color: $navds-color-text-link;
}

.navds-accordion__content {
  padding: 0.5rem 1rem 1rem;
}

.navds-accordion--open .navds-accordion__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navds-accordion--open > .navds-accordion__button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
