.ReactCollapse--collapse {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.navds-accordion {
  position: relative;
  background: #ffffff;
  border: 1px solid #b7b1a9;
  border-radius: 4px; }

.navds-accordion:hover {
  box-shadow: #b7b1a9;
  border: 1px solid #0067c5;
  color: black; }

.navds-accordion:focus,
.navds-accordion__button:focus {
  box-shadow: 0 0 0 3px #254B6D;
  outline: none; }

.navds-accordion__chevron {
  width: 1.25em;
  height: 1.25em;
  transition: 300ms transform;
  transform: rotateZ(0deg); }

.navds-accordion__chevron--up {
  transform: rotateZ(-180deg); }

.navds-accordion__chevron--down {
  transform: rotateZ(0deg); }

.navds-accordion__button {
  background-color: #ffffff;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navds-accordion__button .navds-accordion__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1; }

.navds-accordion__button:hover .navds-accordion__title {
  text-decoration: underline;
  color: #0067c5; }

.navds-accordion__content {
  padding: 0.5rem 1rem 1rem; }

.navds-accordion--open .navds-accordion__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.navds-accordion--open > .navds-accordion__button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
