.navds-r-p {
  --__ac-r-p-xs: initial;
  --__ac-r-p-sm: var(--__ac-r-p-xs);
  --__ac-r-p-md: var(--__ac-r-p-sm);
  --__ac-r-p-lg: var(--__ac-r-p-md);
  --__ac-r-p-xl: var(--__ac-r-p-lg);
  --__ac-r-p-2xl: var(--__ac-r-p-xl);
  --__ac-r-padding: var(--__ac-r-p-xs);

  padding: var(--__ac-r-padding);
}

.navds-r-pi {
  --__ac-r-pi-xs: initial;
  --__ac-r-pi-sm: var(--__ac-r-pi-xs);
  --__ac-r-pi-md: var(--__ac-r-pi-sm);
  --__ac-r-pi-lg: var(--__ac-r-pi-md);
  --__ac-r-pi-xl: var(--__ac-r-pi-lg);
  --__ac-r-pi-2xl: var(--__ac-r-pi-xl);
  --__ac-r-pi: var(--__ac-r-pi-xs);

  padding-inline: var(--__ac-r-pi, var(--__ac-r-padding));
}

.navds-r-pb {
  --__ac-r-pb-xs: initial;
  --__ac-r-pb-sm: var(--__ac-r-pb-xs);
  --__ac-r-pb-md: var(--__ac-r-pb-sm);
  --__ac-r-pb-lg: var(--__ac-r-pb-md);
  --__ac-r-pb-xl: var(--__ac-r-pb-lg);
  --__ac-r-pb-2xl: var(--__ac-r-pb-xl);
  --__ac-r-pb: var(--__ac-r-pb-xs);

  padding-block: var(--__ac-r-pb, var(--__ac-r-padding));
}

.navds-r-m {
  --__ac-r-m-xs: initial;
  --__ac-r-m-sm: var(--__ac-r-m-xs);
  --__ac-r-m-md: var(--__ac-r-m-sm);
  --__ac-r-m-lg: var(--__ac-r-m-md);
  --__ac-r-m-xl: var(--__ac-r-m-lg);
  --__ac-r-m-2xl: var(--__ac-r-m-xl);
  --__ac-r-margin: var(--__ac-r-m-xs);

  margin: var(--__ac-r-margin);
}

.navds-r-mi {
  --__ac-r-mi-xs: initial;
  --__ac-r-mi-sm: var(--__ac-r-mi-xs);
  --__ac-r-mi-md: var(--__ac-r-mi-sm);
  --__ac-r-mi-lg: var(--__ac-r-mi-md);
  --__ac-r-mi-xl: var(--__ac-r-mi-lg);
  --__ac-r-mi-2xl: var(--__ac-r-mi-xl);
  --__ac-r-mi: var(--__ac-r-mi-xs);

  margin-inline: var(--__ac-r-mi, var(--__ac-r-margin));
}

.navds-r-mb {
  --__ac-r-mb-xs: initial;
  --__ac-r-mb-sm: var(--__ac-r-mb-xs);
  --__ac-r-mb-md: var(--__ac-r-mb-sm);
  --__ac-r-mb-lg: var(--__ac-r-mb-md);
  --__ac-r-mb-xl: var(--__ac-r-mb-lg);
  --__ac-r-mb-2xl: var(--__ac-r-mb-xl);
  --__ac-r-mb: var(--__ac-r-mb-xs);

  margin-block: var(--__ac-r-mb, var(--__ac-r-margin));
}

.navds-r-w {
  --__ac-r-w-xs: initial;
  --__ac-r-w-sm: var(--__ac-r-w-xs);
  --__ac-r-w-md: var(--__ac-r-w-sm);
  --__ac-r-w-lg: var(--__ac-r-w-md);
  --__ac-r-w-xl: var(--__ac-r-w-lg);
  --__ac-r-w-2xl: var(--__ac-r-w-xl);
  --__ac-r-w: var(--__ac-r-w-xs);

  width: var(--__ac-r-w);
}

.navds-r-minw {
  --__ac-r-minw-xs: initial;
  --__ac-r-minw-sm: var(--__ac-r-minw-xs);
  --__ac-r-minw-md: var(--__ac-r-minw-sm);
  --__ac-r-minw-lg: var(--__ac-r-minw-md);
  --__ac-r-minw-xl: var(--__ac-r-minw-lg);
  --__ac-r-minw-2xl: var(--__ac-r-minw-xl);
  --__ac-r-minw: var(--__ac-r-minw-xs);

  min-width: var(--__ac-r-minw);
}

.navds-r-maxw {
  --__ac-r-maxw-xs: initial;
  --__ac-r-maxw-sm: var(--__ac-r-maxw-xs);
  --__ac-r-maxw-md: var(--__ac-r-maxw-sm);
  --__ac-r-maxw-lg: var(--__ac-r-maxw-md);
  --__ac-r-maxw-xl: var(--__ac-r-maxw-lg);
  --__ac-r-maxw-2xl: var(--__ac-r-maxw-xl);
  --__ac-r-maxw: var(--__ac-r-maxw-xs);

  max-width: var(--__ac-r-maxw);
}

.navds-r-h {
  --__ac-r-h-xs: initial;
  --__ac-r-h-sm: var(--__ac-r-h-xs);
  --__ac-r-h-md: var(--__ac-r-h-sm);
  --__ac-r-h-lg: var(--__ac-r-h-md);
  --__ac-r-h-xl: var(--__ac-r-h-lg);
  --__ac-r-h-2xl: var(--__ac-r-h-xl);
  --__ac-r-h: var(--__ac-r-h-xs);

  height: var(--__ac-r-h);
}

.navds-r-minh {
  --__ac-r-minh-xs: initial;
  --__ac-r-minh-sm: var(--__ac-r-minh-xs);
  --__ac-r-minh-md: var(--__ac-r-minh-sm);
  --__ac-r-minh-lg: var(--__ac-r-minh-md);
  --__ac-r-minh-xl: var(--__ac-r-minh-lg);
  --__ac-r-minh-2xl: var(--__ac-r-minh-xl);
  --__ac-r-minh: var(--__ac-r-minh-xs);

  min-height: var(--__ac-r-minh);
}

.navds-r-maxh {
  --__ac-r-maxh-xs: initial;
  --__ac-r-maxh-sm: var(--__ac-r-maxh-xs);
  --__ac-r-maxh-md: var(--__ac-r-maxh-sm);
  --__ac-r-maxh-lg: var(--__ac-r-maxh-md);
  --__ac-r-maxh-xl: var(--__ac-r-maxh-lg);
  --__ac-r-maxh-2xl: var(--__ac-r-maxh-xl);
  --__ac-r-maxh: var(--__ac-r-maxh-xs);

  max-height: var(--__ac-r-maxh);
}

.navds-r-position {
  --__ac-r-position-xs: initial;
  --__ac-r-position-sm: var(--__ac-r-position-xs);
  --__ac-r-position-md: var(--__ac-r-position-sm);
  --__ac-r-position-lg: var(--__ac-r-position-md);
  --__ac-r-position-xl: var(--__ac-r-position-lg);
  --__ac-r-position-2xl: var(--__ac-r-position-xl);
  --__ac-r-position: var(--__ac-r-position-xs);

  position: var(--__ac-r-position);
}

.navds-r-inset {
  --__ac-r-inset-xs: initial;
  --__ac-r-inset-sm: var(--__ac-r-inset-xs);
  --__ac-r-inset-md: var(--__ac-r-inset-sm);
  --__ac-r-inset-lg: var(--__ac-r-inset-md);
  --__ac-r-inset-xl: var(--__ac-r-inset-lg);
  --__ac-r-inset-2xl: var(--__ac-r-inset-xl);
  --__ac-r-inset: var(--__ac-r-inset-xs);

  inset: var(--__ac-r-inset);
}

.navds-r-top {
  --__ac-r-top-xs: initial;
  --__ac-r-top-sm: var(--__ac-r-top-xs);
  --__ac-r-top-md: var(--__ac-r-top-sm);
  --__ac-r-top-lg: var(--__ac-r-top-md);
  --__ac-r-top-xl: var(--__ac-r-top-lg);
  --__ac-r-top-2xl: var(--__ac-r-top-xl);
  --__ac-r-top: var(--__ac-r-top-xs);

  top: var(--__ac-r-top);
}

.navds-r-right {
  --__ac-r-right-xs: initial;
  --__ac-r-right-sm: var(--__ac-r-right-xs);
  --__ac-r-right-md: var(--__ac-r-right-sm);
  --__ac-r-right-lg: var(--__ac-r-right-md);
  --__ac-r-right-xl: var(--__ac-r-right-lg);
  --__ac-r-right-2xl: var(--__ac-r-right-xl);
  --__ac-r-right: var(--__ac-r-right-xs);

  right: var(--__ac-r-right);
}

.navds-r-bottom {
  --__ac-r-bottom-xs: initial;
  --__ac-r-bottom-sm: var(--__ac-r-bottom-xs);
  --__ac-r-bottom-md: var(--__ac-r-bottom-sm);
  --__ac-r-bottom-lg: var(--__ac-r-bottom-md);
  --__ac-r-bottom-xl: var(--__ac-r-bottom-lg);
  --__ac-r-bottom-2xl: var(--__ac-r-bottom-xl);
  --__ac-r-bottom: var(--__ac-r-bottom-xs);

  bottom: var(--__ac-r-bottom);
}

.navds-r-left {
  --__ac-r-left-xs: initial;
  --__ac-r-left-sm: var(--__ac-r-left-xs);
  --__ac-r-left-md: var(--__ac-r-left-sm);
  --__ac-r-left-lg: var(--__ac-r-left-md);
  --__ac-r-left-xl: var(--__ac-r-left-lg);
  --__ac-r-left-2xl: var(--__ac-r-left-xl);
  --__ac-r-left: var(--__ac-r-left-xs);

  left: var(--__ac-r-left);
}

.navds-r-overflow {
  --__ac-r-overflow-xs: initial;
  --__ac-r-overflow-sm: var(--__ac-r-overflow-xs);
  --__ac-r-overflow-md: var(--__ac-r-overflow-sm);
  --__ac-r-overflow-lg: var(--__ac-r-overflow-md);
  --__ac-r-overflow-xl: var(--__ac-r-overflow-lg);
  --__ac-r-overflow-2xl: var(--__ac-r-overflow-xl);
  --__ac-r-overflow: var(--__ac-r-overflow-xs);

  overflow: var(--__ac-r-overflow);
}

.navds-r-overflowx {
  --__ac-r-overflowx-xs: initial;
  --__ac-r-overflowx-sm: var(--__ac-r-overflowx-xs);
  --__ac-r-overflowx-md: var(--__ac-r-overflowx-sm);
  --__ac-r-overflowx-lg: var(--__ac-r-overflowx-md);
  --__ac-r-overflowx-xl: var(--__ac-r-overflowx-lg);
  --__ac-r-overflowx-2xl: var(--__ac-r-overflowx-xl);
  --__ac-r-overflowx: var(--__ac-r-overflowx-xs);

  overflow-x: var(--__ac-r-overflowx);
}

.navds-r-overflowy {
  --__ac-r-overflowy-xs: initial;
  --__ac-r-overflowy-sm: var(--__ac-r-overflowy-xs);
  --__ac-r-overflowy-md: var(--__ac-r-overflowy-sm);
  --__ac-r-overflowy-lg: var(--__ac-r-overflowy-md);
  --__ac-r-overflowy-xl: var(--__ac-r-overflowy-lg);
  --__ac-r-overflowy-2xl: var(--__ac-r-overflowy-xl);
  --__ac-r-overflowy: var(--__ac-r-overflowy-xs);

  overflow-y: var(--__ac-r-overflowy);
}

.navds-r-flex-basis {
  --__ac-r-flex-basis-xs: initial;
  --__ac-r-flex-basis-sm: var(--__ac-r-flex-basis-xs);
  --__ac-r-flex-basis-md: var(--__ac-r-flex-basis-sm);
  --__ac-r-flex-basis-lg: var(--__ac-r-flex-basis-md);
  --__ac-r-flex-basis-xl: var(--__ac-r-flex-basis-lg);
  --__ac-r-flex-basis-2xl: var(--__ac-r-flex-basis-xl);
  --__ac-r-flex-basis: var(--__ac-r-flex-basis-xs);

  flex-basis: var(--__ac-r-flex-basis);
}

.navds-r-flex-grow {
  --__ac-r-flex-grow-xs: initial;
  --__ac-r-flex-grow-sm: var(--__ac-r-flex-grow-xs);
  --__ac-r-flex-grow-md: var(--__ac-r-flex-grow-sm);
  --__ac-r-flex-grow-lg: var(--__ac-r-flex-grow-md);
  --__ac-r-flex-grow-xl: var(--__ac-r-flex-grow-lg);
  --__ac-r-flex-grow-2xl: var(--__ac-r-flex-grow-xl);
  --__ac-r-flex-grow: var(--__ac-r-flex-grow-xs);

  flex-grow: var(--__ac-r-flex-grow);
}

.navds-r-flex-shrink {
  --__ac-r-flex-shrink-xs: initial;
  --__ac-r-flex-shrink-sm: var(--__ac-r-flex-shrink-xs);
  --__ac-r-flex-shrink-md: var(--__ac-r-flex-shrink-sm);
  --__ac-r-flex-shrink-lg: var(--__ac-r-flex-shrink-md);
  --__ac-r-flex-shrink-xl: var(--__ac-r-flex-shrink-lg);
  --__ac-r-flex-shrink-2xl: var(--__ac-r-flex-shrink-xl);
  --__ac-r-flex-shrink: var(--__ac-r-flex-shrink-xs);

  flex-shrink: var(--__ac-r-flex-shrink);
}

.navds-r-grid-column {
  --__ac-r-grid-column-xs: initial;
  --__ac-r-grid-column-sm: var(--__ac-r-grid-column-xs);
  --__ac-r-grid-column-md: var(--__ac-r-grid-column-sm);
  --__ac-r-grid-column-lg: var(--__ac-r-grid-column-md);
  --__ac-r-grid-column-xl: var(--__ac-r-grid-column-lg);
  --__ac-r-grid-column-2xl: var(--__ac-r-grid-column-xl);
  --__ac-r-grid-column: var(--__ac-r-grid-column-xs);

  grid-column: var(--__ac-r-grid-column);
}

@media (width >= 480px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-sm);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-sm);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-sm);
  }

  .navds-r-m {
    --__ac-r-margin: var(--__ac-r-m-sm);
  }

  .navds-r-mi {
    --__ac-r-mi: var(--__ac-r-mi-sm);
  }

  .navds-r-mb {
    --__ac-r-mb: var(--__ac-r-mb-sm);
  }

  .navds-r-w {
    --__ac-r-w: var(--__ac-r-w-sm);
  }

  .navds-r-minw {
    --__ac-r-minw: var(--__ac-r-minw-sm);
  }

  .navds-r-maxw {
    --__ac-r-maxw: var(--__ac-r-maxw-sm);
  }

  .navds-r-h {
    --__ac-r-h: var(--__ac-r-h-sm);
  }

  .navds-r-minh {
    --__ac-r-minh: var(--__ac-r-minh-sm);
  }

  .navds-r-maxh {
    --__ac-r-maxh: var(--__ac-r-maxh-sm);
  }

  .navds-r-position {
    --__ac-r-position: var(--__ac-r-position-sm);
  }

  .navds-r-inset {
    --__ac-r-inset: var(--__ac-r-inset-sm);
  }

  .navds-r-top {
    --__ac-r-top: var(--__ac-r-top-sm);
  }

  .navds-r-right {
    --__ac-r-right: var(--__ac-r-right-sm);
  }

  .navds-r-bottom {
    --__ac-r-bottom: var(--__ac-r-bottom-sm);
  }

  .navds-r-left {
    --__ac-r-left: var(--__ac-r-left-sm);
  }

  .navds-r-overflow {
    --__ac-r-overflow: var(--__ac-r-overflow-sm);
  }

  .navds-r-overflowx {
    --__ac-r-overflowx: var(--__ac-r-overflowx-sm);
  }

  .navds-r-overflowy {
    --__ac-r-overflowy: var(--__ac-r-overflowy-sm);
  }

  .navds-r-flex-basis {
    --__ac-r-flex-basis: var(--__ac-r-flex-basis-sm);
  }

  .navds-r-flex-grow {
    --__ac-r-flex-grow: var(--__ac-r-flex-grow-sm);
  }

  .navds-r-flex-shrink {
    --__ac-r-flex-shrink: var(--__ac-r-flex-shrink-sm);
  }

  .navds-r-grid-column {
    --__ac-r-grid-column: var(--__ac-r-grid-column-sm);
  }
}

@media (width >= 768px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-md);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-md);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-md);
  }

  .navds-r-m {
    --__ac-r-margin: var(--__ac-r-m-md);
  }

  .navds-r-mi {
    --__ac-r-mi: var(--__ac-r-mi-md);
  }

  .navds-r-mb {
    --__ac-r-mb: var(--__ac-r-mb-md);
  }

  .navds-r-w {
    --__ac-r-w: var(--__ac-r-w-md);
  }

  .navds-r-minw {
    --__ac-r-minw: var(--__ac-r-minw-md);
  }

  .navds-r-maxw {
    --__ac-r-maxw: var(--__ac-r-maxw-md);
  }

  .navds-r-h {
    --__ac-r-h: var(--__ac-r-h-md);
  }

  .navds-r-minh {
    --__ac-r-minh: var(--__ac-r-minh-md);
  }

  .navds-r-maxh {
    --__ac-r-maxh: var(--__ac-r-maxh-md);
  }

  .navds-r-position {
    --__ac-r-position: var(--__ac-r-position-md);
  }

  .navds-r-inset {
    --__ac-r-inset: var(--__ac-r-inset-md);
  }

  .navds-r-top {
    --__ac-r-top: var(--__ac-r-top-md);
  }

  .navds-r-right {
    --__ac-r-right: var(--__ac-r-right-md);
  }

  .navds-r-bottom {
    --__ac-r-bottom: var(--__ac-r-bottom-md);
  }

  .navds-r-left {
    --__ac-r-left: var(--__ac-r-left-md);
  }

  .navds-r-overflow {
    --__ac-r-overflow: var(--__ac-r-overflow-md);
  }

  .navds-r-overflowx {
    --__ac-r-overflowx: var(--__ac-r-overflowx-md);
  }

  .navds-r-overflowy {
    --__ac-r-overflowy: var(--__ac-r-overflowy-md);
  }

  .navds-r-flex-basis {
    --__ac-r-flex-basis: var(--__ac-r-flex-basis-md);
  }

  .navds-r-flex-grow {
    --__ac-r-flex-grow: var(--__ac-r-flex-grow-md);
  }

  .navds-r-flex-shrink {
    --__ac-r-flex-shrink: var(--__ac-r-flex-shrink-md);
  }

  .navds-r-grid-column {
    --__ac-r-grid-column: var(--__ac-r-grid-column-md);
  }
}

@media (width >= 1024px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-lg);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-lg);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-lg);
  }

  .navds-r-m {
    --__ac-r-margin: var(--__ac-r-m-lg);
  }

  .navds-r-mi {
    --__ac-r-mi: var(--__ac-r-mi-lg);
  }

  .navds-r-mb {
    --__ac-r-mb: var(--__ac-r-mb-lg);
  }

  .navds-r-w {
    --__ac-r-w: var(--__ac-r-w-lg);
  }

  .navds-r-minw {
    --__ac-r-minw: var(--__ac-r-minw-lg);
  }

  .navds-r-maxw {
    --__ac-r-maxw: var(--__ac-r-maxw-lg);
  }

  .navds-r-h {
    --__ac-r-h: var(--__ac-r-h-lg);
  }

  .navds-r-minh {
    --__ac-r-minh: var(--__ac-r-minh-lg);
  }

  .navds-r-maxh {
    --__ac-r-maxh: var(--__ac-r-maxh-lg);
  }

  .navds-r-position {
    --__ac-r-position: var(--__ac-r-position-lg);
  }

  .navds-r-inset {
    --__ac-r-inset: var(--__ac-r-inset-lg);
  }

  .navds-r-top {
    --__ac-r-top: var(--__ac-r-top-lg);
  }

  .navds-r-right {
    --__ac-r-right: var(--__ac-r-right-lg);
  }

  .navds-r-bottom {
    --__ac-r-bottom: var(--__ac-r-bottom-lg);
  }

  .navds-r-left {
    --__ac-r-left: var(--__ac-r-left-lg);
  }

  .navds-r-overflow {
    --__ac-r-overflow: var(--__ac-r-overflow-lg);
  }

  .navds-r-overflowx {
    --__ac-r-overflowx: var(--__ac-r-overflowx-lg);
  }

  .navds-r-overflowy {
    --__ac-r-overflowy: var(--__ac-r-overflowy-lg);
  }

  .navds-r-flex-basis {
    --__ac-r-flex-basis: var(--__ac-r-flex-basis-lg);
  }

  .navds-r-flex-grow {
    --__ac-r-flex-grow: var(--__ac-r-flex-grow-lg);
  }

  .navds-r-flex-shrink {
    --__ac-r-flex-shrink: var(--__ac-r-flex-shrink-lg);
  }

  .navds-r-grid-column {
    --__ac-r-grid-column: var(--__ac-r-grid-column-lg);
  }
}

@media (width >= 1280px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-xl);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-xl);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-xl);
  }

  .navds-r-m {
    --__ac-r-margin: var(--__ac-r-m-xl);
  }

  .navds-r-mi {
    --__ac-r-mi: var(--__ac-r-mi-xl);
  }

  .navds-r-mb {
    --__ac-r-mb: var(--__ac-r-mb-xl);
  }

  .navds-r-w {
    --__ac-r-w: var(--__ac-r-w-xl);
  }

  .navds-r-minw {
    --__ac-r-minw: var(--__ac-r-minw-xl);
  }

  .navds-r-maxw {
    --__ac-r-maxw: var(--__ac-r-maxw-xl);
  }

  .navds-r-h {
    --__ac-r-h: var(--__ac-r-h-xl);
  }

  .navds-r-minh {
    --__ac-r-minh: var(--__ac-r-minh-xl);
  }

  .navds-r-maxh {
    --__ac-r-maxh: var(--__ac-r-maxh-xl);
  }

  .navds-r-position {
    --__ac-r-position: var(--__ac-r-position-xl);
  }

  .navds-r-inset {
    --__ac-r-inset: var(--__ac-r-inset-xl);
  }

  .navds-r-top {
    --__ac-r-top: var(--__ac-r-top-xl);
  }

  .navds-r-right {
    --__ac-r-right: var(--__ac-r-right-xl);
  }

  .navds-r-bottom {
    --__ac-r-bottom: var(--__ac-r-bottom-xl);
  }

  .navds-r-left {
    --__ac-r-left: var(--__ac-r-left-xl);
  }

  .navds-r-overflow {
    --__ac-r-overflow: var(--__ac-r-overflow-xl);
  }

  .navds-r-overflowx {
    --__ac-r-overflowx: var(--__ac-r-overflowx-xl);
  }

  .navds-r-overflowy {
    --__ac-r-overflowy: var(--__ac-r-overflowy-xl);
  }

  .navds-r-flex-basis {
    --__ac-r-flex-basis: var(--__ac-r-flex-basis-xl);
  }

  .navds-r-flex-grow {
    --__ac-r-flex-grow: var(--__ac-r-flex-grow-xl);
  }

  .navds-r-flex-shrink {
    --__ac-r-flex-shrink: var(--__ac-r-flex-shrink-xl);
  }

  .navds-r-grid-column {
    --__ac-r-grid-column: var(--__ac-r-grid-column-xl);
  }
}

@media (width >= 1440px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-2xl);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-2xl);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-2xl);
  }

  .navds-r-m {
    --__ac-r-margin: var(--__ac-r-m-2xl);
  }

  .navds-r-mi {
    --__ac-r-mi: var(--__ac-r-mi-2xl);
  }

  .navds-r-mb {
    --__ac-r-mb: var(--__ac-r-mb-2xl);
  }

  .navds-r-w {
    --__ac-r-w: var(--__ac-r-w-2xl);
  }

  .navds-r-minw {
    --__ac-r-minw: var(--__ac-r-minw-2xl);
  }

  .navds-r-maxw {
    --__ac-r-maxw: var(--__ac-r-maxw-2xl);
  }

  .navds-r-h {
    --__ac-r-h: var(--__ac-r-h-2xl);
  }

  .navds-r-minh {
    --__ac-r-minh: var(--__ac-r-minh-2xl);
  }

  .navds-r-maxh {
    --__ac-r-maxh: var(--__ac-r-maxh-2xl);
  }

  .navds-r-position {
    --__ac-r-position: var(--__ac-r-position-2xl);
  }

  .navds-r-inset {
    --__ac-r-inset: var(--__ac-r-inset-2xl);
  }

  .navds-r-top {
    --__ac-r-top: var(--__ac-r-top-2xl);
  }

  .navds-r-right {
    --__ac-r-right: var(--__ac-r-right-2xl);
  }

  .navds-r-bottom {
    --__ac-r-bottom: var(--__ac-r-bottom-2xl);
  }

  .navds-r-left {
    --__ac-r-left: var(--__ac-r-left-2xl);
  }

  .navds-r-overflow {
    --__ac-r-overflow: var(--__ac-r-overflow-2xl);
  }

  .navds-r-overflowx {
    --__ac-r-overflowx: var(--__ac-r-overflowx-2xl);
  }

  .navds-r-overflowy {
    --__ac-r-overflowy: var(--__ac-r-overflowy-2xl);
  }

  .navds-r-flex-basis {
    --__ac-r-flex-basis: var(--__ac-r-flex-basis-2xl);
  }

  .navds-r-flex-grow {
    --__ac-r-flex-grow: var(--__ac-r-flex-grow-2xl);
  }

  .navds-r-flex-shrink {
    --__ac-r-flex-shrink: var(--__ac-r-flex-shrink-2xl);
  }

  .navds-r-grid-column {
    --__ac-r-grid-column: var(--__ac-r-grid-column-2xl);
  }
}
