.navds-r-p {
  --__ac-r-p-xs: initial;
  --__ac-r-p-sm: var(--__ac-r-p-xs);
  --__ac-r-p-md: var(--__ac-r-p-sm);
  --__ac-r-p-lg: var(--__ac-r-p-md);
  --__ac-r-p-xl: var(--__ac-r-p-lg);
  --__ac-r-p-2xl: var(--__ac-r-p-xl);
  --__ac-r-padding: var(--__ac-r-p-xs);

  padding: var(--__ac-r-padding);
}

.navds-r-pi {
  --__ac-r-pi-xs: initial;
  --__ac-r-pi-sm: var(--__ac-r-pi-xs);
  --__ac-r-pi-md: var(--__ac-r-pi-sm);
  --__ac-r-pi-lg: var(--__ac-r-pi-md);
  --__ac-r-pi-xl: var(--__ac-r-pi-lg);
  --__ac-r-pi-2xl: var(--__ac-r-pi-xl);
  --__ac-r-pi: var(--__ac-r-p-xs);

  padding-inline: var(--__ac-r-pi);
}

.navds-r-pb {
  --__ac-r-pb-xs: initial;
  --__ac-r-pb-sm: var(--__ac-r-pb-xs);
  --__ac-r-pb-md: var(--__ac-r-pb-sm);
  --__ac-r-pb-lg: var(--__ac-r-pb-md);
  --__ac-r-pb-xl: var(--__ac-r-pb-lg);
  --__ac-r-pb-2xl: var(--__ac-r-pb-xl);
  --__ac-r-pb: var(--__ac-r-p-xs);

  padding-block: var(--__ac-r-pb);
}

@media (min-width: 480px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-sm);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-sm);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-sm);
  }
}

@media (min-width: 768px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-md);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-md);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-md);
  }
}

@media (min-width: 1024px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-lg);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-lg);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-lg);
  }
}

@media (min-width: 1280px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-xl);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-xl);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-xl);
  }
}

@media (min-width: 1440px) {
  .navds-r-p {
    --__ac-r-padding: var(--__ac-r-p-2xl);
  }

  .navds-r-pi {
    --__ac-r-pi: var(--__ac-r-pi-2xl);
  }

  .navds-r-pb {
    --__ac-r-pb: var(--__ac-r-pb-2xl);
  }
}
