.navds-bleed {
  --__ac-bleed-margin-inline-xs: initial;
  --__ac-bleed-margin-inline-sm: var(--__ac-bleed-margin-inline-xs);
  --__ac-bleed-margin-inline-md: var(--__ac-bleed-margin-inline-sm);
  --__ac-bleed-margin-inline-lg: var(--__ac-bleed-margin-inline-md);
  --__ac-bleed-margin-inline-xl: var(--__ac-bleed-margin-inline-lg);
  --__ac-bleed-margin-inline-2xl: var(--__ac-bleed-margin-inline-xl);
  --__ac-bleed-margin-block-xs: initial;
  --__ac-bleed-margin-block-sm: var(--__ac-bleed-margin-block-xs);
  --__ac-bleed-margin-block-md: var(--__ac-bleed-margin-block-sm);
  --__ac-bleed-margin-block-lg: var(--__ac-bleed-margin-block-md);
  --__ac-bleed-margin-block-xl: var(--__ac-bleed-margin-block-lg);
  --__ac-bleed-margin-block-2xl: var(--__ac-bleed-margin-block-xl);

  /** defaults */
  --__ac-bleed-margin-inline: var(--__ac-bleed-margin-inline-xs);
  --__ac-bleed-margin-block: var(--__ac-bleed-margin-block-xs);

  margin-inline: var(--__ac-bleed-margin-inline);
  margin-block: var(--__ac-bleed-margin-block);
}

.navds-bleed--padding {
  --__ac-bleed-padding-inline-xs: initial;
  --__ac-bleed-padding-inline-sm: var(--__ac-bleed-padding-inline-xs);
  --__ac-bleed-padding-inline-md: var(--__ac-bleed-padding-inline-sm);
  --__ac-bleed-padding-inline-lg: var(--__ac-bleed-padding-inline-md);
  --__ac-bleed-padding-inline-xl: var(--__ac-bleed-padding-inline-lg);
  --__ac-bleed-padding-inline-2xl: var(--__ac-bleed-padding-inline-xl);
  --__ac-bleed-padding-block-xs: initial;
  --__ac-bleed-padding-block-sm: var(--__ac-bleed-padding-block-xs);
  --__ac-bleed-padding-block-md: var(--__ac-bleed-padding-block-sm);
  --__ac-bleed-padding-block-lg: var(--__ac-bleed-padding-block-md);
  --__ac-bleed-padding-block-xl: var(--__ac-bleed-padding-block-lg);
  --__ac-bleed-padding-block-2xl: var(--__ac-bleed-padding-block-xl);

  /** defaults */
  --__ac-bleed-padding-inline: var(--__ac-bleed-padding-inline-xs);
  --__ac-bleed-padding-block: var(--__ac-bleed-padding-block-xs);

  padding-inline: var(--__ac-bleed-padding-inline);
  padding-block: var(--__ac-bleed-padding-block);
}

@media (width >= 480px) {
  .navds-bleed {
    --__ac-bleed-margin-inline: var(--__ac-bleed-margin-inline-sm);
    --__ac-bleed-margin-block: var(--__ac-bleed-margin-block-sm);
  }

  .navds-bleed--padding {
    --__ac-bleed-padding-inline: var(--__ac-bleed-padding-inline-sm);
    --__ac-bleed-padding-block: var(--__ac-bleed-padding-block-sm);
  }
}

@media (width >= 768px) {
  .navds-bleed {
    --__ac-bleed-margin-inline: var(--__ac-bleed-margin-inline-md);
    --__ac-bleed-margin-block: var(--__ac-bleed-margin-block-md);
  }

  .navds-bleed--padding {
    --__ac-bleed-padding-inline: var(--__ac-bleed-padding-inline-md);
    --__ac-bleed-padding-block: var(--__ac-bleed-padding-block-md);
  }
}

@media (width >= 1024px) {
  .navds-bleed {
    --__ac-bleed-margin-inline: var(--__ac-bleed-margin-inline-lg);
    --__ac-bleed-margin-block: var(--__ac-bleed-margin-block-lg);
  }

  .navds-bleed--padding {
    --__ac-bleed-padding-inline: var(--__ac-bleed-padding-inline-lg);
    --__ac-bleed-padding-block: var(--__ac-bleed-padding-block-lg);
  }
}

@media (width >= 1280px) {
  .navds-bleed {
    --__ac-bleed-margin-inline: var(--__ac-bleed-margin-inline-xl);
    --__ac-bleed-margin-block: var(--__ac-bleed-margin-block-xl);
  }

  .navds-bleed--padding {
    --__ac-bleed-padding-inline: var(--__ac-bleed-padding-inline-xl);
    --__ac-bleed-padding-block: var(--__ac-bleed-padding-block-xl);
  }
}

@media (width >= 1440px) {
  .navds-bleed {
    --__ac-bleed-margin-inline: var(--__ac-bleed-margin-inline-2xl);
    --__ac-bleed-margin-block: var(--__ac-bleed-margin-block-2xl);
  }

  .navds-bleed--padding {
    --__ac-bleed-padding-inline: var(--__ac-bleed-padding-inline-2xl);
    --__ac-bleed-padding-block: var(--__ac-bleed-padding-block-2xl);
  }
}
