.navds-box-bg {
  --__ac-box-background: initial;

  background-color: var(--__ac-box-background);
}

.navds-box-border-color {
  --__ac-box-border-color: initial;

  border-color: var(--__ac-box-border-color);
}

.navds-box-border-width {
  --__ac-box-border-width: initial;

  border-style: solid;
  border-width: var(--__ac-box-border-width, 0);
}

.navds-box-border-radius {
  --__ac-box-radius-xs: initial;
  --__ac-box-radius-sm: var(--__ac-box-radius-xs);
  --__ac-box-radius-md: var(--__ac-box-radius-sm);
  --__ac-box-radius-lg: var(--__ac-box-radius-md);
  --__ac-box-radius-xl: var(--__ac-box-radius-lg);
  --__ac-box-radius-2xl: var(--__ac-box-radius-xl);
  --__ac-box-radius: var(--__ac-box-radius-xs);

  border-radius: var(--__ac-box-radius);
}

.navds-box-shadow {
  --__ac-box-shadow: initial;

  box-shadow: var(--__ac-box-shadow);
}

@media (min-width: 480px) {
  .navds-box-border-radius {
    --__ac-box-radius: var(--__ac-box-radius-sm);
  }
}

@media (min-width: 768px) {
  .navds-box-border-radius {
    --__ac-box-radius: var(--__ac-box-radius-md);
  }
}

@media (min-width: 1024px) {
  .navds-box-border-radius {
    --__ac-box-radius: var(--__ac-box-radius-lg);
  }
}

@media (min-width: 1280px) {
  .navds-box-border-radius {
    --__ac-box-radius: var(--__ac-box-radius-xl);
  }
}

@media (min-width: 1440px) {
  .navds-box-border-radius {
    --__ac-box-radius: var(--__ac-box-radius-2xl);
  }
}
