.navds-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100lvh;

  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--__ac-page-background);
}

/* Page.Block */
.navds-pageblock {
  --__ac-page-padding-inline: 0px;

  margin-inline: auto;
  width: 100%;
}

.navds-page__content--grow {
  flex-grow: 1;
}

.navds-page__content--fullheight {
  min-height: 100vh;
  min-height: 100lvh;
}

.navds-page__content--padding {
  padding-block-end: var(--a-spacing-16);
}

.navds-pageblock--text {
  max-width: calc(var(--a-text-width-max) + var(--__ac-page-padding-inline) + var(--__ac-page-padding-inline));
}

.navds-pageblock--md {
  max-width: 768px;
}

.navds-pageblock--lg {
  max-width: 1024px;
}

.navds-pageblock--xl {
  max-width: 1280px;
}

.navds-pageblock--2xl {
  max-width: 1440px;
}

.navds-pageblock--gutters {
  --__ac-page-padding-inline: var(--a-spacing-4);

  padding-inline: var(--__ac-page-padding-inline);
}

@media (min-width: 1024px) {
  .navds-pageblock--gutters {
    --__ac-page-padding-inline: var(--a-spacing-12);
  }
}
