.navds-stack {
  display: flex;
}

.navds-stack-gap {
  --__ac-stack-gap-xs: initial;
  --__ac-stack-gap-sm: var(--__ac-stack-gap-xs);
  --__ac-stack-gap-md: var(--__ac-stack-gap-sm);
  --__ac-stack-gap-lg: var(--__ac-stack-gap-md);
  --__ac-stack-gap-xl: var(--__ac-stack-gap-lg);
  --__ac-stack-gap-2xl: var(--__ac-stack-gap-xl);
  --__ac-stack-gap: var(--__ac-stack-gap-xs);

  gap: var(--__ac-stack-gap);
}

.navds-stack-align {
  --__ac-stack-align-xs: initial;
  --__ac-stack-align-sm: var(--__ac-stack-align-xs);
  --__ac-stack-align-md: var(--__ac-stack-align-sm);
  --__ac-stack-align-lg: var(--__ac-stack-align-md);
  --__ac-stack-align-xl: var(--__ac-stack-align-lg);
  --__ac-stack-align-2xl: var(--__ac-stack-align-xl);
  --__ac-stack-align: var(--__ac-stack-align-xs);

  align-items: var(--__ac-stack-align);
}

.navds-stack-justify {
  --__ac-stack-justify-xs: initial;
  --__ac-stack-justify-sm: var(--__ac-stack-justify-xs);
  --__ac-stack-justify-md: var(--__ac-stack-justify-sm);
  --__ac-stack-justify-lg: var(--__ac-stack-justify-md);
  --__ac-stack-justify-xl: var(--__ac-stack-justify-lg);
  --__ac-stack-justify-2xl: var(--__ac-stack-justify-xl);
  --__ac-stack-justify: var(--__ac-stack-justify-xs);

  justify-content: var(--__ac-stack-justify);
}

.navds-stack-direction {
  --__ac-stack-direction-xs: initial;
  --__ac-stack-direction-sm: var(--__ac-stack-direction-xs);
  --__ac-stack-direction-md: var(--__ac-stack-direction-sm);
  --__ac-stack-direction-lg: var(--__ac-stack-direction-md);
  --__ac-stack-direction-xl: var(--__ac-stack-direction-lg);
  --__ac-stack-direction-2xl: var(--__ac-stack-direction-xl);
  --__ac-stack-direction: var(--__ac-stack-direction-xs);

  flex-direction: var(--__ac-stack-direction);
}

.navds-stack-wrap {
  flex-wrap: wrap;
}

.navds-stack__spacer {
  flex: 1;
  align-self: stretch;
}

.navds-stack > .navds-stack__spacer {
  margin-block-start: calc(var(--__ac-stack-gap) * -1);
  margin-inline-start: calc(var(--__ac-stack-gap) * -1);
}

@media (min-width: 480px) {
  .navds-stack-gap {
    --__ac-stack-gap: var(--__ac-stack-gap-sm);
  }

  .navds-stack-align {
    --__ac-stack-align: var(--__ac-stack-align-sm);
  }

  .navds-stack-justify {
    --__ac-stack-justify: var(--__ac-stack-justify-sm);
  }

  .navds-stack-direction {
    --__ac-stack-direction: var(--__ac-stack-direction-sm);
  }
}

@media (min-width: 768px) {
  .navds-stack-gap {
    --__ac-stack-gap: var(--__ac-stack-gap-md);
  }

  .navds-stack-align {
    --__ac-stack-align: var(--__ac-stack-align-md);
  }

  .navds-stack-justify {
    --__ac-stack-justify: var(--__ac-stack-justify-md);
  }

  .navds-stack-direction {
    --__ac-stack-direction: var(--__ac-stack-direction-md);
  }
}

@media (min-width: 1024px) {
  .navds-stack-gap {
    --__ac-stack-gap: var(--__ac-stack-gap-lg);
  }

  .navds-stack-align {
    --__ac-stack-align: var(--__ac-stack-align-lg);
  }

  .navds-stack-justify {
    --__ac-stack-justify: var(--__ac-stack-justify-lg);
  }

  .navds-stack-direction {
    --__ac-stack-direction: var(--__ac-stack-direction-lg);
  }
}

@media (min-width: 1280px) {
  .navds-stack-gap {
    --__ac-stack-gap: var(--__ac-stack-gap-xl);
  }

  .navds-stack-align {
    --__ac-stack-align: var(--__ac-stack-align-xl);
  }

  .navds-stack-justify {
    --__ac-stack-justify: var(--__ac-stack-justify-xl);
  }

  .navds-stack-direction {
    --__ac-stack-direction: var(--__ac-stack-direction-xl);
  }
}

@media (min-width: 1440px) {
  .navds-stack-gap {
    --__ac-stack-gap: var(--__ac-stack-gap-2xl);
  }

  .navds-stack-align {
    --__ac-stack-align: var(--__ac-stack-align-2xl);
  }

  .navds-stack-justify {
    --__ac-stack-justify: var(--__ac-stack-justify-2xl);
  }

  .navds-stack-direction {
    --__ac-stack-direction: var(--__ac-stack-direction-2xl);
  }
}
