.navds-stack {
  --__ac-stack-align: initial;
  --__ac-stack-justify: initial;
  --__ac-stack-direction: initial;
  --__ac-stack-wrap: initial;
  --__ac-stack-gap-xs: initial;
  --__ac-stack-gap-sm: initial;
  --__ac-stack-gap-md: initial;
  --__ac-stack-gap-lg: initial;
  --__ac-stack-gap-xl: initial;
  --__ac-stack-gap: var(--__ac-stack-gap-xs);

  gap: var(--__ac-stack-gap);
  display: flex;
  align-items: var(--__ac-stack-align);
  justify-content: var(--__ac-stack-justify);
  flex-flow: var(--__ac-stack-direction) var(--__ac-stack-wrap);
}

.navds-stack__spacer {
  flex: 1;
  justify-self: stretch;
  align-self: stretch;
}

.navds-stack > .navds-stack__spacer {
  margin-block-start: calc(var(--__ac-stack-gap) * -1);
}

.navds-hstack > .navds-stack__spacer {
  margin-inline-start: calc(var(--__ac-stack-gap) * -1);
}

@media (min-width: 480px) {
  .navds-stack {
    --__ac-stack-gap: var(--__ac-stack-gap-sm, var(--__ac-stack-gap-xs));
  }
}

@media (min-width: 768px) {
  .navds-stack {
    --__ac-stack-gap: var(--__ac-stack-gap-md, var(--__ac-stack-gap-sm, var(--__ac-stack-gap-xs)));
  }
}

@media (min-width: 1024px) {
  .navds-stack {
    --__ac-stack-gap: var(--__ac-stack-gap-lg, var(--__ac-stack-gap-md, var(--__ac-stack-gap-sm, var(--__ac-stack-gap-xs))));
  }
}

@media (min-width: 1280px) {
  .navds-stack {
    --__ac-stack-gap: var(
      --__ac-stack-gap-xl,
      var(--__ac-stack-gap-lg, var(--__ac-stack-gap-md, var(--__ac-stack-gap-sm, var(--__ac-stack-gap-xs))))
    );
  }
}
