@import './../../../../../node_modules/highlight.js/styles/github.css';

.codeExample {
  padding: 12px;
  margin: 0px 24px 24px 12px;
  background-color: #e7e9e9;
  word-wrap: break-word;

  pre {
    white-space: pre-wrap;
  }
}