@import "../../styles.less";

.tabell--dos-donts {
  td {
    position: relative;
    padding-left: 3rem !important;
    vertical-align: top;
  }
}

.language__table-icon {
  position: absolute;
  top: 0.8rem;
  left: 1rem;

  svg {
    width: 24px;
  }
}
