@layer tw-base, framework, tw-components, tw-utilities;

@import url("tailwindcss/base") layer(tw-base);
@import url("@navikt/ds-css") layer(framework);
@import url("tailwindcss/components") layer(tw-components);
@import url("tailwindcss/utilities") layer(tw-utilities);

#root {
  width: 100%;
}

.navds-list > ul {
  margin-top: 0;
}

.activity-card:hover {
  border-color: var(--ax-border-accent);
}

.activity-card:focus-within {
  outline: 3px solid var(--ax-border-focus);
  outline-offset: 3px;
}

.activity-card__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.activity-card__link:focus {
  outline: none;
}

.navds-modal::backdrop {
  background-color: rgba(2, 10, 23, 0.88);
}
