.test {
  margin: var(--a-spacing-4);
  padding: var(--a-spacing-0);
  padding: var(--a-spacing-1-alt);
  padding: var(--a-spacing-05);
  /* Has replacement */
  background-color: var(--a-surface-subtle);
  /* Has no replacement */
  background-color: var(--a-surface-transparent);

  /* Is detected as legacy */
  --a-surface-neutral: red;
  --a-surface-subtle: orange;
  --a-surface-action:blue;
  --a-surface-action-selected :red;

  /* Border-radius */
  border-radius: var(--a-border-radius-small);
  border-radius: var(--a-border-radius-medium);
  border-radius: var(--a-border-radius-large);
  border-radius: var(--a-border-radius-xlarge);
  border-radius: var(--a-border-radius-full);
}
