.test-scss {
  margin: $a-spacing-4;
  padding: $a-spacing-0;
  padding: $a-spacing-1-alt;
  padding: $a-spacing-05;
  gap: common.$a-spacing-1-alt;
  gap: common.$a-spacing-05;
  /* Has replacement */
  background-color: $a-surface-subtle;
  /* Has no replacement */
  background-color: $a-surface-transparent;

  /* Border radius tokens - SHOULD migrate to numeric values */
  border-radius: $ax-border-radius-full;
  border-radius: $ax-border-radius-small;
  border-radius: $ax-border-radius-medium;
  border-radius: $ax-border-radius-large;
  border-radius: $ax-border-radius-xlarge;
}
