@import (reference) '~nav-frontend-core/less/_variabler';

.color-group {
  margin: 2rem 0;

  .color-description {
    background: #f4f4f4;
    padding: 1rem;

    p, .typo-element {
      line-height:1.5rem;

      &:first-child {
        margin-top: 0 !important;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}