@import (reference) '~nav-frontend-core/less/_variabler';

.color-group {
  margin: 2rem 0;

  .color-description {
    background: #f4f4f4;
    padding: 1rem;

    p, .typo-element {
      line-height:1.5rem;

      &:first-child {
        margin-top: 0 !important;
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

#color-modal {
  width: 500px;
  padding: 1rem;

  .color-banner {
    height: 5rem;
    margin: 0 -2rem;
    margin-bottom: 1rem;
  }

  .typo-systemtittel {
    margin-bottom: 1.5rem;
  }

  .typo-undertittel, .typo-ingress {
    margin-bottom: 1rem;
  }

  .typo-etikett-liten {
    margin-bottom: 0.5rem;
    color: @navGra60;
    display:flex;
    justify-content: space-between;
  }

  .section {
    margin-top: 1.5rem;
  }

  .color-values {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .color-value-pair {
      width: 50%;
      line-height: 1.5rem;
      padding: 0 1rem;
      margin-bottom: 1rem;

      span {
        display: block;
        font-size:1.75rem;
        padding: 0.5rem;
        background: #f4f4f4;
      }
    }
  }
}

.table-element-type {
  display:flex;
  align-items:center;

  i {
    display:flex;
    width:4rem;
    height:4rem;
    border-radius:50%;
    background:#f4f4f4;
    justify-content:center;
    align-items:center;
    margin-right:1.5rem;
    overflow:hidden;
    position:relative;

    svg {
      width:80%;
    }

    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:50%;
      box-shadow:inset 0 0 10px rgba(0,0,0,0.05);
      z-index:1;
    }
  }

  #color-accessibility__typo-icon {
    svg {
      width: 50%;
      fill: @navGra80;
    }
  }
  
  #color-accessibility__button-icon {
    svg {
      width: 200%;
      position:relative;
      left:0.75rem;
    }
  }

  #color-accessibility__graphics-icon {
    svg {
      width: 60%;
      position:relative;
      top:0.5rem;
    }
  }
}

#color-accessibility__contrast-table {
  // margin: 2rem 0;
  // margin-bottom:0rem;

  th, td {

  }
  tbody {
    font-size: 1.25rem;
    td {
      vertical-align:middle;
    }
  }
}