@import (reference) "nav-frontend-core/less/_variabler";

.mainNav {
  background: white;
  margin-bottom: -1.3rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      width: 100%;
      flex-wrap: wrap;

      li {
        a {
          height: 100%;
          white-space: nowrap;
          display: block;
          font-size: 1.2rem;
          color: @navMorkGra;
          padding: 0.75rem 1.25rem;
          padding-bottom: 1.3rem;
          text-decoration: none;
          border-bottom: 4px solid transparent;
          position: relative;
          top: 4px;
          padding-top: 1.4rem;

          &:hover {
            color: @navBla;
            border-bottom: 4px solid @navBla;
            z-index: 1;
          }

          &:focus {
            outline: none;
            color: @navBla;
            border-bottom: 4px solid @navBla;
            z-index: 1;
          }
          &:active {
            outline: none;
            color: @fokusFarge;
            border-bottom: 4px solid @fokusFarge;
            z-index: 1;
          }
          &.active:focus {
            outline: none;
            border-bottom: 4px solid @navBla;
            color: @navBla;
            z-index: 1;
          }

          &.active {
            background: white;
            font-weight: bold;
            border-bottom: 4px solid @fokusFarge;
            color: @navMorkGra;
            z-index: 1;
          }

          &.github {
            padding-left: 2.85rem;

            svg {
              width: 1.25rem;
              margin-right: 0.25rem;
              position: absolute;
              left: 1.25rem;
              fill: @navBla;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1094px) {
    display: none;
  }
}
