.navds-story-cell {
  border-radius: var(--navds-border-radius-medium);
  background: white;
  padding: 1rem;
}

.navds-story-content-container {
  display: flex;
  border-radius: var(--navds-border-radius-medium);
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  min-height: 10rem;
  background: repeating-linear-gradient(
    45deg,
    #d6d6d6,
    #d6d6d6 10px,
    transparent 10px,
    transparent 20px
  );
}
