@import "./step.css";

/* Stepper */
.navds-stepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* AFTER ARROW vertical */

/* .navds-stepper--vertical > * .navds-step__line::after {
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: var(--navds-color-gray-40);
  content: "";
  display: inline-block;
  height: 8px;
  width: 0.45em;
  left: -3px;
  top: -1.5rem;
  position: relative;
  transform: rotate(-45deg);
} */

/* AFTER ARROW horizontal */

/* .navds-stepper--horizontal > * .navds-step__line::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: var(--navds-color-gray-40);
  content: "";
  display: inline-block;
  height: 8px;
  width: 0.45em;
  right: -4rem;
  top: -1.3rem;
  position: relative;
  transform: rotate(-45deg);
} */
