/* Step */
.navds-step {
  border: 2px solid transparent;
  position: relative;
  text-align: left;
  line-height: 1.5;
  padding: 0.5rem;
  margin-bottom: 2.75rem;
  border: 2px solid transparent;
  display: flex;
}

.navds-stepper--colorful > * .navds-step--inProgress > * svg {
  color: var(--navds-color-blue-60);
  background-color: #fff;
}

.navds-stepper--colorful > * .navds-step--warning > * svg {
  color: var(--navds-color-orange-40);
  background: radial-gradient(
    circle,
    var(--navds-color-darkgray) 50%,
    0,
    transparent
  );
}

.navds-stepper--colorful > * .navds-step--finished > * svg {
  color: var(--navds-color-green-50);
  background-color: #fff;
}

.navds-step--active.navds-step--inProgress > * svg,
.navds-step--active.navds-step--finished > * svg,
.navds-step--active.navds-step--warning > * svg {
  background-color: #fff;
}

.navds-step--finished > .navds-step__indicator,
.navds-step--inProgress > .navds-step__indicator {
  background-color: #fff;
  box-shadow: none;
}

/* prettier-ignore */
.navds-stepper--colorful > * .navds-step.navds-step--warning > .navds-step__indicator {
  box-shadow: none;
  background: none;
}

.navds-step > * svg {
  color: var(--navds-color-darkgray);
  background-color: #fff;
}

a.navds-step > * svg,
button.navds-step > * svg {
  color: var(--navds-color-blue-50);
}

button.navds-step.navds-step--active,
a.navds-step.navds-step--active {
  text-decoration: none;
}

button.navds-step:focus,
a.navds-step:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-step__indicator {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 0 2px var(--navds-color-darkgray) inset;
  background-color: #fff;
}

.navds-stepper > li:not(:last-child) > .navds-step::before,
.navds-stepper--arrow > li:last-child > .navds-step::before {
  content: "";
  position: absolute;

  /* left padding + indicator width/2 - line width/2 */
  left: calc(0.5rem + 2rem / 2 - 2px / 2);

  /* top padding + indicator width - line padding */
  top: calc(0.5rem + 2rem + 4px);
  width: 2px;

  /* this just works. not sure why */
  height: calc(100% + 8px);
  background-color: var(--navds-color-gray-40);
  z-index: 1;
  border-radius: 0.5rem;
}

/* prettier-ignore */
.navds-stepper > li:not(:last-child) > .navds-step--inProgress:not(.navds-step--disabled).navds-step.navds-step--active::before {
  height: calc(65% + 8px - 2px);
  top: calc(35% + 0.5rem + 2rem + 4px + 2px);
}

/* prettier-ignore */
.navds-stepper.navds-stepper--arrow > li:last-child > .navds-step--inProgress.navds-step.navds-step--active::before {
  top: calc(35% + 0.5rem + 2rem + 4px + 2px);
}

/* prettier-ignore */
.navds-stepper.navds-stepper--arrow > li:last-child > .navds-step.navds-step--active::before {
  height: calc(65% + 8px - 2px);
}

/* prettier-ignore */
.navds-stepper > li:not(:last-child) > .navds-step.navds-step--before-active::before {
  background-color: var(--navds-color-darkgray);
}

/* prettier-ignore */
.navds-step--inProgress.navds-step.navds-step--active:not(.navds-step--disabled) > .navds-step__indicator::before {
  content: "";
  position: absolute;

  /* left padding + indicator width/2 - line width/2 */
  left: calc(0.5rem + 2rem / 2 - 4px / 2);

  /* top padding + indicator width - line padding */
  top: calc(0.5rem + 2rem + 4px);
  width: 4px;

  /* this just works. not sure why */
  height: 35%;
  background-color: var(--navds-color-darkgray);
  border-radius: 0.5rem;
}

/* prettier-ignore */
.navds-stepper:not(.navds-stepper--arrow) > li:last-child > .navds-step--inProgress.navds-step.navds-step--active:not(.navds-step--disabled) > .navds-step__indicator::before {
  content: none;
}

.navds-stepper--arrow > li:last-child > .navds-step {
  margin-bottom: calc(2.75rem + 10px + 0.5rem);
}

/* prettier-ignore */
a.navds-step--inProgress.navds-step.navds-step--active:not(.navds-step--disabled) > .navds-step__indicator::before,
button.navds-step--inProgress.navds-step.navds-step--active:not(.navds-step--disabled) > .navds-step__indicator::before,
.navds-stepper--colorful > * .navds-step--inProgress.navds-step.navds-step--active:not(.navds-step--disabled) > .navds-step__indicator::before {
  background-color: var(--navds-color-blue-60);
}

.navds-stepper.navds-stepper--arrow > li:last-child > .navds-step::after {
  content: "";
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: var(--navds-color-gray-40);
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(0.5rem + 2rem / 2 - 10px / 2);
  top: calc(2.75rem + 100% - 2px);
  border-radius: 2px;
}

.navds-stepper > * .navds-step__indicator {
  margin-right: 0.5rem;
  float: left;
}

.navds-step__indicator > svg {
  font-size: 2rem;
}

.navds-step--active > .navds-step__indicator {
  background-color: var(--navds-color-darkgray);
  box-shadow: none;
  color: #fff;
}

button.navds-step > * .navds-step__indicator,
button.navds-step > .navds-step__indicator,
a.navds-step > * .navds-step__indicator,
a.navds-step > .navds-step__indicator {
  color: var(--navds-color-blue-60);
  box-shadow: 0 0 0 2px var(--navds-color-blue-60) inset;
}

button.navds-step.navds-step--active > .navds-step__indicator,
a.navds-step.navds-step--active > .navds-step__indicator {
  background-color: var(--navds-color-blue-50);
  box-shadow: 0 0 0 2px var(--navds-color-blue-50) inset;
  color: #fff;
}

.navds-stepper > * .navds-step__label {
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 3px;
}

button.navds-step,
a.navds-step {
  background: none;
  text-decoration: underline;
  color: var(--navds-color-blue-50);
  text-align: left;
}

.navds-step--active > .navds-step__label {
  color: var(--navds-color-darkgray);
  text-decoration: none;
}

.navds-step--disabled.navds-step--inProgress > * svg,
.navds-step--disabled.navds-step--warning > * svg,
.navds-step--disabled.navds-step--finished > * svg {
  color: var(--navds-color-disabled);
  background: #fff;
}

.navds-step--disabled > .navds-step__label {
  color: var(--navds-color-gray-40);
  text-decoration: none;
}

.navds-step.navds-step--disabled {
  cursor: initial;
}

a.navds-step:hover:not(.navds-step--disabled),
button.navds-step:hover:not(.navds-step--disabled) {
  border: 2px solid var(--navds-color-blue-50);
  text-decoration: none;
  cursor: pointer;
}

/* prettier-ignore */
button.navds-step:focus:not(.navds-step--disabled),
a.navds-step:hover:not(.navds-step--disabled) {
  text-decoration: none;
}

.navds-step--disabled > .navds-step__indicator {
  box-shadow: 0 0 0 2px var(--navds-color-gray-40) inset;
  color: var(--navds-color-gray-40);
  background-color: #fff;
}

.navds-step.navds-step--disabled > .navds-step__indicator {
  box-shadow: 0 0 0 2px var(--navds-color-gray-40) inset;
  color: var(--navds-color-gray-40);
}

.navds-step.navds-step--disabled.navds-step--active > .navds-step__indicator {
  background-color: var(--navds-color-gray-40);
  color: #fff;
  box-shadow: none;
}

button.navds-step.navds-step--disabled,
a.navds-step.navds-step--disabled {
  text-decoration: none;
}

.navds-step--disabled.navds-step--active > .navds-step__label {
  color: var(--navds-color-disabled);
}
