.label--undertema {
  color: rgba(15 118 110 / 1);
}

.label--innholdstype {
  color: rgba(123 66 194 / 1);
}

/* IE, Edge and Firefox */
.chips {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
.chips::-webkit-scrollbar {
  display: none;
}

.shadow {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 64px;
  pointer-events: none;

  --shadow-color: var(--a-surface-subtle);
}

.shadowStart {
  left: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(90deg, var(--shadow-color), var(--shadow-color), transparent);
}

.shadowEnd {
  right: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(-90deg, var(--shadow-color), var(--shadow-color), transparent);
}
