.form-validation-pattern {
  position: relative;

  .skjemagruppe {
    margin-bottom: 1rem;
  }

  .knapp--flat {
    margin-left: 1rem;
  }

  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .receipt {
    text-align: center;
    padding: 2rem;
  }

  .form-buttons {
    margin-top: 3rem;
  }

  .feiloppsummering,
  .fancy-feiloppsummering,
  .alertstripe {
    margin: 2rem 0 3rem;
  }

  .inputPanelGruppe__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;

    .inputPanel {
      margin: 0;
    }
  }

  .postnr-sted {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;

    &__postnr {
      grid-column: 1;
    }

    &__poststed {
      grid-column: ~"2 / 4";
    }
  }
}
