.promoTag {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-block: var(--ax-space-2);
  padding-right: var(--ax-space-8);
  gap: var(--ax-space-6);
  background-color: var(--aksel-bg-brand-pink-moderate);
  border: 1px solid var(--aksel-brand-pink-400A, #f96c7f42);
  border-radius: var(--ax-border-radius-xlarge);
  color: var(--ax-text-default, #4e082d);

  &:hover {
    background-color: var(--aksel-brand-pink-300, #fcdaee);
    border-color: var(--aksel-brand-pink-500, #d33785);
  }
}

.promoTagLabel {
  display: flex;
  padding: 0 var(--ax-space-8);
  border-radius: var(--ax-border-radius-xlarge);
  background-color: var(--aksel-brand-pink-600, #d33785);
  margin-block: -3px;
  margin-inline-start: -1px;
  align-items: center;
  color: var(--ax-text-contrast, #fff);
}
