/* stylelint-disable csstools/value-no-unknown-custom-properties */
.promoTag:focus-visible {
  outline: 3px solid var(--ax-border-focus);
  outline-offset: 3px;
  border-radius: var(--ax-border-radius-xlarge);
}

.promoTagContent {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-block: var(--ax-space-2);
  padding-right: var(--ax-space-8);
  gap: var(--ax-space-6);
  background-color: var(--aksel-bg-brand-pink-moderate);
  border: 1px solid var(--aksel-border-brand-pink-subtleA);
  border-radius: var(--ax-border-radius-xlarge);
  color: var(--ax-text-default);

  &:hover {
    background-color: var(--aksel-bg-brand-pink-moderate-hover);
    border-color: var(--aksel-border-brand-pink);
  }
}

.promoTagLabel {
  display: flex;
  padding: 0 var(--ax-space-8);
  border-radius: var(--ax-border-radius-xlarge);
  background-color: var(--aksel-bg-brand-pink-strong);
  margin-block: -3px;
  margin-inline-start: -1px;
  align-items: center;
  color: var(--ax-text-contrast);
}
