.tree {
  position: absolute;
  top: var(--ax-space-8);
  z-index: -1;
  transform: translateY(-100%);
  left: 0;
  user-select: none;
}

.right {
  left: calc(100% - var(--ax-space-24));
  transform: translateY(-100%) translateX(-100%);
}
