.sourceSansProSection {
  &__bigLetters {
    font-size: 270px;
    font-weight: bold;
    line-height: 0;
  }


  &__samplesWrapper {
    top: 100px;
    position: relative;
  }

  &__samples {
    font-size: 34px;
    padding-bottom: 12px;

    .sample {
      display: inline-block;
      width: 50%;
    }
  }
}

.typographyHierarchySection {
  &__hierarchySamples {
    padding: 16px 8px 16px 8px;
    margin-top: 8px;

    &--framed {
      border: solid 1px #979797;
    }

    *:not(:first-child) {
      padding-top: 38px;
    }

    span {
      color: #78706a;
      font-size: 14px;
    }
  }
}


.informationHierarchySection {
  .typo-sidetittel {
    text-align: center;
  }

  * > div {
    padding: 16px;
  }
}

.weightCombinationsSection {
  &__example {
    padding: 24px 0px 24px 0px;

    * {
      padding-bottom: 4px;
    }
  }
}


