@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";
@import "~normalize.css";
@import "~@navikt/ds-tokens/dist/tokens.css";
@import "Source-Sans-Pro-regular.css";
@import "Source-Sans-Pro-italic.css";
@import "Source-Sans-Pro-600.css";
@import "print.css";
@import "utility.css";

body {
  font-family: $navds-font-family;
  line-height: 1.375;
  color: $navds-color-text-primary;
  font-size: 1.125rem;
}

a {
  color: $navds-color-text-link;
}
