@import url(normalize.css);
@import url(Source-Sans-Pro-regular.css);
@import url(Source-Sans-Pro-italic.css);
@import url(Source-Sans-Pro-600.css);
@import url(print.css);
@import url(utility.css);

body {
  font-family: var(--navds-font-family);
  line-height: 1.375;
  color: var(--navds-color-text-primary);
  font-size: 1.125rem;
}

a {
  color: var(--navds-color-text-link);
}
