.propsSeksjon {
  background-color: var(--ax-bg-raised);
  color: var(--ax-text-neutral);
  border-radius: var(--ax-radius-8);
}

.propsSeksjonHeader {
  scroll-margin-block: var(--ax-space-32);
  border-radius: var(--ax-radius-8) var(--ax-radius-8) 0 0;
  border: 1px solid var(--ax-border-neutral-subtleA);
  border-bottom: none;
  background: var(--ax-bg-neutral-moderateA);
  padding: var(--ax-space-8);
}

.propsSeksjonRow {
  padding: var(--ax-space-8);
  border: 1px solid var(--ax-border-neutral-subtleA);
  border-block-start: none;

  &:last-of-type {
    border-radius: 0 0 var(--ax-radius-8) var(--ax-radius-8);
  }
}

.propsSeksjonLi {
  margin-block: var(--ax-space-12);
  display: flex;
  flex-direction: column;
  padding-inline: var(--ax-space-12);
  font-size: var(--ax-font-size-medium);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.propsSeksjonLiTitle {
  min-width: 6rem;
  font-weight: var(--ax-font-weight-bold);
  font-size: var(--ax-font-size-medium);
}

.propsSeksjonCodeExample {
  display: grid;
  font-size: var(--ax-font-size-small);
}

.propsSeksjonCode {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-family: var(--website-font-mono);
}
