.container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.panel {
  width: 50%;
}
p {
  padding-bottom: 30px;
}

.alerts {
  margin-top: 30px;
}
