.header-animated-bg {
  animation: animated-bg 60s ease infinite;
  z-index: 0;
}

@keyframes animated-bg {
  0% {
    background-color: #dccaf3;
  }

  10% {
    background-color: #dccaf3;
  }

  33% {
    background-color: #dccaf3;
  }

  45% {
    background-color: #b2f0e4;
  }

  60% {
    background-color: #b2f0e4;
  }

  90% {
    background-color: #dccaf3;
  }

  100% {
    background-color: #dccaf3;
  }
}

.animation-stop,
.animation-stop *,
.animation-stop *::before,
.animation-stop *::after {
  animation-delay: -1ms !important;
  animation-duration: 1ms !important;
  animation-iteration-count: 1 !important;
  background-attachment: initial !important;
  scroll-behavior: auto !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
