/* stylelint-disable aksel/design-token-no-global-override */
#sanity-wrapper[data-theme="dark"] {
  --a-text-action: var(--a-blue-200);
  --a-border-strong: var(--a-gray-200);
  --a-border-default: var(--a-gray-300);
  --ac-accordion-header-text-hover: var(--a-blue-200);
  --ac-accordion-item-bg-open: var(--a-deepblue-800);
}

/* Scales use of custom icon-use to same size as sanity-native icons */
.aksel-admin svg:not([data-sanity-icon]) {
  font-size: calc(21 / 16 * 1em);
}
