@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.navds-popover {
  z-index: 100;
  background-color: $navds-color-background;
  box-shadow: 0 0.05rem 0.25rem 0.125rem rgba(0, 0, 0, 0.08);
  border: $navds-border-default;
  border-radius: 2px;
  padding: 1rem;
}

.navds-popover--small {
  padding: 0.5rem;
}

.navds-popover--hidden {
  display: none;
}

.navds-popover:focus {
  outline: none;
  box-shadow: $navds-shadow-focus;
}

.navds-popover__arrow:before {
  content: "";
  display: block;
  width: $navds-size-popover-default;
  height: $navds-size-popover-default;
  transform: rotate(45deg);
  background-color: $navds-color-background;
  border: $navds-border-default;

  .navds-popover--small {
    width: $navds-size-popover-small;
    height: $navds-size-popover-small;
  }
}

.navds-popover[data-popper-placement^="top"] {
  & > .navds-popover__arrow {
    bottom: calc(#{$navds-size-popover-default} / -2);
  }

  &.navds-popover--small {
    & > .navds-popover__arrow {
      bottom: calc(#{$navds-size-popover-small} / -2);
    }
  }
}

.navds-popover[data-popper-placement^="top"] > .navds-popover__arrow:before {
  border-left-color: transparent;
  border-top-color: transparent;
}

.navds-popover[data-popper-placement^="bottom"] {
  & > .navds-popover__arrow {
    top: calc(#{$navds-size-popover-default} / -2);
  }

  &.navds-popover--small {
    & > .navds-popover__arrow {
      top: calc(#{$navds-size-popover-small} / -2);
    }
  }
}

.navds-popover[data-popper-placement^="bottom"] > .navds-popover__arrow:before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.navds-popover[data-popper-placement^="left"] {
  & > .navds-popover__arrow {
    right: calc(#{$navds-size-popover-default} / -2);
  }

  &.navds-popover--small {
    & > .navds-popover__arrow {
      right: calc(#{$navds-size-popover-small} / -2);
    }
  }
}

.navds-popover[data-popper-placement^="left"] > .navds-popover__arrow:before {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.navds-popover[data-popper-placement^="right"] {
  & > .navds-popover__arrow {
    left: calc(#{$navds-size-popover-default} / -2);
  }

  &.navds-popover--small {
    & > .navds-popover__arrow {
      left: calc(#{$navds-size-popover-small} / -2);
    }
  }
}

.navds-popover[data-popper-placement^="right"] > .navds-popover__arrow:before {
  border-right-color: transparent;
  border-top-color: transparent;
}
