/* stylelint-disable aksel/no-class-override */

.aksel-link-card {
  --__axc-link-card-padding-block: var(--ax-space-16);
  --__axc-link-card-padding-inline: var(--ax-space-20);

  border-radius: var(--ax-border-radius-xlarge);
  text-decoration: none;
  color: var(--ax-text-neutral);
  transition-property: border-color, box-shadow, transform, background-color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.15, 1, 0.3, 1);
  position: relative;
  background-color: var(--ax-bg-raised);
  border: 1px solid var(--ax-border-neutral-subtleA);
  padding: var(--__axc-link-card-padding-block) var(--__axc-link-card-padding-inline);
  height: 100%;

  &:hover {
    border-color: var(--ax-border-neutral);
    box-shadow: 0 0 0 1px var(--ax-border-neutral);
  }

  &:focus-within {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
  }

  &[data-active="true"] {
    background-color: var(--ax-bg-strong-pressed);
    border-color: transparent;
    box-shadow: none;
    color: var(--ax-text-contrast);
  }

  &[data-autoLayout="true"] {
    display: grid;
    grid-template-areas:
      "image image"
      "icon title"
      "icon description"
      "icon footer";
    grid-template-columns: auto 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: auto 1fr auto auto;
    align-items: center;
  }
}

.aksel-link-card__title {
  grid-area: title;
  height: fit-content;
  margin-bottom: var(--ax-space-16);
  color: var(--ax-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ax-space-8);
  width: 100%;

  &[data-variant="subtle"] {
    color: var(--ax-text-subtle);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.aksel-link-card__description {
  grid-area: description;
  margin-bottom: var(--ax-space-16);
  max-width: 400px;

  &:last-child {
    margin-bottom: 0;
  }
}

.aksel-link-card__footer {
  grid-area: footer;
  vertical-align: bottom;
}

.aksel-link-card__icon {
  grid-area: icon;
  width: max-content;
  height: max-content;
  display: grid;
  place-content: center;
  color: var(--ax-text-default);
  align-self: flex-start;
  margin-inline-end: var(--ax-space-20);
}

.aksel-link-card__icon--background {
  background-color: var(--ax-bg-moderateA);
  border-radius: var(--ax-border-radius-full);
  padding: var(--ax-space-12);
}

.aksel-link-card__anchor {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
  transition: text-decoration-thickness 200ms;

  .aksel-link-card:hover & {
    text-decoration-thickness: 0.111em;
  }

  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
}

.aksel-link-card__arrow {
  transition: transform 200ms;
  transform: translateX(0);
  width: 1.25rem;
  height: 1.25rem;
  color: currentColor;
  flex-shrink: 0;

  .aksel-link-card:hover &,
  [data-link-card-anchor]:hover & {
    transform: translateX(4px);
  }

  .aksel-link-card[data-arrow="false"] & {
    display: none;
  }
}

/* ----------------------------- LinkCard Image ----------------------------- */
.aksel-link-card__image-container {
  display: block;
  overflow: hidden;
  grid-area: image;
  border-radius: calc(var(--ax-border-radius-xlarge) - 1px);
  margin-block-start: calc(var(--__axc-link-card-padding-block) * -1);
  margin-inline: calc(var(--__axc-link-card-padding-inline) * 1 * -1);
}

.aksel-link-card__image {
  object-fit: cover;
  display: block;
}

.aksel-link-card__image--aspect-1-1 {
  aspect-ratio: 1 / 1;
}

.aksel-link-card__image--aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.aksel-link-card__image--aspect-16-10 {
  aspect-ratio: 16 / 10;
}

.aksel-link-card__image--aspect-4-3 {
  aspect-ratio: 4 / 3;
}
