.page-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    display:block;

    .page-header__toolbar {
      margin-top: 1rem;
    }
  }
}

.tabell-header {
  margin: 1rem 0;
  display:flex;
  justify-content: space-between;
  align-items: center;

  .typo-systemtittel {
    margin: 0;
  }
}

#filter-search-input {
  width:300px;
}

#disclaimer {
  margin: 0 0 3rem 0 !important;

  h2 {
    margin: 0 0 1rem 0;
  }
}