/* stylelint-disable csstools/value-no-unknown-custom-properties */
.systemPanel {
  padding: var(--ax-space-20);
  border-radius: var(--ax-border-radius-xlarge);
  border: 1px solid;
  border-color: var(--ax-border-subtleA);
  background: var(--ax-bg-soft);
}

.systemPanelContent {
  position: relative;
  padding-inline-start: calc(var(--ax-space-16) + 0.5rem);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100%;
    border-radius: var(--ax-border-radius-full);
    background-color: var(--ax-bg-strong);
  }
}

.systemPanelHeader {
  display: flex;
  align-items: center;
  gap: var(--ax-space-4);
  margin-block-end: var(--ax-space-4);
}

.systemPanelAction {
  margin-block-start: var(--ax-space-20);
}
