@import "~@navikt/ds-css/baseline/index.css";

.table-of-contents {
  display: none !important;
  width: 0px !important;
}

.ds-page-wrapper {
  display: grid;
  padding: 0;
  margin: 0;
  /* max-width: 2560px; */
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.ds-header {
  grid-area: header;
  display: flex;
  z-index: 300;
  justify-content: space-between;
  background-color: var(--header-color);
  min-height: auto;
}

.ds-content--wrapper {
  width: 100%;
}

.ds-content {
  grid-area: content;
  overflow-y: auto;
  padding: 24px 0 24px 24px;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 750px;
  margin: 0 auto 0 0;
}

.ds-header__title {
  text-decoration: none;
  color: white;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin-left: -1.5rem;
  column-gap: 1rem;
  font-weight: var(--navds-font-weight-bold);
  transition: background-color 150ms;
  white-space: nowrap;
  height: 3rem;
  transform: translateX(0);
  transition: transform 150ms;
}

.ds-header__title--wrapper {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  height: 3rem;
}

.ds-header__icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
  outline: none;
  border: none;
  height: 3rem;
  width: 3rem;
  background-color: var(--header-color);
  color: white;
}

.ds-header__icon--slideIn {
  transform: translateX(-100%);
  transition: transform 150ms;
}

.ds-header__icon--onSidebar {
  background-color: transparent;
  color: var(--text-color);
}

.ds-header__logo {
  font-size: 3rem;
  display: flex;
  position: absolute;
  left: calc(50% - 32px);
}

.ds-header__title > svg {
  font-size: 3rem;
}

.ds-header__link {
  height: 100%;
  fill: white;
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
  transition: background-color 100ms;
  display: flex;
  align-items: center;
}

.ds-header__title:hover,
.ds-header__icon:hover,
.ds-header__link:hover {
  background-color: var(--header-background-active);
}

.ds-header__title:focus,
.ds-header__icon:focus,
.ds-header__link:focus {
  outline: 2px solid white;
  outline-offset: -2px;
}

.ds-header__icon--onSidebar:hover {
  background-color: var(--menu-background-active);
}
.ds-header__icon--onSidebar:focus {
  background-color: transparent;
  outline: 2px solid var(--header-color);
  outline-offset: -2px;
}
.ds-header__icon--onSidebar:active {
  background-color: var(--menu-background-active);
  outline: 2px solid var(--header-color);
  outline-offset: -2px;
}

.ds-header-darkswitch {
  height: 30px;
  width: 30px;
}

.ds-header--right {
  display: flex;
}

.ds-sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-color);
  /* width: 256px; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  border-right: var(--sidebar-divider);
  width: 256px;
}

@media (max-width: 960px) {
  .ds-sidebar {
    display: none;
  }
  .ds-content {
    padding-left: 1rem;
  }
  .ds-header__icon--slideIn {
    transform: translateX(0%);
  }
  .ds-header__title {
    transform: translateX(1.5rem);
  }
}

.ds-sidebar * > li,
.ds-sidebar__mobile * > li {
  list-style: none;
}

.ds-sidebar__logo {
  text-decoration: none;
  color: white;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  font-weight: var(--navds-font-weight-bold);
}

.ds-sidebar__menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2rem 0 0 0;
}

.ds-sidebar__menu-item.active {
  font-weight: bold;
}

.ds-sidebar__submenu {
  max-height: max-content;
  visibility: inherit;
  display: block;
  padding: 0;
}

.ds-sidebar__submenu--hidden {
  visibility: hidden;
  max-height: 0px;
}

.ds-sidebar__submenu--item {
  height: 2rem;
  min-height: 2rem;
  padding-left: 2rem;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.ds-sidebar__button {
  font-weight: var(--navds-font-weight-bold);
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
  appearance: none;
  margin: 0;
  border: none;
  width: 100%;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.ds-sidebar__chevron {
  width: 1rem;
  height: 1rem;
  transition: 150ms transform;
}

.ds-sidebar__button,
.ds-sidebar__submenu--item {
  background-color: transparent;
  outline-width: 0px;
  outline-offset: 0px;
  transition: background-color 100ms;
  transition: outline-width 100ms;
  transition: outline-offset 100ms;
}

.ds-sidebar__button:hover,
.ds-sidebar__submenu--item:hover {
  background-color: var(--menu-background-active);
}

.ds-sidebar__button:focus,
.ds-sidebar__submenu--item:focus {
  background-color: var(--menu-background-active);
  outline: var(--focus-outline);
  outline-offset: -2px;
}

.ds-sidebar__mobile {
  z-index: 999;
  display: flex;
  background-color: var(--sidebar-color);
  flex-direction: column;
  color: var(--text-color);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  position: fixed;
  left: -256px;
  min-height: 100vh;
  border-right: var(--sidebar-divider);
}

.ds-sidebar__mobile--open {
  transform: translateX(100%);
}

.ds-sidebar--overlay {
  display: block;
  z-index: 200;
  background: rgba(0, 0, 0, 0);
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: background 0.15s linear;
}

.ds-sidebar--overlay--fade {
  background: rgba(0, 0, 0, 0.5);
}

#skip-link-v2 {
  padding: 1rem;
  border: 2px solid var(--navds-color-action-default);
  background: white;
}

#skip-link-v2:focus {
  position: absolute;
  top: 0;
  z-index: 1;
}
