@import "~@navikt/ds-css/baseline/index.css";

.ds-page-wrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "side main";
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content 1fr;
}

.ds-header {
  grid-area: head;
  z-index: 99;
  column-gap: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
  position: fixed;
  width: 100vw;
  top: 0;
  height: 4rem;
}

.ds-header__title {
  text-decoration: none;
  color: white;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  padding-left: 1rem;
  column-gap: 1rem;
  font-weight: var(--navds-font-weight-bold);
  transition: background-color 150ms;
}

.ds-header__title--wrapper {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.ds-header__hamburger {
  font-size: 1.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  height: 4rem;
  width: 4rem;
  color: white;
}

.ds-header__title > svg {
  font-size: 4rem;
}

.ds-header__link {
  height: 100%;
  fill: white;
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
  transition: background-color 100ms;
  display: flex;
  align-items: center;
}

.ds-header__title:hover,
.ds-header__hamburger:hover,
.ds-header__link:hover {
  background-color: var(--header-background-active);
}

.ds-header__title:focus,
.ds-header__hamburger:focus,
.ds-header__link:focus {
  outline: 2px solid white;
  outline-offset: -2px;
}

.ds-header-darkswitch {
  height: 30px;
  width: 30px;
}

.ds-header--right {
  display: flex;
}

.ds-content {
  padding: 1rem;
  padding-left: calc(250px + 1rem);
  overflow-y: auto;
  grid-area: main;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

.ds-content--heading {
  background-color: var(--heading-block-background);
  color: var(--text-color-inverse);
  width: 100%;
  height: 10rem;
  outline: 1rem solid var(--heading-block-background);
  margin-bottom: 4rem;
  text-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ds-sidebar {
  grid-area: side;
  min-height: 100vh;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  color: var(--text-color);
  position: fixed;
  width: 250px;
  top: 4rem;
  overflow-y: auto;
  border-right: var(--sidebar-divider);
}

@media (max-width: 960px) {
  .ds-sidebar {
    display: none;
  }
  .ds-content {
    padding-left: 1rem;
  }
  .ds-header__hamburger {
    display: flex;
  }
}

.ds-sidebar * > li,
.ds-sidebar__mobile * > li {
  list-style: none;
}

.ds-sidebar__logo {
  text-decoration: none;
  color: white;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  font-weight: var(--navds-font-weight-bold);
}

.ds-sidebar__menu {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
  margin: 0;
}

.ds-sidebar__menu-item.active {
  font-weight: bold;
}

.ds-sidebar__submenu {
  max-height: max-content;
  visibility: inherit;
  display: block;
  padding: 0;
}
.ds-sidebar__submenu--hidden {
  visibility: hidden;
  max-height: 0px;
}

.ds-sidebar__submenu--item {
  height: 2rem;
  min-height: 2rem;
  padding-left: 2rem;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.ds-sidebar__button {
  font-weight: var(--navds-font-weight-bold);
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
  appearance: none;
  margin: 0;
  border: none;
  width: 100%;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.ds-sidebar__chevron {
  width: 1rem;
  height: 1rem;
  transition: 150ms transform;
}

.ds-sidebar__chevron--right {
  transform: rotateZ(-90deg);
}

.ds-sidebar__button,
.ds-sidebar__submenu--item {
  background-color: transparent;
  outline-width: 0px;
  outline-offset: 0px;
  transition: background-color 100ms;
  transition: outline-width 100ms;
  transition: outline-offset 100ms;
}

.ds-sidebar__button:hover,
.ds-sidebar__submenu--item:hover {
  background-color: var(--menu-background-active);
}
.ds-sidebar__button:focus,
.ds-sidebar__submenu--item:focus {
  background-color: var(--menu-background-active);
  outline: var(--focus-outline);
  outline-offset: -2px;
}

.ds-sidebar__mobile {
  z-index: 999;
  min-height: calc(100vh - 4rem);
  background-color: var(--sidebar-color);
  flex-direction: column;
  row-gap: 3rem;
  color: var(--text-color);
  position: fixed;
  width: 250px;
  top: 0rem;
  overflow-y: auto;
  border-right: var(--sidebar-divider);
  position: absolute;
  display: none;
}
.ds-sidebar__mobile--open {
  display: flex;
}
.ds-sidebar__mobile--hidden {
  z-index: -1;
  display: none;
}

.ds-sidebar--overlay {
  display: block;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 0.15s linear;
}
