.navds-layout__container {
  display: grid;
  grid-gap: var(--navds-grid-gutter-small);
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin-right: auto;
  margin-left: auto;
}

.navds-layout__container--white {
  background: white;
  background-size: cover;
}

.navds-layout__header {
  grid-column: span 12;
}

.navds-layout__header h1 {
  margin: 0.25rem 0.75rem;
}

.navds-layout__container--1-columns,
.navds-layout__container--2-columns {
  max-width: 60rem;
}

.navds-layout__container--3-columns {
  max-width: 79.5rem;
}

.navds-layout__section--white > * {
  background: white;
}

.navds-layout__section--padding > * {
  padding: var(--navds-layout-padding-small);
}

.navds-layout__section--sticky > * {
  top: var(--navds-grid-gutter-small);
  position: sticky;
}

.navds-layout__section--left,
.navds-layout__section--main,
.navds-layout__section--right {
  grid-column: span 12;
}

@media (min-width: 448px) {
  .navds-layout__container {
    grid-gap: var(--navds-grid-gutter-medium-and-larger);
  }

  .navds-layout__section--padding.navds-layout__section--left > *,
  .navds-layout__section--padding.navds-layout__section--main > *,
  .navds-layout__section--padding.navds-layout__section--right > * {
    padding: var(--navds-layout-padding-medium-and-larger);
  }
}

@media (min-width: 648px) {
  .navds-layout__container {
    grid-gap: var(--navds-grid-gutter-medium-and-larger);
  }

  .navds-layout__header h1 {
    margin: 0.25rem 0;
  }

  .navds-layout__section--padding.navds-layout__section--right > * {
    padding: var(--navds-layout-padding-small);
  }

  /* prettier-ignore */
  .navds-layout__container--2-columns > .navds-layout__section--padding.navds-layout__section--left > * {
    padding: var(--navds-layout-padding-small);
  }

  .navds-layout__container--1-columns > .navds-layout__section--main {
    grid-column: span 10;
  }

  .navds-layout__container--2-columns > .navds-layout__section--left,
  .navds-layout__container--2-columns > .navds-layout__section--right {
    grid-row: 1;
    grid-column: span 4;
  }

  .navds-layout__container--2-columns > .navds-layout__section--main {
    grid-row: 1;
    grid-column: span 8;
  }

  .navds-layout__container--3-columns > .navds-layout__section--left {
    grid-row: 1;
    grid-column: span 8;
  }

  .navds-layout__container--3-columns > .navds-layout__section--main {
    grid-row: 2;
    grid-column: span 8;
  }

  .navds-layout__container--3-columns > .navds-layout__section--right {
    grid-column: span 4;
    grid-row: 1 / span 2;
  }
}

@media (min-width: 960px) {
  .navds-layout__section--padding.navds-layout__section--left > * {
    padding: var(--navds-layout-padding-small);
  }

  .navds-layout__container--1-columns > .navds-layout__section--main {
    grid-column: span 8;
  }

  .navds-layout__container--3-columns > .navds-layout__section--left {
    grid-row: 1;
    grid-column: span 3;
  }

  .navds-layout__container--3-columns > .navds-layout__section--main {
    grid-row: 1;
    grid-column: span 6;
  }

  .navds-layout__container--3-columns > .navds-layout__section--right {
    grid-row: 1;
    grid-column: span 3;
  }
}
