/*
 * Heading
 */
.navds-heading {
  margin: 0;
  font-weight: 600;
  line-height: calc(1em + 0.25rem);
}

.navds-heading--xxl {
  font-size: var(--navds-font-size-heading-xxl);
}

.navds-heading--xl {
  font-size: var(--navds-font-size-heading-xl);
}

.navds-heading--large {
  font-size: var(--navds-font-size-heading-large);
}

.navds-heading--medium {
  font-size: var(--navds-font-size-heading-medium);
}

.navds-heading--small {
  font-size: var(--navds-font-size-heading-small);
}

/*
 * Text
 */
.navds-text {
  line-height: 1;
}

.navds-text--large {
  font-size: var(--navds-font-size-large);
}

.navds-text--medium {
  font-size: var(--navds-font-size-medium);
}

.navds-text--small {
  font-size: var(--navds-font-size-small);
}

.navds-text--xs {
  font-size: var(--navds-font-size-xs);
}

/*
 * Article typography
 */

.navds-article__lead {
  font-size: var(--navds-font-size-article-lead);
}

.navds-article__paragraph {
  font-size: var(--navds-font-size-article-paragraph);
}

.navds-article__list {
  font-size: var(--navds-font-size-article-paragraph);
}
