.colorContrastSample {
  width: 48%;
  height: 88px;
  padding: 20px;
  display: inline-block;
  margin-top: 8px;

  .uuText {
    float: right;
    bottom: 48px;
    position: relative;
  }

  &:nth-child(even) {
    margin-left: 12px;
  }
}