.colorswitch {
  display: flex;
  align-items: center;
}
.colorswitch__button.navds-button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 0.5rem;
  margin: 0.2rem;
  box-shadow: 0 2px 1px 0 var(--navds-color-gray-40);
  transform: translateY(0.2rem);
  border: 1px solid var(--navds-color-darkgray);
  min-height: 2rem;
}

.colorswitch__button--none.navds-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #ffffff;
}

.colorswitch__closeicon {
  color: #a13a28;
}

.colorswitch__button--selected.navds-button {
  transform: translateY(-0.4rem);
  transform: rotateZ(5deg);
  box-shadow: var(--navds-shadow-focus) var(--navds-color-blue-80);
  border: 1px solid #f1f1f1;
}
