/* stylelint-disable csstools/value-no-unknown-custom-properties */
.promoTag {
  border-radius: var(--ax-border-radius-xlarge);
  width: fit-content;
  display: block;
  margin-inline: auto;

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
  }
}

.promoTagContent {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-block: var(--ax-space-2);
  padding-right: var(--ax-space-8);
  gap: var(--ax-space-6);
  background-color: var(--aksel-bg-brand-pink-moderateA);
  border: 1px solid;
  border-color: var(--aksel-border-brand-pink-subtleA);
  border-radius: var(--ax-border-radius-xlarge);
  color: var(--aksel-text-brand-pink);
  backdrop-filter: blur(3px);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.111em;

  &:hover {
    & .promoTagText {
      text-decoration: underline;
    }
  }

  [data-animated="true"] & {
    animation: 60s ease infinite rainbow-hype-moderate;
  }
}

.promoTagLabel {
  display: flex;
  padding: 0 var(--ax-space-8);
  border-radius: var(--ax-border-radius-xlarge);
  background-color: var(--aksel-bg-brand-pink-strong);
  margin-block: -3px;
  margin-inline-start: -1px;
  align-items: center;
  color: var(--ax-text-contrast);

  [data-animated="true"] & {
    animation: 60s ease infinite rainbow-hype-strong;
  }
}

@keyframes rainbow-hype-moderate {
  0% {
    background-color: var(--ax-bg-meta-purple-moderateA);
    border-color: var(--ax-border-meta-purple);
    color: var(--ax-text-meta-purple-pink);
  }

  33% {
    background-color: var(--aksel-bg-brand-teal-moderateA);
    border-color: var(--aksel-border-brand-teal);
    color: var(--aksel-text-brand-teal);
  }

  66% {
    background-color: var(--ax-bg-brand-blue-moderateA);
    border-color: var(--ax-border-brand-blue);
    color: var(--ax-text-brand-blue);
  }

  100% {
    background-color: var(--ax-bg-meta-purple-moderateA);
    border-color: var(--ax-border-meta-purple);
    color: var(--ax-text-meta-purple);
  }
}

@keyframes rainbow-hype-strong {
  0% {
    background-color: var(--ax-bg-meta-purple-strong);
  }

  33% {
    background-color: var(--aksel-bg-brand-teal-strong);
  }

  66% {
    background-color: var(--ax-bg-brand-blue-strong);
  }

  100% {
    background-color: var(--ax-bg-meta-purple-strong);
  }
}

/* @keyframes rainbow-hype-promo {
  0% {
    --gradient-moderate: var(--ax-bg-meta-purple-moderate);
    --gradient-moderate-hover: var(--ax-bg-meta-purple-moderate-hover);
    --gradient-strong: var(--ax-bg-meta-purple-strong);
    --gradient-border: var(--ax-border-meta-purple-subtleA);
  }

  33% {
    --gradient-moderate: var(--aksel-bg-brand-teal-moderate);
    --gradient-moderate-hover: var(--aksel-bg-brand-teal-moderate-hover);
    --gradient-strong: var(--aksel-bg-brand-teal-strong);
    --gradient-border: var(--aksel-border-brand-teal-subtleA);
  }

  66% {
    --gradient-moderate: var(--ax-bg-brand-blue-moderate);
    --gradient-moderate-hover: var(--ax-bg-brand-blue-moderate-hover);
    --gradient-strong: var(--ax-bg-brand-blue-strong);
    --gradient-border: var(--ax-border-brand-blue-subtleA);
  }

  100% {
    --gradient-moderate: var(--ax-bg-meta-purple-moderate);
    --gradient-moderate-hover: var(--ax-bg-meta-purple-moderate-hover);
    --gradient-strong: var(--ax-bg-meta-purple-strong);
    --gradient-border: var(--ax-border-meta-purple-subtleA);
  }
} */
