.mobileNavItem {
  padding-block: var(--ax-space-12);
  padding-inline: var(--ax-space-12);
  background-color: var(--ax-bg-raised);
  color: var(--ax-text-neutral);

  &:hover {
    background-color: var(--ax-bg-neutral-moderate-hover);
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 1px;
    z-index: 1;
  }
}

.mobileNavItemCentered {
  padding-inline: var(--ax-space-12) var(--ax-space-48);
  text-align: center;
}

.mobileNavGroupSticky {
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--ax-border-neutral-subtleA);
  margin-block-end: var(--ax-space-24);
}

.mobileNavDialogPopup {
  overflow-y: auto;
}

.divider {
  border-bottom: 1px solid var(--ax-border-neutral-subtleA);
}
