.mobileNavMenuList {
  display: flex;
  flex-direction: column;

  & > li {
    display: inline-flex;
  }
}

.mobileNavMenuIntialView {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-24);
  padding-block-end: var(--ax-space-12);
}

.mobileNavMenuThemeToggle {
  margin-inline-start: var(--ax-space-8);
}

.mobileNavMenuItem {
  padding-block: var(--ax-space-12);
  padding-inline: var(--ax-space-16);
  margin-inline-start: var(--ax-space-8);
  text-align: start;
  color: var(--ax-text-neutral);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--ax-border-radius-medium);
  position: sticky;
  top: 0;
  z-index: 20;
  flex: 1 1 auto;

  li:not(:last-of-type) > &::after,
  :not(li) > &:first-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--ax-border-neutral-subtleA);
  }

  &:hover {
    background-color: var(--ax-bg-neutral-moderate-hoverA);
  }

  & > span:empty {
    width: 1.5rem;
  }
}

.mobileNavSidebarMenu {
  display: grid;
  gap: var(--ax-space-24);
}

.mobileNavDialog {
  max-height: 100dvh;
  height: 100dvh;
  right: 0;
  left: auto;
  bottom: auto;
  overflow-y: scroll;
  padding-inline-end: var(--ax-space-8);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  animation: none;
}

.mobileNavDialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: var(--ax-space-8);
  padding-inline-end: var(--ax-space-8);
}
