.overviewTitle {
  font-size: 48px;
  color: var(--ax-text-brand-blue);
  text-align: center;
}

.overviewSubtitle {
  color: var(--ax-text-brand-blue-subtle);
  text-align: center;
  max-width: 670px;
  font-size: var(--ax-font-size-heading-small);
}

.latestBloggPosts {
  display: grid;
  gap: var(--ax-space-48);
  margin-inline: auto;
  margin-block: var(--ax-space-48);
}

.bloggPosts {
  display: grid;
  width: 100%;
  max-width: var(--ax-breakpoint-2xl);
  margin-inline: auto;
  margin-bottom: var(--ax-space-128);
  padding-inline: var(--ax-space-16);
}

.remainingPosts {
  display: grid;
  gap: var(--ax-space-48);
  margin-top: var(--ax-space-8);
}

.article {
  grid-column: span 1 / span 1;
}

.articleBody {
  margin-block: var(--ax-space-16);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.articleBodySubtle {
  margin-top: var(--ax-space-16);
  color: var(--ax-text-neutral-subtle);
}

.articleAuthor {
  display: flex;
  margin-top: var(--ax-space-16);
  gap: var(--ax-space-8);
  color: var(--ax-text-neutral-subtle);
}

.articleMobile {
  display: block;
  width: 100%;
  grid-column: span 1 / span 1;
}

.articleImage {
  position: relative;
  display: block;
  margin-bottom: var(--ax-space-40);
  border-radius: var(--ax-radius-12);
  aspect-ratio: 16 / 9;
}

.remainingArticle {
  display: flex;
  gap: var(--ax-space-24);
}

.remainingArticleImage {
  position: relative;
  display: none;
  border-radius: var(--ax-radius-12);
  aspect-ratio: 1;
  height: 12rem;
}

.link {
  color: var(--ax-text-brand-blue);
}

/* sm */
@media (min-width: 480px) {
  .bloggPosts {
    padding-inline: var(--ax-space-24);
  }
}

/* md */
@media (min-width: 768px) {
  .latestBloggPosts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .remainingPosts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: var(--ax-space-32);
  }
}

/* lg */
@media (min-width: 1024px) {
  .remainingArticleImage {
    display: block;
  }
}

.websitePage {
  background-color: var(--ax-bg-brand-blue-soft);
}

.main {
  padding-block: var(--ax-space-80) 8vw;
  padding-bottom: var(--ax-space-128);

  &:focus {
    outline: none;
  }
}

.preamble {
  padding-inline: var(--ax-space-16);
}

.intro {
  text-align: center;
  margin-inline: auto;
  max-width: 670px;

  & address {
    font-style: normal;
  }
}

.articleTitle {
  text-wrap: balance;
  font-size: 3rem;
  color: var(--ax-text-brand-blue);
  hyphens: auto;

  @media (max-width: 480px) {
    font-size: 2.5rem;
    line-height: var(--ax-font-line-height-heading-2xlarge);
  }
}

.bodyLong1 {
  color: var(--ax-text-brand-blue-subtle);
  margin-top: var(--ax-space-16);
  font-size: var(--ax-font-size-heading-medium);
  line-height: var(--ax-font-line-height-heading-medium);
}

.horizontalLine {
  width: var(--ax-space-48);
  border-bottom: solid 1px var(--ax-border-neutral-subtleA);
  margin-block: var(--ax-space-20);
}

.image {
  aspect-ratio: 16 / 9;
  position: relative;
  margin-block: var(--ax-space-40) 0;
  margin-inline: auto;
  border-radius: var(--ax-radius-12);
  width: 100%;
  max-width: 48rem;
  overflow: hidden;
}

.imageContainer {
  & img {
    object-fit: cover;
    border-radius: var(--ax-radius-12);
  }

  &::after {
    box-shadow: inset 0 0 0 1px var(--ax-border-neutral-subtleA);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: var(--ax-radius-12);
  }
}

.customBlockWrapper {
  margin-top: var(--ax-space-64);
  padding-inline: var(--ax-space-16);
}

.authorText {
  margin-bottom: var(--ax-space-8);
  text-align: center;
  letter-spacing: 1.05px;
}

.author {
  display: flex;
  margin-block: var(--ax-space-8);
  flex-wrap: wrap;
  gap: var(--ax-space-4);
  justify-content: center;
  color: var(--ax-text-neutral);

  & address {
    font-style: normal;
  }
}

/* 480 === sm
min-width: X == X is the minimum width needed before styles apply */
@media (min-width: 480px) {
  .intro {
    width: 90%;
  }
}
