:root {
  --navds-product-card-color-text: var(--navds-global-color-gray-900);
  --navds-product-card-color-text-active: var(--navds-global-color-white);
  --navds-product-card-color-text-hover: var(--navds-global-color-blue-500);
  --navds-product-card-color-category: var(--navds-global-color-gray-800);
  --navds-product-card-color-border-hover: var(--navds-global-color-blue-500);
  --navds-product-card-color-shadow-focus: var(--navds-global-color-blue-800);
  --navds-product-card-color-background-hover: var(--navds-global-color-white);
  --navds-product-card-color-background-general: var(
    --navds-global-color-white
  );
  --navds-product-card-color-background-situation: var(
    --navds-global-color-orange-200
  );
  --navds-product-card-color-background-product: var(
    --navds-global-color-green-200
  );
  --navds-product-card-color-background-tool: var(
    --navds-global-color-deepblue-200
  );
  --navds-product-card-color-background-active: var(
    --navds-global-color-blue-700
  );
}

.navds-card {
  cursor: pointer;
}

.navds-card:not(.navds-card--focus):not(.navds-card--active) .navds-card__bed {
  box-shadow: var(--navds-shadow-card);
}

.navds-card__bed.navds-card__bed--situation {
  background-color: var(--navds-product-card-color-background-situation);
}

.navds-card__bed.navds-card__bed--product {
  background-color: var(--navds-product-card-color-background-product);
}

.navds-card__bed.navds-card__bed--tool {
  background-color: var(--navds-product-card-color-background-tool);
}

.navds-card__bed.navds-card__bed--general {
  background-color: var(--navds-product-card-color-background-general);
}

.navds-card:active .navds-card__title,
.navds-card:active .navds-card__text,
.navds-card:active .navds-card__category {
  color: var(--navds-product-card-color-text-active);
  text-decoration: none;
}

/* ---- Focus state --------------- */
.navds-card--focus .navds-card__bed {
  box-shadow: 0 0 0 4px var(--navds-semantic-color-focus);
}

.navds-card__title:focus {
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  border: 0;
}

/* ---- Active state --------------- */
.navds-card:active .navds-card__bed {
  background-color: var(--navds-product-card-color-background-active);
}

/* ---- Hover state --------------- */
.navds-card:hover:not(:active) .navds-card__bed {
  box-shadow: 0 0 0 2px var(--navds-product-card-color-border-hover);
  background-color: var(--navds-product-card-color-background-hover);
}

.navds-card:hover:not(:active) .navds-card__text,
.navds-card:hover:not(:active) .navds-card__category {
  text-decoration: none;
  color: var(--navds-product-card-color-text);
}

.navds-card:hover:not(:active) .navds-card__title {
  text-decoration: none;
  color: var(--navds-product-card-color-text-hover);
}
