.navds-card-large {
  display: block;
  max-width: 18rem;
  outline: 0;
  text-decoration: none;
  width: 100%;
}

.navds-card-large .navds-card__bed {
  background-color: var(--navds-product-card-color-background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 25rem;
  padding: var(--navds-spacing-6);
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
}

/* ---- Elements ---- */
.navds-card-large .navds-card__title {
  color: var(--navds-card-color-text);
  margin-bottom: var(--navds-spacing-4);
}

.navds-card-large .navds-card__text {
  color: var(--navds-card-color-text);
  font-weight: var(--navds-font-weight-regular);
  margin-bottom: var(--navds-spacing-8);
}

.navds-card-large .navds-card__category {
  color: var(--navds-card-color-category);
  font-size: 0.875rem;
  font-weight: var(--navds-font-weight-regular);
  margin-top: auto;
  text-transform: uppercase;
}

.navds-card-large .navds-card__animation,
.navds-card-large .navds-pictogram {
  align-self: center;
  height: var(--navds-spacing-24);
  margin-bottom: var(--navds-spacing-6);
  margin-top: 0;
  width: var(--navds-spacing-24);
}

/* ---- Focus ---- */
.navds-card-large.navds-card--focus .navds-card__bed,
.navds-card-large.navds-card--active .navds-card__bed {
  box-shadow: 0 0 0 3px var(--navds-semantic-color-focus);
}

.navds-card-large.navds-card--focus .navds-card__bed::after,
.navds-card-large.navds-card--active .navds-card__bed::after {
  box-shadow: 0 0 0 4px var(--navds-card-inner-active-border);
  border-radius: 0.375rem;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  margin: 4px;
}
