:root {
  --navds-card-micro-color-background-active: var(--navds-color-blue-70);
  --navds-card-micro-color-background-focus: var(--navds-color-white);
  --navds-card-micro-color-background-hover: var(--navds-color-white);
  --navds-card-micro-color-border-hover: var(--navds-color-blue-50);
  --navds-card-micro-color-border: transparent;
  --navds-card-micro-color-shadow-focus: var(--navds-color-blue-80);
  --navds-card-micro-color-text-active: var(--navds-color-white);
  --navds-card-micro-color-text-focus: var(--navds-color-blue-50);
  --navds-card-micro-color-text-hover: var(--navds-color-blue-50);
  --navds-card-micro-color-text: var(--navds-color-text-primary);
}

.navds-card-micro {
  display: inline-block;
  padding: var(--navds-spacing-3) 0;
}

.navds-card-micro:not(:last-of-type) {
  margin: 0 var(--navds-spacing-2) 0 0;
}

.navds-card-micro:focus {
  outline: 0;
}

.navds-card-micro .navds-card__bed {
  border-radius: var(--navds-spacing-4);
  color: var(--navds-card-micro-color-text);
  display: inline-block;
  font-size: var(--navds-font-size-small);
  text-decoration: none;
  transition: all 0.3s;
  padding: 0 var(--navds-spacing-2);
  width: auto;
}

.navds-card.navds-card-micro:hover:not(:active) .navds-card__bed {
  background-color: var(--navds-card-micro-color-background-hover);
  box-shadow: 0 0 0 1px var(--navds-product-card-color-border-hover);
}

.navds-card-micro:focus:not(:active) .navds-card__bed {
  background-color: var(--navds-card-micro-color-background-focus);
  box-shadow: 0 0 0 3px var(--navds-card-micro-color-shadow-focus);
  color: var(--navds-card-micro-color-text-focus);
  outline: none;
}

.navds-card-micro:active .navds-card__bed {
  background-color: var(--navds-card-micro-color-background-active);
  border-color: transparent;
  color: var(--navds-card-micro-color-text-active);
}
