.navds-card-large {
  display: block;
  margin-bottom: var(--navds-spacing-7);
  max-width: 18rem;
  outline: 0;
  text-decoration: none;
  width: 100%;
}

.navds-card-large .navds-card__bed {
  background-color: var(--navds-product-card-color-background);
  border-radius: var(--navds-spacing-1);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 25rem;
  padding: var(--navds-spacing-6);
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
}

/* ---- Generic styling ---- */
.navds-card-large .navds-card__title {
  color: var(--navds-product-card-color-text);
  margin-bottom: var(--navds-spacing-4);
  text-decoration: underline;
}

.navds-card-large .navds-card__text {
  color: var(--navds-product-card-color-text);
  font-weight: 400;
  margin-bottom: var(--navds-spacing-8);
}

.navds-card-large .navds-card__category {
  color: var(--navds-product-card-color-category);
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: auto;
  text-transform: uppercase;
}

.navds-card-large .navds-card__animation {
  align-self: center;
  height: var(--navds-spacing-24);
  margin-bottom: var(--navds-spacing-6);
  margin-top: 0;
  width: var(--navds-spacing-24);
}
