.navds-card-mini {
  display: block;
  margin-bottom: var(--navds-spacing-7);
  outline: 0;
  text-decoration: none;
  width: 100%;
}

.navds-card-mini .navds-card__bed {
  align-items: center;
  background-color: var(--navds-product-card-color-background);
  border-radius: var(--navds-spacing-1);
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: var(--navds-spacing-3);
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
}

.navds-card-mini:not(.navds-card--focus):not(.navds-card--active)
  .navds-card__bed {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(38, 38, 38, 0.12),
    0 1px 3px rgba(38, 38, 38, 0.2);
}

/* ---- Elements ---- */
.navds-card-mini .navds-card__title {
  color: var(--navds-product-card-color-text);
  font-weight: var(--navds-font-weight-bold);
  text-decoration: underline;
}

.navds-card-mini .navds-card__animation,
.navds-card-mini .navds-card__pictogram {
  align-self: center;
  height: var(--navds-spacing-16);
  margin: 0 var(--navds-spacing-4) 0 0;
  width: var(--navds-spacing-16);
}
