.navds-card-micro {
  padding: var(--navds-spacing-3) 0;
  text-decoration: none;
}

.navds-card-micro .navds-card__bed {
  border-radius: 1rem;
  border: 1px solid #b0b0b0;
  color: var(--navds-card-color-text);
  display: inline-flex;
  font-size: var(--navds-font-size-small);
  padding: 0 var(--navds-spacing-2);
  text-decoration: none;
  transition: all 0.3s;
  width: auto;
}

.navds-card-micro .navds-card__bed::before {
  align-self: center;
  border-radius: 0.5rem;
  content: "";
  display: flex;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  position: relative;
  width: 0.5rem;
}

.navds-card-micro.navds-card--focus .navds-card__bed,
.navds-card-micro:hover .navds-card__bed,
.navds-card-micro.navds-card--active .navds-card__bed {
  border: 1px solid transparent;
}

.navds-card-micro.navds-card--situation .navds-card__bed::before {
  background-color: var(--navds-global-color-orange-500);
}

.navds-card-micro.navds-card--product .navds-card__bed::before {
  background-color: var(--navds-global-color-green-500);
}

.navds-card-micro.navds-card--tool .navds-card__bed::before {
  background-color: var(--navds-global-color-deepblue-500);
}

.navds-card-micro.navds-card--guide .navds-card__bed::before {
  background-color: var(--navds-global-color-gray-600);
}

.navds-card-micro.navds-card--themedarticle .navds-card__bed::before {
  background-color: var(--navds-global-color-gray-600);
}

/* Ensure adjecent MicroCards are spaced between */
.navds-card-micro:not(:last-of-type) {
  margin: 0 var(--navds-spacing-2) 0 0;
}

.navds-card-micro:not(:focus):not(:active) .navds-card__bed {
  box-shadow: var(--navds-shadow-card);
}

/* ---- Focus ---- */
.navds-card-micro:focus,
.navds-card-micro:active {
  outline: 0;
}

.navds-card-micro:focus .navds-card__bed,
.navds-card-micro:active .navds-card__bed {
  box-shadow: 0 0 0 3px var(--navds-semantic-color-focus);
}

.navds-card-micro:focus .navds-card__bed::after,
.navds-card-micro:active .navds-card__bed::after {
  box-shadow: 0 0 0 2px var(--navds-card-inner-active-border);
  height: calc(100% - 2px);
  margin: 1px;
  width: calc(100% - 2px);
  border-radius: 16px;
}
