:root {
  --navds-card-large-color-text: var(--navds-color-text-primary);
  --navds-card-large-color-text-active: var(--navds-color-white);
  --navds-card-large-color-text-hover: var(--navds-color-blue-50);
  --navds-card-large-color-category: var(--navds-color-gray-80);
  --navds-card-large-color-border-hover: var(--navds-color-blue-50);
  --navds-card-large-color-background-active: var(--navds-color-blue-70);
  --navds-card-large-color-background: var(--navds-color-white);
  --navds-card-large-color-shadow-focus: var(--navds-color-blue-80);
}

.navds-large-card {
  display: block;
  margin-bottom: var(--navds-spacing-7);
  outline: 0;
  text-decoration: none;
  width: 100%;
}

.navds-large-card__bed {
  background-color: var(--navds-card-large-color-background);
  border-radius: var(--navds-spacing-1);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 25rem;
  padding: var(--navds-spacing-6);
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
}

.navds-large-card:not(:focus-visible):not(:active) .navds-large-card__bed {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(38, 38, 38, 0.12),
    0 1px 3px rgba(38, 38, 38, 0.2);
}

/* ---- Hover state --------------- */
.navds-large-card:hover:not(:active) .navds-large-card__bed {
  box-shadow: 0 0 0 2px var(--navds-card-large-color-border-hover);
}

.navds-large-card:hover:not(:active) .navds-large-card__heading,
.navds-large-card:hover:not(:active) .navds-large-card__text,
.navds-large-card:hover:not(:active) .navds-large-card__category {
  text-decoration: none;
  color: var(--navds-card-large-color-text);
}

.navds-large-card:hover:not(:active) .navds-large-card__heading {
  text-decoration: none;
  color: var(--navds-card-large-color-text-hover);
}

/* ---- Focus state --------------- */
.navds-large-card:focus-visible .navds-large-card__bed {
  box-shadow: 0 0 0 4px #00347d;
}

/* ---- Active state --------------- */
.navds-large-card:active .navds-large-card__bed {
  background-color: var(--navds-card-large-color-background-active);
}

.navds-large-card:active .navds-large-card__heading,
.navds-large-card:active .navds-large-card__text,
.navds-large-card:active .navds-large-card__category {
  color: var(--navds-card-large-color-text-active);
  text-decoration: none;
}

/* ---- Generic styling ---- */
.navds-large-card__animation {
  width: 4rem;
  height: 4rem;
}

.navds-large-card__heading {
  color: var(--navds-card-large-color-text);
  margin-bottom: var(--navds-spacing-4);
  text-decoration: underline;
}

.navds-large-card__text {
  color: var(--navds-card-large-color-text);
  font-weight: 400;
  margin-bottom: var(--navds-spacing-8);
}

.navds-large-card__category {
  color: var(--navds-card-large-color-category);
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: auto;
  text-transform: uppercase;
}

.card__illustration {
  align-self: center;
  height: var(--navds-spacing-24);
  margin-bottom: var(--navds-spacing-9);
  margin-top: 0;
  width: var(--navds-spacing-24);
}

.illustration__lottie-container {
  display: block;
  height: var(--navds-spacing-24);
  width: var(--navds-spacing-24);
}
