:root {
  --navds-card-large-color-text: var(--navds-color-text-primary);
  --navds-card-large-color-text-active: var(--navds-color-white);
  --navds-card-large-color-text-hover: var(--navds-color-blue-50);
  --navds-card-large-color-category: var(--navds-color-gray-80);
  --navds-card-large-color-border-hover: var(--navds-color-blue-50);
  --navds-card-large-color-background-active: var(--navds-color-blue-70);
  --navds-card-large-color-background: var(--navds-color-white);
  --navds-card-large-color-shadow-focus: var(--navds-color-blue-80);
}

.navds-mini-card {
  display: block;
  margin-bottom: var(--navds-spacing-7);
  outline: 0;
  text-decoration: none;
  width: 100%;
}

.navds-mini-card__bed {
  align-items: center;
  background-color: var(--navds-card-large-color-background);
  border-radius: var(--navds-spacing-1);
  display: flex;
  flex-direction: column;
  flex-direction: row;
  height: 100%;
  padding: var(--navds-spacing-3);
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
}

.navds-mini-card:not(:focus-visible):not(:active) .navds-mini-card__bed {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(38, 38, 38, 0.12),
    0 1px 3px rgba(38, 38, 38, 0.2);
}

/* ---- Hover state --------------- */
.navds-mini-card:hover:not(:active) .navds-mini-card__bed {
  box-shadow: 0 0 0 2px var(--navds-card-large-color-border-hover);
}

.navds-mini-card:hover:not(:active) .navds-mini-card__heading,
.navds-mini-card:hover:not(:active) .navds-mini-card__text,
.navds-mini-card:hover:not(:active) .navds-mini-card__category {
  text-decoration: none;
  color: var(--navds-card-large-color-text);
}

.navds-mini-card:hover:not(:active) .navds-mini-card__heading {
  text-decoration: none;
  color: var(--navds-card-large-color-text-hover);
}

/* ---- Focus state --------------- */
.navds-mini-card:focus-visible .navds-mini-card__bed {
  box-shadow: 0 0 0 4px #00347d;
}

/* ---- Active state --------------- */
.navds-mini-card:active .navds-mini-card__bed {
  background-color: var(--navds-card-large-color-background-active);
}

.navds-mini-card:active .navds-mini-card__heading,
.navds-mini-card:active .navds-mini-card__text,
.navds-mini-card:active .navds-mini-card__category {
  color: var(--navds-card-large-color-text-active);
  text-decoration: none;
}

/* ---- Generic styling ---- */
.navds-mini-card__heading {
  color: var(--navds-card-large-color-text);
  text-decoration: underline;
}

.navds-mini-card__animation {
  align-self: center;
  height: var(--navds-spacing-16);
  margin: 0 var(--navds-spacing-4) 0 0;
  width: var(--navds-spacing-16);
}
