.themed-page-header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 1.5rem;

  --side-width: calc((100vw - 100%) / 2);
  --side-width-negative: calc((100vw - 100%) / -2);

  padding-left: var(--side-width);
  padding-right: var(--side-width);
  margin-left: var(--side-width-negative);
  margin-right: var(--side-width-negative);
}

.situation {
  box-shadow: 0 -4px 0 var(--navds-global-color-orange-200) inset;
}

.product {
  box-shadow: 0 -4px 0 var(--navds-global-color-green-200) inset;
}

.guide {
  box-shadow: 0 -4px 0 var(--navds-global-color-lightblue-200) inset;
}

.themed-page-header__illustration {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
  pointer-events: none;
}

.themed-page-header__text {
  width: 100%;
  max-width: 63.5rem;
}

.themed-page-header__tagline-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-modified-info__divider {
  padding: 0 1rem;
}

header .page-modified-info {
  letter-spacing: 0.004em;
  color: var(--navds-semantic-color-text-muted);
}

@media (max-width: 780px) {
  .themed-page-header__tagline-wrapper {
    flex-direction: column;
  }

  .themed-page-header__tagline-label.navds-body-short {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .page-modified-info__divider {
    display: none;
  }

  .themed-page-header {
    padding-top: 0;
  }

  .themed-page-header .navds-heading--2xlarge {
    font-size: 2rem;
  }

  .themed-page-header__illustration {
    display: none;
  }
}
