@font-family: "Source Sans Pro", Arial, sans-serif;
@line-height-base: 1.428571429;
@remUnit: 16;
@fontWeightBold: 600;
@fontWeightNormal: 400;

@import "Source-Sans-Pro-regular";
@import "Source-Sans-Pro-italic";
@import "Source-Sans-Pro-600";
