@import (reference) "~nav-frontend-core/less/_variabler";
@import "fontimports";
@import "mixins";

.app {
  .typo-normal-mixin();

  color: @navMorkGra;
  font-family: @font-family;
  line-height: @line-height-base;
}

.typo-sidetittel {
  margin: 0;
  .typo-sidetittel-mixin();
}

.typo-innholdstittel {
  margin: 0;
  .typo-innholdstittel-mixin();
}

.typo-systemtittel {
  margin: 0;
  .typo-systemtittel-mixin();
}

.typo-undertittel {
  margin: 0;
  .typo-undertittel-mixin();
}

.typo-ingress {
  margin: 0;
  .typo-ingress-mixin();
}

.typo-element {
  margin: 0;
  .typo-element-mixin();
}

.typo-feilmelding {
  margin: 0;
  .typo-element-mixin();

  color: @redError;
}

.typo-normal {
  margin: 0;
  .typo-normal-mixin();
}

.typo-etikett-liten {
  margin: 0;
  .typo-etikett-liten-mixin();
}

.typo-undertekst-bold {
  margin: 0;
  .typo-undertekst-bold-mixin();
}

.typo-undertekst {
  margin: 0;
  .typo-undertekst-mixin();
}
