.componentGuidelinePage {
  &__tabbarContainer {
    margin:32px -32px 0px -64px;

    .nav-frontend-tabs {
      padding-left:64px;
    }

    .designerGuidelineSection {
      .typo-element {
        padding: 12px 0px 0px 0px;
      }
    }
  }
}