.heroSelector {
  --aksel-website-hero-selector-x: ;
  --aksel-website-hero-selector-y: ;

  clip-path: circle(140% at var(--aksel-website-hero-selector-x) var(--aksel-website-hero-selector-y));
  animation: clipExpand 800ms cubic-bezier(0.3, 0, 0.15, 1);
  height: fit-content;
  min-height: 100%;
}

@keyframes clipExpand {
  0% {
    clip-path: circle(0% at var(--aksel-website-hero-selector-x) var(--aksel-website-hero-selector-y));
  }

  100% {
    clip-path: circle(140% at var(--aksel-website-hero-selector-x) var(--aksel-website-hero-selector-y));
  }
}

.marginTransition {
  transition-duration: 450ms;
  transition-property: cubic-bezier(0.3, 0, 0.15, 1);
  transition-delay: 100ms;
}
