@import (reference) "~nav-frontend-core/less/_variabler";
@import (reference) "~nav-frontend-core/less/_mixins";
@import (reference) "~nav-frontend-typografi-style/src/index";
@import "./mixins";

.knapp {
  .knappbase-mixin(@font-family);
  .knappramme-mixin(@navBla, @navDypBla, @white);
  .knappdisabled-mixin();
  .knappspinner-mixin();
  .knappmedikon-mixin();
}

.knapp--hoved {
  .knappfylt-mixin(@navBla, @white, @navDypBla, lighten(@navBla, 5%));
}

.knapp--fare {
  .knappfylt-mixin(@redError, @white, darken(@redError, 5%), lighten(@redError, 5%));
}

.knapp--flat {
  .knappflat-mixin(@navBla, @white, @navDypBla);
}

.knapp--mini {
  .knappmini-mixin();
}

.knapp--kompakt {
  .knappkompakt-mixin();
}

// SPINNER
.knapp__spinner {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  border-radius: 100%;
  animation: knapp__spinner 1s infinite linear;
  position: relative;
  margin-left: 0.5em;
  top: 0.1em;
}

@keyframes knapp__spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sr-only {
  .sr-only();
}
