.knappbase-mixin(@font-family) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: @font-family;
  font-size: 1em;
  white-space: nowrap;
  border-radius: 0.125em;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.0625em;
  line-height: 1.375rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @white;
  padding: ~"calc(.475rem - 1px) 2.5rem calc(.525rem - 1px) 2.5rem";
  min-height: 2.5rem;
  vertical-align: middle;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px @fokusFarge;
  }
}

.knappmini-mixin {
  text-transform: none;
  padding: ~"calc(.25rem - 1px) 1.5rem calc(.25rem - 1px) 1.5rem";
  min-height: 2rem;
}

.knappkompakt-mixin() {
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &.knapp--mini {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.knappdisabled-mixin {
  &:disabled,
  &--disabled {
    background-color: @grayIcon;
    border-color: @grayIcon;
    color: @white;
    box-shadow: none;
    transform: none;
    cursor: not-allowed;

    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      box-shadow: none;
      background-color: @grayIcon;
      border-color: @grayIcon;
      color: @white;
    }
  }
}

.knappfylt-mixin(@bgColor, @textColor, @activeColor, @highlighColor) {
  .knapptaktil-mixin();

  color: @textColor;
  border-color: @bgColor;
  background-color: @bgColor;
  position: relative;

  &:active,
  &:active:hover,
  &:active:focus {
    box-shadow: none;
    border-color: @activeColor;
    background-color: @activeColor;
  }

  &:focus {
    background-color: white;
    color: @bgColor;
  }

  &:hover {
    color: @textColor;
    border-color: @highlighColor;
    background-color: @highlighColor;
  }

  &:disabled {
    top: 0;
    background-color: @grayIcon;
    box-shadow: none;
  }

  &:disabled:hover {
    border-color: @grayIcon;
    transform: none;
  }
}

.knapptaktil-mixin() {
  transform: translateY(-2px);
  position: relative;
  box-shadow: 0 2px 0 @navGra20;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1px;
    border-radius: 0.125rem;
    background: rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 0 lighten(@navGra20, 5%);

    &::before {
      bottom: -5px;
      height: 3px;
    }
  }

  &:active,
  &--active {
    transform: translateY(0);
    box-shadow: none;

    &::after,
    &::before {
      display: none;
    }
  }
}

.knappflat-mixin(@mainColor, @activeColor, @textHoverColor) {
  color: @mainColor;
  border: 2px solid transparent;
  background: transparent;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: transparent;
    border: 2px solid @mainColor;
    color: @mainColor;
  }

  &&:active {
    background-color: @textHoverColor;
    border: 2px solid transparent;
    color: @activeColor;
  }
}

.knappramme-mixin(@mainColor, @activeColor, @textHoverColor) {
  border: 2px solid @mainColor;
  color: @mainColor;

  &:hover {
    background-color: @mainColor;
    color: @textHoverColor;
  }

  &:active {
    background-color: @activeColor;
    border-color: @activeColor;
    color: @textHoverColor;
  }
}

.knappspinner-mixin() {
  & .knapp__spinner {
    border: 2px solid @navBla;
    border-left-color: @navBlaLighten60;
    border-bottom-color: @navBlaLighten60;
  }

  &:hover .knapp__spinner {
    border-top-color: @white;
    border-right-color: @white;
  }

  &.knapp--hoved {
    &:focus .knapp__spinner {
      border-top-color: @navBla;
      border-right-color: @navBla;
    }

    .knapp__spinner,
    &:hover .knapp__spinner {
      border-top-color: @white;
      border-right-color: @white;
    }
  }

  &.knapp--fare {
    &:focus .knapp__spinner {
      border-top-color: @redError;
      border-right-color: @redError;
    }

    .knapp__spinner,
    &:hover .knapp__spinner {
      border: 2px solid @white;
      border-left-color: @redErrorLighten60;
      border-bottom-color: @redErrorLighten60;
    }
  }

  &.knapp--flat {
    &:hover .knapp__spinner {
      border-top-color: @navBla;
      border-right-color: @navBla;
    }
  }

  &:disabled,
  &--disabled {
    .knapp__spinner {
      border: 2px solid @white;
      border-top-color: @navLysGra;
      border-right-color: @navLysGra;
    }
  }
}

.knappmedikon-mixin() {
  svg {
    width: 1rem;
    height: 1rem;
    fill: @navBla;
  }

  .nav-frontend-chevron + span:not(.sr-only),
  span:not(.sr-only) + .nav-frontend-chevron {
    margin-left: 0.33333rem;
  }

  svg + span:not(.sr-only),
  span:not(.sr-only) + svg {
    margin-left: 0.5rem;
  }

  > span {
    display: inline-block;
  }

  &:hover {
    svg {
      fill: white;
    }
  }

  &.knapp--flat {
    &:hover {
      svg {
        fill: @navBla;
      }
    }
  }

  &.knapp--fare {
    &:focus {
      svg {
        fill: @redError;
      }
    }
  }

  &:disabled,
  &.knapp--disabled,
  &.knapp--hoved,
  &.knapp--fare {
    &:not(:focus) {
      svg {
        fill: white;
      }
    }

    &:active,
    &:hover {
      svg {
        fill: white;
      }
    }
  }
}
