@layer twBase, dsComponentsLegacy, twComponents, twUtilities;

@import "tailwindcss/base" layer(twBase);
@import "@navikt/ds-css" layer(dsComponentsLegacy);
@import "tailwindcss/components" layer(twComponents);
@import "tailwindcss/utilities" layer(twUtilities);
