.navds-tag {
  --navds-tag-bg: var(--navds-color-tag-info-background);
  --navds-tag-border-color: var(--navds-color-tag-info-border);
  display: inline-block;
  border-radius: 4px;
  border: var(--navds-border-on-light);
  background-color: var(--navds-tag-bg);
  border-color: var(--navds-tag-border-color);
}
.navds-tag--error {
  --navds-tag-bg: var(--navds-color-tag-error-background);
  --navds-tag-border-color: var(--navds-color-tag-error-border);
}
.navds-tag--success {
  --navds-tag-bg: var(--navds-color-tag-success-background);
  --navds-tag-border-color: var(--navds-color-tag-success-border);
}
.navds-tag--warning {
  --navds-tag-bg: var(--navds-color-tag-warning-background);
  --navds-tag-border-color: var(--navds-color-tag-warning-border);
}
.navds-tag--info {
  --navds-tag-bg: var(--navds-color-tag-info-background);
  --navds-tag-border-color: var(--navds-color-tag-info-border);
}
.navds-tag--small {
  padding: 1px 8px;
}
.navds-tag--medium {
  padding: 4px 9px;
}
