{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "less", "jsx", "tsx"],
        "plugins": ["show-language"],
        "theme": "coy",
        "css": true
      }
    ]
  ]
}
