html,
:host {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root,
:host,
[data-theme="light"] {
  --a-shadow-focus: 0 0 0 3px var(--a-border-focus);

  color: var(--a-text-default);
}

[data-theme="dark"] {
  --a-shadow-focus: var(--a-shadow-focus-inverted);

  color: var(--a-text-on-inverted);
}

body,
:host {
  font-family: var(--a-font-family, "Source Sans Pro", Arial, sans-serif);
  line-height: 1.333;
  font-size: 1.125rem;
}

a {
  color: var(--a-text-action);
}

button {
  color: inherit;
}

/* https://web.dev/prefers-reduced-motion/ */
@media (prefers-reduced-motion: reduce) {
  *:not(.navds-loader *):not(.navds-loader),
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/*
 * From https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/style.css
 *
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only,
.navds-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* 1 */
}

/*
   * From https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/style.css
   *
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.sr-only.focusable:active,
.sr-only.focusable:focus,
.navds-sr-only.focusable:active,
.navds-sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
