@import "@navikt/ds-tokens";
@import "normalize.css";
@import "Source-Sans-Pro-regular.css";
@import "Source-Sans-Pro-italic.css";
@import "Source-Sans-Pro-600.css";
@import "print.css";
@import "utility.css";

html,
:host {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root,
:host,
[data-theme="light"] {
  --a-shadow-focus: 0 0 0 3px var(--a-border-focus);

  color: var(--a-text-default);
}

[data-theme="dark"] {
  --a-shadow-focus: var(--a-shadow-focus-inverted);

  color: var(--a-text-on-inverted);
}

body,
:host {
  font-family: var(--a-font-family, "Source Sans Pro", Arial, sans-serif);
  line-height: 1.333;
  font-size: 1.125rem;
}

a {
  color: var(--a-semantic-color-link);
}

button {
  color: inherit;
}

/* https://web.dev/prefers-reduced-motion/ */
@media (prefers-reduced-motion: reduce) {
  *:not(.navds-loader *):not(.navds-loader),
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
