@import "./_inline-reset.css";
@import "./_utilities.css";

:root,
:host,
[data-theme="light"] {
  --a-shadow-focus: 0 0 0 3px var(--a-border-focus);

  color: var(--a-text-default);
}

[data-theme="dark"] {
  --a-shadow-focus: var(--a-shadow-focus-inverted);

  color: var(--a-text-on-inverted);
}

body,
:host {
  font-family: var(--a-font-family, "Source Sans Pro", Arial, sans-serif);
  line-height: 1.333;
  font-size: 1.125rem;
}

a {
  color: var(--a-text-action);
}
