.overrideSecondaryButton {
  --ac-button-secondary-text: var(--a-deepblue-500);
  --ac-button-secondary-bg: var(--a-surface-default);
  --ac-button-secondary-border: var(--a-deepblue-500);
  --ac-button-secondary-hover-text: var(--a-deepblue-500);
  --ac-button-secondary-hover-bg: var(--a-deepblue-50);
  --ac-button-secondary-focus-border: var(--a-deepblue-500);
}

.overrideSecondaryButtonActive {
  --ac-button-secondary-text: var(--a-text-on-action);
  --ac-button-secondary-hover-bg: var(--a-deepblue-700);
  --ac-button-secondary-hover-text: var(--a-text-on-action);
}
