.responsive {
  font-size: 4rem;
}

.responsive_square {
  position: absolute;
  transform: translate(1rem, -1.1rem);
}

.responsive_inbox {
  position: absolute;
}

@media (max-width: 768px) {
  .responsive {
    font-size: 3rem;
  }

  .responsive_square {
    transform: translate(0.95rem, -1rem);
  }

  .responsive_inbox {
    /* transform: translate(1rem, 1rem); */
  }
}
