@import "./fonts.css";

/**
 * Baseline
 * Missing from "original"
 * - CSS-resets
 * - Print styles
 * - utilities (sr-only, animation-reset etc)
 * - Tokens for: font, font-size, line-height, shadows etc
 */
body,
:host {
  font-family: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
  line-height: 1.333;
  font-size: 1.125rem;
}

/* To support nested theming, we want to declare color on each scoped elements */
:root,
:host,
.light {
  color: var(--a-text-default);
}

.dark {
  color: var(--a-text-default);
}
