/* stylelint-disable csstools/value-no-unknown-custom-properties */

/* To support nested theming, we want to declare color on each scoped elements */
:root,
:host,
.light {
  color: var(--ax-text-default);
}

.dark {
  color: var(--ax-text-default);
}

.navds-theme {
  &[data-background="true"] {
    background-color: var(--ax-bg-default);
  }
}
