.ReactCollapse--collapse {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navds-accordion {
  position: relative;
  background: var(--navds-color-background);
  border: var(--navds-border-default);
  border-radius: 4px;
}

.navds-accordion:hover {
  box-shadow: var(--navds-color-hover);
  border: var(--navds-panel-hover);
  color: black;
}

.navds-accordion:focus,
.navds-accordion__button:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-accordion__chevron {
  width: 1.25em;
  height: 1.25em;
  transform: rotateZ(0deg);
  flex-shrink: 0;
  margin-left: var(--navds-spacing-4);
}

.navds-accordion__chevron--up {
  transform: rotateZ(-180deg);
}

.navds-accordion__chevron--down {
  transform: rotateZ(0deg);
}

.navds-accordion__button {
  padding: var(--navds-spacing-4);
  border-radius: 4px;
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navds-accordion__button:hover .navds-accordion__heading {
  text-decoration: underline;
  color: var(--navds-color-text-link);
}

.navds-accordion__content {
  padding: var(--navds-spacing-2) var(--navds-spacing-4) var(--navds-spacing-4);
}

.navds-accordion--open .navds-accordion__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navds-accordion--open > .navds-accordion__button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
