:root {
  --navds-accordion-background-color: var(--navds-color-background);
  --navds-accordion-color: var(--navds-color-darkgray);
  --navds-accordion-color-hover: var(--navds-color-blue-50);
  --navds-accordion-border-color-hover: var(--navds-color-blue-50);
  --navds-accordion-border-color-focus: var(--navds-color-background);
}

.navds-accordion .ReactCollapse--collapse {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navds-accordion {
  background: var(--navds-accordion-background-color);
}

.navds-accordion:focus,
.navds-accordion__header:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
  border-color: var(--navds-accordion-border-color-focus);
}

.navds-accordion__header:hover {
  color: var(--navds-accordion-color-hover);
  border-color: var(--navds-accordion-border-color-hover);
  text-decoration: underline;
}

.navds-accordion__expand-icon {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotateZ(0deg);
  flex-shrink: 0;
  margin-left: var(--navds-spacing-4);
}

.navds-accordion__expand-icon--flip {
  transform: rotateZ(-180deg);
}

.navds-accordion__header {
  padding: var(--navds-spacing-4) var(--navds-spacing-3);
  background: transparent;
  text-align: left;
  border: none;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a0a0a0;
}

.navds-accordion__content {
  color: var(--navds-accordion-color);
  padding: var(--navds-spacing-5) var(--navds-spacing-3) var(--navds-spacing-10)
    var(--navds-spacing-3);
}

.navds-accordion--open .navds-accordion__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navds-accordion__expand-icon--filled {
  display: none;
}

.navds-accordion__header:hover
  > .navds-accordion__expand-icon.navds-accordion__expand-icon--filled {
  display: inherit;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon {
  display: none;
  color: var(--navds-accordion-color-hover);
}
