.navds-accordion .ReactCollapse--collapse {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navds-accordion {
  background: var(--navds-color-background);
}

.navds-accordion__header:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
  border-color: var(--navds-color-background);
}

.navds-accordion__header:hover {
  color: var(--navds-color-blue-50);
  border-color: var(--navds-color-blue-50);
  text-decoration: underline;
}

.navds-accordion__expand-icon {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotateZ(0deg);
  margin-left: auto;
}

.navds-accordion__expand-icon--flip {
  transform: rotateZ(180deg);
}

.navds-accordion__header {
  padding: var(--navds-spacing-4) var(--navds-spacing-3);
  background: transparent;
  text-align: left;
  border: none;
  width: 100%;
  margin: 0;
  cursor: pointer;
  border-bottom: 2px solid #a0a0a0;
  display: grid;
  grid-auto-flow: column;
  gap: var(--navds-spacing-4);
  align-items: center;
}

.navds-accordion__content {
  color: var(--navds-color-darkgray);
  padding: var(--navds-spacing-5) var(--navds-spacing-3) var(--navds-spacing-10);
}

.navds-accordion__expand-icon--filled {
  display: none;
}

.navds-accordion__header:hover
  > .navds-accordion__expand-icon.navds-accordion__expand-icon--filled {
  display: inherit;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon {
  display: none;
}
