.navds-accordion-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: var(--navds-font-weight-bold);
}

.navds-accordion-menu-collapsable__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  text-align: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--navds-font-weight-bold);
  color: var(--navds-color-text-link);
  text-decoration: underline;
}

.navds-accordion-menu-collapsable .navds-accordion-menu__list,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  font-weight: var(--navds-font-weight-regular);
}

.navds-accordion-menu-item,
.navds-accordion-menu-collapsable__button {
  display: flex;
  padding: 0.75rem 1rem;
  line-height: 1.5rem; /* TODO: fix typography. */
}

.navds-accordion-menu-collapsable__expand-icon {
  font-size: 1.5rem;
  color: var(--navds-color-text-link);
  flex-shrink: 0;
  margin-left: 0.5rem;
}

.navds-accordion-menu-collapsable--open
  > .navds-accordion-menu-collapsable__button
  > .navds-accordion-menu-collapsable__expand-icon {
  transform: rotate(180deg);
}

.navds-accordion-menu-collapsable .navds-accordion-menu-item,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  padding-left: 2rem;
}

.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-item,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  padding-left: 3rem;
}

.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-item,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  padding-left: 4rem;
}

.navds-accordion-menu-item:focus,
.navds-accordion-menu-collapsable__button:focus {
  outline: 3px solid var(--navds-text-focus);
  outline-offset: -3px;
}

.navds-accordion-menu-item:hover,
.navds-accordion-menu-collapsable__button:hover {
  background-color: var(--navds-color-gray-20);
}

.navds-accordion-menu-item--active {
  box-shadow: inset 0.5rem 0 var(--navds-color-text-link);
  color: var(--navds-color-text);
  text-decoration: none;
  font-weight: var(--navds-font-weight-bold);
}
