.navds-alert {
  border-radius: 4px;
  border: var(--navds-border-default);

  /* Padding calculated based on 16px font for 64px tall alert */
  padding: 1.1875rem var(--navds-spacing-4);
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.75rem;
  justify-content: start;
}

.navds-alert--s {
  border-radius: 0;
  padding: var(--navds-spacing-2) var(--navds-spacing-4);
}

.navds-alert > svg {
  font-size: 1.5rem;
  background: radial-gradient(
    circle,
    var(--navds-color-background) 50%,
    0,
    transparent
  );
}

.navds-alert > span {
  margin-top: 1px;
}

.navds-alert--error {
  border-color: var(--navds-color-error-border);
  background-color: var(--navds-color-error-background);
}

.navds-alert--error > svg {
  color: var(--navds-color-red-60);
}

.navds-alert--warning {
  border-color: var(--navds-color-warning-border);
  background-color: var(--navds-color-warning-background);
}

.navds-alert--warning > svg {
  color: var(--navds-color-orange-40);
  background: radial-gradient(
    circle,
    var(--navds-color-darkgray) 50%,
    0,
    transparent
  );
}

.navds-alert--info {
  border-color: var(--navds-color-info-border);
  background-color: var(--navds-color-info-background);
}

.navds-alert--info > svg {
  color: var(--navds-color-lightblue-70);
}

.navds-alert--success {
  border-color: var(--navds-color-success-border);
  background-color: var(--navds-color-success-background);
}

.navds-alert--success > svg {
  color: var(--navds-color-green-70);
}
