.navds-alert {
  border-radius: 4px;
  border: var(--navds-border-default);

  /* Padding calculated based on 18px font for 64px tall alert */
  padding: var(--navds-spacing-4) var(--navds-spacing-4);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  min-height: 64px;
  box-sizing: border-box;
}

.navds-alert--s {
  padding: var(--navds-spacing-1) var(--navds-spacing-4);
  min-height: 32px;
}

.navds-alert > span > svg {
  margin-right: var(--navds-spacing-3);
  font-size: 1.5rem;
  background: radial-gradient(
    circle,
    var(--navds-color-background) 50%,
    0,
    transparent
  );
}

.navds-alert > div {
  display: flex;
  align-items: center;
}

.navds-alert > span {
  display: flex;
  align-items: center;
  max-height: calc(var(--navds-spacing-8) - 2px);
}

.navds-alert--error {
  border-color: var(--navds-color-error-border);
  background-color: var(--navds-color-error-background);
}

.navds-alert--error > span > svg {
  color: var(--navds-color-red-60);
}

.navds-alert--warning {
  border-color: var(--navds-color-warning-border);
  background-color: var(--navds-color-warning-background);
}

.navds-alert--warning > span > svg {
  color: var(--navds-color-orange-40);
  background: radial-gradient(
    circle,
    var(--navds-color-darkgray) 50%,
    0,
    transparent
  );
}

.navds-alert--info {
  border-color: var(--navds-color-info-border);
  background-color: var(--navds-color-info-background);
}

.navds-alert--info > span > svg {
  color: var(--navds-color-lightblue-70);
}

.navds-alert--success {
  border-color: var(--navds-color-success-border);
  background-color: var(--navds-color-success-background);
}

.navds-alert--success > span > svg {
  color: var(--navds-color-green-70);
}
