.navds-alert {
  border-radius: 4px;
  border: var(--navds-border-default);
  padding: var(--navds-spacing-4);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  min-height: 64px;
  box-sizing: border-box;
}

.navds-alert__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navds-alert--small {
  padding: var(--navds-spacing-1) var(--navds-spacing-4);
  min-height: 32px;
}

.navds-alert--full-width {
  width: 100%;
  border-radius: 0;
  justify-content: center;
}

.navds-alert > .navds-alert__icon > svg {
  margin-right: var(--navds-spacing-3);
  font-size: 1.5rem;
  flex-shrink: 0;
  background: radial-gradient(
    circle,
    var(--navds-color-background) 50%,
    0,
    transparent
  );
}

.navds-alert__content {
  display: block;
  margin: auto 0;
  max-width: 43.5rem;
  flex: 1;
}

.navds-alert__icon {
  display: flex;
  align-items: center;
  max-height: calc(var(--navds-spacing-8) - 2px);
}

.navds-alert--error {
  border-color: var(--navds-color-error-border);
  background-color: var(--navds-color-error-background);
}

.navds-alert--error > .navds-alert__icon > svg {
  color: var(--navds-color-red-60);
}

.navds-alert--warning {
  border-color: var(--navds-color-warning-border);
  background-color: var(--navds-color-warning-background);
}

.navds-alert--warning > .navds-alert__icon > svg {
  color: var(--navds-color-orange-40);
  background: radial-gradient(
    circle,
    var(--navds-color-darkgray) 50%,
    0,
    transparent
  );
}

.navds-alert--info {
  border-color: var(--navds-color-info-border);
  background-color: var(--navds-color-info-background);
}

.navds-alert--info > .navds-alert__icon > svg {
  color: var(--navds-color-lightblue-70);
}

.navds-alert--success {
  border-color: var(--navds-color-success-border);
  background-color: var(--navds-color-success-background);
}

.navds-alert--success > .navds-alert__icon > svg {
  color: var(--navds-color-green-70);
}
