.navds-button {
  display: inline-flex;
  cursor: pointer;
  background-color: var(--navds-color-background);
  color: var(--navds-color-action-default);
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-color: var(--navds-color-action-default);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  min-height: 48px;
  min-width: 48px;
  align-items: center;
  padding: var(--navds-spacing-2) var(--navds-spacing-2);
}

.navds-button__inner {
  display: flex;
  align-items: center;
  margin: auto;
  gap: var(--navds-spacing-2);
}

.navds-button svg {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.navds-button--small svg {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.navds-button--small {
  padding: var(--navds-spacing-1) var(--navds-spacing-2);
  min-height: 32px;
}

.navds-button:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

/**************************
 * .navds-button--primary *
 **************************/

.navds-button--primary:hover,
.navds-button--primary:active {
  color: var(--navds-color-text-inverse);
  background-color: var(--navds-color-action-hover);
  border-color: transparent;
}

.navds-button--primary:active {
  background-color: var(--navds-color-action-active);
}

/****************************
 * .navds-button--secondary *
 ****************************/

.navds-button--secondary {
  border-color: transparent;
  background-color: transparent;
}

.navds-button--secondary:hover,
.navds-button--secondary:focus {
  border-color: var(--navds-color-action-default);
}

.navds-button--secondary:active {
  color: var(--navds-color-text-inverse);
  border-color: var(--navds-color-action-active);
  background-color: var(--navds-color-action-active);
}

/*************************
 * .navds-button--action *
 * .navds-button--danger *
 *************************/

.navds-button--action {
  background-color: var(--navds-color-action-default);
  border-color: var(--navds-color-action-default);
}

.navds-button--danger {
  background-color: var(--navds-color-danger-default);
  border-color: var(--navds-color-danger-default);
}

.navds-button--action,
.navds-button--danger {
  color: white;
  border-width: 1px;
}

.navds-button--action:hover {
  background-color: var(--navds-color-action-hover);
  border-color: var(--navds-color-action-hover);
}

.navds-button--danger:hover {
  background-color: var(--navds-color-danger-hover);
  border-color: var(--navds-color-danger-hover);
}

.navds-button--action:active {
  background-color: var(--navds-color-action-active);
}

.navds-button--danger:active {
  background-color: var(--navds-color-danger-active);
}

.navds-button--action:focus,
.navds-button--danger:focus {
  border-color: white;
}

/**************************
 * .navds-button:disabled *
 **************************/

.navds-button:disabled:disabled {
  background-color: var(--navds-color-disabled);
  color: var(--navds-color-text-inverse);
  cursor: not-allowed;
  border-width: 0;
  box-shadow: none;
  transform: none;
}
