.navds-button {
  display: inline-flex;
  cursor: pointer;
  background-color: var(--navds-color-background);
  color: var(--navds-color-action-default);
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-color: var(--navds-color-action-default);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  min-height: 48px;
  align-items: center;

  /* Padding calculated based on 18px font for 44px tall button */
  padding: calc(var(--navds-spacing-3) - 2px) var(--navds-spacing-3);
}

.navds-button > svg {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.navds-button--s > svg {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.navds-button > svg {
  /* margin-right: 0.5rem;
  margin-left: 0.5rem; */
}

.navds-button > svg + *:not(.sr-only),
.navds-button > *:not(.sr-only) + svg {
  margin-left: 0.5rem;
}

/* .navds-button:last-child {
  margin-left: 0.5rem;
} */

.navds-button--s {
  /* Padding calculated based on 16px font for 32px tall button */
  padding: 0.25rem calc(var(--navds-spacing-4) - 2px);
  min-height: 32px;
}

.navds-button:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

/**************************
 * .navds-button--primary *
 **************************/

.navds-button--primary:hover,
.navds-button--primary:active {
  color: var(--navds-color-text-inverse);
  background-color: var(--navds-color-action-hover);
  border-color: transparent;
}

.navds-button--primary:active {
  background-color: var(--navds-color-action-active);
}

/****************************
 * .navds-button--secondary *
 ****************************/

.navds-button--secondary {
  border-color: transparent;
  background-color: transparent;
}

.navds-button--secondary:hover,
.navds-button--secondary:focus {
  border-color: var(--navds-color-action-default);
}

.navds-button--secondary:active {
  color: var(--navds-color-text-inverse);
  border-color: var(--navds-color-action-active);
  background-color: var(--navds-color-action-active);
}

/*************************
 * .navds-button--action *
 * .navds-button--danger *
 *************************/

.navds-button--action {
  background-color: var(--navds-color-action-default);
  border-color: var(--navds-color-action-default);
}

.navds-button--danger {
  background-color: var(--navds-color-danger-default);
  border-color: var(--navds-color-danger-default);
}

.navds-button--action,
.navds-button--danger {
  color: white;
  border-width: 1px;
}

.navds-button--action:hover {
  background-color: var(--navds-color-action-hover);
  border-color: var(--navds-color-action-hover);
}

.navds-button--danger:hover {
  background-color: var(--navds-color-danger-hover);
  border-color: var(--navds-color-danger-hover);
}

.navds-button--action:active {
  background-color: var(--navds-color-action-active);
}

.navds-button--danger:active {
  background-color: var(--navds-color-danger-active);
}

.navds-button--action:focus,
.navds-button--danger:focus {
  border-color: white;
}

/**************************
 * .navds-button:disabled *
 **************************/

.navds-button:disabled:disabled {
  background-color: var(--navds-color-disabled);
  color: var(--navds-color-text-inverse);
  cursor: not-allowed;
  border-width: 0;
  box-shadow: none;
  transform: none;
}
