/*
  MicroCard
*/

.navds-card__micro {
  border-radius: 1rem;
  color: var(--navds-color-text-primary);
  display: inline-flex;
  padding: var(--navds-spacing-1) var(--navds-spacing-2);
  text-decoration: none;
  background-color: var(--navds-color-orange-20);
  border: 1px solid transparent;
}

.navds-card__micro:hover {
  background-color: var(--navds-color-white);
  border-color: var(--navds-color-blue-50);
  color: var(--navds-color-blue-50);
}

.navds-card__micro:focus {
  background-color: var(--navds-color-white);

  color: var(--navds-color-blue-50);
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-card__micro:active {
  background-color: var(--navds-color-blue-70);
  color: var(--navds-color-white);
}
