:root {
  --navds-guide-panel-color-background: var(--navds-color-background);
  --navds-guide-panel-color-border: var(--navds-color-blue-40);
  --navds-guide-panel-color-illustration-background: var(--navds-color-blue-20);
}

/**
 * GuidePanel component
 */
.navds-guide-panel {
  background-color: var(--navds-guide-panel-color-background);
  border-radius: 4px;
  position: relative;
  border: 2px solid var(--navds-guide-panel-color-border);
  min-height: 7.25rem;
  padding: 1.5rem;
  padding-left: 7rem;
  display: flex;
  align-items: center;
  text-align: left;
}

.navds-guide-panel__content {
  width: 100%;
}

.navds-guide-panel .navds-guide {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.navds-guide-panel--poster {
  padding: 2rem;
  padding-top: 8.25rem;
}

.navds-guide-panel--poster .navds-guide {
  left: 50%;
  margin-left: -3.125rem;
}

.navds-guide-panel:not(.navds-guide-panel--poster) {
  padding: 1.5rem;
  padding-left: 3.5rem;
  margin-left: 2.5rem;
}

.navds-guide-panel:not(.navds-guide-panel--poster) .navds-guide {
  left: -40px;
}

.navds-guide-panel.navds-guide-panel--poster {
  margin-top: 3.125rem;
  padding: 2rem;
  padding-top: 4.25rem;
}

.navds-guide-panel.navds-guide-panel--poster .navds-guide {
  top: -50px;
}

/**
 * Guide component
 */
.navds-guide {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Guide illustration frame */
.navds-guide__illustration {
  align-items: flex-end;
  background: var(--navds-guide-panel-color-illustration-background);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  order: 3;
  overflow: hidden;
}

.navds-guide__illustration svg,
.navds-guide__illustration img {
  height: 90%;
  width: 100%;
}

/* Illustration sizes */
.navds-guide__illustration--small {
  height: 5rem;
  width: 5rem;
}

.navds-guide__illustration--medium {
  height: 6.25rem;
  width: 6.25rem;
}
