.navds-guide {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
/* guide variants */
/* .navds-guide--default .navds-guide__speech-bubble {
  background-color: var(--navds-color-orange-20);
}

.navds-guide--default .navds-guide__arrow {
  border-right: 1.25rem solid var(--navds-color-orange-20);
}

.navds-guide--default .navds-guide__arrow--left {
  border-right: 0;
  border-left: 1.25rem solid var(--navds-color-orange-20);
} */

.navds-guide--success .navds-guide__speech-bubble {
  background-color: var(--navds-color-green-20);
}

.navds-guide--success .navds-guide__arrow {
  border-right: 1.25rem solid var(--navds-color-green-20);
}

.navds-guide--success .navds-guide__arrow--left {
  border-right: 0;
  border-left: 1.25rem solid var(--navds-color-green-20);
}

.navds-guide--warning .navds-guide__speech-bubble {
  background-color: var(--navds-color-orange-20);
}

.navds-guide--warning .navds-guide__arrow {
  border-right: 1.25rem solid var(--navds-color-orange-20);
}

.navds-guide--warning .navds-guide__arrow--left {
  border-right: 0;
  border-left: 1.25rem solid var(--navds-color-orange-20);
}

.navds-guide--error .navds-guide__speech-bubble {
  background-color: var(--navds-color-danger-default);
}

.navds-guide--error .navds-guide__arrow {
  border-right: 1.25rem solid var(--navds-color-danger-default);
}

.navds-guide--error .navds-guide__arrow--left {
  border-right: 0;
  border-left: 1.25rem solid var(--navds-color-danger-default);
}

/* positions */
/* .navds-guide--floating {
} */
.navds-guide--top {
  flex-direction: column;
}
.navds-guide--right {
  flex-direction: row-reverse;
}
.navds-guide--bottom {
  flex-direction: column-reverse;
}
.navds-guide--left {
  flex-direction: row;
}

/* Guide illustration frame */
.navds-guide__illustration {
  align-items: flex-end;
  background: var(--navds-color-gray-20);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  order: 3;
  overflow: hidden;
}

.navds-guide__illustration svg,
.navds-guide__illustration img {
  height: 90%;
  width: 100%;
}
/* Illustration sizes */
.navds-guide__illustration--s {
  height: 5rem;
  width: 5rem;
}

.navds-guide__illustration--s ~ .navds-guide__speech-bubble--floating {
  bottom: 5rem;
}

.navds-guide__illustration--s ~ .navds-guide__arrow--floating {
  bottom: 4.1rem;
  transform: scale(0.5);
}

.navds-guide__illustration--m {
  height: 6.25rem;
  width: 6.25rem;
}

.navds-guide__illustration--m ~ .navds-guide__speech-bubble--floating {
  bottom: 6.5rem;
}

.navds-guide__illustration--m ~ .navds-guide__arrow--floating {
  bottom: 5.5rem;
  transform: scale(0.666667);
}

.navds-guide__illustration--l {
  height: 10rem;
  width: 10rem;
}

.navds-guide__illustration--l ~ .navds-guide__speech-bubble--floating {
  bottom: 10rem;
}

.navds-guide__illustration--l ~ .navds-guide__arrow--floating {
  bottom: 8.8rem;
  transform: scale(1.06667);
}

.navds-guide__illustration--xl {
  height: 15rem;
  width: 15rem;
}

.navds-guide__illustration--xl ~ .navds-guide__speech-bubble--floating {
  bottom: 15rem;
}

.navds-guide__illustration--xl ~ .navds-guide__arrow--floating {
  bottom: 14rem;
  transform: scale(1.6);
}

/* Illustration themes */
/* .navds-guide__illustration--default {
} */
.navds-guide__illustration--info {
  background: var(--navds-color-lightblue-30);
}

.navds-guide__illustration--success {
  background: var(--navds-color-green-20);
}

.navds-guide__illustration--waring {
  background: var(--navds-color-orange-20);
}

.navds-guide__illustration--error {
  background: var(--navds-color-red-20);
}

.navds-guide__illustration--center {
  align-items: center;
}
.navds-guide__illustration--center svg,
.navds-guide__illustration--center img {
  height: 100%;
}
.navds-guide__illustration--transparent {
  background: none;
}
.navds-guide__illustration--nomask {
  overflow: visible;
}

.navds-guide__arrow {
  border-bottom: 1.25rem solid transparent;
  border-right: 1.25rem solid #efefef; /* change tp gray-10 ? */
  display: block;
  height: 1.25rem;
  order: 2;
}
/* Arrow positions */
.navds-guide__arrow--floating {
  position: absolute;
  right: 50%;
}
.navds-guide__arrow--top {
  margin-right: 40px;
}
.navds-guide__arrow--right {
  margin-left: 0.75rem;
  border-top: 1.25rem solid transparent;
}
.navds-guide__arrow--bottom {
  border-bottom: 0;
  margin-right: 40px;
  border-top: 1.25rem solid transparent;
}
.navds-guide__arrow--left {
  border-left: 1.25rem solid #efefef; /* change tp gray-10 ? */
  border-top: 1.25rem solid transparent;
  border-right: 0;
  margin-right: 0.75rem;
}
/* arrow color */
.navds-guide__arrow--white {
  border-right-color: white;
}

.navds-guide__arrow--left.navds-guide__arrow--white {
  border-left-color: white;
}

/* guide speech-bubble */
.navds-guide__speech-bubble {
  background: #efefef; /* Change to gray-10 ? */
  border-radius: 0.5rem;
  order: 1;
  padding: 1.25rem;
  text-align: left;
}
/* Bubble position */
.navds-guide__speech-bubble--floating {
  position: absolute;
}

/* bubble color */
.navds-guide__speech-bubble--white {
  background: white;
}
