.navds-header {
  display: flex;
  justify-content: center;
  background-color: var(--navds-color-background);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
}

.navds-header__wrapper {
  width: 100%;
  max-width: 56.5rem;
  text-align: center;
}

.navds-header__title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.navds-header--left {
  align-items: flex-start;
  text-align: start;
}

.navds-header--left > .navds-header__wrapper {
  text-align: start;
}

.navds-header__illustration {
  margin-right: 1.5rem;
  pointer-events: none;
}

.navds-header__illustration > svg {
  width: 5rem;
  height: 5rem;
}

.navds-header--situation {
  box-shadow: 0 -4px 0 var(--navds-color-orange-40) inset;
}
.navds-header--product {
  box-shadow: 0 -4px 0 var(--navds-color-green-40) inset;
}
.navds-header--guide {
  box-shadow: 0 -4px 0 var(--navds-color-deepblue-40) inset;
}

@media (max-width: 649px) {
  .navds-header__illustration > svg {
    width: 3rem;
    height: 3rem;
  }
  .navds-header__title {
    font-size: var(--navds-font-size-title-xl);
  }
}
