.navds-help-text__button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navds-help-text__button:focus {
  outline: none;
}

.navds-help-text__icon {
  border-radius: 50%;
}

.navds-help-text__button:hover > .navds-help-text__icon {
  color: var(--navds-color-white);
  background: var(--navds-color-blue-50);
  box-shadow: 0 0 0 2px var(--navds-color-blue-50);
}

.navds-help-text__button:focus > .navds-help-text__icon {
  outline: none;
  color: var(--navds-color-white);
  background: var(--navds-color-blue-50);
  box-shadow: 0 0 0 3px var(--navds-color-blue-80);
}

.navds-help-text__icon {
  font-size: 1.5rem;
  color: var(--navds-color-blue-50);
}

.navds-help-text__popover > .navds-popover__arrow::before {
  background-color: var(--navds-color-lightblue-10);
}

.navds-help-text__popover.navds-popover {
  background-color: var(--navds-color-lightblue-10);
}
