.navds-input {
  appearance: none;
  padding: 0.5rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--navds-color-border);
  box-sizing: border-box;
  min-height: 48px;
  width: 100%;
}

.navds-input--s {
  padding: 0.25rem;
  min-height: 32px;
}

.navds-input:hover {
  border-color: var(--navds-color-blue-50);
}

.navds-input:focus {
  outline: 0;
  box-shadow: var(--navds-shadow-focus);
}
.navds-input__label {
  margin-bottom: var(--navds-spacing-2);
  display: block;
}

.navds-input__description {
  display: block;
  margin-bottom: var(--navds-spacing-2);
}

/*
  TODO: Oppdater denne til riktige farger
 */
.navds-input:disabled,
.navds-input[readonly] {
  background-color: #f1f1f1;
  border-color: #6a6a6a;
  box-shadow: none;
  color: #262626;
}

.navds-input:disabled:hover,
.navds-input[readonly]:hover {
  cursor: not-allowed;
}
