/**************************
 * .navds-header *
 **************************/

.navds-interal-header {
  display: flex;
  align-items: center;
  background: var(--navds-color-darkgray);
  color: white;
  max-width: 100vw;
  min-height: 50px;
}

.navds-interal-header__column {
  display: flex;
  align-items: center;
}

/**************************
  * .navds-interal-header__title *
  **************************/

.navds-interal-header__title {
  padding: 0 var(--navds-spacing-6);
  border-right: 1px solid var(--navds-color-gray-40);
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  margin: 0;
  color: var(--navds-color-text-inverse);
}

.navds-interal-header__title,
.navds-interal-header__title a {
  text-decoration: none;
  color: inherit;
}

.navds-interal-header__title:focus,
.navds-interal-header__title a:focus {
  outline: 3px solid white;
  outline-offset: 0.5rem;
}

/**************************
  * .navds-interal-header__user *
  **************************/

.navds-interal-header__user {
  color: var(--navds-color-text-inverse);
  padding: 0 var(--navds-spacing-6);
  margin-left: auto;
  border-left: 1px solid var(--navds-color-gray-40);
  display: flex;
  align-self: stretch;
  align-items: center;
}

.navds-interal-header__name {
  margin-right: var(--navds-spacing-4);
}
