:root {
  --navds-internal-header-color-background: var(--navds-color-darkgray);
  --navds-internal-header-color-border: var(--navds-color-gray-40);
  --navds-internal-header-color: var(--navds-color-text-inverse);
}

/**************************
 * .navds-header *
 **************************/

.navds-interal-header {
  display: flex;
  align-items: center;
  background: var(--navds-internal-header-color-background);
  color: var(--navds-internal-header-color);
  max-width: 100vw;
  min-height: 50px;
}

.navds-interal-header__column {
  display: flex;
  align-items: center;
}

/**************************
  * .navds-interal-header__title *
  **************************/

.navds-interal-header__title {
  padding: 0 var(--navds-spacing-6);
  border-right: 1px solid var(--navds-internal-header-color-border);
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  margin: 0;
  color: var(--navds-internal-header-color);
}

.navds-interal-header__title > span > a {
  text-decoration: none;
  color: inherit;
}

.navds-interal-header__title > span > a:focus {
  box-shadow: var(--navds-shadow-focus-on-dark);
  outline: none;
}

/**************************
  * .navds-interal-header__user *
  **************************/

.navds-interal-header__user {
  color: var(--navds-internal-header-color);
  padding: 0 var(--navds-spacing-6);
  margin-left: auto;
  border-left: 1px solid var(--navds-internal-header-color-border);
  display: flex;
  align-self: stretch;
  align-items: center;
}

.navds-interal-header__name.navds-body-short {
  margin-right: var(--navds-spacing-4);
}
