.navds-link {
  color: var(--navds-color-text-link);
  text-decoration: underline;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.25rem;
}

.navds-alert--error .navds-link,
.navds-alert--info .navds-link,
.navds-confirmation-panel--error .navds-link {
  color: var(--navds-color-text-primary);
}

.navds-link:hover {
  text-decoration: none;
}

.navds-link:focus {
  outline: none;
  color: var(--navds-color-text-inverse);
  text-decoration: none;
  background-color: var(--navds-text-focus);
  box-shadow: var(--navds-text-shadow);
}

.navds-link:active {
  outline: none;
  color: var(--navds-color-text-inverse);
  text-decoration: none;
  background-color: var(--navds-text-focus);
  box-shadow: var(--navds-text-shadow);
}

.navds-link svg {
  color: var(--navds-color-text-link);
}

.navds-link:focus svg {
  color: var(--navds-color-text-inverse);
}
