.navds-link-panel {
  text-decoration: none;
  color: var(--navds-color-gray-90);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--navds-spacing-2);
}

.navds-link-panel:hover .navds-link-panel__title {
  text-decoration: underline;
  color: var(--navds-color-text-link);
}

.navds-link-panel:hover {
  box-shadow: var(--navds-shadow-hover);
  border-color: var(--navds-color-blue-50);
}

.navds-link-panel:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-link-panel__chevron {
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: transform 200ms;
  flex-shrink: 0;
}

.navds-link-panel:hover > .navds-link-panel__chevron,
.navds-link-panel:focus-within > .navds-link-panel__chevron {
  transform: translateX(4px);
}

.navds-link-panel__description {
  margin-top: var(--navds-spacing-2);
}
