:root {
  --navds-loader-color-foreground: var(--navds-color-gray-40);
  --navds-loader-color-background: var(--navds-color-gray-10);
  --navds-loader-color-neutral-foreground: var(--navds-color-gray-40);
  --navds-loader-color-interaction-foreground: var(--navds-color-blue-50);
  --navds-loader-color-inverted-foreground: var(--navds-color-white);
  --navds-loader-color-inverted-background: rgba(255, 255, 255, 0.3);
  --navds-loader-color-transparent-background: transparent;
  --navds-loader-color-on-button-background: rgba(255, 255, 255, 0.3);
  --navds-loader-color-on-button-foreground: currentColor;
}

.navds-loader {
  width: 1.5rem;
  display: inline-block;
  position: relative;
  animation: loader-rotate 1.4s linear infinite;
}

.navds-loader__foreground {
  animation: loader-dasharray 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  stroke: var(--navds-loader-color-foreground);
}

.navds-loader__background {
  stroke: var(--navds-loader-color-background);
}

.navds-loader--neutral .navds-loader__foreground {
  stroke: var(--navds-loader-color-neutral-foreground);
}

.navds-loader--interaction .navds-loader__foreground {
  stroke: var(--navds-loader-color-interaction-foreground);
}

.navds-loader--inverted .navds-loader__foreground {
  stroke: var(--navds-loader-color-inverted-foreground);
}

.navds-loader--inverted .navds-loader__background {
  stroke: var(--navds-loader-color-inverted-background);
}

.navds-loader--transparent .navds-loader__background {
  stroke: var(--navds-loader-color-transparent-background);
}

.navds-loader--2xlarge {
  width: 4rem;
}

.navds-loader--xlarge {
  width: 2.5rem;
}

.navds-loader--large {
  width: 2rem;
}

.navds-loader--medium {
  width: 1.5rem;
}

.navds-loader--small {
  width: 1.25rem;
}

.navds-loader--xsmall {
  width: 1rem;
}

/*
 * Button spesific styling
 */

.navds-button .navds-loader .navds-loader__foreground {
  stroke: var(--navds-loader-color-on-button-foreground);
}

.navds-button:hover .navds-loader .navds-loader__background {
  stroke: var(--navds-loader-color-on-button-background);
}

.navds-button:active .navds-loader .navds-loader__background {
  stroke: var(--navds-loader-color-on-button-background);
}

.navds-button--action .navds-loader .navds-loader__background,
.navds-button--danger .navds-loader .navds-loader__background {
  stroke: var(--navds-loader-color-on-button-background);
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dasharray {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}
