.ReactModal__Body--open {
  overflow: hidden;
}

.navds-modal {
  background-color: var(--navds-color-background);
  border-radius: 4px;
  display: block;
  position: relative;
  overflow: auto;
  max-height: 100%;
  z-index: var(--navds-z-index-modal-content);
}

.navds-modal__content {
  padding: var(--navds-spacing-4);
}

.navds-modal:focus,
.navds-modal--focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-modal__overlay {
  position: fixed;
  z-index: var(--navds-z-index-modal-overlay);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--navds-color-modal-overlay);
  padding: var(--navds-spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navds-modal__button--shake {
  transform: rotate(0deg);
  transition: transform 100ms cubic-bezier(0.82, 2, 1, 0.3);
}

/* prettier-ignore */
.navds-modal__overlay:active > .navds-modal:not(:active) > .navds-modal__button--shake {
  transform: rotate(10deg);
  transition: transform 100ms cubic-bezier(0.82, -2, 1, 0.3);
}

.navds-modal__button {
  position: absolute;
  top: var(--navds-spacing-4);
  right: var(--navds-spacing-4);
  display: flex;
  padding: var(--navds-spacing-2);
}

.navds-modal__button svg {
  /* 24x24px */
  height: 1.5rem;
  width: 1.5rem;
}
