.navds-panel {
  background-color: var(--navds-color-white);
  padding: var(--navds-spacing-4);
  border-radius: var(--navds-border-radius);
  border: 1px solid transparent;
}

.navds-panel--border {
  border-color: var(--navds-color-border);
}
