.navds-popover {
  z-index: var(--navds-z-index-popover-default);
  background-color: var(--navds-color-background);
  box-shadow: 0 2px 4px 0 var(--navds-color-gray-20);
  border: var(--navds-border-default);
  border-radius: 4px;
  padding: 1rem;
}

.navds-popover--hidden {
  display: none;
}

.navds-popover:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-popover__arrow {
  z-index: var(--navds-z-index-popover-arrow);
}

.navds-popover__arrow::before {
  display: block;
  content: "";
  transform: rotate(45deg);
  background-color: var(--navds-color-background);
  border: var(--navds-border-default);
  width: 1rem;
  height: 1rem;
  top: 0px;
  left: 0px;
  /* z-index: -1; */
}

.navds-popover[data-popper-placement^="top"] > .navds-popover__arrow {
  bottom: calc(1rem / -2);
}

.navds-popover[data-popper-placement^="top"] > .navds-popover__arrow::before {
  border-left-color: transparent;
  border-top-color: transparent;
}

.navds-popover[data-popper-placement^="bottom"] > .navds-popover__arrow {
  top: calc(1rem / -2);
}

/* prettier-ignore */
.navds-popover[data-popper-placement^="bottom"] > .navds-popover__arrow::before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.navds-popover[data-popper-placement^="left"] > .navds-popover__arrow {
  right: calc(1rem / -2);
}

.navds-popover[data-popper-placement^="left"] > .navds-popover__arrow::before {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.navds-popover[data-popper-placement^="right"] > .navds-popover__arrow {
  left: calc(1rem / -2);
}

.navds-popover[data-popper-placement^="right"] > .navds-popover__arrow::before {
  border-right-color: transparent;
  border-top-color: transparent;
}
