.navds-speechbubble {
  display: grid;
  grid-template: "illustration bubble-list" / auto 1fr;
  align-items: end;
  gap: var(--navds-spacing-4);
}

.navds-speechbubble--right {
  grid-template: "bubble-list illustration" / 1fr auto;
}

.navds-speechbubble__bubble-list {
  grid-area: bubble-list;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--navds-spacing-3);
}

.navds-speechbubble--right .navds-speechbubble__bubble-list {
  justify-items: end;
}

.navds-speechbubble__illustration {
  grid-area: illustration;
  background: var(--navds-color-gray-20);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
}

.navds-speechbubble__illustration > * {
  max-height: 100%;
  max-width: 100%;
}

.navds-speechbubble__bubble {
  padding: 1rem;
  box-shadow: 0 2px 4px 0 var(--navds-color-gray-20);
  width: fit-content;
  max-width: 37.5rem;
  background-color: var(--navds-color-gray-10);
  border-radius: 12px;
  display: grid;
  gap: var(--navds-spacing-2);
}

.navds-speechbubble__bubble:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-speechbubble--left .navds-speechbubble__bubble {
  border-bottom-left-radius: 2px;
}

.navds-speechbubble--right .navds-speechbubble__bubble {
  border-bottom-right-radius: 2px;
}

.navds-speechbubble__top-text {
  color: var(--navds-color-gray-60);
}
