.navds-tag {
  border: var(--navds-border-default);
  border-radius: 4px;
  background-color: var(--navds-color-tag-info-background);
  border-color: var(--navds-color-tag-info-border);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem var(--navds-spacing-3);
  min-height: 32px;
}

.navds-tag--small {
  min-height: 24px;
  padding-right: var(--navds-spacing-1);
  padding-left: var(--navds-spacing-1);
}

.navds-tag--error {
  background-color: var(--navds-color-tag-error-background);
  border-color: var(--navds-color-tag-error-border);
}

.navds-tag--success {
  background-color: var(--navds-color-tag-success-background);
  border-color: var(--navds-color-tag-success-border);
}

.navds-tag--warning {
  background-color: var(--navds-color-tag-warning-background);
  border-color: var(--navds-color-tag-warning-border);
}

.navds-tag--info {
  background-color: var(--navds-color-tag-info-background);
  border-color: var(--navds-color-tag-info-border);
}
