.navds-tag {
  border-radius: 4px;
  border: var(--navds-border-default);
  background-color: var(--navds-color-tag-info-background);
  border-color: var(--navds-color-tag-info-border);
  display: inline-block;

  /* Padding calculated based on 16px font for 24px tall tag */
  padding: 0.0625rem 0.5rem;
}

.navds-tag--error {
  background-color: var(--navds-color-tag-error-background);
  border-color: var(--navds-color-tag-error-border);
}

.navds-tag--success {
  background-color: var(--navds-color-tag-success-background);
  border-color: var(--navds-color-tag-success-border);
}

.navds-tag--warning {
  background-color: var(--navds-color-tag-warning-background);
  border-color: var(--navds-color-tag-warning-border);
}

.navds-tag--info {
  background-color: var(--navds-color-tag-info-background);
  border-color: var(--navds-color-tag-info-border);
}
