/* Heading */
.navds-heading {
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-heading--2xlarge {
  font-size: var(--navds-font-size-heading-2xl);
  letter-spacing: -0.01em;
  line-height: var(--navds-font-line-height-heading-2xl);
}

.navds-heading--2xlarge.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-5);
}

.navds-heading--xlarge {
  font-size: var(--navds-font-size-heading-xl);
  letter-spacing: -0.008em;
  line-height: var(--navds-font-line-height-heading-xl);
}

.navds-heading--xlarge.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-4);
}

.navds-heading--large {
  font-size: var(--navds-font-size-heading-l);
  letter-spacing: -0.004em;
  line-height: var(--navds-font-line-height-heading-l);
}

.navds-heading--large.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-heading--medium {
  font-size: var(--navds-font-size-heading-m);
  letter-spacing: -0.002em;
  line-height: var(--navds-font-line-height-heading-m);
}

.navds-heading--medium.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-heading--small {
  font-size: var(--navds-font-size-heading-s);
  letter-spacing: -0.001em;
  line-height: var(--navds-font-line-height-heading-s);
}

.navds-heading--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

/* Ingress */
.navds-ingress {
  font-size: var(--navds-font-size-xl);
  font-weight: var(--navds-font-weight-regular);
  letter-spacing: -0.001em;
  line-height: var(--navds-font-line-height-xl);
  margin: 0;
}

.navds-ingress.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-10);
}

/* Body */
.navds-body-long {
  font-size: var(--navds-font-size-l);
  font-weight: var(--navds-font-weight-regular);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-xl);
  margin: 0;
}

.navds-body-long.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-7);
}

.navds-body-long--small {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-m);
}

.navds-body-long--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-6);
}

.navds-body-short {
  font-size: var(--navds-font-size-l);
  font-weight: var(--navds-font-weight-regular);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-l);
  margin: 0;
}

.navds-body-short.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-body-short--small {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-m);
}

.navds-body-short--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}

/* Label */
.navds-label {
  font-size: var(--navds-font-size-l);
  font-weight: var(--navds-font-weight-bold);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-l);
  margin: 0;
}

.navds-label.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-label--small {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-m);
}

.navds-label--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}

/* Small text */
.navds-detail {
  font-size: var(--navds-font-size-s);
  font-weight: var(--navds-font-weight-bold);
  letter-spacing: 0.004em;
  line-height: var(--navds-font-line-height-m);
  margin: 0;
}

.navds-detail.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}

.navds-detail--small {
  font-weight: var(--navds-font-weight-regular);
}

.navds-detail--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}
