/* Title */
.navds-title {
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-title--2xlarge {
  font-size: var(--navds-font-size-title-2xl);
  letter-spacing: -0.01em;
  line-height: var(--navds-font-line-height-s);
}

.navds-title--2xlarge.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-5);
}

.navds-title--xlarge {
  font-size: var(--navds-font-size-title-xl);
  letter-spacing: -0.008em;
  line-height: var(--navds-font-line-height-s);
}

.navds-title--xlarge.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-4);
}

.navds-title--large {
  font-size: var(--navds-font-size-title-l);
  letter-spacing: -0.004em;
  line-height: var(--navds-font-line-height-s);
}

.navds-title--large.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-title--medium {
  font-size: var(--navds-font-size-title-m);
  letter-spacing: -0.002em;
  line-height: var(--navds-font-line-height-s);
}

.navds-title--medium.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-title--small {
  font-size: var(--navds-font-size-title-s);
  letter-spacing: -0.001em;
  line-height: var(--navds-font-line-height-s);
}

.navds-title--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

/* Ingress */
.navds-ingress {
  font-size: var(--navds-font-size-xl);
  letter-spacing: -0.001em;
  line-height: var(--navds-font-line-height-m);
  margin: 0;
}

.navds-ingress.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-10);
}

/* Body */
.navds-body-long {
  font-size: var(--navds-font-size-l);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-m);
  margin: 0;
}

.navds-body-short {
  font-size: var(--navds-font-size-l);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-s);
  margin: 0;
}

.navds-body-long.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-7);
}

.navds-body-short.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-body--small {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-s);
}

.navds-body-long.navds-body--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-6);
}

.navds-body-short.navds-body--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}

/* Label */
.navds-label {
  font-size: var(--navds-font-size-l);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-s);
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-label.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-3);
}

.navds-label--small {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-s);
}

.navds-label--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}

/* Small text */
.navds-detail {
  font-size: var(--navds-font-size-s);
  letter-spacing: 0.004em;
  line-height: var(--navds-font-line-height-s);
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-detail.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}

.navds-detail--small {
  font-weight: var(--navds-font-weight-regular);
}

.navds-detail--small.navds-typo--spacing {
  margin-bottom: var(--navds-spacing-2);
}
