/* Title */
.navds-title {
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-title--2xl {
  font-size: var(--navds-font-size-title-2xl);
  letter-spacing: -0.01em;
  line-height: var(--navds-font-line-height-2xl);
}

.navds-title--2xl.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-s);
}

.navds-title--xl {
  font-size: var(--navds-font-size-title-xl);
  letter-spacing: -0.008em;
  line-height: var(--navds-font-line-height-xl);
}

.navds-title--xl.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-xs);
}

.navds-title--l {
  font-size: var(--navds-font-size-title-l);
  letter-spacing: -0.004em;
  line-height: var(--navds-font-line-height-l);
}

.navds-title--l.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-2xs);
}

.navds-title--m {
  font-size: var(--navds-font-size-title-m);
  letter-spacing: -0.002em;
  line-height: var(--navds-font-line-height-m);
}

.navds-title--m.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-2xs);
}

.navds-title--s {
  font-size: var(--navds-font-size-title-s);
  letter-spacing: -0.001em;
  line-height: var(--navds-font-line-height-s);
}

.navds-title--s.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-2xs);
}

/* Spacing between title and spaced text */
.navds-typo--spacing + .navds-title {
  margin-top: var(--navds-font-spacing-3xl);
}

/* Ingress */
.navds-ingress {
  font-size: var(--navds-font-size-xl);
  letter-spacing: -0.001em;
  line-height: var(--navds-font-line-height-s);
  margin: 0;
}

.navds-ingress.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-3xl);
}

/* Body */
.navds-body-long {
  font-size: var(--navds-font-size-l);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-s);
  margin: 0;
}

.navds-body-short {
  font-size: var(--navds-font-size-l);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-xs);
  margin: 0;
}

.navds-body-long.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-l);
}

.navds-body-short.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-2xs);
}

.navds-body--s {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-xs);
}

.navds-body-long.navds-body--s.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-m);
}

.navds-body-short.navds-body--s.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-3xs);
}

/* Label */
.navds-label {
  font-size: var(--navds-font-size-l);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-xs);
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-label.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-2xs);
}

.navds-label--s {
  font-size: var(--navds-font-size-m);
  letter-spacing: 0.002em;
  line-height: var(--navds-font-line-height-2xs);
}

.navds-label--s.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-3xs);
}

/* Small text */
.navds-detail {
  font-size: var(--navds-font-size-s);
  letter-spacing: 0.004em;
  line-height: var(--navds-font-line-height-2xs);
  font-weight: var(--navds-font-weight-bold);
  margin: 0;
}

.navds-detail.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-3xs);
}

.navds-detail--s {
  font-weight: var(--navds-font-weight-regular);
}

.navds-detail--s.navds-typo--spacing {
  margin-bottom: var(--navds-font-spacing-3xs);
}
