.codeexample {
  border: 4px solid #f1f1f1;
  margin-top: 2rem;
}

.codeexample__inner {
  padding: 2rem;
}

.codeexample__inner > * {
  margin: 1rem 0;
}

.codeexample__inner:first-child {
  margin-top: 0;
}

.codeexample__inner:last-child {
  margin-bottom: 0;
}

.codeexample__options {
  padding: 1rem 2rem;
}

.codeexample h2,
.codeexample .typo-systemtittel,
.codeexample .typo-undertittel,
.codeexample .panel {
  margin: 0 !important;
}
.codeexample--greyBg {
  background: var(--navds-color-gray-60);
}

@media (max-width: 550px) {
  .codeexample__inner {
    padding: 1.5rem;
  }
}
