.ReactCollapse--collapse {
  transition: height 200ms ease-out;
}
.navds-expansionpanel {
  position: relative;
  background: var(--navds-color-background);
  border-radius: 0.25rem;
  border: var(--navds-border);
}

.navds-expansionpanel:hover {
  box-shadow: var(--navds-shadow-hover);
  border: var(--navds-panel-hover);
}

.navds-expansionpanel:focus,
.navds-expansionpanel__button:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

[class^="navds-expansionpanel__chevron--"] {
  --chevron-rotation: 0deg;
  width: 1.25em;
  height: 1.25em;
  transition: 200ms transform;
  transform: rotateZ(var(--chevron-rotation));
}
.navds-expansionpanel__chevron--up {
  --chevron-rotation: -180deg;
}
.navds-expansionpanel__chevron--down {
  --chevron-rotation: 0deg;
}

.navds-expansionpanel__button {
  background-color: var(--navds-color-background);
  display: block;
  padding: 1rem;
  border-radius: 0.25rem;
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
}
.navds-expansionpanel__button .navds-expansionpanel__title {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
  color: var(--navds-color-text-primary);
}
.navds-expansionpanel__button:hover {
  cursor: pointer;
}
.navds-expansionpanel__button:hover .navds-expansionpanel__title {
  text-decoration: underline;
  color: var(--navds-color-text-link);
}

.navds-expansionpanel__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navds-expansionpanel__content {
  padding: 1rem;
  padding-top: 0.5rem;
}

.navds-expansionpanel--open .navds-expansionpanel__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navds-expansionpanel--open > .navds-expansionpanel__button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
