@media (min-width: 448px) {
  .navds-layout-section-left.navds-grid-cell--padding,
  .navds-layout-section-main.navds-grid-cell--padding,
  .navds-layout-section-right.navds-grid-cell--padding {
    padding: var(--navds-layout-padding-medium-and-larger);
  }
}

@media (min-width: 648px) {
  .navds-layout-section-left {
    grid-row: 1;
  }

  .navds-layout-section-main {
    grid-row: 2;
  }

  .navds-layout-section-right {
    grid-row: 1 / span 2;
  }

  .navds-layout-section-right.navds-grid-cell--padding {
    padding: var(--navds-layout-padding-small);
  }
}

@media (min-width: 960px) {
  .navds-layout-section-left {
    grid-row: 1;
  }

  .navds-layout-section-left.navds-grid-cell--padding {
    padding: var(--navds-layout-padding-small);
  }

  .navds-layout-section-main {
    grid-row: 1;
  }

  .navds-layout-section-right {
    grid-row: 1;
  }
}
