/* .navds-forms {
} */

.navds-forms__formgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

.navds-forms__legend {
  /* add ingress mixin here */
  margin-bottom: 1rem;
}

.navds-forms__description {
  /* add typo normal here */
  margin-bottom: 1rem;
}

.navds-forms__errormsg {
  /* add typo feilmelding here */
  margin-top: 0.5rem;
}

.navds-forms__errormsg:empty {
  margin: 0;
}
