.navds-link {
  color: var(--navds-color-text-link);
  text-decoration: underline;
}
.navds-link:hover {
  text-decoration: none;
}
.navds-link:focus {
  outline: none;
  color: var(--navds-color-text-inverse);
  text-decoration: none;
  background-color: var(--navds-text-focus);
  box-shadow: var(--navds-text-shadow);
}
.navds-link:active {
  outline: none;
  color: var(--navds-color-text-inverse);
  text-decoration: none;
  background-color: var(--navds-text-focus);
  box-shadow: var(--navds-text-shadow);
}
.navds-link svg {
  width: 1em;
  height: 1em;
  fill: var(--navds-color-text-link);
  stroke: var(--navds-color-text-link);
  vertical-align: middle;
  position: relative;
  top: -0.125em;
}
.navds-link svg + span:not(.sr-only),
.navds-link span:not(.sr-only) + svg {
  margin-left: 0.25em;
}
.navds-link:focus svg {
  color: var(--navds-color-text-inverse);
  color: var(--navds-color-text-inverse);
}
