.bildeFigure {
  border-radius: var(--ax-radius-8);
}

.bildeImage {
  padding: 0;
  border-radius: var(--ax-radius-8);
  background-color: var(--bilde-background, var(--ax-bg-neutral-softA));

  &[data-image-border="true"] {
    box-shadow: 0 0 0 1px var(--ax-border-neutral-subtleA);
  }

  &[data-image-size="small"] {
    max-width: min(100%, 600px);
  }
}

[data-page-layout="centered"] .bildeImage {
  margin-inline: auto;
}

[data-page-layout="centered"] .bildeCaption {
  text-align: center;
}
