@import (reference) "nav-frontend-core/less/_variabler";

.module-browser {
  margin-top: 3rem;

  &--reset-button {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    text-align: inherit;
    outline: none;
    border-radius: 0;
  }

  &__button {
    width: 100%;
    padding: 0.75rem 1rem;
    color: @navBla;
    border-left: 2px solid transparent;
    line-height: 1.15rem;

    &:hover {
      background: #f8f8f8;
      border-left: 2px solid @navBla;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px @fokusFarge;
      z-index: 10;
    }

    &.active {
      background: @navBla;
      color: white !important;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    nav {
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 1px solid @navLysGra;
      flex: 1 1 auto;

      @media (max-width: 830px) {
        display: none;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    overflow: hidden;

    > .skjemaelement {
      display: none;

      .skjemaelement__label {
        display: none;
      }

      @media (max-width: 830px) {
        display: block;
        margin-bottom: 3rem;
      }
    }
  }

  h2 {
    &.first {
      margin: unset !important;
    }
  }

  &--innline {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
  }

  .panel {
    padding: 2rem;

    .nav-list {
      li {
        margin-bottom: 0 !important;
      }

      a:not(.active):hover {
        background: #f4f4f4 !important;
      }
    }
  }

  @media (max-width: 550px) {
    .panel {
      padding: 1.5rem;
    }
  }
}

.propTypeTableWrapperOuter {
  margin: 1rem 0;
}

.propTypeTableWrapper {
  table {
    .deprecated {
      td {
        color: @redError;
        background: @pinkErrorBg;
      }
    }
  }
}

.proptable__tr {
  div {
    max-width: 14rem;
    max-height: 8rem;
    display: block;
    overflow-y: auto;
  }
}
