@import (reference) "~nav-frontend-core/less/_variabler";

.module-browser {
  margin-top: 3rem;

  &--reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    text-align: inherit;
    outline: none;
    border-radius: 0;
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: @navBla;
    text-decoration: none;
    border-left: 2px solid transparent;
    position: relative;
    line-height: 1.15rem;
    box-sizing: border-box;

    &:hover {
      background: #f8f8f8;
      border-left: 2px solid @navBla;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px @fokusFarge;
      z-index: 10;
    }

    &.active {
      background: @navBla;
      color: white !important;
      font-weight: normal !important;

      .etikett {
        &--info {
          background: @navBlaLighten80;
        }

        &--fokus {
          background: @navOransjeLighten60;
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    nav {
      padding-right: 2rem;
      margin-right: 2rem;
      border-right: 1px solid @navLysGra;
      flex: 1 1 auto;

      @media (max-width: 830px) {
        display: none;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    overflow: hidden;

    > .skjemaelement {
      display: none;

      .skjemaelement__label {
        display: none;
      }

      @media (max-width: 830px) {
        display: block;
        margin-bottom: 3rem;
      }
    }
  }

  h2 {
    &.first {
      margin: unset !important;
    }
  }

  &__popover {
    padding: 0.7rem;
  }

  &__copyknapp {
    margin-left: 0.2em;
  }

  &--innline {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
  }

  .panel {
    padding: 2rem;

    .nav-list {
      li {
        margin-bottom: 0 !important;
      }

      a:not(.active):hover {
        background: #f4f4f4 !important;
      }
    }
  }

  @media (max-width: 550px) {
    .panel {
      padding: 1.5rem;
    }
  }
}

.propTypeTableWrapperOuter {
  margin: 1rem 0;
}

.propTypeTableWrapper {
  table {
    .deprecated {
      td {
        color: @redError;
        background: @pinkErrorBg;
      }
    }
  }
}
