.heroGradient {
  --hero-gradient: initial;

  background: var(--hero-gradient);
}

.heroGradient[data-variant="god-praksis"] {
  --hero-gradient: linear-gradient(85deg, #5eead4 0%, #99f6e4 48%, #99f6e4 100%);
}

.heroGradient[data-variant="god-praksis-inverted"] {
  --hero-gradient: linear-gradient(265deg, #14b8a6 0%, #2dd4bf 48.5%, #2dd4bf 100%);
}
