.heroGradient {
  --gradient-color-from: initial;
  --gradient-color-to: initial;

  background: linear-gradient(
    85deg,
    var(--gradient-color-from) 0%,
    var(--gradient-color-from) 48%,
    var(--gradient-color-from) 100%
  );
}

.heroGradient[data-variant="god-praksis"] {
  --gradient-color-from: #5eead4;
  --gradient-color-to: #99f6e4;
}

.heroGradient[data-variant="god-praksis-inverted"] {
  --gradient-color-from: #14b8a6;
  --gradient-color-to: #2dd4bf;

  background: linear-gradient(
    265deg,
    var(--gradient-color-from) 0%,
    var(--gradient-color-to) 48.5%,
    var(--gradient-color-to) 100%
  );
}
