.tocAside {
  position: sticky;
  grid-area: aside;
  display: none;
  min-width: 12.5rem;
  height: fit-content;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  top: calc(var(--website-header-height-width-border) + var(--ax-space-24));

  &[data-variant="subtle"] {
    --aksel-toc-fade-shadow-color: var(--ax-bg-neutral-softA);
  }

  &[data-variant="default"] {
    --aksel-toc-fade-shadow-color: var(--ax-bg-default);
  }

  @media (min-width: 1280px) {
    display: block;
  }
}

.tocAsideLabel {
  padding-block: var(--ax-space-2);
  padding-inline: var(--ax-space-8);
}

.tocAsideContent {
  position: relative;
}

/* Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tocShadow {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 68px;
  pointer-events: none;
}

.tocShadowTop {
  top: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(180deg, var(--aksel-toc-fade-shadow-color), transparent);
}

.tocShadowBottom {
  bottom: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(0deg, var(--aksel-toc-fade-shadow-color), transparent);
}

.tocMenuUl {
  max-height: 60dvh;
  overflow-y: scroll;
  overscroll-behavior: contain;
  padding-block: var(--ax-space-4);
  padding-inline: var(--ax-space-8);
}

.tocNavListNotch {
  &::before {
    content: "";
    position: absolute;
    background-color: var(--ax-bg-neutral-strong-pressed);
    width: 3px;
    height: calc(100% - 8px);
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--ax-border-radius-full);
  }

  [data-type="darkside"] &::before {
    background-color: var(--ax-bg-brand-magenta-strong-pressed);
  }
}

.tocNavListItem {
  position: relative;
  min-height: 1.75rem;
}

.tocNavListItemLink {
  border-radius: var(--ax-border-radius-medium);
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--ax-space-6);
  padding-inline: var(--ax-space-8);
  color: var(--ax-text-neutral);
  scroll-margin-block: 5rem;

  [data-state="active"] & {
    font-weight: var(--ax-font-weight-bold);
    background-color: var(--ax-bg-neutral-moderate-pressedA);
    color: var(--ax-text-neutral);
  }

  [data-state="active"]:hover & {
    background-color: var(--ax-bg-neutral-moderate-hoverA);
  }

  [data-state="inactive"]:hover & {
    background-color: var(--ax-bg-neutral-moderate-hoverA);
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 0;
    z-index: 1;
  }
}

.tocAsideLinks {
  margin-block-start: var(--ax-space-16);
  padding-block-start: var(--ax-space-16);
  padding-inline: var(--ax-space-8);
  border-top: 1px solid var(--ax-border-neutral-subtleA);
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
}
