.tocAside {
  /* sticky top-20 order-1 hidden min-w-60 self-start p-1 xl:block */

  position: sticky;
  top: var(--ax-space-20);
  order: 1;
  display: none;
  min-width: 15rem;

  @media (min-width: 1280px) {
    display: block;
  }
}

.tocAsideLabel {
  padding-block: var(--ax-space-2);
}

.tocAsideContent {
  position: relative;
}

/* Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 68px;
  pointer-events: none;
}

.shadowTop {
  top: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(180deg, var(--shadow-color), transparent);
}

.shadowBottom {
  bottom: 0;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(0deg, var(--shadow-color), transparent);
}

.menuListItem {
  padding-inline: var(--a-spacing-2);
}

.tocMenuUl {
  max-height: 70dvh;
  overflow-y: scroll;
  overscroll-behavior: contain;
  padding-block: var(--ax-space-4);
}

.tocMenuUl .tocMenuUl .menuListItem {
  padding-inline-start: var(--a-spacing-5);
}

.menuListItem[data-current="true"] {
  color: var(--a-text-default);
}

.menuListItem[data-current="true"] > span {
  background-color: var(--a-surface-neutral-subtle);
}

.menuListItem[data-current="true"]::before {
  background-color: var(--a-gray-700);
}
