.filtersMenu {
  box-shadow: @a-blue-200 inset 0 0 0 8px;
  border-radius: 0.2em;
  background-color: white;
}

.filterExplanationHighlight {
  background-color: @a-green-100;
  border: 1px solid @a-green-500;
  transition: all 0.4s linear;
}

.lenkepanelNavno {
  border: 1px solid @a-text-action;

  .navds-link-panel__content {
    display: flex;
  }

  .navds-link-panel__title,
  .navds-link-panel__chevron {
    color: @a-text-action;
  }

  background-color: @a-gray-600;
}
