.heroSelector {
  --aksel-website-hero-selector-x: ;
  --aksel-website-hero-selector-y: ;

  clip-path: circle(140% at var(--aksel-website-hero-selector-x) var(--aksel-website-hero-selector-y));
  animation: clipExpand 800ms cubic-bezier(0.3, 0, 0.15, 1);
  height: fit-content;
  min-height: 100%;
}

@keyframes clipExpand {
  0% {
    clip-path: circle(0% at var(--aksel-website-hero-selector-x) var(--aksel-website-hero-selector-y));
  }

  100% {
    clip-path: circle(140% at var(--aksel-website-hero-selector-x) var(--aksel-website-hero-selector-y));
  }
}

.heroGradient {
  background: linear-gradient(85deg, #5eead4 0%, #99f6e4 48%, #99f6e4 100%);
}

.heroGradientOpen {
  background: linear-gradient(265deg, #14b8a6 0%, #2dd4bf 48.5%, #2dd4bf 100%);
}

/* NEW */
.godPraksisHero {
  border-radius: var(--ax-border-radius-xlarge);
  border: 1px solid var(--ax-border-brand-blue-subtleA);
  position: relative;
  isolation: isolate;
  background: linear-gradient(238deg, var(--ax-bg-brand-blue-soft) 20.83%, var(--ax-bg-brand-blue-moderate) 36.67%);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.dark) .godPraksisHero {
  background: linear-gradient(238deg, var(--ax-bg-brand-blue-soft) 20.83%, var(--ax-bg-neutral-soft) 36.67%);
}

.godPraksisHeroTitle {
  color: var(--ax-text-brand-blue);
  margin-block-end: var(--ax-space-16);
}

.heroCube {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: clip;
  border-radius: var(--ax-border-radius-xlarge);
}

.heroCubeSvg {
  position: absolute;
  right: 0;
  z-index: -10;
  color: var(--ax-bg-brand-blue-softA);
}

.godPraksisTemaCard {
  border-radius: var(--ax-border-radius-large);
  border: 1px solid var(--ax-border-brand-blue-subtleA);
  background: var(--ax-bg-raised);
  color: var(--ax-text-brand-blue);
  display: flex;
  align-items: center;
  padding-block: var(--ax-space-8);
  padding-inline: var(--ax-space-12) var(--ax-space-24);
  gap: var(--ax-space-12);
  text-decoration-line: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.08em;

  &:hover {
    text-decoration-thickness: 0.15em;
  }
}
