@import './../../../assets/styles/base';

.layoutPage {
  // width: 600px;

  &__lead {
    font-size: 20px;
  }

  .gridImage {
    // max-width: 1239px;
    max-width:100%;
  }

  &__section {
    padding-top: @GL_BASE_UNIT * 8;
  }
}
