.websitePage {
  background-color: var(--ax-bg-brand-blue-soft);
}

.main {
  padding-block: var(--ax-space-64) 8vw;
  padding-bottom: var(--ax-space-128);

  &:focus {
    outline: none;
  }
}

.preamble {
  padding-inline: var(--ax-space-16);
}

.intro {
  text-align: center;
  margin-inline: auto;
  max-width: 670px;
}

.articleTitle {
  text-wrap: balance;
  font-size: 3rem;
  color: var(--ax-text-brand-blue);
}

.bodyLong1 {
  color: var(--ax-text-brand-blue-subtle);
  margin-top: var(--ax-space-16);
  font-size: var(--ax-font-size-heading-medium);
  line-height: var(--ax-font-line-height-heading-medium);
}

.diamond {
  width: var(--ax-space-8);
  height: var(--ax-space-8);
  rotate: 45deg;
  background-color: var(--ax-text-brand-blue-icon);
  border-radius: var(--ax-space-1);
}

.diamondCenter {
  margin-inline: auto;
  margin-bottom: var(--ax-space-40);
}

.image {
  aspect-ratio: 16 / 9;
  position: relative;
  margin-block: var(--ax-space-64) 0;
  margin-inline: auto;
  border-radius: 1rem;
  width: 100%;
  max-width: 48rem;

  & img {
    border-radius: 1rem;
    object-fit: cover;
  }

  &::after {
    box-shadow: inset 0 0 0 1px var(--ax-border-neutral-subtleA);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 1rem;
  }
}

.customBlockWrapper {
  margin-top: var(--ax-space-64);
  padding-inline: var(--ax-space-16);
}

.articleEnd {
  padding-inline: var(--ax-space-16);
  margin-top: var(--ax-space-64);
  color: var(--ax-text-brand-blue);
}

.authorText {
  margin-bottom: var(--ax-space-8);
  text-align: center;
  letter-spacing: 1.05px;
}

.author {
  display: flex;
  margin-block: var(--ax-space-8);
  flex-wrap: wrap;
  gap: var(--ax-space-4);
  justify-content: center;
  color: var(--ax-text-neutral);

  & address {
    font-style: normal;
  }
}

/* 480 === sm
min-width: X == X is the minimum width needed before styles apply */
@media (min-width: 480px) {
  .intro {
    width: 90%;
  }
}
