.preview__wrapper {
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--bg-secondary);
  margin-bottom: 3rem;
  outline: var(--outline);
}

.preview__container {
  display: flex;
  column-gap: 0.5rem;
  border-bottom: 2px solid var(--code-divider);
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}
