:root {
  --navds-checkbox-color-background: var(--navds-color-white);
  --navds-checkbox-color-shadow: var(--navds-color-gray-60);
  --navds-checkbox-color-label-hover: var(--navds-color-blue-50);
  --navds-checkbox-color-shadow-hover: var(--navds-color-blue-50);
  --navds-checkbox-color-background-hover: var(--navds-color-blue-10);
  --navds-checkbox-color-background-checked: var(--navds-color-blue-50);
  --navds-checkbox-color-shadow-error: var(--navds-color-red-50);
}

.navds-checkbox {
  position: relative;
  padding: var(--navds-spacing-3) 0;
}

.navds-checkbox__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  left: -12px;
  margin: 0;
  opacity: 0;
  top: 0;
}

.navds-checkbox__label {
  display: flex;
  width: fit-content;
  gap: var(--navds-spacing-2);
  cursor: pointer;
}

.navds-checkbox__description {
  /* label::before width + input gap */
  margin-top: var(--navds-spacing-1);
  margin-left: calc(1.5rem + 8px);
}

.navds-checkbox--with-description {
  padding-bottom: 0;
}

.navds-checkbox .navds-error-message {
  margin-top: var(--navds-spacing-2);
}

.navds-checkbox--with-description .navds-error-message {
  margin-top: 0;
}

.navds-checkbox--with-error-message {
  padding-bottom: var(--navds-spacing-2);
}

.navds-checkbox__label::before {
  content: "";
  background-color: var(--navds-checkbox-color-background);
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  flex-shrink: 0;
}

.navds-checkbox--small {
  padding: 6px 0;
}

.navds-checkbox--small > .navds-checkbox__input {
  width: 32px;
  height: 32px;
  top: 0;
  left: -4px;
}

.navds-checkbox--small > .navds-checkbox__label::before {
  width: 1.25rem;
  height: 1.25rem;
}

.navds-checkbox--small > .navds-checkbox__description {
  /* label::before width + input gap */
  margin-left: calc(1.25rem + 8px);
}

.navds-checkbox__input:hover + .navds-checkbox__label {
  color: var(--navds-checkbox-color-label-hover);
}

.navds-checkbox__input:hover + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow-hover);
  background-color: var(--navds-checkbox-color-background-hover);
}

.navds-checkbox__input:focus + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow),
    var(--navds-shadow-focus);
}

.navds-checkbox__input:hover:focus + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow-hover),
    var(--navds-shadow-focus);
}

.navds-checkbox__input:checked + .navds-checkbox__label::before {
  background-image: var(--navds-checkmark-image-white);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
  box-shadow: none;
  background-color: var(--navds-checkbox-color-background-checked);
}

.navds-checkbox__input:checked:focus + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 1px white, var(--navds-shadow-focus);
}

.navds-checkbox--error
  > .navds-checkbox__input:not(:hover):not(:focus):not(:disabled):not(:checked)
  + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow-error);
}

.navds-checkbox--error
  > .navds-checkbox__input:focus:not(:hover):not(:disabled):not(:checked)
  + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow-error),
    var(--navds-shadow-focus);
}

.navds-checkbox__input:disabled {
  cursor: not-allowed;
}

.navds-checkbox__input:disabled + .navds-checkbox__label,
.navds-checkbox__input:disabled
  + .navds-checkbox__label
  + .navds-checkbox__description {
  cursor: not-allowed;
  opacity: 0.3;
}

.navds-checkbox__input:hover:disabled:not(:checked)
  + .navds-checkbox__label::before {
  background-color: var(--navds-checkbox-color-background);
  box-shadow: inset 0 0 0 2px var(--navds-checkbox-color-shadow);
}

.navds-checkbox__input:hover:disabled + .navds-checkbox__label {
  color: var(--navds-semantic-color-text-default);
}
