.navds-combobox__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navds-combobox__wrapper-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  padding: 4px;
  padding-right: calc(32px + 1rem);
}

.navds-combobox__wrapper-inner:hover {
  cursor: text;
}

.navds-combobox__selected-options {
  gap: var(--a-spacing-1);
}

.navds-combobox__selected-options > li {
  margin: auto 0;
}

.navds-combobox__input-wrapper {
  width: 100%;
}

.navds-combobox__input {
  z-index: 1;
  flex: 1;
  border: none;
  padding: 0;
  padding-right: var(--a-spacing-10);
  margin: 0;
}

.navds-combobox__input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navds-combobox__wrapper-inner:has(.navds-combobox__input:focus) {
  box-shadow: 0 0 0 1px var(--ac-search-button-focus-active-border, var(--a-surface-default)) inset, var(--a-shadow-focus);
  box-shadow: var(--a-shadow-focus);
}

.navds-combobox__list {
  list-style: none;
  margin: 0;
  border: var(--a-border-subtle);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  box-shadow: var(--a-shadow-large);
  border-radius: 4px;
}

.navds-combobox__list--closed {
  display: none;
}

.navds-combobox__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.navds-combobox__list-item:hover,
.navds-combobox__list-item--focus,
.navds-combobox__list-item--selected {
  background-color: var(--a-surface-selected);
}

.navds-combobox__list-item::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid var(--a-border-default);
  border-radius: var(--a-border-radius-medium);
}

.navds-combobox__list-item--selected::after {
  content: "\2713";
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 2px solid var(--a-border-default);
  border-radius: var(--a-border-radius-medium);
}
