.navds-confirmation-panel__inner {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-confirmation-panel-border, var(--a-border-warning));
  background-color: var(--ac-confirmation-panel-bg, var(--a-surface-warning-subtle));
  transition: background-color linear 100ms;
  justify-self: stretch;
}

.navds-confirmation-panel__content {
  max-width: 80ch;
}

.navds-confirmation-panel--checked .navds-confirmation-panel__inner {
  border-color: var(--ac-confirmation-panel-checked-border, var(--a-border-success));
  background-color: var(--ac-confirmation-panel-checked-bg, var(--a-surface-success-subtle));
}

.navds-confirmation-panel--error .navds-confirmation-panel__inner {
  border-color: var(--ac-confirmation-panel-error-border, var(--a-border-danger));
  background-color: var(--ac-confirmation-panel-error-bg, var(--a-surface-danger-subtle));
}
