:root,
:host {
  --navds-confirmation-panel-color-background: var(--navds-global-color-orange-50);
  --navds-confirmation-panel-color-background-checked: var(--navds-global-color-green-50);
  --navds-confirmation-panel-color-background-error: var(--navds-global-color-red-50);
  --navds-confirmation-panel-color-border: var(--navds-semantic-color-feedback-warning-border);
  --navds-confirmation-panel-color-border-checked: var(--navds-semantic-color-feedback-success-border);
  --navds-confirmation-panel-color-border-error: var(--navds-semantic-color-feedback-danger-border);
}

.navds-confirmation-panel__inner {
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-3);
  padding: var(--navds-spacing-4);
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-confirmation-panel-color-border);
  background-color: var(--navds-confirmation-panel-color-background);
  transition: background-color linear 100ms;
  justify-self: stretch;
}

.navds-confirmation-panel__content {
  max-width: 80ch;
}

.navds-confirmation-panel--checked .navds-confirmation-panel__inner {
  background-color: var(--navds-confirmation-panel-color-background-checked);
  border-color: var(--navds-confirmation-panel-color-border-checked);
}

.navds-confirmation-panel--error .navds-confirmation-panel__inner {
  background-color: var(--navds-confirmation-panel-color-background-error);
  border-color: var(--navds-confirmation-panel-color-border-error);
}
