.navds-confirmation-panel__inner {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-confirmation-panel-border, var(--a-border-warning));
  background-color: var(--ac-confirmation-panel-bg, var(--a-surface-warning-subtle));
  transition: background-color linear 100ms;
  justify-self: stretch;
  position: relative;
}

.navds-confirmation-panel__content {
  max-width: 80ch;
}

.navds-confirmation-panel--checked .navds-confirmation-panel__inner {
  border-color: var(--ac-confirmation-panel-checked-border, var(--a-border-success));
  background-color: var(--ac-confirmation-panel-checked-bg, var(--a-surface-success-subtle));
}

.navds-confirmation-panel--error .navds-confirmation-panel__inner {
  border-color: var(--ac-confirmation-panel-error-border, var(--a-border-danger));
  background-color: var(--ac-confirmation-panel-error-bg, var(--a-surface-danger-subtle));
}

.navds-confirmation-panel--error .navds-checkbox__input:hover:not(:disabled) + .navds-checkbox__label {
  color: var(--a-text-default);
}

@media (forced-colors: active) {
  .navds-confirmation-panel__inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 8px solid;
    border-color: orange;
    forced-color-adjust: none;
    border-start-start-radius: calc(var(--a-border-radius-medium) - 1px);
    border-end-start-radius: calc(var(--a-border-radius-medium) - 1px);
  }

  .navds-confirmation-panel--checked .navds-confirmation-panel__inner::before {
    border-color: green;
  }

  .navds-confirmation-panel--error .navds-confirmation-panel__inner::before {
    border-color: red;
  }
}
