:root,
:host {
  --v2-migration__navds-error-summary-color-background: var(--a-surface-default);
  --v2-migration__navds-error-summary-color-border: var(--a-border-danger);
}

.navds-error-summary {
  background-color: var(--a-surface-default);
  padding: var(--a-spacing-5);
  border: 4px solid var(--a-border-danger);
}

.navds-error-summary--small {
  padding: var(--a-spacing-3);
}

.navds-error-summary:focus {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

.navds-error-summary__list {
  margin: var(--a-spacing-3) 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  padding-left: var(--a-spacing-6);
  list-style: inherit;
}

.navds-error-summary__list > * {
  color: var(--a-blue-500);
}

.navds-error-summary--small > .navds-error-summary__list {
  margin: var(--a-spacing-2) 0;
  gap: var(--a-spacing-2);
  padding-left: var(--a-spacing-5);
}
