.navds-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

.navds-fieldset > :not(:first-child):not(:empty) {
  margin-top: var(--navds-spacing-1);
}

.navds-fieldset--small > :not(:first-child):not(:empty) {
  margin-top: 4px;
}

/* Applied when hideLegend is applied to fieldset */
.navds-fieldset > .sr-only + :not(:first-child):not(:empty) {
  margin-top: 0;
}
