.navds-filelist {
  display: flex;
  flex-direction: column;
}

.navds-filelist__list {
  padding: 0;
  list-style: none;
}

.navds-filelist__error .navds-error-message {
  display: flex;
  gap: var(--a-spacing-2);
}

.navds-filelist__error .navds-error-message::before {
  content: "•";
}

.navds-filelist li:not(:last-of-type) {
  margin-bottom: var(--a-spacing-2);
}
