.navds-fileupload.navds-form-field {
  display: flex;
  flex-direction: column;
}

.navds-fileupload__content {
  display: flex;
  position: relative;
  text-align: center
}

.navds-fileupload__content-zone-button {
  position: relative;
  cursor: pointer;
  background-color: var(--ac-file-upload-button-bg, var(--a-bg-default));
  transition: background-color 0.2s ease;
}

.navds-fileupload__content:hover .navds-fileupload__content-zone-button {
  background-color: var(--ac-file-upload-action-hover-bg, var(--a-surface-action-subtle-hover));
}

.navds-fileupload__content-zone {
  position: relative;
  background-color: var(--ac-file-upload-bg, var(--a-surface-subtle));
  padding: var(--a-spacing-5);
  border: 1px dashed var(--ac-file-upload-border, var(--a-border-action));
  border-radius: var(--ac-file-upload-border-radius, var(--a-border-radius-medium));
  color: var(--ac-file-upload-text, var(--a-text-action));
  transition: 0.2s ease border, 0.2s ease background-color;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.navds-fileupload__content-zone::after {
  display: none;
  content: "Slipp";
  pointer-events: none;
}

.navds-fileupload__content--dragover .navds-fileupload__content-zone::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ac-file-upload-action-hover-bg, var(--a-surface-action-subtle-hover));
}

.navds-fileupload__content-zone:hover {
  background-color: var(--ac-file-upload-action-hover-bg, var(--a-surface-action-subtle-hover));
}

.navds-fileupload__content--dragover,
.navds-fileupload__content--dragover .navds-fileupload__content-zone-button {
  background-color: var(--ac-file-upload-dragover-bg, var(--a-surface-action-subtle-hover));
}

.navds-fileupload__content--error:not(:hover):not(.navds-fileupload__content--dragover) .navds-fileupload__content-zone-button {
  box-shadow: inset 0 0 0 2px var(--ac-file-upload-error-border, var(--a-surface-danger))
}

.navds-fileupload__content--error:not(:hover):not(.navds-fileupload__content--dragover) .navds-fileupload__content-zone {
  border-color: var(--ac-file-upload-error-border, var(--a-surface-danger))
}

.navds-fileupload__content:focus:not(.navds-fileupload__content--dragover) .navds-fileupload__content-zone-button,
.navds-fileupload__content:focus-within:not(.navds-fileupload__content--dragover) .navds-fileupload__content-zone-button {
  box-shadow: inset 0 0 0 2px
    var(--ac-button-secondary-focus-border, var(--__ac-button-secondary-focus-border, var(--a-border-action))),
  var(--a-shadow-focus);
}

.navds-fileupload__content-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
