[data-theme="dark"] {
  --ac-form-description: var(--a-text-on-inverted);
}

.navds-form-field {
  display: grid;
  justify-items: start;
  gap: var(--a-spacing-2);
}

.navds-form-field__description {
  margin-top: -6px;
  color: var(--ac-form-description, var(--a-text-subtle));
}

.navds-form-field .navds-error-message,
.navds-fieldset .navds-error-message {
  display: flex;
  gap: var(--a-spacing-2);
}

.navds-form-field .navds-error-message::before,
.navds-fieldset .navds-error-message::before {
  content: "•";
}

.navds-form-field--disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.navds-form-field__error:empty {
  display: none;
}

.navds-form-field__subdescription {
  color: var(--ac-form-subdescription, var(--a-text-subtle));
}
