.navds-form-progress__bar {
  margin-bottom: var(--a-spacing-2);
}

.navds-form-progress__button[data-state="closed"] .navds-form-progress__btn-txt-hide,
.navds-form-progress__button[data-state="open"] .navds-form-progress__btn-txt-show {
  display: none;
}

.navds-form-progress__button:hover svg {
  transform: translateY(1px);
}

.navds-form-progress__button[data-state="open"] svg {
  transform: rotate(-180deg);
}

.navds-form-progress__button[data-state="open"]:hover svg {
  transform: translateY(-1px) rotate(-180deg);
}

.navds-form-progress__collapsible {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s cubic-bezier(0.3, 0, 0.15, 1);
}

.navds-form-progress__collapsible[hidden] {
  /* CSS-resets sets 'hidden' to display non with imporant */
  display: grid !important;
}

.navds-form-progress__collapsible[data-state="open"] {
  grid-template-rows: 1fr;
}

.navds-form-progress__collapsible-content {
  min-height: 0;
  transition: visibility 0.3s;
  visibility: hidden;
}

.navds-form-progress__collapsible[data-state="open"] .navds-form-progress__collapsible-content {
  visibility: visible;
}

.navds-form-progress__stepper {
  border: 2px solid var(--a-border-subtle);
  border-radius: var(--a-border-radius-large);
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin-top: var(--a-spacing-1);
}
