.navds-form-summary {
  overflow: hidden;
  border: 1px solid var(--a-border-subtle);
  border-radius: var(--a-border-radius-large);
  background: var(--a-surface-default);
}

.navds-form-summary__header {
  background-color: var(--a-surface-subtle);
  padding: var(--a-spacing-4) var(--a-spacing-6);
  display: flex;
  justify-content: space-between;
  gap: 0 var(--a-spacing-2);
}

@media (max-width: 479px) {
  .navds-form-summary__header {
    padding: var(--a-spacing-3) var(--a-spacing-4);
    flex-direction: column;
  }
}

.navds-form-summary__header .navds-form-summary__edit {
  flex-shrink: 0;
  align-self: flex-start;
}

.navds-form-summary > .navds-form-summary__answers {
  border-top: 1px solid var(--a-border-subtle);
}

.navds-form-summary__answers {
  padding: var(--a-spacing-5) var(--a-spacing-6) var(--a-spacing-6);
  margin: 0;
}

@media (max-width: 479px) {
  .navds-form-summary__answers {
    padding: var(--a-spacing-4);
  }
}

.navds-form-summary__answer:not(:last-child) {
  margin-bottom: var(--a-spacing-4);
  padding-bottom: var(--a-spacing-4);
  border-bottom: 1px solid var(--a-border-divider);
}

.navds-form-summary__answer:has(.navds-form-summary__answer) {
  padding-bottom: var(--a-spacing-6);
}

.navds-form-summary__answer:has(.navds-form-summary__answer):last-child {
  padding-bottom: 0;
}

@media (max-width: 479px) {
  .navds-form-summary__answer:not(:last-child) {
    margin-bottom: var(--a-spacing-3);
    padding-bottom: var(--a-spacing-3);
  }

  .navds-form-summary__answer:has(.navds-form-summary__answer) {
    padding-bottom: var(--a-spacing-5);
  }
}

.navds-form-summary__value:first-of-type {
  margin-top: var(--a-spacing-1);
}

.navds-form-summary__value :where(.navds-form-summary__answers) {
  margin-top: var(--a-spacing-2);
  padding: var(--a-spacing-4);
  background: var(--a-surface-selected);
  border-radius: var(--a-border-radius-large);
}

.navds-form-summary__footer {
  display: flex;
  padding: var(--a-spacing-5) var(--a-spacing-6);
  background: var(--a-surface-default);
  border-top: 1px solid var(--a-border-subtle);
}

@media (max-width: 479px) {
  .navds-form-summary__footer {
    padding: var(--a-spacing-3) var(--a-spacing-4);
  }
}
