:root,
:host {
  --navds-radio-checkbox-color-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-radio-checkbox-color-text: var(--navds-semantic-color-text);
  --navds-radio-checkbox-color-background-hover: var(
    --navds-semantic-color-interaction-primary-hover-subtle
  );
  --navds-radio-checkbox-color-background-checked: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-radio-checkbox-color-shadow: var(--navds-semantic-color-border);
  --navds-radio-checkbox-color-shadow-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-radio-checkbox-color-shadow-checked: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-radio-checkbox-color-shadow-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-radio-checkbox-color-label-hover: var(
    --navds-semantic-color-interaction-primary
  );
}

.navds-checkbox,
.navds-radio {
  position: relative;
  width: fit-content;
}

.navds-checkbox__input,
.navds-radio__input {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: -12px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.navds-checkbox__label,
.navds-radio__label {
  padding: var(--navds-spacing-3) 0;
  cursor: pointer;
  display: flex;
  gap: var(--navds-spacing-2);
}

.navds-checkbox__label::before,
.navds-radio__label::before {
  content: "";
  background-color: var(--navds-radio-checkbox-color-background);
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--navds-border-radius-medium);
  flex-shrink: 0;
}

.navds-radio__label::before {
  border-radius: var(--navds-border-radius-full);
}

.navds-checkbox__content,
.navds-radio__content {
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-1);
}

.navds-checkbox--small > .navds-checkbox__input,
.navds-radio--small > .navds-radio__input {
  width: 32px;
  height: 32px;
  top: 0;
  left: -6px;
}

.navds-checkbox--small > .navds-checkbox__label,
.navds-radio--small > .navds-radio__label {
  padding: 6px 0;
}

.navds-checkbox--small > .navds-checkbox__label::before,
.navds-radio--small > .navds-radio__label::before {
  width: 1.25rem;
  height: 1.25rem;
}

.navds-checkbox__input:focus + .navds-checkbox__label::before,
.navds-radio__input:focus + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow),
    var(--navds-shadow-focus);
}

.navds-checkbox__input:hover:focus + .navds-checkbox__label::before,
.navds-radio__input:hover:focus + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow-hover),
    var(--navds-shadow-focus);
}

.navds-checkbox__input:indeterminate + .navds-checkbox__label::before {
  box-shadow: none;
  background-color: var(--navds-radio-checkbox-color-background-checked);
}

.navds-checkbox__input:indeterminate + .navds-checkbox__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0.375rem, -50%);
  background-color: var(--navds-radio-checkbox-color-background);
  width: 0.75rem;
  height: 0.25rem;
  border-radius: 1px; /* Custom value OK */
  flex-shrink: 0;
}

.navds-checkbox--small
  .navds-checkbox__input:indeterminate
  + .navds-checkbox__label::after {
  transform: translate(0.25rem, -50%);
}

.navds-checkbox__input:checked + .navds-checkbox__label::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMCI+ICAgIDxnPiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNCwxMGMtMC40LDAtMC44LTAuMS0xLjEtMC40TDAuNCw3LjFDMC4xLDYuOCwwLDYuNCwwLDZzMC4yLTAuOCwwLjUtMS4xQzEsNC40LDIsNC40LDIuNSw0LjlMNCw2LjRsNi40LTYgICAgQzEwLjgsMC4xLDExLjEsMCwxMS41LDBjMC40LDAsMC44LDAuMiwxLDAuNWMwLjYsMC42LDAuNSwxLjYtMC4xLDIuMXYwTDUsOS42QzQuNyw5LjksNC40LDEwLDQsMTB6IE0xMS44LDEuOUwxMS44LDEuOSAgICBDMTEuOCwxLjksMTEuOCwxLjksMTEuOCwxLjl6IE0xMS4yLDEuMUMxMS4yLDEuMSwxMS4yLDEuMSwxMS4yLDEuMUwxMS4yLDEuMXoiLz4gICAgPC9nPjwvc3ZnPg==);
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: 13px;
  box-shadow: none;
  background-color: var(--navds-radio-checkbox-color-background-checked);
}

.navds-checkbox--small
  > .navds-checkbox__input:checked
  + .navds-checkbox__label::before {
  background-position: 4px center;
}

.navds-checkbox__input:indeterminate:focus + .navds-checkbox__label::before,
.navds-checkbox__input:checked:focus + .navds-checkbox__label::before {
  box-shadow: inset 0 0 0 1px white, var(--navds-shadow-focus);
}

.navds-radio__input:checked + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow-checked),
    inset 0 0 0 4px #fff;
  background-color: var(--navds-radio-checkbox-color-background-checked);
}

.navds-radio__input:checked:focus + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow-checked),
    inset 0 0 0 4px #fff, var(--navds-shadow-focus);
}

.navds-checkbox__input:hover:not(:disabled) + .navds-checkbox__label,
.navds-radio__input:hover:not(:disabled) + .navds-radio__label {
  color: var(--navds-radio-checkbox-color-label-hover);
}

.navds-checkbox__input:hover:not(:disabled):not(:checked):not(:indeterminate):not(:focus)
  + .navds-checkbox__label::before,
.navds-radio__input:hover:not(:disabled):not(:checked):not(:focus)
  + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow-hover);
}

.navds-checkbox__input:hover:not(:disabled):not(:checked):not(:indeterminate)
  + .navds-checkbox__label::before,
.navds-radio__input:hover:not(:disabled):not(:checked)
  + .navds-radio__label::before {
  background-color: var(--navds-radio-checkbox-color-background-hover);
}

.navds-checkbox--error
  > .navds-checkbox__input:not(:hover):not(:disabled):not(:checked):not(:indeterminate)
  + .navds-checkbox__label::before,
.navds-radio--error
  > .navds-radio__input:not(:hover):not(:disabled):not(:checked):not(:indeterminate)
  + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow-error);
}

.navds-checkbox--error
  > .navds-checkbox__input:focus:not(:hover):not(:disabled):not(:checked):not(:indeterminate)
  + .navds-checkbox__label::before,
.navds-radio--error
  > .navds-radio__input:focus:not(:hover):not(:disabled):not(:checked):not(:indeterminate)
  + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-checkbox-color-shadow-error),
    var(--navds-shadow-focus);
}

.navds-checkbox--disabled,
.navds-radio--disabled {
  opacity: 0.3;
}

.navds-checkbox--disabled > .navds-checkbox__input,
.navds-checkbox--disabled > .navds-checkbox__label,
.navds-radio--disabled > .navds-radio__input,
.navds-radio--disabled > .navds-radio__label {
  cursor: not-allowed;
}
