.navds-radio-group--small > .navds-radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navds-fieldset.navds-radio-group--medium > .navds-radio-buttons {
  margin-top: 0;
}

.navds-fieldset.navds-radio-group--medium > .navds-fieldset__error {
  margin-top: 0;
}
