:root {
  --navds-radio-color-background: var(--navds-color-white);
  --navds-radio-color-shadow: var(--navds-color-gray-60);
  --navds-radio-color-shadow-hover: var(--navds-color-blue-50);
  --navds-radio-color-shadow-checked: var(--navds-color-blue-50);
  --navds-radio-color-shadow-error: var(--navds-color-red-50);
  --navds-radio-color-label-hover: var(--navds-color-blue-50);
  --navds-radio-color-background-hover: var(--navds-color-blue-10);
}

.navds-radio {
  position: relative;
  padding: var(--navds-spacing-3) 0;
}

.navds-radio--with-description .navds-error-message {
  margin-top: 0;
}

.navds-radio .navds-error-message {
  margin-top: var(--navds-spacing-3);
}

.navds-radio__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  left: -12px;
  margin: 0;
  opacity: 0;
  top: 0;
}

.navds-radio__label {
  display: flex;
  width: fit-content;
  gap: var(--navds-spacing-2);
  cursor: pointer;
}

.navds-radio__description {
  /* label::before width + input gap */
  margin-top: var(--navds-spacing-1);
  margin-left: calc(1.5rem + var(--navds-spacing-2));
}

.navds-radio--with-error-message {
  padding-bottom: var(--navds-spacing-2);
}

.navds-radio__label::before {
  content: "";
  background-color: var(--navds-radio-color-background);
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow);
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  border-radius: 50%;
}

.navds-radio--small {
  padding: 6px 0;
}

.navds-radio--small > .navds-radio__input {
  width: 32px;
  height: 32px;
  top: 0;
  left: -6px;
}

.navds-radio--small > .navds-radio__label {
  gap: var(--navds-spacing-2);
}

.navds-radio--small > .navds-radio__label::before {
  width: 1.25rem;
  height: 1.25rem;
}

.navds-radio--small > .navds-radio__description {
  /* label::before width + input gap */
  margin-left: calc(1.25rem + var(--navds-spacing-2));
}

.navds-radio__input:hover + .navds-radio__label {
  color: var(--navds-radio-color-label-hover);
}

.navds-radio__input:hover + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow-hover);
  background-color: var(--navds-radio-color-background-hover);
}

.navds-radio__input:focus + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow),
    var(--navds-shadow-focus);
}

.navds-radio__input:hover:focus + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow-hover),
    var(--navds-shadow-focus);
}

.navds-radio__input:checked + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow-checked),
    inset 0 0 0 4px #fff;
  background-color: var(--navds-radio-color-shadow-checked);
}

.navds-radio__input:checked:focus + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow-checked),
    inset 0 0 0 4px #fff, var(--navds-shadow-focus);
}

.navds-radio--error
  > .navds-radio__input:not(:hover):not(:focus):not(:disabled):not(:checked)
  + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow-error);
}

.navds-radio--error
  > .navds-radio__input:focus:not(:hover):not(:disabled):not(:checked)
  + .navds-radio__label::before {
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow-error);
}

.navds-radio--small .navds-error-message {
  margin-top: 4px;
}

.navds-radio__input:disabled {
  cursor: not-allowed;
}

.navds-radio__input:disabled + .navds-radio__label,
.navds-radio__input:disabled + .navds-radio__label + .navds-radio__description {
  cursor: not-allowed;
  opacity: 0.3;
}

.navds-radio__input:hover:disabled:not(:checked) + .navds-radio__label::before {
  background-color: var(--navds-radio-color-background);
  box-shadow: inset 0 0 0 2px var(--navds-radio-color-shadow);
}

.navds-radio__input:hover:disabled + .navds-radio__label {
  color: var(--navds-semantic-color-text-default);
}
