:root,
[data-theme="light"] {
  --navds-search-color-border: var(--navds-semantic-color-border);
  --navds-search-color-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
}

[data-theme="dark"] {
  --navds-search-color-border: var(--navds-semantic-color-border-inverted);
}

.navds-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navds-search__wrapper-inner {
  position: relative;
  width: 100%;
}

.navds-search__wrapper {
  display: inline-flex;
  align-items: center;
}

.navds-search__input {
  padding-right: var(--navds-spacing-10);
}

.navds-form-field--small .navds-search__input {
  padding-right: var(--navds-spacing-8);
}

.navds-search__input--no-button {
  padding-left: var(--navds-spacing-11);
}

.navds-form-field--small .navds-search__input--no-button {
  padding-left: var(--navds-spacing-7);
}

.navds-search__input:not(.navds-search__input--no-button) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navds-search__search-icon {
  position: absolute;
  left: var(--navds-spacing-3);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.5rem;
  color: var(--navds-color-text);
}

.navds-form-field--small .navds-search__search-icon {
  left: var(--navds-spacing-2);
  font-size: 1rem;
}

.navds-search__button-clear {
  position: absolute;
  right: 0.75rem;
  border-radius: var(--navds-border-radius-medium);
  color: var(--navds-color-text);
  height: 32px;
  width: 32px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
}

.navds-form-field--small .navds-search__button-clear {
  right: 0.5rem;
  height: 24px;
  width: 24px;
}

.navds-search__button-clear:hover {
  color: var(--navds-global-color-blue-500);
}

.navds-search__button-clear:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-search__button-search {
  flex-shrink: 0;
  min-width: 64px;
  min-height: 32px;
  border-radius: 0;
  border-top-right-radius: var(--navds-border-radius-medium);
  border-bottom-right-radius: var(--navds-border-radius-medium);
}

.navds-form-field--small .navds-search__button-search svg {
  font-size: 1rem;
}

.navds-form-field--small .navds-search__button-search {
  min-width: 40px;
}

.navds-search__button-search.navds-button--secondary {
  box-shadow: -1px 0 0 0 var(--navds-search-color-border) inset,
    0 1px 0 0 var(--navds-search-color-border) inset,
    0 -1px 0 0 var(--navds-search-color-border) inset;
}

.navds-search__button-search.navds-button--secondary:hover {
  box-shadow: -1px 0 0 0 var(--navds-search-color-border-hover) inset,
    0 1px 0 0 var(--navds-search-color-border-hover) inset,
    0 -1px 0 0 var(--navds-search-color-border-hover) inset,
    -1px 0 0 0 var(--navds-search-color-border-hover);
  z-index: 1;
}

.navds-search__wrapper-inner:focus-within
  + .navds-search__button-search.navds-button--secondary:hover {
  z-index: auto;
}

.navds-search__button-search.navds-button--secondary:focus {
  box-shadow: 0 0 0 1px var(--navds-search-color-border) inset,
    var(--navds-shadow-focus);
}

.navds-search__button-search.navds-button--secondary:focus:hover {
  box-shadow: 0 0 0 1px var(--navds-search-color-border-hover) inset,
    var(--navds-shadow-focus);
}

.navds-search__button-search.navds-button--secondary:focus:active {
  box-shadow: 0 0 0 1px white inset, var(--navds-shadow-focus);
}

/* Focus layering */
.navds-search__input:focus,
.navds-search__button-clear,
.navds-search__button-search:focus {
  z-index: 1;
}
