:root {
  --navds-search-field-color-shadow-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-search-field-color-border-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-search-field-color-clearbutton-border: var(
    --navds-semantic-color-border
  );
}

.navds-search-field:hover
  > .navds-search-field__input-wrapper
  > .navds-search-field__input {
  border-color: var(--navds-semantic-color-interaction-primary);
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper
  > .navds-search-field__input {
  border-color: white;
  color: white;
  background-color: var(--navds-global-color-gray-900);
}

.navds-search-field--inverted > .navds-search-field__input-wrapper {
  color: white;
}

.navds-search-field:hover
  > .navds-search-field__input-wrapper
  > .navds-search-field__input {
  border-color: var(--navds-semantic-color-focus-inverted);
}

.navds-search-field__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navds-search-field__input-icon {
  position: absolute;
  left: 0;
  padding: 0 1rem;
  align-items: center;
  display: flex;
}

.navds-search-field__input {
  padding-left: 2.75rem;
  padding-right: 3rem;
}

.navds-form-field--small .navds-search-field__input-icon {
  padding: 0 0.5rem;
}

.navds-form-field--small .navds-search-field__input {
  padding: 0.15rem;
  min-height: 32px;
}

.navds-form-field--small .navds-search-field__input {
  padding-left: 1.75rem;
  padding-right: 2rem;
}

/* Button */

.navds-search-field__clear-button {
  position: absolute;
  right: 0;
  color: var(--navds-semantic-color-text);
  appearance: none;
  background: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.navds-form-field--small .navds-search-field__clear-button {
  height: 2rem;
  width: 2rem;
}

.navds-search-field__clear-button:hover {
  border-color: var(--navds-semantic-color-interaction-primary);
}

.navds-search-field__clear-button:focus {
  box-shadow: var(--navds-shadow-focus);
  border-color: var(--navds-semantic-color-border);
  outline: none;
}

.navds-search-field:hover
  > .navds-search-field__input-wrapper
  > .navds-search-field__clear-button:focus {
  border-color: var(--navds-semantic-color-interaction-primary);
}

/* disabled */
.navds-search-field--disabled {
  opacity: 0.3;
}
