:root {
  --navds-search-color-border: var(--navds-semantic-color-border);
  --navds-search-color-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
}

.navds-search__wrapper-inner {
  position: relative;
}

.navds-search__wrapper {
  display: inline-flex;
  align-items: center;
}

.navds-search__input {
  padding-right: var(--navds-spacing-12);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navds-form-field--small .navds-search__input {
  min-height: 32px;
  padding: 0.15rem;
  padding-right: var(--navds-spacing-8);
}

.navds-search__button-clear {
  position: absolute;
  right: 0.75rem;
  border-radius: var(--navds-border-radius-medium);
  color: var(--navds-semantic-color-text);
  height: 32px;
  width: 32px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
}

.navds-form-field--small .navds-search__button-clear {
  right: 0.5rem;
  height: 24px;
  width: 24px;
}

.navds-search__button-clear:hover {
  color: var(--navds-global-color-blue-500);
}

.navds-search__button-clear:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-search__button-search {
  flex-shrink: 0;
  min-width: 64px;
  min-height: 32px;
  border-radius: 0;
  border-top-right-radius: var(--navds-border-radius-medium);
  border-bottom-right-radius: var(--navds-border-radius-medium);
}

.navds-form-field--small .navds-search__button-search svg {
  font-size: 1rem;
}

.navds-form-field--small .navds-search__button-search {
  min-width: 40px;
}

.navds-search__button-search.navds-button--tertiary {
  box-shadow: -1px 0 0 0 var(--navds-search-color-border) inset,
    0 1px 0 0 var(--navds-search-color-border) inset,
    0 -1px 0 0 var(--navds-search-color-border) inset;
}

.navds-search__button-search.navds-button--tertiary:hover {
  box-shadow: -1px 0 0 0 var(--navds-search-color-border-hover) inset,
    0 1px 0 0 var(--navds-search-color-border-hover) inset,
    0 -1px 0 0 var(--navds-search-color-border-hover) inset,
    -1px 0 0 0 var(--navds-search-color-border-hover);
}

.navds-search__button-search.navds-button--tertiary:focus {
  box-shadow: 0 0 0 1px var(--navds-search-color-border) inset,
    var(--navds-shadow-focus);
}

.navds-search__button-search.navds-button--tertiary:focus:hover {
  box-shadow: 0 0 0 1px var(--navds-search-color-border-hover) inset,
    var(--navds-shadow-focus);
}

.navds-search__button-search.navds-button--tertiary:focus:active {
  box-shadow: 0 0 0 1px white inset, var(--navds-shadow-focus);
}

/* Focus layering */
.navds-search__input:focus,
.navds-search__button-clear,
.navds-search__button-search:focus {
  z-index: 1;
}
