[data-theme="dark"] {
  --ac-search-button-border: var(--a-border-on-inverted);
  --ac-search-button-border-hover: var(--a-blue-200);
  --ac-search-clear-icon: var(--a-white);
  --ac-search-clear-icon-hover: var(--a-blue-200);
  --ac-search-error-border: var(--a-red-300);
}

.navds-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navds-search__wrapper-inner {
  position: relative;
  width: 100%;
}

.navds-search__wrapper {
  display: inline-flex;
  align-items: center;
}

.navds-search__input {
  padding-right: var(--a-spacing-10);
}

.navds-form-field--small .navds-search__input {
  padding-right: var(--a-spacing-8);
}

.navds-search__input--simple {
  padding-left: var(--a-spacing-11);
}

.navds-form-field--small .navds-search__input--simple {
  padding-left: var(--a-spacing-7);
}

.navds-search__input:not(.navds-search__input--simple) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navds-search__search-icon {
  position: absolute;
  left: var(--a-spacing-3);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.5rem;
}

.navds-form-field--small .navds-search__search-icon {
  left: var(--a-spacing-2);
  font-size: 1rem;
}

.navds-search__button-clear {
  position: absolute;
  right: 0.75rem;
  border-radius: var(--a-border-radius-medium);
  color: var(--ac-search-clear-icon, var(--a-text-default));
  height: 32px;
  width: 32px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.25rem;
  padding: 0;
}

.navds-form-field--small .navds-search__button-clear {
  right: 0.5rem;
  height: 24px;
  width: 24px;
}

.navds-search__button-clear:hover {
  color: var(--ac-search-clear-icon-hover, var(--a-text-action));
}

.navds-search__button-clear:focus-visible {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

@supports not selector(:focus-visible) {
  .navds-search__button-clear:focus {
    box-shadow: var(--a-shadow-focus);
    outline: none;
  }
}

.navds-search__button-search {
  flex-shrink: 0;
  min-width: 64px;
  min-height: 32px;
  border-radius: 0;
  border-top-right-radius: var(--a-border-radius-medium);
  border-bottom-right-radius: var(--a-border-radius-medium);
}

.navds-form-field--small .navds-search__button-search svg {
  font-size: 1rem;
}

.navds-form-field--small .navds-search__button-search {
  min-width: 40px;
}

.navds-search__button-search.navds-button--secondary {
  box-shadow: -1px 0 0 0 var(--ac-search-button-border, var(--a-border-default)) inset,
    0 1px 0 0 var(--ac-search-button-border, var(--a-border-default)) inset,
    0 -1px 0 0 var(--ac-search-button-border, var(--a-border-default)) inset;
}

.navds-search__button-search.navds-button--secondary:hover {
  box-shadow: -1px 0 0 0 var(--ac-search-button-border-hover, var(--a-border-action)) inset,
    0 1px 0 0 var(--ac-search-button-border-hover, var(--a-border-action)) inset,
    0 -1px 0 0 var(--ac-search-button-border-hover, var(--a-border-action)) inset,
    -1px 0 0 0 var(--ac-search-button-border-hover, var(--a-border-action));
  z-index: 1;
}

.navds-search__wrapper-inner:focus-within + .navds-search__button-search.navds-button--secondary:hover {
  z-index: auto;
}

.navds-search__button-search.navds-button--secondary:focus-visible {
  box-shadow: 0 0 0 1px var(--ac-search-button-border, var(--a-border-default)) inset, var(--a-shadow-focus);
}

.navds-search__button-search.navds-button--secondary:focus-visible:hover {
  box-shadow: 0 0 0 1px var(--ac-search-button-border-hover, var(--a-border-action)) inset, var(--a-shadow-focus);
}

.navds-search__button-search.navds-button--secondary:focus-visible:active {
  box-shadow: 0 0 0 1px var(--ac-search-button-focus-active-border, var(--a-surface-default)) inset, var(--a-shadow-focus);
}

@supports not selector(:focus-visible) {
  .navds-search__button-search.navds-button--secondary:focus {
    box-shadow: 0 0 0 1px var(--ac-search-button-border, var(--a-border-default)) inset, var(--a-shadow-focus);
  }

  .navds-search__button-search.navds-button--secondary:focus:hover {
    box-shadow: 0 0 0 1px var(--ac-search-button-border-hover, var(--a-border-action)) inset, var(--a-shadow-focus);
  }

  .navds-search__button-search.navds-button--secondary:focus:active {
    box-shadow: 0 0 0 1px var(--ac-search-button-focus-active-border, var(--a-surface-default)) inset, var(--a-shadow-focus);
  }
}

/* Error-handling */
.navds-search--error .navds-search__input:not(:hover):not(:disabled) {
  border-color: var(--ac-search-error-border, var(--a-border-danger));
  box-shadow: inset 0 0 0 1px var(--ac-search-error-border, var(--a-border-danger));
}

.navds-search--error .navds-search__input:focus-visible:not(:hover):not(:disabled) {
  box-shadow: inset 0 0 0 1px var(--ac-search-error-border, var(--a-border-danger)), var(--a-shadow-focus);
}

/* Focus layering */
.navds-search__input:focus-visible,
.navds-search__button-clear,
.navds-search__button-search:focus-visible {
  z-index: 1;
}

@supports not selector(:focus-visible) {
  .navds-search--error .navds-search__input:focus:not(:hover):not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--ac-search-error-border, var(--a-border-danger)), var(--a-shadow-focus);
  }

  .navds-search__input:focus,
  .navds-search__button-search:focus {
    z-index: 1;
  }
}
