:root {
  --navds-search-field-color-shadow-error: var(--navds-color-red-50);
  --navds-search-field-color-border-error: var(--navds-color-red-50);
  --navds-search-field-color-clearbutton-border: var(--navds-color-gray-60);
}

.navds-search-field__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navds-form-field--small .navds-search-field__input {
  padding: 0.15rem;
  min-height: 32px;
}

.navds-search-field__input-wrapper > *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.navds-search-field__input-wrapper > :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navds-search-field__input-wrapper > :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navds-search-field__input-wrapper > :last-child:first-child {
  border-radius: 4px;
}

.navds-search-field__input-wrapper :focus {
  z-index: var(--navds-z-index-focus);
}

.navds-search-field__button,
.navds-search-field__clear-button {
  flex-shrink: 0;
}

.navds-search-field--error
  .navds-search-field__input:not(:hover):not(:focus):not(:disabled) {
  box-shadow: 0 0 0 1px var(--navds-search-field-color-shadow-error) inset;
  border-color: var(--navds-search-field-color-border-error);
}
