:root {
  --navds-search-field-color-input-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-search-field-color-button-text: var(--navds-semantic-color-text);
  --navds-search-field-color-button-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-search-field-color-button-border-focus: var(
    --navds-semantic-color-border
  );
  --navds-search-field-color-input-inverted: var(
    --navds-semantic-color-component-background-light
  );
  --navds-search-field-color-input-inverted-border: var(
    --navds-semantic-color-component-background-light
  );
  --navds-search-field-color-input-inverted-background: var(
    --navds-semantic-color-component-background-inverted
  );
  --navds-search-field-color-input-inverted-background-active: var(
    --navds-semantic-color-component-background-light
  );
  --navds-search-field-color-input-inverted-active: var(
    --navds-semantic-color-text
  );
  --navds-search-field-color-input-inverted-border-active: var(
    --navds-semantic-color-component-background-inverted
  );
  --navds-search-field-color-input-inverted-background-focus: var(
    --navds-semantic-color-component-background-light
  );
  --navds-search-field-color-input-inverted-focus: var(
    --navds-semantic-color-text
  );
  --navds-search-field-color-input-inverted-border-focus: var(
    --navds-semantic-color-component-background-inverted
  );
  --navds-search-field-color-input-inverted-hover: var(
    --navds-semantic-color-focus-inverted
  );
  --navds-search-field-color-button-inverted-focus: var(
    --navds-semantic-color-border
  );
}

.navds-search-field__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navds-search-field__input-icon {
  position: absolute;
  left: 0;
  padding: 0 var(--navds-spacing-4);
  align-items: center;
  display: flex;
  pointer-events: none;
}

.navds-search-field__input {
  padding-left: var(--navds-spacing-11);
  padding-right: var(--navds-spacing-12);
  border-width: 1px;
}

.navds-form-field--small .navds-search-field__input {
  min-height: 32px;
  padding: 0.15rem var(--navds-spacing-8) 0.15rem var(--navds-spacing-7);
}

.navds-form-field--small .navds-search-field__input-icon {
  padding: 0 var(--navds-spacing-2);
}

.navds-search-field__input:hover {
  border-color: var(--navds-search-field-color-input-hover);
}

/* Clear Button */

.navds-search-field__clear-button {
  position: absolute;
  right: 0;
  color: var(--navds-search-field-color-button-text);
  appearance: none;
  background: none;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.navds-form-field--small .navds-search-field__clear-button {
  height: 32px;
  width: 32px;
  font-size: 1rem;
}

.navds-search-field__clear-button:focus {
  box-shadow: var(--navds-shadow-focus);
  border-color: var(--navds-search-field-color-button-border-focus);
  outline: none;
}

.navds-search-field__clear-button:hover {
  border-color: var(--navds-search-field-color-button-border-hover);
}

/* Inverted */
.navds-search-field--inverted
  > .navds-search-field__input-wrapper
  > .navds-search-field__input {
  background-color: var(--navds-search-field-color-inverted-background);
  color: var(--navds-search-field-color-input-inverted);
  border-color: var(--navds-search-field-color-input-inverted-border);
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper[data-value="true"]
  > .navds-search-field__input {
  background-color: var(
    --navds-search-field-color-input-inverted-background-active
  );
  color: var(--navds-search-field-color-input-inverted-active);
  border-color: var(--navds-search-field-color-input-inverted-border-active);
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper[data-value="true"] {
  color: var(--navds-search-field-color-input-inverted-active);
}

.navds-search-field--inverted > .navds-search-field__input-wrapper {
  color: var(--navds-search-field-color-input-inverted);
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper
  > .navds-search-field__input:focus {
  background-color: var(
    --navds-search-field-color-input-inverted-background-focus
  );
  color: var(--navds-search-field-color-input-inverted-focus);
  border-color: var(--navds-search-field-color-input-inverted-border-focus);
  box-shadow: 0 0 0 3px var(--navds-semantic-color-focus-inverted);
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper:focus-within {
  color: var(--navds-search-field-color-input-inverted-focus);
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper
  > .navds-search-field__input:hover {
  border-color: var(--navds-search-field-color-input-inverted-hover);
}

/* Inveted clear button */

.navds-search-field--inverted
  > .navds-search-field__input-wrapper
  > .navds-search-field__clear-button:focus {
  box-shadow: 0 0 0 3px var(--navds-semantic-color-focus-inverted);
  border-color: var(--navds-search-field-color-button-inverted-focus);
  outline: none;
}

.navds-search-field--inverted
  > .navds-search-field__input-wrapper
  > .navds-search-field__clear-button:hover {
  border-color: var(--navds-search-field-color-input-inverted-hover);
}

/* disabled */
.navds-search-field--disabled {
  opacity: 0.3;
}
