.navds-select__input {
  appearance: none;
  background-color: var(--ac-select-bg, var(--a-surface-default));
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-select-border, var(--a-border-default));
  color: var(--ac-select-text, var(--a-text-default));
  width: 100%;
  box-sizing: border-box;
  min-height: 3rem;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  padding-right: 2rem;
  scroll-margin-block-start: 4rem;
}

@media (forced-colors: active) {
  .navds-select__input.navds-select__input.navds-select__input {
    background-color: ButtonFace;
    border-color: ButtonText;
    color: ButtonText;
    forced-color-adjust: none;
    box-shadow: none;
  }

  .navds-select__input.navds-select__input.navds-select__input:focus {
    outline: 2px solid highlight;
    outline-offset: 2px;
  }
}

.navds-select__input:hover {
  border-color: var(--ac-select-hover-border, var(--a-border-action-hover));
  cursor: pointer;
}

.navds-select__input:focus {
  outline: none;
  border-color: var(--ac-select-active-border, var(--a-border-action-selected));
  box-shadow: var(--a-shadow-focus);
}

.navds-select__container {
  position: relative;
  display: flex;
  width: 100%;
  color: var(--a-text-default);
}

.navds-select__chevron {
  position: absolute;
  font-size: 1.5rem;
  right: var(--a-spacing-2);
  pointer-events: none;
  align-self: center;
  color: var(--ac-select-text, var(--a-text-default));
}

@media (forced-colors: active) {
  .navds-select__chevron {
    color: ButtonText;
  }
}

.navds-form-field--small .navds-select__input {
  min-height: 2rem;
  padding: 0 var(--a-spacing-8) 0 var(--a-spacing-2);
}

.navds-form-field--small .navds-select__chevron {
  right: var(--a-spacing-1-alt);
}

/**
  Error handling
*/
.navds-select--error > * .navds-select__input:not(:hover, :disabled) {
  box-shadow: 0 0 0 1px var(--ac-select-error-border, var(--a-surface-danger));
  border-color: var(--ac-select-error-border, var(--a-surface-danger));
}

.navds-select--error .navds-select__input:focus {
  box-shadow: var(--a-shadow-focus);
}

/**
  Disabled
*/
.navds-select__input:disabled {
  background-color: var(--ac-select-bg, var(--a-surface-default));
  border: 1px solid var(--ac-select-border, var(--a-border-default));
  box-shadow: none;
  cursor: not-allowed;

  /* Chrome-fix */
  opacity: 1;
  color: var(--a-text-default);
}

/* Chrome-fix */
.navds-select__input:disabled > option {
  color: var(--a-text-default);
}

.navds-select--readonly .navds-select__input {
  background-color: var(--a-surface-subtle);
  border-color: var(--a-border-subtle);
  cursor: default;
}

.navds-select--readonly .navds-select__chevron {
  color: var(--a-gray-500);
}
