:root,
:host {
  --navds-select-color-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-select-color-border: var(--navds-semantic-color-border);
  --navds-select-color-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-select-color-border-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-select-color-shadow-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-select-color-border-disabled: var(--navds-global-color-gray-400);
  --navds-select-color-background-disabled: var(
    --navds-semantic-color-component-background-alternate
  );
}

.navds-select__input {
  appearance: none;
  background-color: var(--navds-select-color-background);
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-select-color-border);
  width: 100%;
  box-sizing: border-box;
  min-height: 48px;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  padding-right: 2rem;
}

.navds-select__input:hover {
  border-color: var(--navds-select-color-border-hover);
}

.navds-select__input:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-select__container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--navds-semantic-color-text);
}

.navds-select__chevron {
  position: absolute;
  font-size: 1rem;
  right: 0.5rem;
  pointer-events: none;
}

.navds-form-field--small .navds-select__input {
  min-height: 32px;
  padding: 0.25rem;
  padding-right: 2rem;
}

/**
  Error handling
*/
.navds-select--error > * select:not(:hover):not(:focus):not(:disabled) {
  box-shadow: 0 0 0 1px var(--navds-select-color-shadow-error);
  border-color: var(--navds-select-color-border-error);
}

.navds-select__input:disabled {
  background-color: var(--navds-select-color-background);
  border-color: var(--navds-select-color-border);
  box-shadow: none;
  cursor: not-allowed;
}
