:root,
:host {
  --v2-migration__navds-select-color-background: var(--a-surface-default);
  --v2-migration__navds-select-color-border: var(--a-border-strong);
  --v2-migration__navds-select-color-border-hover: var(--a-surface-action);
  --v2-migration__navds-select-color-border-error: var(--a-surface-danger);
  --v2-migration__navds-select-color-shadow-error: var(--a-surface-danger);
  --v2-migration__navds-select-color-border-disabled: var(--a-gray-400);
  --v2-migration__navds-select-color-background-disabled: var(--a-surface-subtle);
}

.navds-select__input {
  appearance: none;
  background-color: var(--a-surface-default);
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--a-border-strong);
  width: 100%;
  box-sizing: border-box;
  min-height: 48px;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  padding-right: 2rem;
}

.navds-select__input:hover {
  border-color: var(--a-surface-action);
}

.navds-select__input:focus {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

.navds-select__container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--a-text-default);
}

.navds-select__chevron {
  position: absolute;
  font-size: 1rem;
  right: 0.5rem;
  pointer-events: none;
}

.navds-form-field--small .navds-select__input {
  min-height: 32px;
  padding: 0.25rem;
  padding-right: 2rem;
}

/**
  Error handling
*/
.navds-select--error > * select:not(:hover):not(:focus):not(:disabled) {
  box-shadow: 0 0 0 1px var(--a-surface-danger);
  border-color: var(--a-surface-danger);
}

.navds-select__input:disabled {
  background-color: var(--a-surface-default);
  border-color: var(--a-border-strong);
  box-shadow: none;
  cursor: not-allowed;
}
