.navds-suggest-field {
  display: flex;
  flex-direction: column;
}

.navds-suggest-field__wrapper {
  position: relative;
}

.navds-suggest-field__input {
  padding-right: var(--navds-spacing-12);
  padding-left: var(--navds-spacing-11);
}

.navds-form-field--small .navds-suggest-field__input {
  min-height: 32px;
  padding: 0.15rem;
  padding-right: var(--navds-spacing-8);
  padding-left: var(--navds-spacing-8);
}

.navds-suggest-field__button-clear {
  position: absolute;
  right: 0;
  border-radius: var(--navds-border-radius-medium);
  color: var(--navds-semantic-color-text);
  height: 48px;
  width: 48px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0;
}

.navds-form-field--small .navds-suggest-field__button-clear {
  height: 32px;
  width: 32px;
  font-size: 1rem;
}

.navds-suggest-field__button-clear:hover {
  color: var(--navds-global-color-blue-500);
}

.navds-suggest-field__button-clear:focus {
  box-shadow: var(--navds-shadow-focus), inset 0 0 0 1px white;
  outline: none;
}

.navds-suggest-field__icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}

.navds-form-field--small .navds-suggest-field__icon {
  font-size: 1rem;
  left: 0.5rem;
}

/* Inverted */

.navds-suggest-field--inverted {
  color: var(--navds-semantic-color-text-inverted);
}

.navds-suggest-field--inverted .navds-suggest-field__input {
  background-color: var(--navds-global-color-gray-900);
  border-color: var(--navds-global-color-gray-50);
  color: var(--navds-semantic-color-text-inverted);
}

.navds-suggest-field--inverted .navds-suggest-field__input::placeholder {
  color: var(--navds-global-color-gray-300);
}

.navds-suggest-field--inverted .navds-suggest-field__icon {
  color: var(--navds-semantic-color-text-inverted);
}

.navds-suggest-field--inverted[data-active="true"] .navds-suggest-field__input {
  background-color: white;
  color: var(--navds-global-color-gray-900);
}

.navds-suggest-field--inverted[data-active="true"]
  .navds-suggest-field__input::placeholder,
.navds-suggest-field--inverted .navds-suggest-field__input:focus::placeholder {
  color: var(--navds-semantic-color-text-muted);
}

.navds-suggest-field--inverted[data-active="true"] .navds-suggest-field__icon {
  color: var(--navds-global-color-gray-900);
}

.navds-suggest-field--inverted .navds-suggest-field__input:hover {
  border-color: var(--navds-global-color-blue-200);
}

.navds-suggest-field--inverted .navds-suggest-field__input:focus {
  box-shadow: var(--navds-shadow-focus-inverted);
  background-color: white;
}

.navds-suggest-field--inverted:focus-within .navds-suggest-field__icon {
  color: var(--navds-global-color-gray-900);
}

.navds-suggest-field__button-clear:focus {
  box-shadow: var(--navds-shadow-focus-inverted),
    inset 0 0 0 1px var(--navds-global-color-gray-900);
  outline: none;
}
