:root,
:host {
  --navds-switch-color-label: var(--navds-semantic-color-text);
  --navds-switch-color-label-hover: var(--navds-semantic-color-interaction-primary);
  --navds-switch-color-track-background: var(--navds-semantic-color-text-muted);
  --navds-switch-color-track-background-checked: var(--navds-semantic-color-feedback-success-border);
  --navds-switch-color-track-background-hover: var(--navds-global-color-gray-800);
  --navds-switch-color-track-background-hover-checked: var(--navds-semantic-color-feedback-success-icon);
  --navds-switch-color-track-shadow-inner-focus: var(--navds-semantic-color-component-background-light);
  --navds-switch-color-thumb: var(--navds-semantic-color-component-background-light);
  --navds-switch-color-thumb-icon: var(--navds-semantic-color-text-muted);
  --navds-switch-color-thumb-icon-checked: var(--navds-semantic-color-feedback-success-border);
  --navds-switch-color-thumb-loader-checked: var(--navds-semantic-color-feedback-success-border);
}

.navds-switch {
  position: relative;
  min-height: 48px;
  width: fit-content;
}

.navds-switch--right {
  width: auto;
}

.navds-switch--small {
  position: relative;
  min-height: 32px;
}

/* Input */
.navds-switch__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  opacity: 0;
  top: 0;
}

.navds-switch--small > .navds-switch__input {
  height: 32px;
  top: 0;
}

/* Label */
.navds-switch__label-wrapper {
  cursor: pointer;
  color: var(--navds-switch-color-label);
}

.navds-switch__content {
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-1);
  padding: 0.75rem 0 0.75rem 3.25rem;
}

.navds-switch--right > .navds-switch__label-wrapper > .navds-switch__content {
  padding: 0.75rem 3.25rem 0.75rem 0;
}

.navds-switch--small > .navds-switch__label-wrapper > .navds-switch__content {
  padding: calc(var(--navds-spacing-2) - 2px) 0 calc(var(--navds-spacing-2) - 2px) 3.25rem;
}

.navds-switch--right.navds-switch--small > .navds-switch__label-wrapper > .navds-switch__content {
  padding: calc(var(--navds-spacing-2) - 2px) 3.25rem calc(var(--navds-spacing-2) - 2px) 0;
}

.navds-switch--with-description,
.navds-switch--small > .navds-switch__label-wrapper > .navds-switch--with-description {
  padding-bottom: 0;
}

.navds-switch__input:hover ~ .navds-switch__label-wrapper,
.navds-switch__label-wrapper:hover {
  color: var(--navds-switch-color-label-hover);
}

.navds-switch__input:disabled:hover ~ .navds-switch__label-wrapper {
  color: inherit;
}

/* Track */
.navds-switch__track {
  width: 44px;
  height: 24px;
  background-color: var(--navds-switch-color-track-background);
  position: absolute;
  top: var(--navds-spacing-3);
  left: 0;
  border-radius: var(--navds-border-radius-medium);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navds-switch--small > .navds-switch__track {
  top: var(--navds-spacing-1);
}

.navds-switch--right > .navds-switch__input,
.navds-switch--right > .navds-switch__track {
  right: 0;
  left: auto;
}

.navds-switch__input:checked ~ .navds-switch__track {
  background-color: var(--navds-switch-color-track-background-checked);
}

.navds-switch__input:hover ~ .navds-switch__track {
  background-color: var(--navds-switch-color-track-background-hover);
}

.navds-switch__input:hover:checked ~ .navds-switch__track {
  background-color: var(--navds-switch-color-track-background-hover-checked);
}

.navds-switch__input:disabled ~ .navds-switch__track {
  background-color: var(--navds-switch-color-track-background);
}

.navds-switch__input:checked:disabled ~ .navds-switch__track {
  background-color: var(--navds-switch-color-track-background-checked);
}

.navds-switch__input:focus ~ .navds-switch__track {
  box-shadow: 0 0 0 1px var(--navds-switch-color-track-shadow-inner-focus), var(--navds-shadow-focus);
}

/* Thumb */
.navds-switch__thumb {
  background-color: var(--navds-switch-color-thumb);
  color: var(--navds-switch-color-thumb-icon);
  border-radius: var(--navds-border-radius-small);
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateX(0);
  left: 2px;
  top: 2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navds-switch__input:checked ~ .navds-switch__track > .navds-switch__thumb {
  transform: translateX(20px);
  color: var(--navds-switch-color-thumb-icon-checked);
}

@media (hover: hover) and (pointer: fine) {
  .navds-switch__input:hover ~ .navds-switch__track > .navds-switch__thumb {
    transform: translateX(2px);
  }

  .navds-switch__input:checked:hover ~ .navds-switch__track > .navds-switch__thumb {
    transform: translateX(18px);
  }
}

.navds-switch__input:disabled:hover ~ .navds-switch__track > .navds-switch__thumb {
  transform: translateX(0);
}

.navds-switch__input:checked:disabled:hover ~ .navds-switch__track > .navds-switch__thumb {
  transform: translateX(20px);
}

/* Loader */
.navds-switch__input:checked ~ .navds-switch__track > .navds-switch__thumb .navds-loader__foreground {
  stroke: var(--navds-switch-color-thumb-loader-checked);
}

/* Disabled */
.navds-switch__input:disabled {
  appearance: none;
}

.navds-switch--disabled:not(.navds-switch--loading) {
  opacity: 0.3;
}

.navds-switch__input:disabled,
.navds-switch__input:disabled ~ .navds-switch__label-wrapper {
  cursor: not-allowed;
}
