[data-theme="dark"] {
  --ac-textarea-text: var(--a-text-on-inverted);
  --ac-textarea-bg: var(--a-transparent);
  --ac-textarea-border: var(--a-border-on-inverted);
  --ac-textarea-hover-border: var(--a-blue-200);
  --ac-textarea-placeholder: var(--a-gray-500);
  --ac-textarea-error-border: var(--a-red-300);
  --ac-textarea-counter-text: var(--a-gray-300);
  --ac-textarea-counter-error-text: var(--a-red-300);
}

.navds-textarea__wrapper {
  position: relative;
  width: 100%;
}

.navds-textarea__input {
  appearance: none;
  padding: var(--a-spacing-2);
  background-color: var(--ac-textarea-bg, var(--a-surface-default));
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-textarea-border, var(--a-border-default));
  resize: none;
  width: 100%;
  display: block;
  color: var(--ac-textarea-text, var(--a-text-default));
}

.navds-textarea--counter {
  padding-bottom: var(--a-spacing-8);
}

.navds-textarea__input::placeholder {
  color: var(--ac-textarea-placeholder, var(--a-text-subtle));
}

.navds-textarea__input:hover {
  border-color: var(--ac-textarea-hover-border, var(--a-border-action));
}

.navds-textarea__input:focus-visible {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

@supports not selector(:focus-visible) {
  .navds-textarea__input:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
  }
}

.navds-form-field--small .navds-textarea__input {
  padding: 6px;
}

.navds-form-field--small .navds-textarea--counter.navds-textarea__input {
  padding-bottom: var(--a-spacing-7);
}

.navds-textarea__counter {
  pointer-events: none;
  color: var(--ac-textarea-counter-text, var(--a-text-subtle));
  font-style: italic;
  position: absolute;
  text-align: left;
  left: 1px;
  bottom: 1px;
  padding: var(--a-spacing-1) var(--a-spacing-2);
}

.navds-textarea__counter--error {
  color: var(--ac-textarea-counter-error-text, var(--a-text-danger));
}

.navds-textarea--resize .navds-textarea__input {
  resize: both;
}

/**
  Error handling
*/
.navds-textarea--error .navds-textarea__input:not(:hover):not(:focus-visible):not(:disabled) {
  box-shadow: 0 0 0 1px var(--ac-textarea-error-border, var(--a-border-danger));
  border-color: var(--ac-textarea-error-border, var(--a-border-danger));
}

@supports not selector(:focus-visible) {
  .navds-textarea--error .navds-textarea__input:not(:hover):not(:focus):not(:disabled) {
    box-shadow: 0 0 0 1px var(--ac-textarea-error-border, var(--a-border-danger));
    border-color: var(--ac-textarea-error-border, var(--a-border-danger));
  }
}

.navds-textarea__input:disabled {
  background-color: var(--ac-textarea-bg, var(--a-surface-default));
  border-color: var(--ac-textarea-border, var(--a-border-default));
  box-shadow: none;
  cursor: not-allowed;
}

.navds-textarea__input[readonly] {
  background-color: var(--ac-textarea-bg, var(--a-surface-default));
  border-color: var(--ac-textarea-border, var(--a-border-default));
  box-shadow: none;
  cursor: not-allowed;
}
