:root,
:host,
[data-theme="light"] {
  --navds-text-field-color-text: var(--navds-semantic-color-text);
  --navds-text-field-color-background: var(--navds-semantic-color-component-background-light);
  --navds-text-field-color-border: var(--navds-semantic-color-border);
  --navds-text-field-color-border-hover: var(--navds-semantic-color-interaction-primary);
  --navds-text-field-color-border-error: var(--navds-semantic-color-interaction-danger);
  --navds-text-field-color-shadow-error: var(--navds-semantic-color-interaction-danger);
  --navds-text-field-color-border-disabled: var(--navds-global-color-gray-400);
  --navds-text-field-color-background-disabled: var(--navds-semantic-color-component-background-alternate);
  --navds-text-field-color-text-disabled: var(--navds-semantic-color-text);
  --navds-text-field-color-placeholder-text: var(--navds-semantic-color-text-muted);
}

[data-theme="dark"] {
  --navds-text-field-color-text: var(--navds-semantic-color-text-inverted);
  --navds-text-field-color-background: var(--navds-semantic-color-component-background-inverted);
  --navds-text-field-color-border: var(--navds-semantic-color-border-inverted);
  --navds-text-field-color-border-hover: var(--navds-global-color-blue-200);
  --navds-text-field-color-placeholder-text: var(--navds-global-color-gray-500);
}

.navds-text-field__input {
  appearance: none;
  padding: var(--navds-spacing-2);
  background-color: var(--navds-text-field-color-background);
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-text-field-color-border);
  min-height: 48px;
  width: 100%;
  color: var(--navds-text-field-color-text);
}

.navds-text-field__input[size] {
  width: auto;
}

.navds-text-field__input::placeholder {
  color: var(--navds-text-field-color-placeholder-text);
}

.navds-form-field--small .navds-text-field__input {
  padding: 0 0.25rem;
  min-height: 32px;
}

.navds-text-field__input:hover {
  border-color: var(--navds-text-field-color-border-hover);
}

.navds-text-field__input:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

/**
  Error handling
*/
.navds-text-field--error > .navds-text-field__input:not(:hover):not(:disabled) {
  border-color: var(--navds-text-field-color-border-error);
  box-shadow: 0 0 0 1px var(--navds-text-field-color-border-error);
}

.navds-text-field--error > .navds-text-field__input:focus:not(:hover):not(:disabled) {
  box-shadow: 0 0 0 1px var(--navds-text-field-color-border-error), var(--navds-shadow-focus);
}

/* Disabled handling */
.navds-text-field__input:disabled {
  background-color: var(--navds-text-field-color-background);
  border-color: var(--navds-text-field-color-border);
  box-shadow: none;
  cursor: not-allowed;
}

.navds-text-field__input[readonly] {
  background-color: var(--navds-text-field-color-background);
  border-color: var(--navds-text-field-color-border);
  box-shadow: none;
  cursor: not-allowed;
}

/**
  * Removes default search icon
  */
.navds-text-field__input[type="search"]::-webkit-search-decoration,
.navds-text-field__input[type="search"]::-webkit-search-cancel-button,
.navds-text-field__input[type="search"]::-webkit-search-results-button,
.navds-text-field__input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
