:root {
  --navds-textarea-color-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-textarea-color-border: var(--navds-semantic-color-border);
  --navds-textarea-color-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-textarea-color-border-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-textarea-color-shadow-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-textarea-color-counter-text: var(--navds-semantic-color-text-muted);
  --navds-textarea-color-counter-text-error: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-textarea-color-text-disabled: var(--navds-semantic-color-text);
  --navds-textarea-color-border-disabled: var(--navds-global-color-gray-400);
  --navds-textarea-color-background-disabled: var(
    --navds-semantic-color-component-background-alternate
  );
}

.navds-textarea__wrapper {
  position: relative;
  width: 100%;
}

.navds-textarea__input {
  appearance: none;
  padding: var(--navds-spacing-2);
  background-color: var(--navds-textarea-color-background);
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-textarea-color-border);
  resize: none;
  width: 100%;
  display: block;
  color: var(--navds-text-field-color-text);
}

.navds-textarea--counter {
  padding-bottom: var(--navds-spacing-8);
}

.navds-textarea__input:hover {
  border-color: var(--navds-textarea-color-border-hover);
}

.navds-textarea__input:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-form-field--small .navds-textarea__input {
  padding: 6px;
}

.navds-form-field--small .navds-textarea--counter.navds-textarea__input {
  padding-bottom: var(--navds-spacing-7);
}

.navds-textarea__counter {
  pointer-events: none;
  color: var(--navds-textarea-color-counter-text);
  font-style: italic;
  position: absolute;
  text-align: left;
  left: 1px;
  bottom: 1px;
  padding: var(--navds-spacing-1) var(--navds-spacing-2);
}

.navds-textarea__counter--error {
  color: var(--navds-textarea-color-counter-text-error);
}

.navds-textarea--resize .navds-textarea__input {
  resize: both;
}

/**
  Error handling
*/
.navds-textarea--error
  .navds-textarea__input:not(:hover):not(:focus):not(:disabled) {
  box-shadow: 0 0 0 1px var(--navds-textarea-color-shadow-error);
  border-color: var(--navds-textarea-color-border-error);
}

.navds-textarea__input:disabled {
  background-color: var(--navds-textarea-color-background);
  border-color: var(--navds-textarea-color-border);
  box-shadow: none;
  cursor: not-allowed;
}

.navds-textarea__input[readonly] {
  background-color: var(--navds-textarea-color-background);
  border-color: var(--navds-textarea-color-border);
  box-shadow: none;
  cursor: not-allowed;
}
