:root {
  --navds-textarea-color-background: var(
    --navds-semantic-color-component-background-light:
  );
  --navds-textarea-color-border: var(--navds-semantic-color-border-default);
  --navds-textarea-color-border-hover: var(
    --navds-semantic-color-interaction-primary-default
  );
  --navds-textarea-color-border-error: var(
    --navds-semantic-color-interaction-danger-default
  );
  --navds-textarea-color-shadow-error: var(
    --navds-semantic-color-interaction-danger-default
  );
  --navds-textarea-color-counter-text: var(--navds-global-color-gray-400);
  --navds-textarea-color-counter-text-error: var(
    --navds-semantic-color-interaction-danger-default
  );
  --navds-textarea-color-text-disabled: var(
    --navds-semantic-color-text-default
  );
  --navds-textarea-color-border-disabled: var(--navds-global-color-gray-400);
  --navds-textarea-color-background-disabled: var(
    --navds-semantic-color-component-background-alternate
  );
}

.navds-textarea__wrapper {
  position: relative;
  width: 100%;
}

.navds-textarea__input {
  appearance: none;
  padding: var(--navds-spacing-2);
  background-color: var(--navds-textarea-color-background);
  border-radius: 4px;
  border: 1px solid var(--navds-textarea-color-border);
  resize: none;
  width: 100%;
  transition: height 0.1s ease-out;
  display: block;
  min-height: 48px;
}

.navds-textarea--counter {
  padding-bottom: var(--navds-spacing-8);
}

.navds-textarea__input:hover {
  border-color: var(--navds-textarea-color-border-hover);
}

.navds-textarea__input:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-form-field--small .navds-textarea__input {
  padding: var(--navds-spacing-1);
  min-height: 32px;
}

.navds-form-field--small .navds-textarea--counter.navds-textarea__input {
  padding-bottom: var(--navds-spacing-7);
}

.navds-textarea__counter {
  pointer-events: none;
  color: var(--navds-textarea-color-counter-text);
  font-style: italic;
  position: absolute;
  text-align: right;
  left: var(--navds-spacing-3);
  right: var(--navds-spacing-3);
  bottom: var(--navds-spacing-2);
}

.navds-textarea__counter--error {
  color: var(--navds-textarea-color-counter-text-error);
}

/**
  Error handling
*/
.navds-textarea--error
  .navds-textarea__input:not(:hover):not(:focus):not(:disabled) {
  box-shadow: 0 0 0 1px var(--navds-textarea-color-shadow-error);
  border-color: var(--navds-textarea-color-border-error);
}

/*
  Disabled handling
 */
.navds-textarea__input:disabled,
.navds-textarea__input[readonly] {
  background-color: var(--navds-textarea-color-background-disabled);
  border-color: var(--navds-textarea-color-border-disabled);
  box-shadow: none;
  color: var(--navds-textarea-color-text-disabled);
  cursor: not-allowed;
}
