:root {
  --navds-text-field-color-background: var(--navds-color-white);
  --navds-text-field-color-border: var(--navds-color-gray-60);
  --navds-text-field-color-border-hover: var(--navds-color-blue-50);
  --navds-text-field-color-border-error: var(--navds-color-red-50);
  --navds-text-field-color-shadow-error: var(--navds-color-red-50);
  --navds-text-field-color-border-disabled: var(--navds-color-gray-40);
  --navds-text-field-color-background-disabled: var(--navds-color-gray-10);
  --navds-text-field-color-text-disabled: var(--navds-color-darkgray);
}

.navds-text-field__input {
  appearance: none;
  padding: 0.5rem;
  background-color: var(--navds-text-field-color-background);
  border-radius: 4px;
  border: 2px solid var(--navds-text-field-color-border);
  min-height: 48px;
  width: 100%;
}

.navds-form-field--small > .navds-text-field__input {
  padding: 0 0.15rem;
  min-height: 32px;
}

.navds-form-field--small > .navds-text-field__description:not(:empty) {
  margin-top: var(--navds-spacing-1);
}

.navds-text-field__input:hover {
  border-color: var(--navds-text-field-color-border-hover);
}

.navds-text-field__input:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

/**
  Error handling
*/
.navds-text-field--error > .navds-text-field__input:not(:hover):not(:disabled) {
  border-color: var(--navds-text-field-color-border-error);
}

/* Disabled handling */
.navds-text-field__input:disabled {
  background-color: var(--navds-text-field-color-background);
  border-color: var(--navds-text-field-color-border);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.3;
}

.navds-text-field__input[readonly] {
  background-color: var(--navds-text-field-color-background);
  border-color: var(--navds-text-field-color-border);
  box-shadow: none;
  cursor: not-allowed;
}

.navds-text-field--disabled > .navds-text-field__label,
.navds-text-field--disabled > .navds-text-field__description {
  opacity: 0.3;
}

/**
  * Removes default search icon
  */
.navds-text-field__input[type="search"]::-webkit-search-decoration,
.navds-text-field__input[type="search"]::-webkit-search-cancel-button,
.navds-text-field__input[type="search"]::-webkit-search-results-button,
.navds-text-field__input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
