.card {
  width: 18rem;
  height: 24rem;
  text-decoration: none;
  color: var(--navds-semantic-color-text-default);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: 8px;
  border: 2px solid var(--navds-global-color-gray-200);
  background-color: white;
  position: relative;

  &:hover {
    box-shadow: 0 16px 18px -13px rgba(0, 0, 0, 0.1),
      0 17px 36px -14px rgba(0, 0, 0, 0.17);
  }

  &:focus {
    border-color: var(--navds-semantic-color-focus);
    outline: none;
  }
}

.card__grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card__icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-shrink: 0;
  background: linear-gradient(
    -52deg,
    rgba(153, 195, 255, 1) 0%,
    rgba(153, 195, 255, 1) 50%,
    rgba(204, 225, 255, 1) 50%,
    rgba(204, 225, 255, 1) 100%
  );

  svg {
    font-size: 1.5rem;
  }
  .icon-facilitet--align {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
  }
}

.card__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.card:hover .card__title,
.card:focus .card__title {
  text-decoration: underline;
}

.card__content {
  text-align: center;
}
