@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.navds-tag {
  border-radius: 4px;
  border: $navds-border-default;
  background-color: $navds-color-tag-info-background;
  border-color: $navds-color-tag-info-border;
  font-size: $navds-font-size-xs;
  line-height: $navds-font-line-height-xs;
  display: inline-block;

  /* Padding calculated based on 16px font for 24px tall tag */
  padding: 0.0625rem 0.5rem;
}

.navds-tag--error {
  background-color: $navds-color-tag-error-background;
  border-color: $navds-color-tag-error-border;
}

.navds-tag--success {
  background-color: $navds-color-tag-success-background;
  border-color: $navds-color-tag-success-border;
}

.navds-tag--warning {
  background-color: $navds-color-tag-warning-background;
  border-color: $navds-color-tag-warning-border;
}

.navds-tag--info {
  background-color: $navds-color-tag-info-background;
  border-color: $navds-color-tag-info-border;
}
