.navds-tag {
  border-radius: 4px;
  border: 1px solid #b7b1a9;
  background-color: #c2eaf7;
  border-color: #5690a2;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-block;
  /* Padding calculated based on 16px font for 24px tall tag */
  padding: 0.0625rem 0.5rem;
}

.navds-tag--error {
  background-color: #e3b0a8;
  border-color: #ba3a26;
}

.navds-tag--success {
  background-color: #9bd0b0;
  border-color: #06893a;
}

.navds-tag--warning {
  background-color: #ffd399;
  border-color: #d87f0a;
}

.navds-tag--info {
  background-color: #c2eaf7;
  border-color: #5690a2;
}
