.iconPage {
  margin-left: 0.75rem;
  margin-right: 1rem;

  .interaksjonImg {
    max-width: 468px;
  }

  .stotteikonerImg {
    max-width: 598px;
  }

  .basisikonerImg {
    max-width: 798px;
  }

  .iconsImg {
    max-width: 1000px;
  }
}