.panel {
  margin: 0;
}

.lenkepanel {
  &.resource-link {
    .lenkepanel__heading {
      display:flex;
      align-items:center;
    }

    svg {
      width: 2rem;
      margin-right:1rem;
    }
  }
}