.overflow-detector {
  position: relative;
}

.overflow-detector__scroller {
  overflow: auto;
  overflow-y: hidden;
}

.overflow-detector__scroller:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--navds-color-blue-80);
}

.overflow-detector__inner {
  display: inline-block;
  min-width: 100%;
}

.overflow-detector--shadow-left::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  opacity: 0.1;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

.overflow-detector--shadow-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  opacity: 0.1;
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
}
