.animationButton {
  background-color: var(--ax-bg-neutral-softA);
  border-radius: var(--ax-border-radius-full);
  margin-bottom: 16px;
  color: var(--ax-text-neutral);

  &:hover {
    background-color: var(--ax-neutral-300A);
  }

  & svg {
    color: var(--ax-neutral-700);
  }
}

.mainBanner {
  background: var(--ax-bg-meta-purple-strong);
  padding: var(--ax-space-16);
  text-align: center;
  font-size: var(--ax-font-size-xlarge);
  color: var(--ax-text-neutral-contrast);
  text-decoration: underline;
}

.frontPage {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.hero {
  position: relative;
  margin-inline: auto;
  margin-bottom: var(--ax-space-12);
  margin-top: var(--ax-space-20);
  padding-inline: var(--ax-space-4);
  display: grid;
  width: 100%;
  text-align: center;
  place-items: center;
}

.cubeWrapper {
  position: relative;
}

.heroLinearBG {
  position: absolute;
  z-index: -2;
  top: 0;
  height: 900px;
  width: 100%;
  transition: background 1s;
  animation: 60s ease infinite rainbow-hype;
  background: linear-gradient(196deg, var(--gradient-1) 8.43%, var(--gradient-2) 24%, transparent 70.98%);

  /* temporary colors */
  --aksel-brand-logo: #004367;
  --aksel-brand-teal-200: #2a7c75; /* also lighter? */
  --aksel-brand-teal-300: #b7eee4;
  --aksel-brand-teal-400: #90e1d2;
  --aksel-brand-teal-800: #41ab9d;
  --meta-purple-subtleA: #c380fe;
  --brand-blue-moderate: #005d96; /* lighter than 00253c? */
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.dark) .heroLinearBG {
  background: linear-gradient(196deg, var(--gradient-dark) 0%, transparent 30%);
}

@property --gradient-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --gradient-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --gradient-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --hero-text {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

.heroText {
  /* animation added here to both light & dark, to keep them "in sync" */
  animation: 60s ease infinite rainbow-hype;
  color: var(--aksel-brand-logo);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.dark) .heroText {
  color: var(--hero-text);
}

@keyframes rainbow-hype {
  0% {
    --gradient-1: var(--ax-bg-meta-purple-moderate-pressed);
    --gradient-2: var(--ax-bg-meta-purple-moderate-hover);
    --gradient-dark: var(--meta-purple-subtleA);
    --hero-text: var(--ax-text-meta-purple-subtle);
  }

  33% {
    --gradient-1: var(--aksel-brand-teal-400);
    --gradient-2: var(--aksel-brand-teal-300);
    --gradient-dark: var(--aksel-brand-teal-200);
    --hero-text: var(--aksel-brand-teal-800);
  }

  66% {
    --gradient-1: var(--ax-bg-brand-blue-moderate-pressed);
    --gradient-2: var(--ax-bg-brand-blue-moderate-hover);
    --gradient-dark: var(--brand-blue-moderate);
    --hero-text: var(--ax-text-brand-blue-subtle);
  }

  100% {
    --gradient-1: var(--ax-bg-meta-purple-moderate-pressed);
    --gradient-2: var(--ax-bg-meta-purple-moderate-hover);
    --gradient-dark: var(--meta-purple-subtleA);
    --hero-text: var(--ax-text-meta-purple-subtle);
  }
}

.godPraksis {
  background: linear-gradient(180deg, transparent 0%, var(--ax-bg-default) 52%);
}

.godPraksisHeading {
  color: var(--ax-text-brand-blue);
}

.godPraksisInfo {
  max-width: 600px;
}

.godPraksisCardList {
  display: grid;
  gap: var(--ax-space-32);
}

.godPraksisCardItemImage {
  /* color: red; */
}

.godPraksisCardItemLink {
  color: var(--ax-text-brand-blue);
}

.akselPage {
  position: relative;
  z-index: 10;
}

.latestHeading {
  margin-block: var(--ax-space-64) var(--ax-space-28);
  color: var(--ax-text-brand-blue);
}

.latestSection {
  margin-top: var(--ax-space-80);
}

.highlightWrapper {
  display: grid;
  gap: var(--ax-space-32);
}

.highlightSection {
  display: grid;
  align-content: flex-start;
  gap: var(--ax-space-24);
}

.highlightSectionCompact {
  display: grid;
  align-content: flex-start;
  gap: var(--ax-space-32);
}

.highlightLink {
  margin-block: var(--ax-space-8) var(--ax-space-20);
  text-decoration: underline;
  color: var(--ax-text-neutral);

  &:hover {
    text-decoration: none;
  }
}

.highlightAuthor {
  display: flex;
  gap: var(--ax-space-8);
  color: var(--ax-text-neutral-subtle);
}

.sectionImageWrapper {
  position: relative;
  display: block;
  aspect-ratio: 16/9;
}

.sectionImage {
  border-radius: var(--ax-border-radius-large);
  background: var(--ax-brand-blue-300);
  object-fit: cover;
}

.betaHue {
  filter: hue-rotate(65deg);
}

.cardImageWrapperWrapper {
  display: flex;
  place-items: center;
  overflow: hidden;
  border-top-left-radius: var(--ax-border-radius-large);
  border-top-right-radius: var(--ax-border-radius-large);
  background: var(--ax-brand-blue-300);
}

.cardImageWrapper {
  position: relative;
  height: 200px;
  width: 100%;
}

.cardImage {
  border-top-left-radius: var(--ax-border-radius-large);
  border-top-right-radius: var(--ax-border-radius-large);
}

.card {
  position: relative;
  background: var(--ax-bg-raised);
  border: solid 1px var(--ax-border-neutral-subtleA);
  border-radius: var(--ax-border-radius-large);
  transition-property: opacity, transform;
  transition-duration: 700ms;

  &:focus-within,
  &:hover {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 2px;

    .cardLinkHeading {
      text-decoration: none;
    }
  }
}

.cardContent {
  padding-bottom: var(--ax-space-64);
}

.cardLink {
  &:focus {
    outline: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--ax-border-radius-large);
  }
}

.cardLinkHeading {
  text-decoration: underline;
}

.cardBody {
  margin-top: var(--ax-space-8);
}

.cardFooter {
  position: absolute;
  bottom: var(--ax-space-20);
  display: flex;
  gap: var(--ax-space-8);
  color: var(--ax-text-neutral-subtle);
}

.cardVisible {
  opacity: 1;
  transform: translateY(0);
}

.cardNotVisible {
  opacity: 0;
  transform: translateY(12px);
}

@media (min-width: 480px) {
  .hero {
    padding-inline: 1.5rem;
    margin-top: 9rem;
    max-width: 632px;
  }

  .heroText {
    font-size: 3.5rem;
  }

  .sectionImage {
    object-fit: contain;
  }
}

@media (min-width: 768px) {
  .highlightCompact {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .highlightWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
