@import (reference) '~NavFrontendCore/less/_variabler';
@import '~NavFrontendModules/nav-frontend-typografi-style/src/index';

body {
  font-family: @font-family;
  padding: 2rem;
  margin: 0;
}

code {
    display: inline-block;
    background: #f4f4f4;
    color: @navRod;
    font-size:0.9rem;
    padding: 0.18rem 0.33333rem;
}

#development {
    padding: 4rem;
}