.relatertInnhold {
  padding: var(--ax-space-12) var(--ax-space-16);
  border-radius: var(--ax-border-radius-xlarge);
  border: 1px solid var(--ax-border-neutral-subtleA);
  background: var(--ax-bg-neutral-soft);
  color: var(--ax-text-neutral-subtle);

  /* TODO: Handle spacing after enabling new Aksel-theme */
  & ul {
    margin-block: 0;
  }
}
