.websiteTable {
  width: 100%;
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral-subtle);
  border-collapse: separate;
  border-spacing: initial;

  & [data-hide="sm"] {
    display: none;

    @media (min-width: 640px) {
      display: table-cell;
    }
  }

  & [data-align="end"] {
    text-align: end;
  }
}

.websiteTableHeadTr {
  border-top-left-radius: var(--ax-radius-8);
  border-top-right-radius: var(--ax-radius-8);
  text-align: left;
}

.websiteTableTh {
  background-color: var(--ax-bg-neutral-moderate);
  padding: var(--ax-space-8);
  font-size: var(--ax-font-size-medium);

  &:first-of-type {
    border-top-left-radius: var(--ax-radius-8);
  }

  &:last-of-type {
    border-top-right-radius: var(--ax-radius-8);
  }
}

.websiteTableTr {
  border-top: 1px solid var(--ax-border-neutral-subtle);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  font-size: var(--ax-font-size-medium);

  &:last-of-type {
    border-radius: 0 0 var(--ax-radius-8) var(--ax-radius-8);
  }
}

.websiteTableTd {
  border-top: 1px solid var(--ax-border-neutral-subtle);
  padding-inline: var(--ax-space-8);
  padding-block: var(--ax-space-4);
}
