.avatarList {
  display: flex;
}

.avatarItem {
  &:not(:first-child) {
    margin-left: calc(-1 * var(--ax-space-8));
    border-radius: var(--ax-radius-full);
    position: relative;

    &::after {
      inset: 0;
      border-radius: inherit;
      box-shadow: inset 0 0 0 1px var(--ax-border-subtleA);
      content: "";
      position: absolute;
    }

    & .avatarImage {
      box-shadow: 0 0 0 2px var(--ax-bg-default);
      background-clip: content-box;
      position: relative;
      border-radius: var(--ax-radius-full);
      overflow: hidden;
    }
  }
}

.avatarName {
  color: var(--ax-text-neutral);
  margin-top: calc(-1 * var(--ax-space-4));
}

.avatarNameSuffix {
  margin-left: var(--ax-space-6);
}
