@import "~normalize.css";
@import "~@nav-frontend/tokens/dist/tokens.css";

body {
  font-family: var(--navds-font-family);
  line-height: 1.375;
  color: var(--navds-color-text-primary);
}

a {
  color: var(--navds-color-text-link);
}
