.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li {
  list-style: none;
  margin: 0;
  font-size: var(--navds-font-size-medium);
  line-height: var(--navds-font-line-height-medium);
  color: var(--navds-color-blue-50);
  display: flex;
  align-items: center;
  transition: margin 100ms linear;
  column-gap: 0.25rem;
  padding: 0.25rem 0;
  width: fit-content;
}

.li > svg {
  flex-shrink: 0;
}

.li:hover > svg,
.li:focus-within > svg {
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}

.li > a {
  padding: 0.25rem 0;
}

.li:hover > a,
.li:hover > svg {
  color: var(--navds-color-darkgray);
  transition: color 150ms linear;
}

.li > svg + a:focus {
  color: white;
  transition: color 0ms linear;
  background-color: var(--navds-color-blue-80);
  outline: none;
}

.li:focus-within > svg {
  color: var(--navds-color-darkgray);
}
