body {
  background-color: var(--ax-bg-default);
}

.rowgap {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.colgap {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.rowgap-wrap {
  flex-wrap: wrap;
}

.storyheading {
  font-size: 18px;
  background: lightblue;
  color: #23262a;
  padding: 2px 4px;
}

.sbdocs-content:not(.sb-unstyled) :is(p, li) {
  font-size: 1.125rem;
}

.sbdocs-content:not(.sb-unstyled) li > p {
  margin-bottom: 0;
}

.sbdocs-content:not(.sb-unstyled) li > ul {
  margin-top: 0.25rem;
}
