.rowgap {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.colgap {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.colgap[data-theme="dark"],
.rowgap[data-theme="dark"] {
  background-color: var(--a-gray-900);
}

.rowgap-wrap {
  flex-wrap: wrap;
}
