@import (reference) '~NavFrontendCore/less/_variabler';

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  max-width: 1100px;
  margin: 3rem auto;

  .lenkepanel {
    margin: 0;
    padding: 2rem 3rem 2rem 2rem;
    flex-basis: calc(50% - 0.7rem);

    h1, h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__indikator {
      position: absolute;
      right: 1rem;
      left: auto;
      top: 50%;
      margin-top: -1px;
      transition: right 250ms;
    }

    &:hover,
    &--hover {
      h1, h2 {
        color: @navBla;
        text-decoration: underline;
      }

      .lenkepanel__indikator {
        left: auto;
        right: 0.75rem;
      }
    }
  }

  @media (max-width: 930px) {
    grid-template-columns: repeat(1, 1fr);
    margin:0;
  }
}