.sb-guidepanel__tokens--purple {
  --navds-guide-panel-color-border: var(--navds-global-color-purple-400);
  --navds-guide-panel-color-illustration-background: var(
    --navds-global-color-purple-200
  );
}

.sb-guidepanel__tokens--green {
  --navds-guide-panel-color-border: var(--navds-global-color-green-400);
  --navds-guide-panel-color-illustration-background: var(
    --navds-global-color-green-200
  );
}
