.navds-accordion {
  border: 2px solid var(--ac-accordion-header-border, var(--a-border-divider));
  border-right: none;
  border-left: none;
}

.navds-accordion__item:focus-within {
  position: relative;
}

.navds-accordion__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--a-spacing-2);
  padding: 14px var(--a-spacing-4) var(--a-spacing-3);
  margin: 0;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid var(--ac-accordion-header-border, var(--a-border-divider));
  position: relative;
}

.navds-accordion__item:last-of-type > .navds-accordion__header {
  border-bottom: none;
}

.navds-accordion__header:focus {
  outline: none;
}

.navds-accordion__header:focus-visible {
  outline: none;
  box-shadow: inset var(--a-shadow-focus);
}

.navds-accordion--action > .navds-accordion__item > .navds-accordion__header:hover {
  color: var(--ac-accordion-header-text-hover, var(--a-text-action-on-action-subtle));
  background-color: var(--a-surface-action-subtle-hover);
}

.navds-accordion--action > .navds-accordion__item--open > .navds-accordion__header {
  background-color: var(--ac-accordion-item-bg-open, var(--a-surface-action-subtle));
  z-index: 2;
}

.navds-accordion--action > .navds-accordion__item--open > .navds-accordion__content {
  background-color: var(--ac-accordion-item-bg-open, var(--a-surface-action-subtle));
}

.navds-accordion--neutral > .navds-accordion__item > .navds-accordion__header:hover {
  background-color: var(--a-surface-neutral-subtle-hover);
}

.navds-accordion--neutral > .navds-accordion__item--open > .navds-accordion__header {
  background-color: var(--ac-accordion-item-bg-open, var(--a-surface-neutral-subtle));
  z-index: 2;
}

.navds-accordion--neutral > .navds-accordion__item--open > .navds-accordion__content {
  background-color: var(--ac-accordion-item-bg-open, var(--a-surface-neutral-subtle));
}

.navds-accordion__header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navds-accordion__item--open > .navds-accordion__header {
  border-color: var(--ac-accordion-item-border-open, var(--a-transparent));
}

.navds-accordion__content {
  padding: var(--a-spacing-3) var(--a-spacing-3) 18px;
  border-bottom: 2px solid var(--ac-accordion-content-border, var(--a-border-divider));
}

.navds-accordion__item:last-of-type > .navds-accordion__content {
  border-bottom: none;
}

.navds-accordion__item--open > .navds-accordion__header:hover + * .navds-accordion__content {
  border-color: var(--ac-accordion-content-border-open, var(--a-border-default));
}

.navds-accordion__item > .navds-accordion__content {
  display: none;
}

.navds-accordion__item--open > .navds-accordion__content {
  animation: fadeExpansionCard 250ms ease;
  display: block;
}

@keyframes fadeExpansionCard {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }

  40% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navds-accordion__expand-icon {
  font-size: 1.5rem;
  height: 1.75rem;
  flex-shrink: 0;
  transition: transform 150ms ease-in-out;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon {
  transform: translateY(1px);
}

.navds-accordion__item--open > .navds-accordion__header > .navds-accordion__expand-icon {
  transform: rotateZ(180deg);
}

.navds-accordion__item--open > .navds-accordion__header:hover > .navds-accordion__expand-icon {
  transform: rotateZ(180deg) translateY(-1px);
}
