.navds-accordion__item:focus-within {
  position: relative;
}

.navds-accordion__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--a-spacing-2);
  padding: 14px var(--a-spacing-3) var(--a-spacing-3);
  margin: 0;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid var(--a-border-strong);
}

.navds-accordion__header:focus {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

.navds-accordion__header:hover {
  color: var(--ac-accordion-header-text-hover, var(--a-text-action-on-action-subtle));
  border-color: var(--ac-accordion-header-border-hover, var(--a-border-strong));
}

.navds-accordion__header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navds-accordion__item--open > .navds-accordion__header {
  background-color: var(--ac-accordion-item-bg-open, var(--a-surface-action-subtle));
  border-color: var(--ac-accordion-item-border-open, var(--a-surface-action-subtle));
}

.navds-accordion__content {
  padding: var(--a-spacing-3) var(--a-spacing-3) 18px;
  border-bottom: 2px solid var(--ac-accordion-content-border, var(--a-border-strong));
}

.navds-accordion__item--open > .navds-accordion__header:hover + * .navds-accordion__content {
  border-color: var(--ac-accordion-content-border-open, var(--a-border-strong));
}

.navds-accordion__expand-icon {
  font-size: 1.5rem;
  height: 1.75rem;
  flex-shrink: 0;
}

.navds-accordion__item--open > .navds-accordion__header > .navds-accordion__expand-icon {
  transform: rotateZ(180deg);
}

.navds-accordion__expand-icon--filled {
  display: none;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon.navds-accordion__expand-icon--filled {
  display: inherit;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon {
  display: none;
}
