.navds-accordion__item:focus-within {
  position: relative;
}

.navds-accordion__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--a-spacing-2);
  padding: 14px var(--a-spacing-3) var(--a-spacing-3);
  margin: 0;
  text-align: left;
  background: var(--ac-accordion-header-bg, var(--a-surface-transparent));
  cursor: pointer;
  border: none;
  border-bottom: 2px solid var(--ac-accordion-header-border, var(--a-border-divider));
}

.navds-accordion__header:focus {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

.navds-accordion__header:hover {
  background: var(--ac-accordion-header-bg-hover, var(--a-grayalpha-200));
  text-decoration: underline;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon {
  background-color: var(--ac-accordion-header-bg-hover, var(--a-grayalpha-200));
  border-radius: 4px;
  height: 24px;
  align-self: center;
}

.navds-accordion__header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navds-accordion__item--open {
  background-color: var(--ac-accordion-header-bg-open, var(--ac-accordion-item-bg-open, var(--a-grayalpha-200)));
}

.navds-accordion__item--open > .navds-accordion__header {
  border: none;
}

.navds-accordion__content {
  padding: 0 var(--a-spacing-3) var(--a-spacing-5) var(--a-spacing-11);
  border-bottom: 2px solid var(--ac-accordion-content-border, var(--a-border-divider));
}

.navds-accordion__item--open > .navds-accordion__header:hover + * .navds-accordion__content {
  border-color: var(--ac-accordion-content-border-open, var(--a-border-default));
}

.navds-accordion__expand-icon {
  font-size: 1.5rem;
  height: 1.75rem;
  flex-shrink: 0;
}

.navds-accordion__item--open > .navds-accordion__header > .navds-accordion__expand-icon {
  transform: rotateZ(180deg);
}
