:root,
:host {
  --navds-accordion-color-text-hover: var(--navds-semantic-color-interaction-primary);
  --navds-accordion-color-border: var(--navds-semantic-color-border);
  --navds-accordion-color-border-hover: var(--navds-semantic-color-interaction-primary);
  --navds-accordion-color-background-open: var(--navds-semantic-color-interaction-primary-hover-subtle);
}

.navds-accordion__item:focus-within {
  position: relative;
}

.navds-accordion__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--navds-spacing-2);
  padding: 14px var(--navds-spacing-3) var(--navds-spacing-3);
  margin: 0;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid var(--navds-accordion-color-border);
}

.navds-accordion__header:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-accordion__header:hover {
  color: var(--navds-accordion-color-text-hover);
  border-color: var(--navds-accordion-color-border-hover);
}

.navds-accordion__header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navds-accordion__item--open > .navds-accordion__header {
  background-color: var(--navds-accordion-color-background-open);
  border-color: var(--navds-accordion-color-background-open);
}

.navds-accordion__content {
  padding: var(--navds-spacing-3) var(--navds-spacing-3) 18px;
  border-bottom: 2px solid var(--navds-accordion-color-border);
}

.navds-accordion__item--open > .navds-accordion__header:hover + * .navds-accordion__content {
  border-color: var(--navds-accordion-color-border-hover);
}

.navds-accordion__expand-icon {
  font-size: 1.5rem;
  height: 1.75rem;
  flex-shrink: 0;
}

.navds-accordion__item--open > .navds-accordion__header > .navds-accordion__expand-icon {
  transform: rotateZ(180deg);
}

.navds-accordion__expand-icon--filled {
  display: none;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon.navds-accordion__expand-icon--filled {
  display: inherit;
}

.navds-accordion__header:hover > .navds-accordion__expand-icon {
  display: none;
}
