.navds-accordion__item:focus-within {
  position: relative;
}

.navds-accordion__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--a-spacing-2);
  padding: var(--a-spacing-3) var(--a-spacing-3);
  margin: 0;
  text-align: left;
  background: var(--ac-accordion-header-bg, var(--a-surface-transparent));
  cursor: pointer;
  border: none;
  position: relative;
  box-shadow: inset 2px 0 0 0 var(--a-transparent), inset -2px 0 0 0 var(--a-transparent),
    inset 0 2px 0 0 var(--ac-accordion-header-border, var(--a-border-divider));
}

.navds-accordion--small .navds-accordion__header {
  padding: var(--a-spacing-2) var(--a-spacing-3);
}

.navds-accordion--medium .navds-accordion__header {
  padding: var(--a-spacing-3) var(--a-spacing-3);
}

.navds-accordion--large .navds-accordion__header {
  padding: var(--a-spacing-4) var(--a-spacing-3);
}

.navds-accordion__item:last-child :where(.navds-accordion__header) {
  box-shadow: inset 2px 0 0 0 var(--a-transparent), inset -2px 0 0 0 var(--a-transparent),
    inset 0 2px 0 0 var(--ac-accordion-header-border, var(--a-border-divider)),
    inset 0 -2px 0 0 var(--ac-accordion-header-border, var(--a-border-divider));
}

.navds-accordion__item:last-child:where(.navds-accordion__item--open) :where(.navds-accordion__header) {
  box-shadow: inset 2px 0 0 0 var(--a-transparent), inset -2px 0 0 0 var(--a-transparent), inset 0 2px 0 0 var(--a-transparent),
    inset 0 2px 0 0 var(--ac-accordion-header-border, var(--a-border-divider));
}

.navds-accordion__item:last-child:where(.navds-accordion__item--open) {
  box-shadow: inset 2px 0 0 0 var(--a-transparent), inset -2px 0 0 0 var(--a-transparent), inset 0 2px 0 0 var(--a-transparent),
    inset 0 -2px 0 0 var(--ac-accordion-header-border, var(--a-border-divider));
}

.navds-accordion__header:focus-visible {
  outline: none;
  box-shadow: var(--a-shadow-focus);
  border-radius: var(--a-border-radius-large);
}

@supports not selector(:focus-visible) {
  .navds-accordion__header:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
    border-radius: var(--a-border-radius-large);
  }
}

.navds-accordion__header:hover {
  background: var(--ac-accordion-header-bg-hover, var(--a-grayalpha-200));
  text-decoration: underline;
}

.navds-accordion__header:hover > .navds-accordion__header-chevron {
  background-color: var(--ac-accordion-header-bg-hover, var(--a-surface-hover));
  border-radius: var(--a-border-radius-medium);
  height: 1.5rem;
  align-self: center;
}

.navds-accordion__header > .navds-accordion__icon-wrapper {
  display: grid;
  place-content: center;
  cursor: pointer;
  margin: 0;
  border: none;
  border-radius: var(--ac-expansioncard-button-border-radius, var(--a-border-radius-medium));
  height: var(--a-spacing-6);
  width: var(--a-spacing-6);
  font-size: var(--a-font-size-heading-medium);
  align-self: center;
}

.navds-accordion__header:hover > .navds-accordion__icon-wrapper {
  background-color: var(--ac-accordion-header-bg-hover, var(--a-surface-neutral-subtle-hover));
}

:where(.navds-accordion__header):hover {
  background-color: var(--ac-accordion-header-bg-hover, var(--a-surface-hover));
}

.navds-accordion__header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navds-accordion__item--open.navds-accordion__item--neutral {
  background-color: var(--ac-accordion-header-bg-open, var(--ac-accordion-item-bg-open, var(--a-surface-neutral-subtle-hover)));
}

.navds-accordion__item--open :where(.navds-accordion__header) {
  box-shadow: inset 2px 0 0 0 var(--a-transparent), inset -2px 0 0 0 var(--a-transparent),
    inset 0 2px 0 0 var(--ac-accordion-header-border, var(--a-border-divider));
}

.navds-accordion__content {
  padding: 0 var(--a-spacing-3) var(--a-spacing-5) var(--a-spacing-11);
  animation: fadeAccordionContent 250ms ease;
}

.navds-accordion__item--open .navds-accordion__header:hover + .navds-accordion__content {
  border-color: var(--ac-accordion-content-border-open, var(--a-border-default));
}

.navds-accordion__header-chevron {
  font-size: 1.5rem;
  height: 1.75rem;
  flex-shrink: 0;
  transition: transform 150ms ease-in-out;
}

:where(.navds-accordion__header):hover :where(.navds-accordion__header-chevron) {
  transform: translateY(1px);
}

.navds-accordion__item--open :where(.navds-accordion__header-chevron) {
  transform: translateY(0) rotate(-180deg);
}

.navds-accordion__item--open :where(.navds-accordion__header):hover :where(.navds-accordion__header-chevron) {
  transform: translateY(-1px) rotate(-180deg);
}

.navds-accordion__content--closed {
  display: none;
}

.navds-accordion__item--no-animation :where(.navds-accordion__content) {
  animation: none;
}

@keyframes fadeAccordionContent {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  40% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
