:root {
  --navds-accordion-menu-color-text: var(--navds-semantic-color-text-link);
  --navds-accordion-menu-color-text-focus: var(--navds-semantic-color-text);
  --navds-accordion-menu-color-background-hover: var(
    --navds-global-color-blue-50
  );
  --navds-accordion-menu-color-text-active: var(--navds-semantic-color-text);
  --navds-accordion-menu-outline-focus: var(--navds-semantic-color-focus);
}

.navds-accordion-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: var(--navds-font-weight-bold);
}

.navds-accordion-menu-collapsable__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  text-align: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--navds-font-weight-bold);
  color: var(--navds-accordion-menu-color-text);
  text-decoration: underline;
}

.navds-accordion-menu-item,
.navds-accordion-menu-collapsable__button {
  display: flex;
  padding: var(--navds-spacing-3) var(--navds-spacing-4);
  text-decoration: none;
}

.navds-accordion-menu-collapsable__expand-icon {
  font-size: 1.5rem;
  color: var(--navds-accordion-menu-color);
  flex-shrink: 0;
  margin-left: var(--navds-spacing-2);
}

.navds-accordion-menu-collapsable--open
  > .navds-accordion-menu-collapsable__button
  > .navds-accordion-menu-collapsable__expand-icon {
  transform: rotate(180deg);
}

.navds-accordion-menu-collapsable .navds-accordion-menu-item,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  padding-left: var(--navds-spacing-8);
}

.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-item,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  padding-left: var(--navds-spacing-12);
}

.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-item,
.navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable
  .navds-accordion-menu-collapsable__button {
  padding-left: var(--navds-spacing-16);
}

.navds-accordion-menu-item:focus,
.navds-accordion-menu-collapsable__button:focus {
  outline: 3px solid var(--navds-accordion-menu-outline-focus);
  outline-offset: -3px;
  color: var(--navds-accordion-menu-color-text-focus);
}

.navds-accordion-menu-collapsable__button:focus
  > .navds-accordion-menu-collapsable__expand-icon {
  color: var(--navds-accordion-menu-color-focus);
}

.navds-accordion-menu-item:hover,
.navds-accordion-menu-collapsable__button:hover {
  background-color: var(--navds-accordion-menu-color-background-hover);
}

.navds-accordion-menu-item--active {
  box-shadow: inset 0.5rem 0 var(--navds-semantic-color-text-link);
  color: var(--navds-accordion-menu-color-text-active);
  text-decoration: none;
}
