/* stylelint-disable csstools/value-no-unknown-custom-properties */
/* stylelint-disable aksel/design-token-exists */
.navds-action-menu__content {
  --__ac-action-menu-content-p: var(--a-spacing-2);
  --__ac-action-menu-item-pr: var(--a-spacing-3);
  --__ac-action-menu-item-pl: var(--a-spacing-2);
  --__ac-action-menu-item-height: 2rem;

  padding: var(--__ac-action-menu-content-p);
  box-shadow: var(--a-shadow-medium);
  border-radius: var(--a-border-radius-large);
  background-color: var(--a-surface-default);
  overflow: auto;
  min-width: 128px;
  max-width: min(100vw, 640px);
  max-height: var(--ac-action-menu-content-available-height);
  transform-origin: var(--ac-action-menu-content-transform-origin);
  scrollbar-width: thin;
  animation-duration: 160ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.navds-action-menu__content:where([data-state="open"]):where([data-side="bottom"]) {
  animation-name: aksel-action-from-bottom, aksel-action-fade-in;
}

.navds-action-menu__content:where([data-state="open"]):where([data-side="top"]) {
  animation-name: aksel-action-from-top, aksel-action-fade-in;
}

.navds-action-menu__content:where([data-state="open"]):where([data-side="left"]) {
  animation-name: aksel-action-from-left, aksel-action-fade-in;
}

.navds-action-menu__content:where([data-state="open"]):where([data-side="right"]) {
  animation-name: aksel-action-from-right, aksel-action-fade-in;
}

@keyframes aksel-action-from-bottom {
  from {
    transform: translateY(-4px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes aksel-action-from-top {
  from {
    transform: translateY(4px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes aksel-action-from-left {
  from {
    transform: translateX(4px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes aksel-action-from-right {
  from {
    transform: translateX(-4px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes aksel-action-fade-in {
  from {
    opacity: 0.01;
  }

  to {
    opacity: 1;
  }
}

.navds-action-menu__item {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
  min-height: var(--__ac-action-menu-item-height);
  cursor: default;
  border-radius: var(--a-border-radius-medium);
  position: relative;
  padding-left: var(--__ac-action-menu-item-pl);
  padding-right: var(--__ac-action-menu-item-pr);
  font-size: var(--a-font-size-medium);
  scroll-margin-block: var(--__ac-action-menu-content-p);
  line-height: 1.5;
  color: var(--a-text-default);
  text-decoration: none;
}

.navds-action-menu__item svg {
  flex-shrink: 0;
}

.navds-action-menu__item:where(.navds-action-menu__checkbox, .navds-action-menu__radio, .navds-action-menu__item--has-icon) {
  --__ac-action-menu-item-pl: var(--a-spacing-6);
}

.navds-action-menu__item:where(.navds-action-menu__sub-trigger) {
  --__ac-action-menu-item-pr: var(--a-spacing-05);
}

.navds-action-menu__item:focus {
  outline: none;
  background-color: var(--a-surface-action-subtle-hover);
  color: var(--a-text-default);
}

.navds-action-menu__item--danger {
  color: var(--a-text-danger);
}

.navds-action-menu__item--danger:focus {
  background-color: var(--a-surface-danger-subtle);
}

.navds-action-menu__marker {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-1);
}

.navds-action-menu__marker--right {
  margin-left: auto;
  padding-left: var(--a-spacing-4);
}

.navds-action-menu__marker--left {
  position: absolute;
  left: 0;
  width: var(--__ac-action-menu-item-pl);
  display: inline-flex;
  justify-content: center;
}

.navds-action-menu__marker-icon svg {
  font-size: 18px;
  flex-shrink: 0;
}

.navds-action-menu__shortcut {
  background-color: var(--a-surface-neutral-subtle);
  color: var(--a-text-default);
  border-radius: var(--a-border-radius-small);
  padding: 0 var(--a-spacing-1);
  min-width: 1.125rem;
  height: 1.125rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--a-font-size-small);
}

.navds-action-menu__label {
  display: flex;
  align-items: center;
  min-height: calc(var(--__ac-action-menu-item-height) - 6px);
  padding-right: var(--__ac-action-menu-item-pr);
  padding-left: var(--__ac-action-menu-item-pl);
  color: var(--a-text-subtle);
  border-radius: var(--a-border-radius-medium);
  user-select: none;
  cursor: default;
  font-size: var(--a-font-size-small);
}

.navds-action-menu__divider {
  height: 1px;
  margin-block: var(--a-spacing-2);
  background-color: var(--a-border-divider);
  margin-inline: calc(var(--__ac-action-menu-content-p) * -1);
}

.navds-action-menu__indicator-icon {
  display: none;
  font-size: 14px;
}

.navds-action-menu__indicator[data-state="unchecked"] > .navds-action-menu__indicator-icon--unchecked {
  display: block;
}

.navds-action-menu__indicator:where([data-state="checked"]) > .navds-action-menu__indicator-icon--checked {
  display: block;
}

.navds-action-menu__indicator:where([data-state="indeterminate"]) > .navds-action-menu__indicator-icon--indeterminate {
  display: block;
}

.navds-action-menu__item:where([aria-disabled="true"]) {
  color: var(--a-text-subtle);
  opacity: 0.5;
  pointer-events: none;
}

.navds-action-menu__sub-trigger:where([data-state="open"]) {
  background-color: var(--a-surface-neutral-subtle);
}
