:root {
  --navds-alert-color-border: var(--navds-semantic-color-border-muted);
  --navds-alert-color-error-border: var(
    --navds-semantic-color-feedback-danger-border
  );
  --navds-alert-color-error-background: var(--navds-global-color-red-50);
  --navds-alert-color-warning-border: var(
    --navds-semantic-color-feedback-warning-border
  );
  --navds-alert-color-warning-background: var(--navds-global-color-orange-50);
  --navds-alert-color-info-border: var(
    --navds-semantic-color-feedback-info-border
  );
  --navds-alert-color-info-background: var(--navds-global-color-lightblue-50);
  --navds-alert-color-success-border: var(
    --navds-semantic-color-feedback-success-border
  );
  --navds-alert-color-success-background: var(--navds-global-color-green-50);
  --navds-alert-color-error-icon: var(
    --navds-semantic-color-feedback-danger-icon
  );
  --navds-alert-color-warning-icon: var(--navds-global-color-orange-600);
  --navds-alert-color-info-icon: var(--navds-semantic-color-feedback-info-icon);
  --navds-alert-color-success-icon: var(
    --navds-semantic-color-feedback-success-icon
  );
  --navds-alert-color-icon-background: white;
}

.navds-alert {
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--navds-alert-color-border);
  padding: calc(var(--navds-spacing-4) + 1px) calc(var(--navds-spacing-4) + 1px);
  display: flex;
  gap: var(--navds-spacing-3);
  align-items: center;
}

.navds-alert__wrapper {
  max-width: 43.5rem;
}

.navds-alert--small {
  padding: calc(var(--navds-spacing-1) - 1px) var(--navds-spacing-4);
}

.navds-alert--full-width {
  border-radius: 0;
}

.navds-alert > .navds-alert__icon {
  flex-shrink: 0;
  font-size: 1.5rem;
  align-self: flex-start;
  height: var(--navds-font-line-height-xlarge);
}

.navds-alert--small > .navds-alert__icon {
  font-size: 1.25rem;
  height: var(--navds-font-line-height-large);
}

.navds-alert--error {
  border-color: var(--navds-alert-color-error-border);
  background-color: var(--navds-alert-color-error-background);
}

.navds-alert--error > .navds-alert__icon {
  color: var(--navds-alert-color-error-icon);
  background: radial-gradient(
    circle,
    var(--navds-alert-color-icon-background) 50%,
    0,
    transparent
  );
}

.navds-alert--warning {
  border-color: var(--navds-alert-color-warning-border);
  background-color: var(--navds-alert-color-warning-background);
}

.navds-alert--warning > .navds-alert__icon {
  color: var(--navds-alert-color-warning-icon);
  background: radial-gradient(
    circle,
    var(--navds-alert-color-icon-background) 50%,
    0,
    transparent
  );
}

.navds-alert--info {
  border-color: var(--navds-alert-color-info-border);
  background-color: var(--navds-alert-color-info-background);
}

.navds-alert--info > .navds-alert__icon {
  color: var(--navds-alert-color-info-icon);
  background: radial-gradient(
    circle,
    var(--navds-alert-color-icon-background) 50%,
    0,
    transparent
  );
}

.navds-alert--success {
  border-color: var(--navds-alert-color-success-border);
  background-color: var(--navds-alert-color-success-background);
}

.navds-alert--success > .navds-alert__icon {
  color: var(--navds-alert-color-success-icon);
  background: radial-gradient(
    circle,
    var(--navds-alert-color-icon-background) 50%,
    0,
    transparent
  );
}

.navds-alert--inline {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}
