.navds-alert {
  border-radius: var(--a-border-radius-medium);
  border: 1px solid;
  padding: var(--a-spacing-4);
  display: flex;
  gap: var(--a-spacing-3);
  align-items: center;
}

.navds-alert__wrapper {
  max-width: 43.5rem;
}

.navds-alert--small {
  padding: var(--a-spacing-2) var(--a-spacing-4);
}

.navds-alert--full-width {
  border-radius: 0;
}

.navds-alert > .navds-alert__icon {
  flex-shrink: 0;
  font-size: 1.5rem;
  align-self: flex-start;
  height: var(--a-font-line-height-xlarge);
}

.navds-alert--small > .navds-alert__icon {
  font-size: 1.25rem;
  height: var(--a-font-line-height-large);
}

.navds-alert--error {
  border-color: var(--ac-alert-error-border, var(--a-border-danger));
  background-color: var(--ac-alert-error-bg, var(--a-surface-danger-subtle));
}

.navds-alert--warning {
  border-color: var(--ac-alert-warning-border, var(--a-border-warning));
  background-color: var(--ac-alert-warning-bg, var(--a-surface-warning-subtle));
}

.navds-alert--info {
  border-color: var(--ac-alert-info-border, var(--a-border-info));
  background-color: var(--ac-alert-info-bg, var(--a-surface-info-subtle));
}

.navds-alert--success {
  border-color: var(--ac-alert-success-border, var(--a-border-success));
  background-color: var(--ac-alert-success-bg, var(--a-surface-success-subtle));
}

.navds-alert--inline {
  background-color: transparent;
  border: none;
  padding: 0;
}
