:root,
[data-theme="light"] {
  /* Primary */
  --navds-button-color-primary-text: var(--navds-semantic-color-text-inverted);
  --navds-button-color-primary-border-focus: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-primary-background: red;
  --navds-button-color-primary-background-hover: var(
    --navds-semantic-color-interaction-primary-hover
  );
  --navds-button-color-primary-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );

  /* Secondary */
  --navds-button-color-secondary-text: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-secondary-text-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-secondary-text-active: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-secondary-border: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-secondary-border-focus-active-hover: var(
    --navds-semantic-color-component-background-light
  );
  --navds-button-color-secondary-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-button-color-secondary-background-hover: var(
    --navds-semantic-color-interaction-primary-hover-subtle
  );
  --navds-button-color-secondary-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );

  /* Tertiary */
  --navds-button-color-tertiary-text: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-tertiary-text-active: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-tertiary-background-hover: var(
    --navds-semantic-color-interaction-primary-hover-subtle
  );
  --navds-button-color-tertiary-border-focus: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-tertiary-border-active: var(
    --navds-semantic-color-component-background-light
  );
  --navds-button-color-tertiary-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );

  /* Danger */
  --navds-button-color-danger-text: var(--navds-semantic-color-text-inverted);
  --navds-button-color-danger-background: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-button-color-danger-background-hover: var(
    --navds-semantic-color-interaction-danger-hover
  );
  --navds-button-color-danger-background-active: var(
    --navds-semantic-color-interaction-danger-selected
  );
  --navds-button-color-danger-border-focus: var(
    --navds-semantic-color-component-background-light
  );

  /* Loader */
  --navds-loader-color-on-button-background: rgb(255 255 255 / 0.3);
  --navds-loader-color-on-button-foreground: currentColor;
}

[data-theme="dark"] {
  /* Primary */
  --navds-button-color-primary-text: var(--navds-semantic-color-text);
  --navds-button-color-primary-border-focus: var(--navds-semantic-color-text);
  --navds-button-color-primary-background: var(--navds-global-color-blue-200);
  --navds-button-color-primary-background-hover: var(
    --navds-global-color-blue-300
  );
  --navds-button-color-primary-background-active: var(
    --navds-global-color-blue-400
  );

  /* Secondary */
  --navds-button-color-secondary-text: var(--navds-global-color-white);
  --navds-button-color-secondary-text-hover: var(--navds-global-color-white);
  --navds-button-color-secondary-text-active: var(--navds-global-color-white);
  --navds-button-color-secondary-border: var(--navds-global-color-blue-200);
  --navds-button-color-secondary-border-focus-active-hover: var(
    --navds-semantic-color-text
  );
  --navds-button-color-secondary-background: var(
    --navds-semantic-color-component-background-inverted
  );
  --navds-button-color-secondary-background-hover: var(
    --navds-global-color-gray-800
  );
  --navds-button-color-secondary-background-active: var(
    --navds-global-color-gray-700
  );
}

.navds-button {
  display: inline-flex;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  border: none;
  background: none;
  border-radius: var(--navds-border-radius-small);
  padding: var(--navds-spacing-3) var(--navds-spacing-5);
  align-items: center;
  justify-content: center;
  gap: var(--navds-spacing-2);
}

.navds-button--small {
  padding: 0.375rem var(--navds-spacing-3);
}

.navds-button--xsmall {
  padding: 0.125rem var(--navds-spacing-2);
  gap: var(--navds-spacing-1);
}

.navds-button--icon-only {
  padding: var(--navds-spacing-3);
}

.navds-button--small.navds-button--icon-only {
  padding: 0.375rem;
}

.navds-button--xsmall.navds-button--icon-only {
  padding: var(--navds-spacing-1);
}

.navds-button:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-button__icon {
  --navds-button-icon-adjustment: -4px;

  font-size: 1.5rem;
  display: flex;
}

.navds-button__icon:first-child {
  margin-left: var(--navds-button-icon-adjustment);
}

.navds-button__icon:last-child {
  margin-right: var(--navds-button-icon-adjustment);
}

.navds-button__icon:only-child {
  margin: 0;
}

.navds-button--small .navds-button__icon {
  --navds-button-icon-adjustment: -2px;

  font-size: 1.25rem;
}

.navds-button--xsmall .navds-button__icon {
  --navds-button-icon-adjustment: -2px;

  font-size: 1rem;
}

/*************************
 * .navds-button--primary *
 *************************/

.navds-button--primary {
  background-color: var(--navds-button-color-primary-background);
  color: var(--navds-button-color-primary-text);
}

.navds-button--primary:hover {
  background-color: var(--navds-button-color-primary-background-hover);
}

.navds-button--primary:active {
  background-color: var(--navds-button-color-primary-background-active);
}

.navds-button--primary:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-primary-border-focus),
    var(--navds-shadow-focus);
}

.navds-button--primary:hover:disabled,
.navds-button--primary:active:disabled {
  background-color: var(--navds-button-color-primary-background);
}

/**************************
* .navds-button--secondary *
 **************************/

.navds-button--secondary {
  color: var(--navds-button-color-secondary-text);
  background-color: var(--navds-button-color-secondary-background);
  box-shadow: inset 0 0 0 2px var(--navds-button-color-secondary-border);
}

.navds-button--secondary:hover {
  color: var(--navds-button-color-secondary-text-hover);
  background-color: var(--navds-button-color-secondary-background-hover);
}

.navds-button--secondary:focus {
  box-shadow: inset 0 0 0 2px var(--navds-button-color-secondary-border),
    var(--navds-shadow-focus);
}

.navds-button--secondary:active {
  color: var(--navds-button-color-secondary-text-active);
  background-color: var(--navds-button-color-secondary-background-active);
  box-shadow: none;
}

.navds-button--secondary:focus:active {
  box-shadow: inset 0 0 0 1px
      var(--navds-button-color-secondary-border-focus-active-hover),
    var(--navds-shadow-focus);
}

.navds-button--secondary:disabled,
.navds-button--secondary:hover:disabled {
  color: var(--navds-button-color-secondary-text);
  background-color: var(--navds-button-color-secondary-background);
  box-shadow: inset 0 0 0 2px var(--navds-button-color-secondary-border);
}

/****************************
 * .navds-button--tertiary *
 ****************************/

.navds-button--tertiary {
  color: var(--navds-button-color-tertiary-text);
}

.navds-button--tertiary:hover {
  background-color: var(--navds-button-color-tertiary-background-hover);
}

.navds-button--tertiary:focus {
  box-shadow: inset 0 0 0 2px var(--navds-button-color-tertiary-border-focus),
    var(--navds-shadow-focus);
}

.navds-button--tertiary:active {
  color: var(--navds-button-color-tertiary-text-active);
  background-color: var(--navds-button-color-tertiary-background-active);
  box-shadow: inset 0 0 0 1px var(--navds-button-color-tertiary-border-active);
}

.navds-button--tertiary:active:hover {
  background-color: var(--navds-button-color-tertiary-background-active);
}

.navds-button--tertiary:active:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-tertiary-border-active),
    var(--navds-shadow-focus);
}

.navds-button--tertiary:disabled,
.navds-button--tertiary:active:disabled,
.navds-button--tertiary:active:hover:disabled {
  color: var(--navds-button-color-tertiary-text);
  background: none;
  box-shadow: none;
}

/*************************
 * .navds-button--danger *
 *************************/

.navds-button--danger {
  background-color: var(--navds-button-color-danger-background);
  color: var(--navds-button-color-danger-text);
}

.navds-button--danger:hover {
  background-color: var(--navds-button-color-danger-background-hover);
}

.navds-button--danger:active {
  background-color: var(--navds-button-color-danger-background-active);
}

.navds-button--danger:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-danger-border-focus),
    var(--navds-shadow-focus);
}

.navds-button--danger:hover:disabled,
.navds-button--danger:active:disabled {
  background-color: var(--navds-button-color-danger-background);
}

/**************************
 * .navds-button:disabled *
 **************************/

.navds-button:disabled {
  cursor: not-allowed;
}

.navds-button:where(:disabled:not(.navds-button--loading)) {
  opacity: 0.3;
}

.navds-button .navds-loader .navds-loader__foreground {
  stroke: var(--navds-loader-color-on-button-foreground);
}

.navds-button--primary .navds-loader .navds-loader__background,
.navds-button--danger .navds-loader .navds-loader__background {
  stroke: var(--navds-loader-color-on-button-background);
}
