[data-theme="dark"] {
  /* Primary */
  --v2-migration__navds-button-color-primary-text: var(--a-text-default);
  --v2-migration__navds-button-color-primary-border-focus: var(--a-text-default);
  --v2-migration__navds-button-color-primary-background: var(--a-blue-200);
  --v2-migration__navds-button-color-primary-background-hover: var(--a-blue-300);
  --v2-migration__navds-button-color-primary-background-active: var(--a-blue-400);

  /* Secondary */
  --v2-migration__navds-button-color-secondary-text: var(--a-white);
  --v2-migration__navds-button-color-secondary-text-hover: var(--a-white);
  --v2-migration__navds-button-color-secondary-text-active: var(--a-white);
  --v2-migration__navds-button-color-secondary-border: var(--a-blue-200);
  --v2-migration__navds-button-color-secondary-border-focus-active-hover: var(--a-text-default);
  --v2-migration__navds-button-color-secondary-background: var(--a-surface-inverted);
  --v2-migration__navds-button-color-secondary-background-hover: var(--a-gray-800);
  --v2-migration__navds-button-color-secondary-background-active: var(--a-gray-700);
}

.navds-button {
  display: inline-flex;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  border: none;
  background: none;
  border-radius: var(--a-border-radius-medium);
  padding: var(--a-spacing-3) var(--a-spacing-5);
  align-items: center;
  justify-content: center;
  gap: var(--a-spacing-2);
}

.navds-button--small {
  padding: 0.375rem var(--a-spacing-3);
}

.navds-button--xsmall {
  padding: 0.125rem var(--a-spacing-2);
  gap: var(--a-spacing-1);
}

.navds-button--icon-only {
  padding: var(--a-spacing-3);
}

.navds-button--small.navds-button--icon-only {
  padding: 0.375rem;
}

.navds-button--xsmall.navds-button--icon-only {
  padding: var(--a-spacing-1);
}

.navds-button:focus {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

.navds-button__icon {
  --ac-button-icon-margin: -4px;

  font-size: 1.5rem;
  display: flex;
}

.navds-button__icon:first-child {
  margin-left: var(--ac-button-icon-margin);
}

.navds-button__icon:last-child {
  margin-right: var(--ac-button-icon-margin);
}

.navds-button__icon:only-child {
  margin: 0;
}

.navds-button--small .navds-button__icon {
  --ac-button-icon-margin: -2px;

  font-size: 1.25rem;
}

.navds-button--xsmall .navds-button__icon {
  --ac-button-icon-margin: -2px;

  font-size: 1rem;
}

/*************************
 * .navds-button--primary *
 *************************/

.navds-button--primary {
  background-color: var(--ac-button-primary-bg, var(--a-surface-action));
  color: var(--ac-button-primary-text, var(--a-text-on-action));
}

.navds-button--primary:hover {
  background-color: var(--ac-button-primary-bg-hover, var(--a-surface-action-hover));
}

.navds-button--primary:active {
  background-color: var(--ac-button-primary-bg-active, var(--a-surface-action-active));
}

.navds-button--primary:focus {
  box-shadow: inset 0 0 0 1px var(--a-surface-default), var(--a-shadow-focus);
}

.navds-button--primary:hover:where(:disabled, .navds-button--disabled),
.navds-button--primary:active:where(:disabled, .navds-button--disabled) {
  background-color: var(--ac-button-primary-bg, var(--a-surface-action));
}

/**************************
* .navds-button--secondary *
 **************************/

.navds-button--secondary {
  color: var(--ac-button-secondary-text, var(--a-text-action));
  background-color: var(--ac-button-secondary-bg, var(--a-surface-default));
  box-shadow: inset 0 0 0 2px var(--ac-button-secondary-border, var(--a-border-action));
}

.navds-button--secondary:hover {
  color: var(--ac-button-secondary-text-hover, var(--a-text-action));
  background-color: var(--ac-button-secondary-bg-hover, var(--a-surface-action-subtle-hover));
}

.navds-button--secondary:focus {
  box-shadow: inset 0 0 0 2px var(--ac-button-secondary-border-focus, var(--a-border-action)), var(--a-shadow-focus);
}

.navds-button--secondary:active {
  color: var(--ac-button-secondary-active-text, var(--a-text-on-action));
  background-color: var(--ac-button-secondary-active-bg, var(--a-surface-action-active));
  box-shadow: none;
}

.navds-button--secondary:focus:active {
  box-shadow: inset 0 0 0 1px var(--a-surface-default), var(--a-shadow-focus);
}

.navds-button--secondary:where(:disabled, .navds-button--disabled),
.navds-button--secondary:hover:where(:disabled, .navds-button--disabled) {
  color: var(--ac-button-secondary-text, var(--a-text-action));
  background-color: var(--ac-button-secondary-bg, var(--a-surface-default));
  box-shadow: inset 0 0 0 2px var(--ac-button-secondary-border, var(--a-border-action));
}

/****************************
 * .navds-button--tertiary *
 ****************************/

.navds-button--tertiary {
  color: var(--ac-button-tertiary-text, var(--a-text-action));
}

.navds-button--tertiary:hover {
  background-color: var(--ac-button-tertiary-bg-hover, var(--a-surface-action-subtle-hover));
}

.navds-button--tertiary:focus {
  box-shadow: inset 0 0 0 2px var(--ac-button-tertiary-border-focus, var(--a-border-action)), var(--a-shadow-focus);
}

.navds-button--tertiary:active {
  color: var(--ac-button-tertiary-active-text, var(--a-text-on-action));
  background-color: var(--ac-button-tertiary-active-bg, var(--a-surface-action-active));
  box-shadow: inset 0 0 0 1px var(--a-surface-default);
}

.navds-button--tertiary:active:hover {
  background-color: var(--ac-button-tertiary-active-hover-bg, var(--a-surface-action-active));
}

.navds-button--tertiary:active:focus {
  box-shadow: inset 0 0 0 1px var(--a-surface-default), var(--a-shadow-focus);
}

.navds-button--tertiary:where(:disabled, .navds-button--disabled),
.navds-button--tertiary:hover:where(:disabled, .navds-button--disabled),
.navds-button--tertiary:active:where(:disabled, .navds-button--disabled),
.navds-button--tertiary:active:hover:where(:disabled, .navds-button--disabled) {
  color: var(--ac-button-tertiary-text, var(--a-text-action));
  background: none;
  box-shadow: none;
}

/*************************
 * .navds-button--danger *
 *************************/

.navds-button--danger {
  background-color: var(--ac-button-danger-bg, var(--a-surface-danger));
  color: var(--ac-button-danger-text, var(--a-text-on-danger));
}

.navds-button--danger:hover {
  background-color: var(--ac-button-danger-hover-bg, var(--a-surface-danger-hover));
}

.navds-button--danger:active {
  background-color: var(--ac-button-danger-active-bg, var(--a-surface-danger-active));
}

.navds-button--danger:focus {
  box-shadow: inset 0 0 0 1px var(--a-surface-default), var(--a-shadow-focus);
}

.navds-button--danger:active:where(:disabled, .navds-button--disabled),
.navds-button--danger:hover:where(:disabled, .navds-button--disabled) {
  background-color: var(--ac-button-danger-bg, var(--a-surface-danger));
}

/**************************
 * .navds-button:disabled *
 **************************/

.navds-button:where(:disabled, .navds-button--disabled) {
  cursor: not-allowed;
}

.navds-button:not(.navds-button--loading):where(:disabled, .navds-button--disabled) {
  opacity: 0.3;
}

.navds-button .navds-loader .navds-loader__foreground {
  stroke: var(--ac-button-loader-stroke, currentColor);
}

.navds-button--primary .navds-loader .navds-loader__background,
.navds-button--danger .navds-loader .navds-loader__background {
  stroke: var(--ac-button-primary-loader-stroke-bg, rgb(255 255 255 / 0.3));
}
