:root {
  /* Primary */
  --navds-button-color-primary-text: var(--navds-semantic-color-text-inverted);
  --navds-button-color-primary-border-focus: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-primary-background: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-primary-background-hover: var(
    --navds-semantic-color-interaction-primary-hover
  );
  --navds-button-color-primary-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );

  /* Secondary */
  --navds-button-color-secondary-text: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-secondary-text-hover: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-secondary-text-active: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-secondary-border: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-secondary-border-focus-active-hover: var(
    --navds-semantic-color-component-background-light
  );
  --navds-button-color-secondary-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-button-color-secondary-background-hover: var(
    --navds-semantic-color-interaction-primary-hover
  );
  --navds-button-color-secondary-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );

  /* Tertiary */
  --navds-button-color-tertiary-text: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-tertiary-text-active: var(
    --navds-semantic-color-text-inverted
  );
  --navds-button-color-tertiary-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-tertiary-border-focus: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-button-color-tertiary-border-active: var(
    --navds-semantic-color-component-background-light
  );
  --navds-button-color-tertiary-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );

  /* Danger */
  --navds-button-color-danger-text: var(--navds-semantic-color-text-inverted);
  --navds-button-color-danger-background: var(
    --navds-semantic-color-interaction-danger
  );
  --navds-button-color-danger-background-hover: var(
    --navds-semantic-color-interaction-danger-hover
  );
  --navds-button-color-danger-background-active: var(
    --navds-semantic-color-interaction-danger-selected
  );
  --navds-button-color-danger-border-focus: var(
    --navds-semantic-color-component-background-light
  );
}

.navds-button {
  display: inline-flex;
  cursor: pointer;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  border-radius: 2px;
  min-width: 48px;
  padding: var(--navds-spacing-3);
}

.navds-button--small {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  min-width: 32px;
}

.navds-button:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-button__inner {
  margin: auto;
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-2);
}

.navds-button svg {
  font-size: 1.5rem;
}

.navds-button--small svg {
  font-size: 1.25rem;
}

/*************************
 * .navds-button--primary *
 *************************/

.navds-button--primary {
  background-color: var(--navds-button-color-primary-background);
  color: var(--navds-button-color-primary-text);
}

.navds-button--primary:hover {
  background-color: var(--navds-button-color-primary-background-hover);
}

.navds-button--primary:active {
  background-color: var(--navds-button-color-primary-background-active);
}

.navds-button--primary:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-primary-border-focus),
    var(--navds-shadow-focus);
}

.navds-button--primary:hover:disabled,
.navds-button--primary:active:disabled {
  background-color: var(--navds-button-color-primary-background);
}

/**************************
* .navds-button--secondary *
 **************************/

.navds-button--secondary {
  color: var(--navds-button-color-secondary-text);
  background-color: var(--navds-button-color-secondary-background);
  box-shadow: inset 0 0 0 2px var(--navds-button-color-secondary-border);
}

.navds-button--secondary:hover {
  color: var(--navds-button-color-secondary-text-hover);
  background-color: var(--navds-button-color-secondary-background-hover);
  box-shadow: none;
}

.navds-button--secondary:focus {
  box-shadow: inset 0 0 0 2px var(--navds-button-color-secondary-border),
    var(--navds-shadow-focus);
}

.navds-button--secondary:active {
  color: var(--navds-button-color-secondary-text-active);
  background-color: var(--navds-button-color-secondary-background-active);
  box-shadow: none;
}

.navds-button--secondary:focus:hover,
.navds-button--secondary:focus:active {
  box-shadow: inset 0 0 0 1px
      var(--navds-button-color-secondary-border-focus-active-hover),
    var(--navds-shadow-focus);
}

.navds-button--secondary:disabled,
.navds-button--secondary:hover:disabled {
  color: var(--navds-button-color-secondary-text);
  background-color: var(--navds-button-color-secondary-background);
  box-shadow: inset 0 0 0 2px var(--navds-button-color-secondary-border);
}

/****************************
 * .navds-button--tertiary *
 ****************************/

.navds-button--tertiary {
  color: var(--navds-button-color-tertiary-text);
}

.navds-button--tertiary:hover {
  box-shadow: inset 0 0 0 2px var(--navds-button-color-tertiary-border-hover);
}

.navds-button--tertiary:focus {
  box-shadow: inset 0 0 0 2px var(--navds-button-color-tertiary-border-focus),
    var(--navds-shadow-focus);
}

.navds-button--tertiary:active {
  color: var(--navds-button-color-tertiary-text-active);
  background-color: var(--navds-button-color-tertiary-background-active);
  box-shadow: inset 0 0 0 1px var(--navds-button-color-tertiary-border-active);
}

.navds-button--tertiary:active:hover {
  background-color: var(--navds-button-color-tertiary-background-active);
}

.navds-button--tertiary:active:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-tertiary-border-active),
    var(--navds-shadow-focus);
}

.navds-button--tertiary:disabled,
.navds-button--tertiary:active:disabled,
.navds-button--tertiary:active:hover:disabled {
  color: var(--navds-button-color-tertiary-text);
  background: none;
  box-shadow: none;
}

/*************************
 * .navds-button--danger *
 *************************/

.navds-button--danger {
  background-color: var(--navds-button-color-danger-background);
  color: var(--navds-button-color-danger-text);
}

.navds-button--danger:hover {
  background-color: var(--navds-button-color-danger-background-hover);
}

.navds-button--danger:active {
  background-color: var(--navds-button-color-danger-background-active);
}

.navds-button--danger:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-danger-border-focus),
    var(--navds-shadow-focus);
}

.navds-button--danger:hover:disabled,
.navds-button--danger:active:disabled {
  background-color: var(--navds-button-color-danger-background);
}

/**************************
 * .navds-button:disabled *
 **************************/

.navds-button:disabled {
  opacity: 30%;
  cursor: not-allowed;
  transform: none;
}
