:root {
  --navds-card-micro-color-text: var(--navds-semantic-color-text-default);
  --navds-card-micro-color-background: var(--navds-color-orange-20);
  --navds-card-micro-color-border: transparent;
  --navds-card-micro-color-text-hover: var(--navds-color-blue-50);
  --navds-card-micro-color-background-hover: var(--navds-color-white);
  --navds-card-micro-color-border-hover: var(--navds-color-blue-50);
  --navds-card-micro-color-text-focus: var(--navds-color-blue-50);
  --navds-card-micro-color-background-focus: var(--navds-color-white);
  --navds-card-micro-color-shadow-focus: var(--navds-color-blue-80);
  --navds-card-micro-color-background-active: var(--navds-color-blue-70);
  --navds-card-micro-color-text-active: var(--navds-color-white);
}

/*
  MicroCard
*/

.navds-card__micro {
  border-radius: 1rem;
  color: var(--navds-card-micro-color-text);
  display: inline-flex;
  padding: var(--navds-spacing-1) var(--navds-spacing-2);
  text-decoration: none;
  background-color: var(--navds-card-micro-color-background);
  border: 1px solid var(--navds-card-micro-color-border);
}

.navds-card__micro:hover {
  background-color: var(--navds-card-micro-color-background-hover);
  border-color: var(--navds-card-micro-color-border-hover);
  color: var(--navds-card-micro-color-text-hover);
}

.navds-card__micro:focus {
  background-color: var(--navds-card-micro-color-background-focus);
  color: var(--navds-card-micro-color-text-focus);
  outline: none;
  box-shadow: 0 0 0 3px var(--navds-card-micro-color-shadow-focus);
}

.navds-card__micro:active {
  background-color: var(--navds-card-micro-color-background-active);
  color: var(--navds-card-micro-color-text-active);
}
