.navds-chat {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-4);
  padding-right: var(--a-spacing-16);
}

.navds-chat--right {
  flex-direction: row-reverse;
  padding-right: 0;
  padding-left: var(--a-spacing-16);
}

.navds-chat__bubble-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}

.navds-chat--right .navds-chat__bubble-wrapper {
  align-items: flex-end;
}

.navds-chat__avatar {
  align-items: center;
  background: var(--ac-chat-avatar-bg, var(--a-bg-subtle));
  color: var(--ac-chat-avatar-color, var(--a-text-default));
  border-radius: var(--a-border-radius-full);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
}

.navds-chat__avatar svg {
  align-self: center;
  height: 100%;
  width: 100%;
}

.navds-chat__bubble {
  padding: 1rem;
  box-shadow: var(--navds-shadow-small);
  width: fit-content;
  max-width: 37.5rem;
  background-color: var(--ac-chat-bubble-bg, var(--a-bg-subtle));
  border-radius: var(--a-border-radius-xlarge);
  border-bottom-left-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.navds-chat__bubble:focus {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

.navds-chat--right .navds-chat__bubble {
  border-radius: var(--a-border-radius-xlarge);
  border-bottom-right-radius: 2px;
}

.navds-chat__top-text {
  color: var(--ac-chat-top-text, var(--a-text-default));
  display: flex;
  gap: var(--a-spacing-2);
  align-items: baseline;
}

.navds-chat--right .navds-chat__top-text {
  align-self: flex-end;
}

.navds-chat__name {
  font-weight: var(--a-font-weight-bold);
}
