.navds-chips {
  display: flex;
  gap: var(--navds-spacing-2);
  align-items: center;
}

.navds-chips :where(ul, li) {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navds-chips__chip {
  all: unset;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: var(--navds-spacing-2);
  margin: 0;
  padding: 6px var(--navds-spacing-3);
  text-decoration: none;
  border-radius: var(--navds-border-radius-full);
}

.navds-chips--small > .navds-chips__chip {
  min-height: 24px;
  padding: 2px var(--navds-spacing-2);
}

.navds-chips__filter {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-gray-500);
  background-color: var(--navds-global-color-gray-100);
}

.navds-chips__filter:hover {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-deepblue-500);
  background-color: var(--navds-global-color-deepblue-100);
}

.navds-chips__filter[aria-pressed="true"] {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-deepblue-500);
  background-color: var(--navds-global-color-deepblue-500);
  color: var(--navds-global-color-white);
}

.navds-chips__filter:focus {
  box-shadow: 0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__filter[aria-pressed="true"]:focus {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-white),
    0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__input {
  background-color: var(--navds-global-color-deepblue-500);
  color: var(--navds-global-color-white);
  position: relative;
}

.navds-chips__input:focus {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-white),
    0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__input:hover {
  background-color: var(--navds-global-color-deepblue-400);
}
