.navds-chips {
  display: flex;
  gap: var(--navds-spacing-2);
  margin: 0;
  padding: 0;
  list-style: none;
}

.navds-chips :where(li) {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.navds-chips__chip {
  all: unset;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  margin: 0;
  padding: 0 var(--navds-spacing-3);
  text-decoration: none;
  border-radius: var(--navds-border-radius-full);
  min-height: 32px;
}

.navds-chips--small .navds-chips__chip {
  min-height: 24px;
  padding: 0 var(--navds-spacing-2);
}

.navds-chips__filter {
  box-shadow: inset 0 0 0 1px var(--ac-chip-filter-border, var(--navds-global-color-gray-500));
  background-color: var(--ac-chip-filter-bg, var(--navds-global-color-gray-100));
}

.navds-chips__filter:hover {
  box-shadow: inset 0 0 0 1px var(--ac-chip-filter-border-hover, var(--navds-global-color-gray-700));
  background-color: var(--ac-chip-filter-bg-hover, var(--navds-global-color-gray-200));
}

.navds-chips__filter[aria-pressed="true"] {
  box-shadow: none;
  background-color: var(--ac-chip-filter-bg-pressed, var(--navds-global-color-deepblue-500));
  color: var(--ac-chip-filter-text-pressed, var(--navds-global-color-white));
}

.navds-chips__filter[aria-pressed="true"]:hover {
  background-color: var(--ac-chip-filter-bg-pressed-hover, var(--navds-global-color-deepblue-600));
}

.navds-chips__filter:focus-visible {
  box-shadow: 0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__filter[aria-pressed="true"]:focus-visible,
.navds-chips__filter:active:focus-visible {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-white), 0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__removable--action {
  background-color: var(--ac-chip-removable-action-bg, var(--navds-global-color-deepblue-500));
  color: var(--ac-chip-removable-action-text, var(--navds-global-color-white));
}

.navds-chips__removable--neutral {
  color: var(--ac-chip-removable-neutral-text, var(--navds-global-color-gray-900));
  background-color: var(--ac-chip-removable-neutral-bg, --navds-global-color-gray-100);
  box-shadow: inset 0 0 0 1px var(--ac-chip-removable-neutral-border, var(--navds-global-color-gray-500));
}

.navds-chips__removable-icon,
.navds-chips__filter-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: var(--navds-border-radius-full);
  background-color: var(--__ac-chip-icon-bg);
}

.navds-chips--small .navds-chips__removable-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.navds-chips--small .navds-chips__removable-icon > svg {
  width: 0.75rem;
}

.navds-chips__removable--action:focus-visible {
  box-shadow: inset 0 0 0 1px var(--navds-global-color-white), 0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__removable--neutral:focus-visible {
  box-shadow: 0 0 0 2px var(--navds-global-color-blue-800);
}

.navds-chips__removable--action:hover {
  --__ac-chip-icon-bg: var(--ac-chip-removable-action-icon-hover, var(--navds-global-color-deepblue-700));

  background-color: var(--ac-chip-removable-action-bg-hover, var(--navds-global-color-deepblue-500));
}

.navds-chips__removable--neutral:hover {
  --__ac-chip-icon-bg: var(--ac-chip-removable-neutral-icon-hover, var(--navds-global-color-gray-400));

  background-color: var(--ac-chip-removable-action-bg-hover, var(--navds-global-color-gray-200));
}

.navds-chips--icon-left {
  padding-left: var(--navds-spacing-1);
}

.navds-chips--icon-right {
  padding-right: var(--navds-spacing-1);
}

.navds-chips--small .navds-chips--icon-right {
  padding-right: 0.125rem;
}

.navds-chips--small .navds-chips--icon-left {
  padding-left: 0.125rem;
}
