:root,
:host {
  --navds-content-container-max-width: 79.5rem;
}

.navds-content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--navds-content-container-max-width);
  padding: var(--navds-spacing-4);
}

@media (min-width: 448px) {
  .navds-content-container {
    padding: var(--navds-spacing-6);
  }
}
