:root,
[data-theme="light"] {
  --navds-datepicker-color-text: var(--navds-semantic-color-text);
  --navds-datepicker-color-border: var(--navds-semantic-color-border);
  --navds-datepicker-color-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
}

.navds-datepicker__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.navds-datepicker__field-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.navds-datepicker__field-input {
  padding-right: var(--navds-spacing-12);
}

.navds-form-field--small .navds-datepicker__field-input {
  padding-right: var(--navds-spacing-8);
}

.navds-datepicker__field-input-button {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.navds-form-field--small .navds-datepicker__field-input-button {
  right: 0.5rem;
  height: 24px;
  width: 24px;
}

/* Focus layering */
.navds-datepicker__field-input:focus,
.navds-datepicker__field-input-button {
  z-index: 1;
}

/* Panel */

.navds-datepicker__panel {
  display: none;
  position: absolute;
  top: 6rem;
  border-radius: 4px;
  box-shadow: var(--navds-shadow-large);
  width: 20rem;
  padding: 0.25rem;

  /* tmp */
  border: 1px solid black;
}

.navds-datepicker__panel--open {
  display: block;
}

.navds-datepicker__table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

.navds-datepicker__td {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
}

.navds-datepicker__td-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  appearance: none;
  background: none;
  border: none;
  /* background-color: aqua; */
  border-radius: 4px;
  cursor: pointer;
}

.navds-datepicker__td-button:hover {
  background-color: var(--navds-global-color-blue-50);
}

.navds-datepicker__td-button:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

/* Caption */
.navds-datepicker__caption-button {
  width: 3rem;
  height: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.navds-datepicker__caption-button:hover {
  background-color: var(
    --navds-semantic-color-interaction-primary-hover-subtle
  );
}

.navds-datepicker__caption-button:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-datepicker-calendar {
  --rdp-cell-size: 44px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
  margin: var(--navds-spacing-5);
}
