.navds-dropdown__menu {
  overflow: hidden;
  padding: var(--a-spacing-2) 0;
  color: var(--ac-dropdown-text, var(--a-text-default));
  width: 27ch;
  max-height: 616px;
  overflow-y: auto;
}

.navds-dropdown__divider {
  margin: var(--a-spacing-3) 0;
  border: none;
  border-bottom: 1px solid var(--a-border-divider);
}

.navds-dropdown__menu > :not(.navds-dropdown__divider):not(.navds-dropdown__list) {
  margin: 0 var(--a-spacing-4) var(--a-spacing-3);
}

.navds-dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navds-dropdown__list-item {
  margin: 0;
}

.navds-dropdown__list-heading {
  margin: var(--a-spacing-1) var(--a-spacing-4) var(--a-spacing-3);
}

.navds-dropdown__item {
  border: none;
  margin: 0;
  overflow: visible;
  background: transparent;
  color: var(--ac-dropdown-item-text, var(--a-text-action));
  font: inherit;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
  padding: var(--a-spacing-1) var(--a-spacing-4);
}

.navds-dropdown__item:hover {
  background-color: var(--ac-dropdown-item-hover-bg, var(--a-surface-action-subtle-hover));
}

.navds-dropdown__item:active {
  background-color: var(--ac-dropdown-item-active-bg, var(--a-surface-action-active));
  color: var(--ac-dropdown-item-active-text, var(--a-text-on-action));
}

.navds-dropdown__item:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
  .navds-dropdown__item:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--a-border-focus);
  }
}

.navds-dropdown__item:disabled {
  color: var(--ac-dropdown-item-text, var(--a-text-action));
  opacity: 0.3;
  background: transparent;
  cursor: not-allowed;
}
