/* stylelint-disable csstools/value-no-unknown-custom-properties */
/* stylelint-disable aksel/design-token-exists */
.navds-dropdown-menu__content {
  --__ac-dropdown-menu-content-p: 0.5rem;
  --__ac-dropdown-menu-item-pr: var(--a-spacing-3);
  --__ac-dropdown-menu-item-pl: var(--a-spacing-2);
  --__ac-dropdown-menu-item-height: 32px;

  padding: var(--__ac-dropdown-menu-content-p);
  margin: 0;
  box-shadow: var(--a-shadow-medium);
  border-radius: var(--a-border-radius-large);
  background-color: var(--a-surface-default);
  overflow: auto;
  max-height: var(--ac-dropdown-menu-content-available-height);
  transform-origin: var(--ac-dropdown-menu-content-transform-origin);
}

/* TODO: extract anim-name to separate selector
TODO: add support for other directions */
.navds-dropdown-menu__content:where([data-state="open"]):where([data-side="bottom"]) {
  animation-name: aksel-dropdown-from-bottom, aksel-dropdown-fade-in;
  animation-duration: 0.16s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes aksel-dropdown-from-bottom {
  from {
    transform: translateY(-4px) scale(0.97);
  }

  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes aksel-dropdown-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.navds-dropdown-menu__item {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
  min-height: var(--__ac-dropdown-menu-item-height);
  cursor: default;
  border-radius: var(--a-border-radius-medium);
  position: relative;
  padding-left: var(--__ac-dropdown-menu-item-pl);
  padding-right: var(--__ac-dropdown-menu-item-pr);
  font-size: var(--a-font-size-small);
  margin: 0;
  list-style: none;
}

.navds-dropdown-menu__item:where(.navds-dropdown-menu__checkbox, .navds-dropdown-menu__radio) {
  --__ac-dropdown-menu-item-pl: var(--a-spacing-5);
}

.navds-dropdown-menu__item:focus {
  outline: none;
  background-color: var(--a-surface-action-active);
  color: var(--a-text-on-action);
}

.navds-dropdown-menu__shortcut {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: var(--space-4);
  color: var(--a-text-subtle);
}

.navds-dropdown-menu__item:focus > .navds-dropdown-menu__shortcut {
  color: var(--a-text-on-action);
}

.navds-dropdown-menu__label {
  display: flex;
  align-items: center;
  height: var(--__ac-dropdown-menu-item-height);
  padding-left: var(--__ac-dropdown-menu-item-pl);
  padding-right: var(--__ac-dropdown-menu-item-pr);
  color: var(--a-text-subtle);
  background: var(--a-surface-neutral-subtle);
  border-radius: var(--a-border-radius-medium);
  user-select: none;
  cursor: default;
  font-size: var(--a-font-size-small);
  font-weight: 600;
}

.navds-dropdown-menu__group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navds-dropdown-menu__checkbox {
  --a: ;
}

.navds-dropdown-menu__radio-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navds-dropdown-menu__radio {
  --a: ;
}

.navds-dropdown-menu__separator {
  height: 1px;
  margin-block: var(--a-spacing-2);
  margin-left: var(--__ac-dropdown-menu-item-pl);
  margin-right: var(--__ac-dropdown-menu-item-pr);
  background-color: var(--a-border-divider);
}

.navds-dropdown-menu__sub-trigger {
  --a: ;
}

.navds-dropdown-menu__sub-content {
  --a: ;
}

.navds-dropdown-menu__indicator {
  position: absolute;
  left: 0;
  width: var(--__ac-dropdown-menu-item-pl);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:where(.navds-dropdown-menu__indicator-icon, .navds-dropdown-menu__sub-trigger-icon) {
  width: 16px;
  height: 16px;
}
