.navds-expansioncard__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-3) var(--a-spacing-4);
  text-align: left;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: var(--a-border-radius-large);
  box-shadow: inset 0 0 0 1px var(--a-border-subtle);
}

.navds-expansioncard__header:focus {
  outline: none;
}

.navds-expansioncard__header:focus-visible {
  box-shadow: inset 0 0 0 2px var(--a-border-focus);
}

.navds-expansioncard--open .navds-expansioncard__content {
  box-shadow: inset 1px 0 0 0 var(--a-border-subtle), inset -1px 0 0 0 var(--a-border-subtle),
    inset 0 -1px 0 0 var(--a-border-subtle);
  opacity: 1;
}

.navds-expansioncard__content {
  border-end-end-radius: var(--a-border-radius-large);
  border-end-start-radius: var(--a-border-radius-large);
  padding: var(--a-spacing-3) var(--a-spacing-4);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.navds-expansioncard__close-icon {
  display: none;
}

.navds-expansioncard__header--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 1px 0 0 0 var(--a-border-subtle), inset -1px 0 0 0 var(--a-border-subtle),
    inset 0 1px 0 0 var(--a-border-subtle);
}

.navds-expansioncard__header--closed {
  /* animation: animateBoxShadow 0.2s ease-in-out; */
  transition: box-shadow 150ms ease-in-out;
}

.navds-expansioncard__header--open .navds-expansioncard__close-icon {
  display: block;
  animation: closeButtonAnimation 0.2s ease-in-out;
}

.navds-expansioncard__header--open .navds-expansioncard__open-icon {
  display: none;
}

.navds-expansioncard__header-avatar {
  display: grid;
  place-content: center;
  background-color: var(--a-surface-neutral-subtle);
  border-radius: var(--a-border-radius-full);
  min-width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.navds-expansioncard__header-button {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  justify-self: flex-end;
  cursor: pointer;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: var(--a-border-radius-full);
  min-height: 48px;
  aspect-ratio: 1/1;
}

.navds-expansioncard__header-button:hover {
  background-color: var(--a-surface-hover);
}

.navds-expansioncard__header-button:hover .navds-expansioncard__open-icon {
  transform: translateY(2px);
  transition: transform 150ms ease-in-out;
}

.navds-expansioncard__header-content {
  width: 100%;
  display: grid;
}

@keyframes closeButtonAnimation {
  from {
    opacity: 0.3;
    transform: translateY(3px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navds-expansioncard__header-avatar--neutral {
  background-color: var(--a-surface-neutral-subtle);
  color: var(--a-icon-default);
}

.navds-expansioncard__header-avatar--success {
  background-color: var(--a-surface-success-subtle);
  color: var(--a-icon-success);
}

.navds-expansioncard__header-avatar--warning {
  background-color: var(--a-surface-warning-subtle);
  color: var(--a-icon-warning);
}

.navds-expansioncard__header-avatar--danger {
  background-color: var(--a-surface-danger-subtle);
  color: var(--a-icon-danger);
}

.navds-expansioncard__header-avatar--info {
  background-color: var(--a-surface-info-subtle);
  color: var(--a-icon-info);
}

/* @keyframes animateBoxShadow {
  from {
    box-shadow: inset 1px 0 0 0 var(--a-border-subtle), inset -1px 0 0 0 var(--a-border-subtle),
      inset 0 1px 0 0 var(--a-border-subtle);
  }

  to {
    box-shadow: inset 0 0 0 1px var(--a-border-subtle);
  }
} */
