.navds-expansioncard {
  --__ac-expansioncard-border-color: var(--ac-expansioncard-border-color, var(--a-border-subtle));
  --__ac-expansioncard-border-radus: var(--ac-expansioncard-border-radius, var(--a-border-radius-large));

  border-radius: var(--__ac-expansioncard-border-radus);
  background-color: var(--ac-expansioncard-bg, var(--a-surface-default));
  box-shadow: inset 0 0 0 1px var(--__ac-expansioncard-border-color);
}

/*************************
 * Header *
 *************************/

.navds-expansioncard__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-3) var(--a-spacing-4);
  text-align: left;
  margin: 0;
  border: none;
  border-radius: var(--__ac-expansioncard-border-radus);
  position: relative;
}

.navds-expansioncard--small .navds-expansioncard__header {
  padding: var(--a-spacing-2) var(--a-spacing-4);
}

.navds-expansioncard__header--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navds-expansioncard__icon {
  transition: transform 150ms ease-in-out;
}

.navds-expansioncard__header--open .navds-expansioncard__icon {
  transform: translateY(0) rotate(180deg);
}

.navds-expansioncard__header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ac-expansioncard-avatar-bg, var(--a-surface-neutral-subtle));
  border-radius: var(--ac-expansioncard-avatar-border-radius, var(--a-border-radius-full));
  min-height: 3rem;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
}

.navds-expansioncard--small .navds-expansioncard__header-avatar {
  min-height: 2rem;
}

.navds-expansioncard__header-content {
  width: 100%;
  display: grid;
}

/*************************
 * Header/Button *
 *************************/
.navds-expansioncard__header-button {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: var(--ac-expansioncard-button-border-radius, var(--a-border-radius-medium));
  min-height: 48px;
  min-width: 48px;
}

.navds-expansioncard--small .navds-expansioncard__header-button {
  min-height: 32px;
  min-width: 32px;
}

.navds-expansioncard--clickarea-button .navds-expansioncard__header-button:hover {
  background-color: var(--ac-expansioncard-button-bg-hover, var(--a-surface-hover));
}

.navds-expansioncard__header-button:hover .navds-expansioncard__icon {
  transform: translateY(2px);
}

.navds-expansioncard__header-button:focus {
  outline: none;
}

.navds-expansioncard__header-button:focus-visible {
  box-shadow: inset 0 0 0 2px var(--a-border-focus);
}

.navds-expansioncard__header--open .navds-expansioncard__header-button:hover .navds-expansioncard__icon {
  transform: translateY(-2px) rotate(180deg);
}

/*************************
 * Content *
 *************************/

.navds-expansioncard__content {
  border-end-end-radius: var(--__ac-expansioncard-border-radus);
  border-end-start-radius: var(--__ac-expansioncard-border-radus);
  padding: var(--a-spacing-3) var(--a-spacing-4);
}

.navds-expansioncard--open {
  --__ac-expansioncard-open-border-color: var(--ac-expansioncard-open-border-color, var(--a-border-subtle));
}

.navds-expansioncard__content--closed {
  display: none;
}

.navds-expansioncard--fade .navds-expansioncard__content {
  animation: fadeExpansionCard 250ms ease;
}

@keyframes fadeExpansionCard {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }

  40% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*************************
 * Variants         *
 * Variants/Neutral *
 *************************/

.navds-expansioncard--neutral .navds-expansioncard__header-avatar {
  background-color: var(--ac-expansioncard-avatar-bg-neutral, var(--a-surface-neutral-subtle));
  color: var(--ac-expansioncard-avatar-icon-neutral, var(--a-icon-default));
}

.navds-expansioncard--neutral-filled {
  background-color: var(--ac-expansioncard-avatar-bg-transparent, var(--a-bg-subtle));
}

/*************************
 * Variants/Filled *
 *************************/

.navds-expansioncard--filled .navds-expansioncard__header-avatar,
.navds-expansioncard__header--no-avatar-bg > .navds-expansioncard__header-avatar {
  background-color: var(--a-surface-transparent);
}

/*************************
 * Clickarea *
 *************************/

.navds-expansioncard--clickarea-full .navds-expansioncard__header {
  cursor: pointer;
}

.navds-expansioncard--clickarea-full .navds-expansioncard__header-button::after {
  inset: 0;
  z-index: 1;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
}

.navds-expansioncard--clickarea-full .navds-expansioncard__header:hover .navds-expansioncard__header-button {
  background-color: var(--ac-expansioncard-button-bg-hover, var(--a-surface-hover));
}

.navds-expansioncard--clickarea-full.navds-expansioncard:hover:where(:not(.navds-expansioncard--open)) {
  --__ac-expansioncard-border-color: var(--__ac-expansioncard-border-hover-color, var(--a-border-subtle-hover));
}
