.navds-guide-panel {
  position: relative;
  padding-top: 2rem;
}

.navds-guide-panel__guide {
  background: var(--ac-guide-panel-illustration-bg, var(--a-surface-info-subtle));
  border: 2px solid var(--ac-guide-panel-border, var(--a-border-info));
  border-radius: var(--a-border-radius-full);
  overflow: hidden;
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navds-guide-panel__guide svg,
.navds-guide-panel__guide img {
  height: 100%;
  width: 100%;
}

.navds-guide-panel__content {
  background-color: var(--ac-guide-panel-bg, var(--a-surface-default));
  border: 2px solid var(--ac-guide-panel-border, var(--a-border-info));
  border-radius: var(--a-border-radius-large);
  padding: var(--a-spacing-4);
  padding-top: var(--a-spacing-12);
}

@media (min-width: 480px) {
  .navds-guide-panel {
    padding-top: 3.125rem;
  }

  .navds-guide-panel__guide {
    width: 6.25rem;
    height: 6.25rem;
  }

  .navds-guide-panel__content {
    padding: var(--a-spacing-8);
    padding-top: 4.25rem;
  }
}

/* poster=false */

.navds-guide-panel--poster-false {
  padding-top: 0;
  padding-left: 2rem;
}

.navds-guide-panel--poster-false .navds-guide-panel__guide {
  left: 0;
  top: var(--a-spacing-5);
  transform: none;
}

.navds-guide-panel--poster-false .navds-guide-panel__content {
  padding: var(--a-spacing-4);
  padding-left: var(--a-spacing-10);
  min-height: calc(4rem + var(--a-spacing-5) + var(--a-spacing-5));
}

@media (min-width: 480px) {
  .navds-guide-panel--poster-false {
    padding-left: 2.5rem;
  }

  .navds-guide-panel--poster-false .navds-guide-panel__guide {
    width: 5rem;
    height: 5rem;
  }

  .navds-guide-panel--poster-false .navds-guide-panel__content {
    padding: var(--a-spacing-6);
    padding-left: var(--a-spacing-14);
    min-height: calc(5rem + var(--a-spacing-5) + var(--a-spacing-5));
  }
}

/* poster=undefined (on desktop) */

@media (min-width: 480px) {
  .navds-guide-panel--poster-undefined {
    padding-top: 0;
    padding-left: 2.5rem;
  }

  .navds-guide-panel--poster-undefined .navds-guide-panel__guide {
    width: 5rem;
    height: 5rem;
    left: 0;
    top: var(--a-spacing-5);
    transform: none;
  }

  .navds-guide-panel--poster-undefined .navds-guide-panel__content {
    padding: var(--a-spacing-6);
    padding-left: var(--a-spacing-14);
    min-height: calc(5rem + var(--a-spacing-5) + var(--a-spacing-5));
  }
}
