:root {
  --navds-guide-panel-color-background: var(--navds-color-background);
  --navds-guide-panel-color-border: var(--navds-color-blue-40);
  --navds-guide-panel-color-illustration-background: var(--navds-color-blue-20);
}

/**
 * GuidePanel component
 */
.navds-guide-panel {
  position: relative;
  padding-left: 2.5rem;
}

.navds-guide-panel__content {
  background-color: var(--navds-guide-panel-color-background);
  border-radius: 4px;
  border: 2px solid var(--navds-guide-panel-color-border);
  min-height: 7.25rem;
  padding: 1.5rem;
  padding-left: 3.5rem;
}

.navds-guide-panel--poster {
  padding-left: 0;
  padding-top: 3.125rem;
}

.navds-guide-panel--poster .navds-guide-panel__content {
  padding: 2rem;
  padding-top: 4.25rem;
}

.navds-guide-panel .navds-guide {
  position: absolute;
  top: 1rem;
  transform: translateX(-50%);
}

.navds-guide-panel--poster .navds-guide {
  left: 50%;
  top: 0;
}

/**
 * Guide component
 */
.navds-guide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Guide illustration frame */
.navds-guide__illustration {
  background: var(--navds-guide-panel-color-illustration-background);
  border-radius: 50%;
  overflow: hidden;
}

.navds-guide__illustration svg,
.navds-guide__illustration img {
  height: 100%;
  width: 100%;
}

/* Illustration sizes */
.navds-guide__illustration--small {
  height: 5rem;
  width: 5rem;
}

.navds-guide__illustration--medium {
  height: 6.25rem;
  width: 6.25rem;
}
