:root {
  --navds-guide-panel-color-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-guide-panel-color-border: var(--navds-global-color-blue-400);
  --navds-guide-panel-color-illustration-background: var(
    --navds-global-color-blue-200
  );
}

/**
 * GuidePanel component
 */
.navds-guide-panel {
  position: relative;
  padding-left: var(--navds-spacing-10);
}

.navds-guide-panel__content {
  background-color: var(--navds-guide-panel-color-background);
  border-radius: var(--navds-border-radius-medium);
  border: 2px solid var(--navds-guide-panel-color-border);
  min-height: 7.25rem;
  padding: var(--navds-spacing-6);
  padding-left: var(--navds-spacing-14);
}

.navds-guide-panel--poster {
  padding-left: 0;
  padding-top: var(--navds-spacing-12);
}

.navds-guide-panel--poster .navds-guide-panel__content {
  padding: var(--navds-spacing-8);
  padding-top: var(--navds-spacing-16);
}

.navds-guide-panel .navds-guide {
  position: absolute;
  top: var(--navds-spacing-4);
  transform: translateX(-50%);
}

.navds-guide-panel--poster .navds-guide {
  left: 50%;
  top: 0;
}

/**
 * Guide component
 */
.navds-guide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Guide illustration frame */
.navds-guide__illustration {
  background: var(--navds-guide-panel-color-illustration-background);
  border-radius: var(--navds-border-radius-full);
  overflow: hidden;
}

.navds-guide__illustration svg,
.navds-guide__illustration img {
  height: 100%;
  width: 100%;
}

/* Illustration sizes */
.navds-guide__illustration--small {
  height: 5rem;
  width: 5rem;
}

.navds-guide__illustration--medium {
  height: 6rem;
  width: 6rem;
}
