:root,
:host {
  --v2-migration__navds-guide-panel-color-background: var(--a-surface-default);
  --v2-migration__navds-guide-panel-color-illustration-background: var(--a-surface-action-subtle);
}

/**
 * GuidePanel component
 */
.navds-guide-panel {
  position: relative;
  padding-left: var(--a-spacing-10);
}

.navds-guide-panel__content {
  background-color: var(--ac-guide-panel-bg, var(--a-surface-default));
  border-radius: var(--a-border-radius-medium);
  border: 2px solid var(--ac-guide-panel-border, var(--a-border-action));
  min-height: 7.25rem;
  padding: var(--a-spacing-6);
  padding-left: var(--a-spacing-14);
}

.navds-guide-panel--poster {
  padding-left: 0;
  padding-top: var(--a-spacing-12);
}

.navds-guide-panel--poster .navds-guide-panel__content {
  padding: var(--a-spacing-8);
  padding-top: var(--a-spacing-16);
}

.navds-guide-panel .navds-guide {
  position: absolute;
  top: var(--a-spacing-4);
  transform: translateX(-50%);
  border: 2px solid var(--ac-guide-panel-border, var(--a-border-action));
}

.navds-guide-panel--poster .navds-guide {
  left: 50%;
  top: 0;
}

/**
 * Guide component
 */
.navds-guide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Guide illustration frame */
.navds-guide__illustration {
  background: var(--ac-guide-panel-illustration-bg, var(--a-surface-action-subtle));
  border-radius: var(--a-border-radius-full);
  overflow: hidden;
}

.navds-guide__illustration svg,
.navds-guide__illustration img {
  height: 100%;
  width: 100%;
}

/* Illustration sizes */
.navds-guide__illustration--small {
  height: 5rem;
  width: 5rem;
}

.navds-guide__illustration--medium {
  height: 6rem;
  width: 6rem;
}
