:root {
  --navds-help-text-color: var(--navds-semantic-color-interaction-primary);
  --navds-help-text-color-hover: var(
    --navds-semantic-color-component-background-light
  );
  --navds-help-text-color-focus: var(
    --navds-semantic-color-component-background-light
  );
  --navds-help-text-color-background-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-help-text-color-background-focus: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-help-text-color-shadow-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-help-text-color-shadow-focus: var(--navds-semantic-color-focus);
  --navds-help-text-color-popover-background: var(
    --navds-semantic-color-feedback-info-background
  );
}

.navds-help-text__button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--navds-help-text-color);
  font-size: 1.5rem;
}

.navds-help-text__button:hover {
  color: var(--navds-help-text-color-hover);
  background: var(--navds-help-text-color-background-hover);
  box-shadow: 0 0 0 2px var(--navds-help-text-color-shadow-hover);
}

.navds-help-text__button:focus {
  outline: none;
  color: var(--navds-help-text-color-focus);
  background: var(--navds-help-text-color-background-focus);
  box-shadow: 0 0 0 3px var(--navds-help-text-color-shadow-focus);
}

.navds-help-text__icon {
  border-radius: 50%;
}

.navds-help-text__popover > .navds-popover__arrow::before {
  background-color: var(--navds-help-text-color-popover-background);
}

.navds-help-text__popover.navds-popover {
  background-color: var(--navds-help-text-color-popover-background);
}
