.navds-help-text__button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--a-border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ac-help-text-button-color, var(--a-surface-action));
  font-size: 1.5rem;
}

.navds-help-text__button:focus-visible {
  box-shadow: 0 0 0 1px var(--a-surface-default), 0 0 0 4px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
  .navds-help-text__button:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--a-surface-default), 0 0 0 4px var(--a-border-focus);
  }
}

.navds-help-text__icon {
  border-radius: var(--a-border-radius-full);
}

.navds-help-text__popover > .navds-popover__arrow {
  background-color: var(--ac-help-text-popover-bg, var(--a-surface-info-subtle));
}

.navds-help-text__popover.navds-popover {
  background-color: var(--ac-help-text-popover-bg, var(--a-surface-info-subtle));
  max-width: 65ch;

  --ac-popover-border: var(--a-border-info);
}

.navds-help-text__icon--filled {
  display: none;
}

.navds-help-text__button:where(:hover, :focus-visible, [aria-expanded="true"]) > .navds-help-text__icon {
  display: none;
}

.navds-help-text__button:where(:hover, :focus-visible, [aria-expanded="true"]) > .navds-help-text__icon--filled {
  display: inherit;
}

@supports not selector(:focus-visible) {
  .navds-help-text__button:where(:focus) > .navds-help-text__icon {
    display: none;
  }

  .navds-help-text__button:where(:focus) > .navds-help-text__icon--filled {
    display: inherit;
  }
}
