:root {
  --navds-help-text-color-button-background: transparent;
  --navds-help-text-color-icon: var(--navds-semantic-color-interaction-primary);
  --navds-help-text-color-icon-hover: var(
    --navds-semantic-color-component-background-light
  );
  --navds-help-text-color-icon-background-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-help-text-color-icon-shadow-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-help-text-color-icon-focus: var(
    --navds-semantic-color-component-background-light
  );
  --navds-help-text-color-icon-background-focus: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-help-text-color-icon-shadow-focus: var(--navds-semantic-color-focus);
  --navds-help-text-color-popover-background: var(
    --navds-global-color-lightblue-100
  );
}

.navds-help-text__button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--navds-help-text-color-button-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navds-help-text__button:focus {
  outline: none;
}

.navds-help-text__icon {
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--navds-help-text-color-icon);
}

.navds-help-text__button:hover > .navds-help-text__icon {
  color: var(--navds-help-text-color-icon-hover);
  background: var(--navds-help-text-color-icon-background-hover);
  box-shadow: 0 0 0 2px var(--navds-help-text-color-icon-shadow-hover);
}

.navds-help-text__button:focus > .navds-help-text__icon {
  outline: none;
  color: var(--navds-help-text-color-icon-focus);
  background: var(--navds-help-text-color-icon-background-focus);
  box-shadow: 0 0 0 3px var(--navds-help-text-color-icon-shadow-focus);
}

.navds-help-text__popover > .navds-popover__arrow::before {
  background-color: var(--navds-help-text-color-popover-background);
}

.navds-help-text__popover.navds-popover {
  background-color: var(--navds-help-text-color-popover-background);
}
