.navds-internalheader {
  display: flex;
  align-self: stretch;
  background: var(--ac-internalheader-bg, var(--a-surface-inverted));
  min-height: var(--a-spacing-12);

  --navds-internalheader-focus: inset 0 0 0 2px var(--a-border-focus-on-inverted);
}

.navds-internalheader__title {
  border: none;
  overflow: visible;
  background: transparent;
  font: inherit;
  font-weight: var(--a-font-weight-bold);
  line-height: normal;
  text-align: left;
  padding: 0 var(--a-spacing-5) 0 var(--a-spacing-6);
  border-right: 1px solid var(--ac-internalheader-divider, var(--a-gray-600));
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  color: var(--ac-internalheader-text, var(--a-text-on-inverted));
}

button.navds-internalheader__title {
  cursor: pointer;
}

.navds-internalheader__user {
  padding: 0 var(--a-spacing-5);
  border-left: 1px solid var(--ac-internalheader-divider, var(--a-gray-600));
  display: flex;
  align-items: center;
}

.navds-internalheader__button {
  border: none;
  margin: 0;
  padding: 0 var(--a-spacing-3);
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: var(--a-spacing-2);
  border-left: 1px solid var(--ac-internalheader-divider, var(--a-gray-600));
  color: var(--ac-internalheader-text, var(--a-text-on-inverted));
}

a.navds-internalheader__title:hover,
button.navds-internalheader__title:hover,
.navds-internalheader__button:hover {
  background-color: var(--ac-internalheader-hover-bg, var(--a-surface-inverted-hover));
}

.navds-internalheader__title:focus-visible,
.navds-internalheader__button:focus-visible {
  box-shadow: var(--navds-internalheader-focus);
  outline: none;
}

@supports not selector(:focus-visible) {
  .navds-internalheader__title:focus,
  .navds-internalheader__button:focus {
    box-shadow: var(--navds-internalheader-focus);
    outline: none;
  }
}

a.navds-internalheader__title:active,
button.navds-internalheader__title:active,
.navds-internalheader__button:active {
  background-color: var(--ac-internalheader-active-bg, var(--a-surface-inverted-active));
}

.navds-internalheader__user-button {
  padding-left: var(--a-spacing-5);
  gap: var(--a-spacing-4);
}
