.navds-layout-container {
  padding-left: var(--ac-layout-container-padding-xs, var(--navds-spacing-4));
  padding-right: var(--ac-layout-container-padding-xs, var(--navds-spacing-4));
  margin-left: auto;
  margin-right: auto;
  max-width: var(--ac-layout-container-max-width, var(--a-breakpoint-xl));
}

.navds-layout-container--fluid {
  width: 100%;
}

@media (min-width: 30rem) {
  .navds-layout-container {
    padding-left: var(--ac-layout-container-padding-sm, var(--navds-spacing-6));
    padding-right: var(--ac-layout-container-padding-sm, var(--navds-spacing-6));
  }

  .navds-layout-container--fluid {
    width: 90%;
  }
}

@media (min-width: 48rem) {
  .navds-layout-container {
    padding-left: var(--ac-layout-container-padding-md, var(--navds-spacing-6));
    padding-right: var(--ac-layout-container-padding-md, var(--navds-spacing-6));
  }
}

@media (min-width: 64rem) {
  .navds-layout-container {
    padding-left: var(--ac-layout-container-padding-lg, var(--navds-spacing-6));
    padding-right: var(--ac-layout-container-padding-lg, var(--navds-spacing-6));
  }
}

@media (min-width: 80rem) {
  .navds-layout-container {
    padding-left: var(--ac-layout-container-padding-xl, var(--navds-spacing-6));
    padding-right: var(--ac-layout-container-padding-xl, var(--navds-spacing-6));
  }
}
