.navds-layout-container {
  padding-left: var(--ac-l-container-padding-xs, var(--navds-spacing-4));
  padding-right: var(--ac-l-container-padding-xs, var(--navds-spacing-4));
  margin-left: auto;
  margin-right: auto;
  max-width: var(--a-breakpoint-lg);
}

@media (min-width: 48rem) {
  .navds-layout-container {
    padding-left: var(--ac-l-container-padding-sm, var(--navds-spacing-6));
    padding-right: var(--ac-l-container-padding-sm, var(--navds-spacing-6));
  }
}

@media (min-width: 64rem) {
  .navds-layout-container {
    padding-left: var(--ac-l-container-padding-md, var(--navds-spacing-6));
    padding-right: var(--ac-l-container-padding-md, var(--navds-spacing-6));
  }
}

@media (min-width: 80rem) {
  .navds-layout-container {
    padding-left: var(--ac-l-container-padding-lg, var(--navds-spacing-6));
    padding-right: var(--ac-l-container-padding-lg, var(--navds-spacing-6));
  }
}
