.navds-layout-grid {
  --ac-layout-grid-areas-xs: initial;
  --ac-layout-grid-areas-sm: var(--ac-layout-grid-areas-xs);
  --ac-layout-grid-areas-md: var(--ac-layout-grid-areas-sm);
  --ac-layout-grid-areas-lg: var(--ac-layout-grid-areas-md);
  --ac-layout-grid-columns-xs: 6;
  --ac-layout-grid-columns-sm: 8;
  --ac-layout-grid-columns-md: 12;
  --ac-layout-grid-columns-lg: var(--ac-layout-grid-columns-md);

  display: grid;
  grid-template-areas: var(--ac-layout-grid-areas-xs);
  grid-template-columns: repeat(var(--ac-grid-columns-xs), minmax(0, 1fr));
  gap: var(--ac-layout-grid-gap-xs, var(--navds-spacing-4));
}

@media (min-width: 48rem) {
  .navds-layout-grid {
    gap: var(--ac-layout-grid-gap-sm, var(--navds-spacing-6));
    grid-template-areas: var(--ac-layout-grid-areas-sm);
    grid-template-columns: repeat(var(--ac-layout-grid-columns-sm), minmax(0, 1fr));
  }
}

@media (min-width: 64rem) {
  .navds-layout-grid {
    gap: var(--ac-layout-grid-gap-md, var(--navds-spacing-6));
    grid-template-areas: var(--ac-layout-grid-areas-md);
    grid-template-columns: repeat(var(--ac-layout-grid-columns-md), minmax(0, 1fr));
  }
}

@media (min-width: 80rem) {
  .navds-layout-grid {
    gap: var(--ac-layout-grid-gap-lg, var(--navds-spacing-6));
    grid-template-areas: var(--ac-layout-grid-areas-lg);
    grid-template-columns: repeat(var(--ac-layout-grid-columns-lg), minmax(0, 1fr));
  }
}

.navds-layout-grid__cell {
  --ac-layout-grid-column-xs: initial;
  --ac-layout-grid-column-sm: var(--ac-layout-grid-column-xs);
  --ac-layout-grid-column-md: var(--ac-layout-grid-column-sm);
  --ac-layout-grid-column-lg: var(--ac-layout-grid-column-md);
  --ac-layout-grid-row-xs: initial;
  --ac-layout-grid-row-sm: var(--ac-layout-grid-row-xs);
  --ac-layout-grid-row-md: var(--ac-layout-grid-row-sm);
  --ac-layout-grid-row-lg: var(--ac-layout-grid-row-md);

  min-width: 0;
  grid-row: var(--ac-layout-grid-row-xs);
  grid-column: var(--ac-layout-grid-column-xs);
}

@media (min-width: 48rem) {
  .navds-layout-grid__cell {
    grid-row: var(--ac-layout-grid-row-sm);
    grid-column: var(--ac-layout-grid-column-sm);
  }
}

@media (min-width: 64rem) {
  .navds-layout-grid__cell {
    grid-row: var(--ac-layout-grid-row-md);
    grid-column: var(--ac-layout-grid-column-md);
  }
}

@media (min-width: 80rem) {
  .navds-layout-grid__cell {
    grid-row: var(--ac-layout-grid-row-lg);
    grid-column: var(--ac-layout-grid-column-lg);
  }
}

.navds-layout-grid__cell-column-xs-1 {
  grid-column-end: span 1;
}

.navds-layout-grid__cell-column-xs-2 {
  grid-column-end: span 2;
}

.navds-layout-grid__cell-column-xs-3 {
  grid-column-end: span 3;
}

.navds-layout-grid__cell-column-xs-4 {
  grid-column-end: span 4;
}

.navds-layout-grid__cell-column-xs-5 {
  grid-column-end: span 5;
}

.navds-layout-grid__cell-column-xs-6 {
  grid-column-end: span 6;
}

@media (min-width: 48rem) {
  .navds-layout-grid__cell-column-sm-1 {
    grid-column-end: span 1;
  }

  .navds-layout-grid__cell-column-sm-2 {
    grid-column-end: span 2;
  }

  .navds-layout-grid__cell-column-sm-3 {
    grid-column-end: span 3;
  }

  .navds-layout-grid__cell-column-sm-4 {
    grid-column-end: span 4;
  }

  .navds-layout-grid__cell-column-sm-5 {
    grid-column-end: span 5;
  }

  .navds-layout-grid__cell-column-sm-6 {
    grid-column-end: span 6;
  }

  .navds-layout-grid__cell-column-sm-7 {
    grid-column-end: span 7;
  }

  .navds-layout-grid__cell-column-sm-8 {
    grid-column-end: span 8;
  }
}

@media (min-width: 64rem) {
  .navds-layout-grid__cell-column-md-1 {
    grid-column-end: span 1;
  }

  .navds-layout-grid__cell-column-md-2 {
    grid-column-end: span 2;
  }

  .navds-layout-grid__cell-column-md-3 {
    grid-column-end: span 3;
  }

  .navds-layout-grid__cell-column-md-4 {
    grid-column-end: span 4;
  }

  .navds-layout-grid__cell-column-md-5 {
    grid-column-end: span 5;
  }

  .navds-layout-grid__cell-column-md-6 {
    grid-column-end: span 6;
  }

  .navds-layout-grid__cell-column-md-7 {
    grid-column-end: span 7;
  }

  .navds-layout-grid__cell-column-md-8 {
    grid-column-end: span 8;
  }

  .navds-layout-grid__cell-column-md-9 {
    grid-column-end: span 9;
  }

  .navds-layout-grid__cell-column-md-10 {
    grid-column-end: span 10;
  }

  .navds-layout-grid__cell-column-md-11 {
    grid-column-end: span 11;
  }

  .navds-layout-grid__cell-column-md-12 {
    grid-column-end: span 12;
  }
}

@media (min-width: 80rem) {
  .navds-layout-grid__cell-column-lg-1 {
    grid-column-end: span 1;
  }

  .navds-layout-grid__cell-column-lg-2 {
    grid-column-end: span 2;
  }

  .navds-layout-grid__cell-column-lg-3 {
    grid-column-end: span 3;
  }

  .navds-layout-grid__cell-column-lg-4 {
    grid-column-end: span 4;
  }

  .navds-layout-grid__cell-column-lg-5 {
    grid-column-end: span 5;
  }

  .navds-layout-grid__cell-column-lg-6 {
    grid-column-end: span 6;
  }

  .navds-layout-grid__cell-column-lg-7 {
    grid-column-end: span 7;
  }

  .navds-layout-grid__cell-column-lg-8 {
    grid-column-end: span 8;
  }

  .navds-layout-grid__cell-column-lg-9 {
    grid-column-end: span 9;
  }

  .navds-layout-grid__cell-column-lg-10 {
    grid-column-end: span 10;
  }

  .navds-layout-grid__cell-column-lg-11 {
    grid-column-end: span 11;
  }

  .navds-layout-grid__cell-column-lg-12 {
    grid-column-end: span 12;
  }
}
