.navds-link {
  color: var(--ac-link-text, var(--a-text-action));
  text-decoration: underline;
}

.navds-link.navds-link--inline {
  display: inline-flex;
  align-items: baseline;
  gap: var(--a-spacing-1);
}

.navds-link:visited {
  color: var(--ac-link-visited-text, var(--a-text-visited));
}

.navds-link > svg {
  margin: 0 -0.1em -0.15em;
}

.navds-link.navds-link--inline > svg {
  transform: translateY(0.15em);
}

.navds-link:hover {
  text-decoration: none;
}

.navds-link.navds-link--remove-underline {
  text-decoration: none;
}

.navds-link.navds-link--remove-underline:hover {
  text-decoration: underline;
}

.navds-alert .navds-link,
.navds-confirmation-panel .navds-link {
  color: var(--a-text-default);
}

.navds-link:focus-visible {
  outline: none;
  color: var(--ac-link-focus-text, var(--a-text-on-action));
  text-decoration: none;
  background-color: var(--ac-link-focus-bg, var(--a-border-focus));
  box-shadow: 0 0 0 2px var(--ac-link-focus-border, var(--a-border-focus));
}

@supports not selector(:focus-visible) {
  .navds-link:focus {
    outline: none;
    color: var(--ac-link-focus-text, var(--a-text-on-action));
    text-decoration: none;
    background-color: var(--ac-link-focus-bg, var(--a-border-focus));
    box-shadow: 0 0 0 2px var(--ac-link-focus-border, var(--a-border-focus));
  }
}

.navds-link:active {
  outline: none;
  color: var(--ac-link-active-text, var(--a-text-on-action));
  text-decoration: none;
  background-color: var(--ac-link-active-bg, var(--a-border-focus));
  box-shadow: 0 0 0 2px var(--ac-link-active-border, var(--a-border-focus));
}

.navds-link svg {
  color: inherit;
  flex-shrink: 0;
}

.navds-link--action {
  color: var(--ac-link-action-text, var(--a-text-action));
}

.navds-link--neutral {
  color: var(--ac-link-default-text, var(--a-text-default));
}

.navds-link--subtle {
  color: var(--ac-link-subtle-text, var(--a-text-subtle));
}
