/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.navds-link-card {
  --__ac-link-card-padding-block: var(--a-spacing-4);
  --__ac-link-card-padding-inline: var(--a-spacing-5);

  border-radius: var(--a-border-radius-xlarge);
  text-decoration: none;
  color: var(--a-text-default);
  transition-property: border-color, box-shadow, transform, background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  position: relative;
  background-color: var(--a-surface-default);
  border: 1px solid var(--a-border-subtle);
  padding: var(--__ac-link-card-padding-block) var(--__ac-link-card-padding-inline);
  cursor: pointer;
  display: grid;
  grid-template-areas:
    "image image image"
    "icon title arrow"
    "icon description arrow"
    "icon footer arrow";
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content min-content auto;
  align-items: center;
}

.navds-link-card[data-align-arrow="baseline"] {
  grid-template-areas:
    "image image image"
    "icon title arrow"
    "icon description description"
    "icon footer footer";
}

.navds-link-card:not(:has(.navds-link-card__description, .navds-link-card__footer)) {
  grid-template-rows: auto 1fr;
}

.navds-link-card:not(:has(.navds-link-card__description, .navds-link-card__footer)) .navds-link-card__icon {
  align-self: center;
}

.navds-link-card:not(:has(.navds-link-card__description, .navds-link-card__footer)) .navds-link-card__title {
  align-items: center;
}

.navds-link-card:hover {
  border-color: var(--a-border-default);
  box-shadow: 0 0 0 1px var(--a-border-default);
}

.navds-link-card__title {
  grid-area: title;
  color: var(--a-text-default);
  hyphens: auto;
}

.navds-link-card__description {
  grid-area: description;
  margin-block-start: var(--a-spacing-1);
}

.navds-link-card__footer {
  grid-area: footer;
  margin-block-start: var(--a-spacing-4);
  display: flex;
  align-self: flex-end;
  gap: var(--a-spacing-2);
  flex-wrap: wrap;
}

.navds-link-card__icon {
  grid-area: icon;
  width: max-content;
  height: max-content;
  display: grid;
  place-content: center;
  color: var(--a-text-default);
  align-self: flex-start;
  margin-inline-end: var(--a-spacing-4);
}

.aksel-link-card--small {
  --__ac-link-card-padding-block: var(--a-spacing-3);
  --__ac-link-card-padding-inline: var(--a-spacing-4);
}

.aksel-link-card--small .aksel-link-card__icon {
  margin-inline-end: var(--a-spacing-3);
}

.navds-link-card__image-container {
  display: block;
  overflow: hidden;
  grid-area: image;
  margin-block: calc(var(--__ac-link-card-padding-block) * -1) var(--__ac-link-card-padding-block);
  margin-inline: calc(var(--__ac-link-card-padding-inline) * 1 * -1);
  border-radius: calc(var(--a-border-radius-xlarge) - 1px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

.navds-link-card__image-container :is(img, picture) {
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 100%;
}

.navds-link-card__arrow {
  grid-area: arrow;
  margin-inline-start: var(--a-spacing-2);
}

.navds-link-card__arrow[data-align-arrow="baseline"] {
  align-self: baseline;
}

.navds-link-card__arrow[data-align-arrow="center"] {
  align-self: center;
}
