:root {
  --navds-link-color-text: var(--navds-semantic-color-text-link);
  --navds-link-color-text-focus: var(--navds-semantic-color-text-inverted);
  --navds-link-color-text-active: var(--navds-semantic-color-text-inverted);
  --navds-link-color-background-focus: var(--navds-text-focus);
  --navds-link-color-background-active: var(--navds-text-focus);
  --navds-link-color-icon: var(--navds-semantic-color-text-link);
  --navds-link-color-icon-focus: var(--navds-semantic-color-text-inverted);
  --navds-link-color-on-info-background: var(
    --navds-semantic-color-text-default
  );
  --navds-link-color-on-error-background: var(
    --navds-semantic-color-text-default
  );
}

.navds-link {
  color: var(--navds-link-color-text);
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  gap: var(--navds-spacing-1);
}

.navds-alert--info .navds-link {
  color: var(--navds-link-color-on-info-background);
}

.navds-alert--error .navds-link,
.navds-confirmation-panel--error .navds-link {
  color: var(--navds-link-color-on-error-background);
}

.navds-link:hover {
  text-decoration: none;
}

.navds-link:focus {
  outline: none;
  color: var(--navds-link-color-text-focus);
  text-decoration: none;
  background-color: var(--navds-link-color-background-focus);
  box-shadow: var(--navds-text-shadow);
}

.navds-link:active {
  outline: none;
  color: var(--navds-link-color-text-active);
  text-decoration: none;
  background-color: var(--navds-link-color-background-active);
  box-shadow: var(--navds-text-shadow);
}

.navds-link svg {
  color: var(--navds-link-color-icon);
}

.navds-link:focus svg {
  color: var(--navds-link-color-icon-focus);
}
