:root,
:host {
  --navds-link-panel-color-text: var(--navds-semantic-color-text);
  --navds-link-panel-color-border-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-link-panel-color-title-hover: var(--navds-semantic-color-link);
}

.navds-link-panel {
  text-decoration: none;
  color: var(--navds-link-panel-color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--navds-spacing-4);
}

.navds-link-panel:hover .navds-link-panel__title {
  text-decoration: underline;
  color: var(--navds-link-panel-color-title-hover);
}

.navds-link-panel:hover {
  box-shadow: var(--navds-shadow-medium);
  border-color: var(--navds-link-panel-color-border-hover);
}

.navds-link-panel:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-link-panel__chevron {
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: transform 200ms;
}

.navds-link-panel:hover > .navds-link-panel__chevron,
.navds-link-panel:focus-within > .navds-link-panel__chevron {
  transform: translateX(4px);
}

.navds-link-panel__description {
  margin-top: var(--navds-spacing-1);
}
