.navds-link-panel {
  text-decoration: none;
  color: var(--ac-link-panel-text, var(--a-text-default));
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--a-spacing-4);
}

.navds-link-panel:hover .navds-link-panel__title {
  text-decoration: underline;
  color: var(--ac-link-panel-hover-text, var(--a-text-action));
}

.navds-link-panel:hover {
  box-shadow: var(--a-shadow-medium);
  border-color: var(--ac-link-panel-hover-border, var(--a-border-action));
}

.navds-link-panel:focus-visible {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

@supports not selector(:focus-visible) {
  .navds-link-panel:focus {
    box-shadow: var(--a-shadow-focus);
    outline: none;
  }
}

.navds-link-panel__chevron {
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: transform 200ms;
}

.navds-link-panel:hover > .navds-link-panel__chevron,
.navds-link-panel:focus-within > .navds-link-panel__chevron {
  transform: translateX(4px);
}

.navds-link-panel__description {
  margin-top: var(--a-spacing-1);
}
