.navds-link-anchor__overlay {
  cursor: pointer;
}

.navds-link-anchor__overlay:focus-within {
  outline: 3px solid var(--a-border-focus);
  outline-offset: 3px;
}

@supports selector(:has(*)) {
  .navds-link-anchor__overlay:focus-within {
    outline: unset;
  }

  .navds-link-anchor__overlay:has(:focus-visible) {
    outline: 3px solid var(--a-border-focus);
    outline-offset: 3px;
  }
}

.navds-link-anchor {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
  color: inherit;
}

.navds-link-anchor:hover,
.navds-link-anchor__overlay:hover .navds-link-anchor {
  text-decoration-thickness: 0.111em;
}

.navds-link-anchor:focus-visible {
  outline: 3px solid var(--a-border-focus);
  outline-offset: 3px;
  border-radius: 1px;
}

.navds-link-anchor__overlay .navds-link-anchor:focus-visible {
  outline: none;
}

.navds-link-anchor__arrow {
  transition: transform 200ms;
  transform: translateX(0);
  flex-shrink: 0;
}

.navds-link-anchor:hover .navds-link-anchor__arrow,
.navds-link-anchor__overlay:hover .navds-link-anchor__arrow {
  transform: translateX(4px);
}
