.navds-list ul,
.navds-list ol {
  padding: 0;
  margin-block: var(--a-spacing-4);
}

.navds-list--nested ul,
.navds-list--nested ol {
  margin-block: var(--a-spacing-2);
}

.navds-list--small ul,
.navds-list--small ol {
  margin-block: var(--a-spacing-3);
}

.navds-list li {
  margin-block-end: var(--a-spacing-2);
}

.navds-list:last-child > ul > li:last-child,
.navds-list:last-child > ol > li:last-child {
  margin-bottom: 0;
}

.navds-list ul .navds-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--a-spacing-3);
  padding-left: 0;
}

.navds-list ul .navds-list__item::marker {
  content: none;
}

.navds-list ol .navds-list__item-marker--icon {
  grid-column: 1 / 2;
  display: flex;
}

/* stylelint-disable selector-type-no-unknown */
_::-webkit-full-page-media,
_:future,
:root .navds-list ol .navds-list__item {
  padding: 0;
}

_::-webkit-full-page-media,
_:future,
:root .navds-list ol {
  margin-left: var(--a-spacing-1-alt);
}
/* stylelint-enable selector-type-no-unknown */

.navds-list .navds-list__item-marker--bullet {
  display: flex;
  align-items: center;
  height: var(--a-font-line-height-xlarge);
  grid-column: 1 / 2;
  color: var(--ac-list-marker-ul-color, var(--ac-list-marker-color, var(--a-icon-default)));
}

.navds-list--small .navds-list__item-marker--bullet {
  height: var(--a-font-line-height-large);
}

.navds-list__item-marker--icon {
  color: var(--ac-list-marker-icon-color, var(--ac-list-marker-color, var(--a-icon-default)));
  display: flex;
  align-items: center;
  height: var(--a-font-line-height-xlarge);
  padding-block-end: 1px;
  width: 24px;
}

.navds-list--small .navds-list__item-marker--icon {
  height: var(--a-font-line-height-large);
}

.navds-list__item-marker--icon svg {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.navds-list ul .navds-list__item-content {
  grid-column: 2 / 3;
}

.navds-list ol {
  padding-left: var(--a-spacing-2);
  list-style: decimal;
}

.navds-list ol li {
  padding-left: var(--a-spacing-1-alt);
  margin-left: var(--a-spacing-2);
}

.navds-list ol li::marker {
  font-weight: var(--a-font-weight-bold);
  font-size: var(--a-font-size-large);
  color: var(--ac-list-marker-ol-color, var(--ac-list-marker-color, var(--a-icon-default)));
  line-height: var(--a-font-line-height-xlarge);
}

.navds-list--small ol li::marker {
  font-size: var(--a-font-size-small);
  line-height: var(--a-font-line-height-large);
}
