.navds-list ul,
.navds-list ol {
  padding: 0;
}

.navds-list li:not(:first-child) {
  margin-top: var(--a-spacing-5);
}

.navds-list ul .navds-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.875rem;
  padding-left: 0;
}

.navds-list ol .navds-list__item-marker--icon {
  grid-column: 1 / 2;
  display: flex;
}

.navds-list ul .navds-list__item-marker {
  display: flex;
  margin-top: 6px;
  grid-column: 1 / 2;
}

.navds-list ul .navds-list__item__content {
  grid-column: 2 / 3;
}

.navds-list__item-title {
  font-weight: var(--a-font-weight-bold);
  display: block;
}

.navds-list ol .navds-list__item-marker,
.navds-list ol .navds-list__item-marker--icon {
  display: none;
}

.navds-list ol {
  padding-left: var(--a-spacing-2);
}

.navds-list ol li {
  counter-increment: list-item;
  padding-left: var(--a-spacing-3);
}

.navds-list ol li::marker {
  content: counter(list-item) "";
  font-weight: var(--a-font-weight-bold);
  font-size: var(--a-font-size-medium);
}
