.navds-list ul {
  padding-left: var(--a-spacing-5);
  list-style-type: none;
}

.navds-list li:not(:first-child) {
  margin-top: var(--a-spacing-5);
}

.navds-list ul li {
  position: relative;
}

.navds-list ul li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--a-border-info);
  background-color: var(--a-surface-info-subtle);
  position: absolute;
  left: -20px;
  top: 3px;
  border-radius: var(--a-border-radius-full);
}

.navds-list__item__title {
  font-weight: var(--a-font-weight-bold);
  display: block;
}
