.navds-list ul,
.navds-list ol {
  padding: 0;
  margin-block: var(--a-spacing-4);
}

.navds-list--small ul,
.navds-list--small ol {
  margin-block: var(--a-spacing-3);
}

.navds-list .navds-list :where(ul, ol) {
  margin-block: var(--a-spacing-2) 0;
}

.navds-list ol {
  list-style: decimal; /* This is the default value, but some frameworks have `ol,ul { list-style:none }` */
  padding-left: 1.7rem;
}

.navds-list ol > .navds-list__item {
  padding-left: 0.3rem;
}

/* SAFARI HACK START */

/* biome-ignore lint/a11y/useGenericFontNames: Hack for targeting Safari */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
  .navds-list ol {
    padding-left: 2.1rem;
  }

  .navds-list ol .navds-list__item {
    padding-left: 0;
  }
}

/* SAFARI HACK END */

.navds-list__item {
  margin-block-end: var(--a-spacing-2);
}

.navds-list__item:last-child {
  margin-block-end: 0;
}

.navds-list ul > .navds-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--a-spacing-2);
}

.navds-list ol li::marker {
  font-weight: var(--a-font-weight-bold);
  color: var(--ac-list-marker-ol-color, var(--ac-list-marker-color, var(--a-icon-default)));
}

.navds-list__item-marker {
  width: 1.5rem;
}

.navds-list ul > li > .navds-list__item-marker {
  display: flex;
  align-items: center;
  height: var(--a-font-line-height-xlarge);
}

.navds-list--small ul > li > .navds-list__item-marker {
  height: var(--a-font-line-height-large);
}

.navds-list__item-marker--bullet {
  padding-left: 0.8rem;
  color: var(--ac-list-marker-ul-color, var(--ac-list-marker-color, var(--a-icon-default)));
}

.navds-list__item-marker--icon {
  font-size: 1.5rem;
  justify-content: center;
  color: var(--ac-list-marker-icon-color, var(--ac-list-marker-color, var(--a-icon-default)));
}
