:root,
:host {
  --navds-loader-color-foreground: var(--navds-global-color-gray-400);
  --navds-loader-color-background: rgb(0 0 0 / 0.05);
  --navds-loader-color-neutral-foreground: var(--navds-global-color-gray-400);
  --navds-loader-color-interaction-foreground: var(--navds-global-color-blue-500);
  --navds-loader-color-inverted-foreground: var(--navds-global-color-white);
  --navds-loader-color-inverted-background: rgb(255 255 255 / 0.25);
  --navds-loader-color-transparent-background: transparent;
}

.navds-loader {
  width: 1.5rem;
  display: inline-block;
  position: relative;
  animation: loader-rotate 1.8s linear infinite;
  stroke-width: 6;

  --navds-loader-background-stroke-width: 5.9;
}

.navds-loader__foreground {
  animation: loader-dasharray 1.8s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  stroke: var(--navds-loader-color-foreground);
}

.navds-loader__background {
  stroke: var(--navds-loader-color-background);
  stroke-width: var(--navds-loader-background-stroke-width);
}

.navds-loader--neutral .navds-loader__foreground {
  stroke: var(--navds-loader-color-neutral-foreground);
}

.navds-loader--interaction .navds-loader__foreground {
  stroke: var(--navds-loader-color-interaction-foreground);
}

.navds-loader--inverted .navds-loader__foreground {
  stroke: var(--navds-loader-color-inverted-foreground);
}

.navds-loader--inverted .navds-loader__background {
  stroke: var(--navds-loader-color-inverted-background);
}

.navds-loader--transparent .navds-loader__background {
  stroke: var(--navds-loader-color-transparent-background);
}

.navds-loader--3xlarge {
  width: 5.5rem;
  stroke-width: 5;

  --navds-loader-background-stroke-width: 4.8;
}

.navds-loader--2xlarge {
  width: 4rem;
  stroke-width: 6;

  --navds-loader-background-stroke-width: 5.8;
}

.navds-loader--xlarge {
  width: 2.5rem;
  stroke-width: 6;

  --navds-loader-background-stroke-width: 5.8;
}

.navds-loader--large {
  width: 2rem;
  stroke-width: 7;

  --navds-loader-background-stroke-width: 6.8;
}

.navds-loader--medium {
  width: 1.5rem;
  stroke-width: 7;

  --navds-loader-background-stroke-width: 6.8;
}

.navds-loader--small {
  width: 1.25rem;
  stroke-width: 8;

  --navds-loader-background-stroke-width: 7.8;
}

.navds-loader--xsmall {
  width: 1rem;
  stroke-width: 8;

  --navds-loader-background-stroke-width: 7.8;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dasharray {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}
