:root {
  --navds-menu-color-text: var(--navds-semantic-color-link);
  --navds-menu-color-text-hover: var(--navds-semantic-color-text);
  --navds-menu-color-text-focus: var(--navds-semantic-color-text);
  --navds-menu-color-background-hover: var(--navds-global-color-blue-50);
  --navds-menu-color-text-active: var(--navds-semantic-color-text);
  --navds-menu-outline-focus: var(--navds-semantic-color-focus);
}

.navds-menu {
  font-weight: var(--navds-font-weight-bold);
}

.navds-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 0.5rem;
}

.navds-menu__list--inner {
  padding: 0;
}

.navds-menu-collapse__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  text-align: inherit;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--navds-font-weight-bold);
  color: var(--navds-menu-color-text);
}

.navds-menu-item,
.navds-menu-collapse__button {
  display: flex;
  padding: var(--navds-spacing-3) var(--navds-spacing-2);
  text-decoration: none;
}

.navds-menu-item:focus,
.navds-menu-collapse__button:focus {
  outline: 3px solid var(--navds-menu-outline-focus);
  outline-offset: -3px;
  color: var(--navds-menu-color-text-focus);
}

.navds-menu-collapse__button:focus > .navds-menu-collapse__expand-icon {
  color: var(--navds-menu-color-focus);
}

.navds-menu-item:hover,
.navds-menu-collapse__button:hover {
  background-color: var(--navds-menu-color-background-hover);
  color: var(--navds-menu-color-text-hover);
}

.navds-menu-item--active {
  box-shadow: -0.5rem 0 var(--navds-semantic-color-link);
  color: var(--navds-menu-color-text-active);
  text-decoration: none;
}

/* Collapse icon */
.navds-menu-collapse__expand-icon {
  font-size: 1.5rem;
  flex-shrink: 0;
  margin-left: var(--navds-spacing-2);
}

.navds-menu-collapse__expand-icon--filled,
.navds-menu-collapse__button:hover > .navds-menu-collapse__expand-icon {
  display: none;
}

.navds-menu-collapse__button:hover > .navds-menu-collapse__expand-icon--filled {
  display: block;
}

.navds-menu-collapse--open
  > .navds-menu-collapse__button
  > .navds-menu-collapse__expand-icon {
  transform: rotate(180deg);
}

/* Nesting levels */
[data-depth="1"] .navds-menu-collapse__button,
[data-depth="1"] .navds-menu-item {
  padding-left: var(--navds-spacing-6);
}

[data-depth="2"] .navds-menu-collapse__button,
[data-depth="2"] .navds-menu-item {
  padding-left: var(--navds-spacing-10);
}

[data-depth="3"] .navds-menu-collapse__button,
[data-depth="3"] .navds-menu-item {
  padding-left: var(--navds-spacing-14);
}
