.navds-modal__document-body {
  overflow: hidden;
}

.navds-modal {
  background-color: var(--ac-modal-bg, var(--a-surface-default));
  border: 1px solid var(--ac-modal-border, var(--a-border-subtle));
  border-radius: var(--a-border-radius-large);
  box-shadow: var(--a-shadow-xlarge);
  padding: 0;
  position: fixed;
}

.navds-modal[open] {
  display: flex;
  flex-direction: column;
  animation: akselModalFadeIn 0.35s cubic-bezier(0.15, 1, 0.3, 1);
}

.navds-modal--polyfilled {
  top: 50%;
  transform: translate(0, -50%);
  overflow: auto;
  max-height: 80%;

  /* From polyfill (dialog-polyfill/dist/dialog-polyfill.css): */
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.navds-modal--polyfilled:not([open]) {
  display: none; /* from polyfill */
}

._dialog_overlay {
  /* From polyfill */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navds-modal--small {
  width: 100%;
  max-width: 100%;
}

.navds-modal--medium {
  width: 100%;
  max-width: 100%;
}

.navds-modal--large {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .navds-modal--autowidth {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .navds-modal {
    max-height: 100%;
    max-width: 100%;
  }
}

.navds-modal::backdrop {
  /*
   * Cannot use --a-surface-backdrop because ::backdrop does not inherit from anything but itself.
   * But consumers can do `::backdrop { --ac-modal-backdrop: white; }`
   * We can add ::backdrop to tokens.css when we remove the polyfill.
   */
  background: var(--ac-modal-backdrop, rgb(0 0 0 / 0.44));
  animation: akselModalBackdropFadeIn 0.35s cubic-bezier(0.15, 1, 0.3, 1);
}

.navds-modal--polyfilled + .backdrop /* Cannot be combined with ::backdrop selector */ {
  background: var(--ac-modal-backdrop, rgb(0 0 0 / 0.44));

  /* From polyfill: */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navds-modal__button {
  margin-left: var(--a-spacing-4);
  float: right;
}

.navds-modal__header {
  padding: var(--a-spacing-6) var(--a-spacing-6) var(--a-spacing-4) var(--a-spacing-6);
}

.navds-modal__header-icon svg {
  display: inline;
  vertical-align: -0.25rem;
  margin-right: var(--a-spacing-1);
}

.navds-modal__label {
  font-weight: 600;
  color: var(--a-text-subtle);
}

.navds-modal__body {
  padding: var(--a-spacing-6);
  overflow: auto;
  overscroll-behavior: contain;
}

.navds-modal__header + .navds-modal__body {
  padding-top: var(--a-spacing-0);
}

.navds-modal__footer {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-4) var(--a-spacing-6) var(--a-spacing-6) var(--a-spacing-6);
}

.navds-modal__footer :nth-of-type(2) {
  margin-left: auto;
}

@keyframes akselModalFadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, calc(5% + 4px), 0);
  }

  50% {
    opacity: 1;
  }

  to {
    transform: none;
  }
}

@keyframes akselModalBackdropFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
