.navds-modal {
  background-color: var(--ac-modal-bg, var(--a-surface-default));
  border-radius: var(--a-border-radius-medium);
  box-shadow: var(--a-shadow-xlarge);
  padding: 0;
}

.navds-modal::backdrop {
  background-color: var(--ac-modal-backdrop, var(--a-surface-backdrop));
}

.navds-modal__content {
  padding: var(--a-spacing-4);
}

.navds-modal__button {
  position: absolute;
  top: var(--a-spacing-4);
  right: var(--a-spacing-4);
  display: flex;
  padding: var(--a-spacing-2);
}
