:root,
[data-theme="light"] {
  --navds-date-color-: #123123;
}

.navds-monthpicker__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.navds-monthpicker__caption {
  display: flex;
  justify-content: space-between;
}

.navds-monthpicker__caption-button {
  all: unset;
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.navds-monthpicker__months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
