.navds-monthpicker__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: var(--navds-spacing-3);
}

.navds-monthpicker__caption {
  display: flex;
  justify-content: space-between;
}

.navds-monthpicker__caption-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: var(--navds-border-radius-small);
}

.navds-monthpicker__months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.navds-monthpicker__month {
  all: unset;
  text-align: center;
  width: 47px;
  height: 44px;
  text-transform: capitalize;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: var(--navds-border-radius-medium);
}

.navds-monthpicker__year-label {
  display: flex;
  align-items: center;
}

.navds-monthpicker__month:focus,
.navds-monthpicker__caption-button:focus {
  box-shadow: var(--navds-shadow-focus);
}

.navds-monthpicker__month--current {
  border-color: var(--navds-global-color-deepblue-500);
}

.navds-monthpicker__month--selected {
  color: var(--navds-semantic-color-text-inverted);
  background: var(--navds-global-color-deepblue-500);
}

.navds-monthpicker__month:disabled {
  color: var(--navds-semantic-color-text-muted);
  background-image: linear-gradient(
    135deg,
    #e8e8e8 10%,
    var(--navds-global-color-white) 10%,
    var(--navds-global-color-white) 50%,
    #e8e8e8 50%,
    #e8e8e8 60%,
    var(--navds-global-color-white) 60%,
    var(--navds-global-color-white) 100%
  );
  background-size: 7.07px 7.07px;
}

.navds-monthpicker__month:not(.navds-monthpicker__month--selected):not([disabled]):hover {
  background: var(--navds-semantic-color-interaction-primary-hover-subtle);
  cursor: pointer;
}

.navds-month__standalone-wrapper,
.navds-month__wrapper {
  height: fit-content;
  width: fit-content;
}

.navds-month__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.navds-month__field-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
