:root,
[data-theme="light"] {
  --navds-date-color-: #123123;
}

.navds-monthpicker__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.navds-monthpicker__caption {
  display: flex;
  justify-content: space-between;
}

.navds-monthpicker__caption-button {
  all: unset;
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.navds-monthpicker__months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.navds-monthpicker__month {
  all: unset;
  text-align: center;
  width: 47px;
  height: 44px;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: var(--navds-border-radius-medium);
}

.navds-monthpicker__month--current {
  border: 1px solid var(--navds-global-color-deepblue-500);
}

.navds-monthpicker__month--selected {
  color: var(--navds-semantic-color-text-inverted);
  background: var(--navds-global-color-deepblue-500);
}

.navds-monthpicker__month:not(.navds-monthpicker__month--selected):hover {
  background: var(--navds-semantic-color-interaction-primary-hover-subtle);
}
