.navds-notificationbadge__wrapper:where(:not(.navds-notificationbadge--inline)) {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  height: 16px;
  width: 8px;
  z-index: 10;
}

sup.navds-notificationbadge__wrapper {
  top: 0;
}

.navds-notificationbadge {
  display: grid;
  place-content: center;
  transition-duration: 0.3s;
  transition-property: width, height, background-color;
  transition-timing-function: ease-in-out;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 0;
  font-weight: 600;
  background-color: var(--a-surface-danger);
  color: var(--a-text-on-danger);
  box-shadow: 0 0 0 2px var(--a-surface-default);
}

.navds-notificationbadge__wrapper:where(:not(.navds-notificationbadge--inline)) > .navds-notificationbadge {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navds-notificationbadge--count {
  border-radius: var(--a-border-radius-full);
  min-height: 1rem;
  padding-inline: var(--a-spacing-1);
}

.navds-notificationbadge--marker {
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.navds-notificationbadge--pulse::before {
  background-color: inherit;
  position: absolute;
  content: "";
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  transform: scale(1);
  animation: notificationBadgePulseLarge cubic-bezier(0, 0, 0.2, 1) 2s infinite;
  z-index: -1;
}

.navds-notificationbadge--pulse:where(.navds-notificationbadge--count)::before {
  animation: notificationBadgePulseSmall cubic-bezier(0, 0, 0.2, 1) 2s infinite;
}

@keyframes notificationBadgePulseSmall {
  75%,
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes notificationBadgePulseLarge {
  75%,
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
