:root {
  --navds-page-header-color-background: var(
    --navds-semantic-color-component-background-light
  );
  --navds-page-header-color-shadow-situation: var(
    --navds-global-color-orange-400
  );
  --navds-page-header-color-shadow-product: var(--navds-global-color-green-400);
  --navds-page-header-color-shadow-guide: var(
    --navds-global-color-deepblue-400
  );
}

.navds-page-header {
  display: flex;
  justify-content: center;
  background-color: var(--navds-page-header-color-background);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
}

.navds-page-header__wrapper {
  width: 100%;
  max-width: 56.5rem;
  text-align: start;
}

.navds-page-header__title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.navds-page-header--left > .navds-page-header__wrapper {
  text-align: start;
}

.navds-page-header--center > .navds-page-header__wrapper {
  text-align: center;
}

.navds-page-header__illustration {
  margin-right: 1.5rem;
  pointer-events: none;
}

.navds-page-header__illustration > svg {
  width: 5rem;
  height: 5rem;
}

.navds-page-header--situation {
  box-shadow: 0 -4px 0 var(--navds-page-header-color-shadow-situation) inset;
}
.navds-page-header--product {
  box-shadow: 0 -4px 0 var(--navds-page-header-color-shadow-product) inset;
}
.navds-page-header--guide {
  box-shadow: 0 -4px 0 var(--navds-page-header-color-shadow-guide) inset;
}

@media (max-width: 649px) {
  .navds-page-header__illustration > svg {
    width: 3rem;
    height: 3rem;
  }
  .navds-page-header__title {
    font-size: var(--navds-font-size-heading-xlarge);
  }
}
