.navds-pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--a-spacing-3);
}

.navds-pagination__ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--a-spacing-12);
  cursor: default;
}

.navds-pagination--small .navds-pagination__ellipsis {
  width: var(--a-spacing-8);
}

.navds-pagination--xsmall .navds-pagination__ellipsis {
  width: var(--a-spacing-6);
}

.navds-pagination__item {
  color: var(--ac-pagination-text, var(--a-text-default));
}

.navds-pagination--medium .navds-pagination__item {
  border-radius: var(--a-border-radius-medium);
}

.navds-pagination__item[aria-current="true"] {
  background-color: var(--ac-pagination-selected-bg, var(--a-surface-action-selected));
  color: var(--ac-pagination-selected-text, var(--a-text-on-action));
}

.navds-pagination__item[aria-current="true"]:focus {
  box-shadow: inset 0 0 0 1px var(--a-surface-default), var(--a-shadow-focus);
}

.navds-pagination__prev-next {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-1);
}

.navds-pagination--small .navds-pagination__prev-next:where(.navds-pagination--prev-next--with-text) {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.navds-pagination--xsmall .navds-pagination__prev-next:where(.navds-pagination--prev-next--with-text) {
  padding-left: var(--a-spacing-05);
  padding-right: var(--a-spacing-05);
}

.navds-pagination--invisible {
  visibility: hidden;
}
