:root {
  --navds-pagination-color-background-selected: var(
    --navds-semantic-color-interaction-primary-selected
  );
  --navds-pagination-color-text-selected: var(
    --navds-semantic-color-text-inverted
  );
}

.navds-pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--navds-spacing-3);
}

.navds-pagination__ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--navds-spacing-12);
  cursor: default;
}

.navds-pagination--small .navds-pagination__ellipsis {
  width: var(--navds-spacing-8);
}

.navds-pagination--xsmall .navds-pagination__ellipsis {
  width: var(--navds-spacing-6);
}

.navds-pagination__item {
  color: var(--navds-semantic-color-text);
}

.navds-pagination--medium .navds-pagination__item {
  border-radius: var(--navds-border-radius-medium);
}

.navds-pagination__item[aria-current="true"] {
  background-color: var(--navds-pagination-color-background-selected);
  color: var(--navds-pagination-color-text-selected);
}

.navds-pagination__item[aria-current="true"]:focus {
  box-shadow: inset 0 0 0 1px var(--navds-button-color-tertiary-border-active),
    var(--navds-shadow-focus);
}

.navds-pagination__prev-next {
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-1);
}

.navds-pagination--small
  .navds-pagination__prev-next:where(.navds-pagination--prev-next--with-text) {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.navds-pagination--xsmall
  .navds-pagination__prev-next:where(.navds-pagination--prev-next--with-text) {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.navds-pagination--invisible {
  visibility: hidden;
}
