.navds-progress-bar {
  position: relative;
  background: var(--a-surface-alt-3-subtle, #cce2f0);
  width: 500px;
  border-radius: 9999px;
  overflow: hidden;
}

.navds-progress-bar--small {
  height: 12px;
}

.navds-progress-bar--medium {
  height: 16px;
}

.navds-progress-bar--large {
  height: 24px;
}

.navds-progress-bar__progress {
  content: "";
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--a-surface-alt-3, #005b82);
  border-radius: inherit;
}

.navds-progress-bar--indeterminate {
  animation: navds-progress-bar-indeterminate 1.5s infinite linear;
}

/* navds-progress-bar-indeterminate wave animation */
@keyframes navds-progress-bar-indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

/* @keyframes navds-progress-bar-indeterminate {
  0% {
    left: -100%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
} */
