.navds-progress-bar {
  position: relative;
  background: var(--a-surface-alt-3-subtle);
  width: 100%;
  border-radius: var(--a-border-radius-full);
  overflow: hidden;
}

.navds-progress-bar--small {
  height: 12px;
  min-width: 12px;
}

.navds-progress-bar--medium {
  height: 16px;
  min-width: 16px;
}

.navds-progress-bar--large {
  height: 24px;
  min-width: 24px;
}

.navds-progress-bar__progress {
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--a-surface-alt-3);
  border-radius: inherit;
  transition: transform 100ms ease-in-out;
}

.navds-progress-bar__progress--indeterminate {
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-name: navds-progress-bar-indeterminate;
  animation-iteration-count: infinite;
  width: 50%;
}

/* navds-progress-bar-indeterminate wave animation */
@keyframes navds-progress-bar-indeterminate {
  0% {
    transform: translateX(-84%);
  }

  50% {
    transform: translateX(184%);
    animation-direction: reverse;
  }

  100% {
    transform: translateX(-84%);
  }
}
