.navds-progress-bar {
  position: relative;
  background: var(--a-surface-alt-3-subtle, #cce2f0);
  width: 100%;
  border-radius: 9999px;
  overflow: hidden;
}

.navds-progress-bar--small {
  height: 12px;
  min-width: 12px;
}

.navds-progress-bar--medium {
  height: 16px;
  min-width: 16px;
}

.navds-progress-bar--large {
  height: 24px;
  min-width: 24px;
}

.navds-progress-bar__progress {
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--a-surface-alt-3);
  border-radius: inherit;
  transition: transform 100ms ease-in-out;
}

.navds-progress-bar__progress--indeterminate {
  /* animation-timing-function: cubic-bezier(0.4, 0.1, 0.5, 0.9); */
  animation-timing-function: linear;
  animation-duration: 1.8s;
  animation-name: navds-progress-bar-indeterminate;
  animation-iteration-count: infinite;
}

/* navds-progress-bar-indeterminate wave animation */
@keyframes navds-progress-bar-indeterminate {
  0% {
    transform: translateX(-100%);
  }

  25% {
    transform: translateX(-45%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(45%);
  }

  100% {
    transform: translateX(100%);
  }
}

