.navds-read-more {
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-2);
  color: var(--navds-semantic-color-link);
  text-align: left;
}

.navds-read-more:hover {
  text-decoration: none;
}

.navds-read-more:focus {
  outline: none;
  color: var(--navds-link-color-text-focus);
  text-decoration: none;
  background-color: var(--navds-link-color-background-focus);
  box-shadow: 0 0 0 2px var(--navds-semantic-color-focus);
}

.navds-read-more__expand-icon {
  font-size: 1.25rem;
}

.navds-read-more--open > .navds-read-more__expand-icon {
  transform: rotate(180deg);
}

.navds-read-more + .ReactCollapse--collapse {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: var(--navds-spacing-2);
}

.navds-read-more__content {
  display: flex;
  align-items: stretch;
  gap: var(--navds-spacing-2);
}

.navds-read-more__content::before {
  content: "";
  display: block;
  width: 2px;
  background-color: var(--navds-semantic-color-border-muted);
  margin: 0 9px;
  flex-shrink: 0;
}
