.navds-read-more {
  cursor: pointer;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-2);
  color: var(--navds-semantic-color-link);
  border-radius: var(--navds-border-radius-small);
  padding: var(--navds-spacing-1) var(--navds-spacing-1) var(--navds-spacing-1)
    2px;
  text-align: start;
}

.navds-read-more--small {
  padding: 2px var(--navds-spacing-1) 2px 2px;
}

.navds-read-more:hover {
  background-color: rgba(38 38 38 / 0.06);
}

.navds-read-more:active {
  background-color: rgba(38 38 38 / 0.1);
}

.navds-read-more:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-read-more + .ReactCollapse--collapse {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: var(--navds-spacing-2);
}

.navds-read-more:not(.navds-read-more--open) + .ReactCollapse--collapse {
  padding: 0;
}

.navds-read-more__content {
  display: flex;
  align-items: stretch;
  gap: 10px;
  padding: 0 var(--navds-spacing-1);
}

.navds-read-more__content::before {
  content: "";
  display: block;
  width: 2px;
  background-color: rgba(38 38 38 / 0.36);
  margin: 0 7px;
  flex-shrink: 0;
}

.navds-read-more__expand-icon {
  font-size: 1.25rem;
  flex-shrink: 0;
}

.navds-read-more--open > .navds-read-more__expand-icon {
  transform: rotate(-180deg);
}

.navds-read-more__expand-icon--filled {
  display: none;
}

.navds-read-more:hover
  > .navds-read-more__expand-icon.navds-read-more__expand-icon--filled {
  display: inherit;
}

.navds-read-more:hover > .navds-read-more__expand-icon {
  display: none;
}
