.navds-read-more__button {
  cursor: pointer;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: flex-start;
  gap: var(--a-spacing-05);
  color: var(--ac-read-more-text, var(--a-text-action));
  border-radius: var(--a-border-radius-small);
  padding: var(--a-spacing-1) var(--a-spacing-1) var(--a-spacing-1) var(--a-spacing-05);
  text-align: start;
}

.navds-read-more--small .navds-read-more__button {
  padding: var(--a-spacing-05) var(--a-spacing-1) var(--a-spacing-05) var(--a-spacing-05);
}

.navds-read-more__button:hover {
  background-color: var(--ac-read-more-hover-bg, var(--a-surface-hover));
}

.navds-read-more__button:active {
  background-color: var(--ac-read-more-active-bg, var(--a-surface-active));
}

.navds-read-more__button:focus-visible {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

@supports not selector(:focus-visible) {
  .navds-read-more__button:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
  }
}

.navds-read-more__content {
  margin-top: var(--a-spacing-1);
  border-left: 2px solid var(--ac-read-more-line, var(--a-border-divider));
  margin-left: 0.8125rem;
  padding-left: 0.8125rem;
  color: var(--a-text-default);
}

.navds-read-more--small .navds-read-more__content {
  margin-left: 0.6875rem;
  padding-left: 0.6875rem;
}

.navds-read-more__content--closed {
  display: none;
}

.navds-read-more__expand-icon {
  font-size: 1.5rem;
  flex-shrink: 0;
}

.navds-read-more--small .navds-read-more__expand-icon {
  font-size: 1.25rem;
}

.navds-read-more__button:hover > .navds-read-more__expand-icon {
  transform: translateY(1px);
}

.navds-read-more--open > .navds-read-more__button > .navds-read-more__expand-icon {
  transform: rotate(-180deg);
}

.navds-read-more--open > .navds-read-more__button:hover > .navds-read-more__expand-icon {
  transform: translateY(-1px) rotate(-180deg);
}
