.navds-read-more__button {
  cursor: pointer;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: flex-start;
  gap: 0.125rem;
  color: var(--navds-semantic-color-link);
  border-radius: var(--navds-border-radius-small);
  padding: var(--navds-spacing-1) var(--navds-spacing-1) var(--navds-spacing-1) 2px;
  text-align: start;
}

.navds-read-more--small .navds-read-more__button {
  padding: 2px var(--navds-spacing-1) 2px 2px;
}

.navds-read-more__button:hover {
  background-color: rgba(38 38 38 / 0.06);
}

.navds-read-more__button:active {
  background-color: rgba(38 38 38 / 0.1);
}

.navds-read-more__button:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-read-more__content {
  margin-top: var(--navds-spacing-1);
  border-left: 2px solid rgba(38 38 38 / 0.36);
  margin-left: 11px;
  padding-left: 11px;
}

.navds-read-more__expand-icon {
  font-size: 1.25rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.navds-read-more--small .navds-read-more__expand-icon {
  height: 1.25rem;
}

.navds-read-more--open > .navds-read-more__button > .navds-read-more__expand-icon {
  transform: rotate(-180deg);
}

.navds-read-more__expand-icon--filled {
  display: none;
}

.navds-read-more__button:hover > .navds-read-more__expand-icon.navds-read-more__expand-icon--filled {
  display: inherit;
}

.navds-read-more__button:hover > .navds-read-more__expand-icon {
  display: none;
}
