:root {
  --navds-speech-bubble-color-background: var(
    --navds-semantic-color-canvas-background
  );
  --navds-speech-bubble-color-illustration: var(--navds-semantic-color-text);
  --navds-speech-bubble-color-illustration-background: var(
    --navds-semantic-color-canvas-background
  );
}

.navds-speech-bubble {
  display: flex;
  align-items: flex-end;
  gap: var(--navds-spacing-4);
}

.navds-speech-bubble--right {
  flex-direction: row-reverse;
}

.navds-speech-bubble__chat-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-3);
}

.navds-speech-bubble--right .navds-speech-bubble__chat-wrapper {
  align-items: flex-end;
}

.navds-speech-bubble__illustration {
  align-items: center;
  background: var(--navds-speech-bubble-color-illustration-background);
  color: var(--navds-speech-bubble-color-illustration);
  border-radius: var(--navds-border-radius-full);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
}

.navds-speech-bubble__illustration svg {
  align-self: center;
  height: 100%;
  width: 100%;
}

.navds-speech-bubble__chat {
  padding: 1rem;
  box-shadow: var(--navds-shadow-small);
  width: fit-content;
  max-width: 37.5rem;
  background-color: var(--navds-speech-bubble-color-background);
  border-radius: var(--navds-border-radius-xlarge);
  border-bottom-left-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-2);
}

.navds-speech-bubble__chat:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-speech-bubble--right .navds-speech-bubble__chat {
  border-radius: var(--navds-border-radius-xlarge);
  border-bottom-right-radius: 2px;
}

.navds-speech-bubble__top-text {
  color: var(--navds-semantic-color-text-muted);
  display: flex;
  gap: var(--navds-spacing-2);
}

.navds-speech-bubble--right .navds-speech-bubble__top-text {
  align-self: flex-end;
}

.navds-speech-bubble__sender {
  font-weight: var(--navds-font-weight-bold);
}
