:root {
  --navds-speechbubble-color-background: var(
    --navds-semantic-color-component-background-alternate
  );
  --navds-speechbubble-color-illustration: var(--navds-semantic-color-text);
  --navds-speechbubble-color-illustration-background: var(
    --navds-semantic-color-divider
  );
  --navds-speechbubble-color-detail-text: var(
    --navds-semantic-color-text-muted
  );
}

.navds-speechbubble {
  display: flex;
  align-items: flex-end;
  gap: var(--navds-spacing-4);
}

.navds-speechbubble--right {
  flex-direction: row-reverse;
}

.navds-speechbubble__bubble-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-3);
}

.navds-speechbubble--right .navds-speechbubble__bubble-list {
  align-items: flex-end;
}

.navds-speechbubble__illustration {
  align-items: center;
  background: var(--navds-speechbubble-color-illustration-background);
  color: var(--navds-speechbubble-color-illustration);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
}

.navds-speechbubble__illustration svg {
  align-self: center;
  height: 100%;
  width: 100%;
}

.navds-speechbubble__bubble {
  padding: 1rem;
  box-shadow: var(--navds-shadow-popover);
  width: fit-content;
  max-width: 37.5rem;
  background-color: var(--navds-speechbubble-color-background);
  border-radius: 12px;
  border-bottom-left-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-2);
}

.navds-speechbubble__bubble:focus {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-speechbubble--right .navds-speechbubble__bubble {
  border-radius: 12px;
  border-bottom-right-radius: 2px;
}

.navds-speechbubble__top-text {
  color: var(--navds-speechbubble-color-detail-text);
}

.navds-speechbubble--right .navds-speechbubble__top-text {
  align-self: flex-end;
}
