/* stylelint-disable csstools/value-no-unknown-custom-properties */
/* stylelint-disable aksel/design-token-exists */
.navds-stack {
  display: flex;
  align-items: var(--ac-stack-align);
  justify-content: var(--ac-stack-justify);
  flex-flow: var(--ac-stack-direction) var(--ac-stack-wrap);
}

.navds-vstack {
  --ac-vstack-gap-xs: initial;
  --ac-vstack-gap-sm: initial;
  --ac-vstack-gap-md: initial;
  --ac-vstack-gap-lg: initial;
  --ac-vstack-gap-xl: initial;
  --__ac-vstack-gap: var(--ac-vstack-gap-xs);

  gap: var(--__ac-vstack-gap);
}

.navds-hstack {
  --ac-hstack-gap-xs: initial;
  --ac-hstack-gap-sm: initial;
  --ac-hstack-gap-md: initial;
  --ac-hstack-gap-lg: initial;
  --ac-hstack-gap-xl: initial;
  --__ac-hstack-gap: var(--ac-hstack-gap-xs);

  gap: var(--__ac-hstack-gap);
}

.navds-stack__spacer {
  flex: 1;
  justify-self: stretch;
  align-self: stretch;
}

.navds-vstack > .navds-stack__spacer {
  margin-block-start: calc(var(--__ac-vstack-gap) * -1);
}

.navds-hstack > .navds-stack__spacer {
  margin-inline-start: calc(var(--__ac-vstack-gap) * -1);
}

@media (min-width: 480px) {
  .navds-vstack {
    --__ac-vstack-gap: var(--ac-vstack-gap-sm, var(--ac-vstack-gap-xs));
  }

  .navds-hstack {
    --__ac-hstack-gap: var(--ac-hstack-gap-sm, var(--ac-hstack-gap-xs));
  }
}

@media (min-width: 768px) {
  .navds-vstack {
    --__ac-vstack-gap: var(--ac-vstack-gap-md, var(--ac-vstack-gap-sm, var(--ac-vstack-gap-xs)));
  }

  .navds-hstack {
    --__ac-hstack-gap: var(--ac-hstack-gap-md, var(--ac-hstack-gap-sm, var(--ac-hstack-gap-xs)));
  }
}

@media (min-width: 1024px) {
  .navds-vstack {
    --__ac-vstack-gap: var(--ac-vstack-gap-lg, var(--ac-vstack-gap-md, var(--ac-vstack-gap-sm, var(--ac-vstack-gap-xs))));
  }

  .navds-hstack {
    --__ac-hstack-gap: var(--ac-hstack-gap-lg, var(--ac-hstack-gap-md, var(--ac-hstack-gap-sm, var(--ac-hstack-gap-xs))));
  }
}

@media (min-width: 1280px) {
  .navds-vstack {
    --__ac-vstack-gap: var(
      --ac-vstack-gap-xl,
      var(--ac-vstack-gap-lg, var(--ac-vstack-gap-md, var(--ac-vstack-gap-sm, var(--ac-vstack-gap-xs))))
    );
  }

  .navds-hstack {
    --__ac-hstack-gap: var(
      --ac-hstack-gap-xl,
      var(--ac-hstack-gap-lg, var(--ac-hstack-gap-md, var(--ac-hstack-gap-sm, var(--ac-hstack-gap-xs))))
    );
  }
}
