.navds-stepper {
  --navds-stepper-marker-size: 1.75rem;
  --navds-stepper-border-width: 2px;
  --navds-stepper-line-length: 1rem;

  color: var(--navds-semantic-color-interaction-primary);
  font-weight: 600;
  line-height: 1;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navds-stepper--horizontal {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.navds-stepper__item {
  display: grid;
  grid-template-rows:
    [line-1] auto
    [content-start marker] var(--navds-stepper-marker-size)
    [line-2] auto
    [content-end];
  grid-template-columns:
    [marker] var(--navds-stepper-marker-size)
    [content] auto;
  justify-items: flex-start;
  gap: 0.5rem;
}

.navds-stepper__line {
  background-color: var(--navds-semantic-color-border-muted);
  width: var(--navds-stepper-border-width);
  height: 100%;
  min-height: var(--navds-stepper-line-length);
  justify-self: center;
  grid-column: marker;
}

.navds-stepper__line--1 {
  grid-row: line-1;
  display: none;
}

.navds-stepper__line--2 {
  grid-row: line-2;
}

:where(.navds-stepper__item:last-of-type) .navds-stepper__line--2 {
  display: none;
}

.navds-stepper__step {
  display: contents;
}

button.navds-stepper__step {
  appearance: none;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
}

:where(.navds-stepper__step):focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
  isolation: isolate;
}

.navds-stepper__marker {
  grid-column: marker;
  grid-row: marker;
  display: inline-grid;
  place-items: center;
  flex-shrink: 0;
  width: var(--navds-stepper-marker-size);
  height: var(--navds-stepper-marker-size);
  border: var(--navds-stepper-border-width) solid currentColor;
  border-radius: var(--navds-border-radius-full);
  line-height: 1;
}

.navds-stepper__marker--success {
  border: none;
  background: none;
  font-size: 28px;
}

/* .navds-stepper__marker--success > svg {
} */

.navds-stepper__content {
  grid-column: content;
  grid-row: content;
  display: block;
  width: fit-content;
  max-width: 44ch;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* Horizontal */
:where(.navds-stepper--horizontal) .navds-stepper__item {
  flex: 1 1 100%;
  grid-template-columns:
    [line-1-start] minmax(0.5rem, 1fr)
    [content-start] auto
    [line-1-end marker] var(--navds-stepper-marker-size)
    [line-2-start] auto
    [content-end] minmax(0.5rem, 1fr)
    [line-2-end];
  grid-template-rows:
    [marker] var(--navds-stepper-marker-size)
    [content] auto;
}

:where(.navds-stepper--horizontal) .navds-stepper__line {
  height: var(--navds-stepper-border-width);
  width: 100%;
  min-height: auto;
  grid-row: 1;
  display: block;
  align-self: center;
}

:where(.navds-stepper--horizontal) .navds-stepper__line--1 {
  grid-column: line-1;
}

:where(.navds-stepper--horizontal) .navds-stepper__line--2 {
  grid-column: line-2;
}

:where(.navds-stepper--horizontal .navds-stepper__item:first-of-type)
  .navds-stepper__line--1,
:where(.navds-stepper--horizontal .navds-stepper__item:last-of-type)
  .navds-stepper__line--2 {
  visibility: hidden;
}

:where(.navds-stepper--horizontal) .navds-stepper__marker {
  grid-column: marker;
  grid-row: marker;
}

:where(.navds-stepper--horizontal) .navds-stepper__content {
  grid-row: content;
  grid-column: content;
  max-width: 24ch;
}

/* Active step */
:where(.navds-stepper__step--active) .navds-stepper__content {
  color: var(--navds-semantic-color-interaction-primary-selected);
}

:where(.navds-stepper__step:not(.navds-stepper__step--active):hover)
  .navds-stepper__content {
  text-decoration: underline;
}

:where(.navds-stepper__step--active) .navds-stepper__marker {
  background-color: var(--navds-semantic-color-interaction-primary-selected);
  border-color: var(--navds-semantic-color-interaction-primary-selected);
  color: var(--navds-semantic-color-text-inverted);
}

:where(.navds-stepper__step:not(.navds-stepper__step--active):hover)
  .navds-stepper__marker {
  background-color: var(
    --navds-semantic-color-interaction-primary-hover-subtle
  );
}
