:root {
  --navds-step-indicator-color-step-line: var(--navds-semantic-color-divider);
  --navds-step-indicator-color-step-text: var(--navds-semantic-color-text);
  --navds-step-indicator-color-step-label: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-step-indicator-color-step-number-background: var(
    --navds-semantic-color-canvas-background-light
  );
  --navds-step-indicator-color-step-number-shadow: var(
    --navds-semantic-color-border
  );
  --navds-step-indicator-color-step-number-shadow-active: var(
    --navds-semantic-color-interaction-primary-selected
  );
  --navds-step-indicator-color-step-number-shadow-hover: var(
    --navds-semantic-color-interaction-primary
  );
  --navds-step-indicator-color-step-number-background-active: var(
    --navds-semantic-color-interaction-primary-selected
  );
  --navds-step-indicator-color-step-number-text-active: var(
    --navds-semantic-color-text-inverted
  );
  --navds-step-indicator-color-step-number-shadow-inset: var(
    --navds-semantic-color-component-background-light
  );
}

/* StepIndicator */
.navds-step-indicator {
  display: flex;
  align-items: flex-start;
}

/* Step */
.navds-step-indicator__step-wrapper {
  padding: 0 var(--navds-spacing-2);
  flex: 1;
  position: relative;
  list-style: none;
}

.navds-step-indicator__step {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--navds-spacing-4);
  background: none;
  border: none;
  appearance: none;
  width: 100%;
  flex-shrink: 1;
  color: var(--navds-step-indicator-color-step-text);
  text-decoration: none;
  cursor: pointer;
}

.navds-step-indicator__step-number {
  flex-shrink: 0;
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px var(--navds-step-indicator-color-step-number-shadow);
  background-color: var(--navds-step-indicator-color-step-number-background);
}

.navds-step-indicator__step-wrapper:first-child
  > .navds-step-indicator__step
  > .navds-step-indicator__step-number {
  padding-right: 0;
}

.navds-step-indicator__step-wrapper:last-child
  > .navds-step-indicator__step
  > .navds-step-indicator__step-number {
  padding-left: 0;
}

.navds-step-indicator__step-label {
  width: 100%;
  margin-top: var(--navds-spacing-4);
  text-align: center;
  color: var(--navds-step-indicator-color-step-label);
  text-decoration: underline;
}

.navds-step-indicator__step-line {
  flex: 1 1 100%;
  position: absolute;
  top: 1.5rem;
  right: calc(50% + 2rem);
  left: calc(-50% + 2rem);
  display: block;
  border: 1px solid var(--navds-step-indicator-color-step-line);
  border-radius: 4px;
  pointer-events: none;
}

.navds-step-indicator__step--active > .navds-step-indicator__step-label {
  color: var(--navds-step-indicator-color-step-text);
  font-weight: bold;
}

.navds-step-indicator__step--active > .navds-step-indicator__step-number {
  background-color: var(
    --navds-step-indicator-color-step-number-background-active
  );
  color: var(--navds-step-indicator-color-step-number-text-active);
  box-shadow: 0 0 0 1px
    var(--navds-step-indicator-color-step-number-shadow-active);
}

.navds-step-indicator__step:focus {
  outline: none;
}

.navds-step-indicator__step:hover > .navds-step-indicator__step-label {
  text-decoration: none;
}

.navds-step-indicator__step.navds-step-indicator__step--disabled:hover
  > .navds-step-indicator__step-label {
  text-decoration: underline;
}

.navds-step-indicator__step--active > .navds-step-indicator__step-label,
.navds-step-indicator__step--active.navds-step-indicator__step--disabled:hover
  > .navds-step-indicator__step-label {
  text-decoration: none;
}

.navds-step-indicator__step:hover > .navds-step-indicator__step-number {
  background: var(--navds-semantic-color-canvas-background-light);
  box-shadow: 0 0 0 2px
    var(--navds-step-indicator-color-step-number-shadow-hover);
}

.navds-step-indicator__step--active:hover > .navds-step-indicator__step-number {
  background-color: var(
    --navds-step-indicator-color-step-number-background-active
  );
  color: var(--navds-step-indicator-color-step-number-text-active);
  box-shadow: 0 0 0 1px
    var(--navds-step-indicator-color-step-number-shadow-active);
}

.navds-step-indicator__step:focus > .navds-step-indicator__step-number {
  box-shadow: var(--navds-shadow-focus);
  outline: none;
}

.navds-step-indicator__step--active:focus > .navds-step-indicator__step-number {
  box-shadow: 0 0 0 1px inset
      var(--navds-step-indicator-color-step-number-shadow-inset),
    var(--navds-shadow-focus);
}

.navds-step-indicator__step--disabled:hover
  > .navds-step-indicator__step-number {
  box-shadow: 0 0 0 1px var(--navds-step-indicator-color-step-number-shadow);
}

.navds-step-indicator__step--disabled.navds-step-indicator__step--active:disabled
  > .navds-step-indicator__step-number {
  box-shadow: 0 0 0 1px
    var(--navds-step-indicator-color-step-number-shadow-active);
}

/* Finished state */
.navds-step-indicator__step--finished > .navds-step-indicator__step-number,
.navds-step-indicator__step--finished.navds-step-indicator__step--disabled
  > .navds-step-indicator__step-number {
  background: var(--navds-semantic-color-canvas-background);
}

/* Disabled */
.navds-step-indicator__step--disabled > .navds-step-indicator__step-number,
.navds-step-indicator__step--disabled > .navds-step-indicator__step-label {
  opacity: 0.3;
  cursor: not-allowed;
}
