.navds-table {
  width: 100%;
  border-collapse: collapse;
  display: table;
}

.navds-table.navds-table--sticky-header {
  border-collapse: separate;
  border-spacing: 0;
}

.navds-table__header {
  display: table-header-group;
}

.navds-table--sticky-header .navds-table__header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--a-surface-default);
  box-sizing: border-box;
}

.navds-table__body {
  display: table-row-group;
}

.navds-table__row {
  display: table-row;
}

.navds-table__row[data-interactive="true"]:hover {
  cursor: pointer;
}

.navds-table__body .navds-table__row--shade-on-hover:hover {
  background-color: var(--ac-table-row-hover, var(--a-bg-subtle));
}

.navds-table__row--selected {
  background-color: var(--ac-table-row-selected, var(--a-surface-action-subtle));
  box-shadow:
    inset 1px 0 0 0 var(--a-border-action),
    inset -1px 0 0 0 var(--a-border-action);
}

.navds-table__row--selected:first-of-type {
  box-shadow:
    inset 1px 0 0 0 var(--a-border-action),
    inset -1px 0 0 0 var(--a-border-action),
    inset 0 1px 0 0 var(--a-border-action);
}

.navds-table__row--selected :is(.navds-table__header-cell, .navds-table__data-cell) {
  border-color: var(--a-border-action);
}

.navds-table__row--selected + .navds-table__expanded-row {
  box-shadow:
    inset 1px 0 0 0 var(--a-border-action),
    inset -1px 0 0 0 var(--a-border-action);
}

.navds-table__row:has(+ .navds-table__row--selected) :is(.navds-table__header-cell, .navds-table__data-cell) {
  border-color: var(--a-border-action);
}

.navds-table__row--selected.navds-table__expandable-row--open :is(.navds-table__header-cell, .navds-table__data-cell) {
  border-color: transparent;
}

.navds-table__row--selected + .navds-table__expanded-row .navds-table__expanded-row-collapse {
  border-color: var(--a-border-action);
}

.navds-table__body .navds-table__row--shade-on-hover.navds-table__row--selected:hover {
  background-color: var(--ac-table-row-selected-hover, var(--a-surface-action-subtle-hover));
}

.navds-table--zebra-stripes .navds-table__body :where(.navds-table__row:nth-child(odd):not(.navds-table__row--selected)) {
  background-color: var(--ac-table-row-zebra, var(--a-surface-subtle));
}

.navds-table--zebra-stripes
  .navds-table__body
  :where(.navds-table__expandable-row:nth-child(4n + 1):not(.navds-table__row--selected)) {
  background-color: transparent;
}

.navds-table--zebra-stripes .navds-table__body .navds-table__expanded-row:nth-child(4n) {
  background-color: var(--ac-table-row-zebra, var(--a-surface-subtle));
}

.navds-table__header-cell,
.navds-table__data-cell {
  display: table-cell;
  padding: var(--a-spacing-3) var(--a-spacing-2);
  border-bottom: 1px solid var(--ac-table-row-border, var(--a-border-default));
  text-align: left;
}

.navds-table__header .navds-table__header-cell,
.navds-table__header .navds-table__data-cell {
  border-bottom-width: 2px;
}

.navds-table__header-cell--align-right,
.navds-table__data-cell--align-right {
  text-align: right;
}

.navds-table__header-cell--align-center,
.navds-table__data-cell--align-center {
  text-align: center;
}

:where(.navds-table__body .navds-table__row--shade-on-hover:hover) .navds-table__header-cell,
:where(.navds-table__body .navds-table__row--shade-on-hover:hover) .navds-table__data-cell {
  border-color: var(--ac-table-cell-hover-border, var(--a-border-strong));
}

:where(.navds-table__expandable-row--open:hover) .navds-table__data-cell {
  border-bottom-color: transparent;
}

.navds-table--large .navds-table__header-cell,
.navds-table--large .navds-table__data-cell {
  padding: var(--a-spacing-4) var(--a-spacing-2);
}

.navds-table--small .navds-table__header-cell,
.navds-table--small .navds-table__data-cell {
  padding: var(--a-spacing-1) var(--a-spacing-2);
}

.navds-table :not(.navds-checkboxes) > .navds-checkbox .navds-checkbox__input {
  top: -0.75rem;
}

.navds-table :not(.navds-checkboxes) > .navds-checkbox--small .navds-checkbox__input {
  top: -0.375rem;
}

.navds-table :not(.navds-checkboxes) > .navds-checkbox .navds-checkbox__label {
  padding: 0;
}

.navds-table :not(.navds-checkboxes) > .navds-checkbox .navds-checkbox__input:indeterminate + .navds-checkbox__label::after {
  top: var(--a-spacing-3);
}

.navds-table
  :not(.navds-checkboxes)
  > .navds-checkbox--small
  .navds-checkbox__input:indeterminate
  + .navds-checkbox__label::after {
  top: 0.6rem;
}

.navds-table__header-cell[aria-sort] {
  padding: 0;
}

.navds-table__sort-button {
  appearance: none;
  background: none;
  color: var(--ac-table-sort-button-text, var(--a-text-action));
  border: none;
  cursor: pointer;
  margin: 0;
  padding: var(--a-spacing-4) var(--a-spacing-3);
  width: 100%;
  display: flex;
  gap: var(--a-spacing-1);
  align-items: center;
  line-height: inherit;
  font-weight: inherit;
  text-align: inherit;
}

.navds-table--small .navds-table__sort-button {
  padding: var(--a-spacing-2) var(--a-spacing-3);
}

.navds-table__sort-button:hover {
  background-color: var(--ac-table-sort-button-hover-bg, var(--a-bg-subtle));
}

.navds-table__sort-button:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
  .navds-table__sort-button:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--a-border-focus);
  }
}

.navds-table__header-cell[aria-sort="ascending"] .navds-table__sort-button,
.navds-table__header-cell[aria-sort="descending"] .navds-table__sort-button {
  background-color: var(--ac-table-sort-button-sorted-bg, var(--a-surface-selected));
  color: var(--ac-table-sort-button-sorted-text, var(--a-table-sort-button-sorted-text, var(--a-text-action-on-action-subtle)));
}

.navds-table__header-cell--align-right .navds-table__sort-button {
  justify-content: flex-end;
}

.navds-table__header-cell--align-center .navds-table__sort-button {
  justify-content: center;
}

.navds-table__sort-button svg {
  font-size: 1.5rem;
  flex-shrink: 0;
}

.navds-table__expandable-row:not(.navds-table__expandable-row--open) :where(.navds-table__data-cell, .navds-table__header-cell) {
  transition: border-bottom-color 190ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.navds-table__expandable-row.navds-table__expandable-row--clickable:not(.navds-table__expandable-row--expansion-disabled):hover {
  cursor: pointer;
}

.navds-table__expandable-row--open :where(.navds-table__data-cell, .navds-table__header-cell) {
  border-bottom-color: transparent;
}

.navds-table__expandable-row--open .navds-table__toggle-expand-cell--open {
  border-color: transparent;
}

.navds-table__toggle-expand-cell {
  padding: 0;
  width: 3rem;
}

.navds-table--large .navds-table__toggle-expand-cell {
  padding: 0 var(--a-spacing-2);
}

.navds-table--small .navds-table__toggle-expand-cell {
  padding: var(--a-spacing-1) var(--a-spacing-2);
}

.navds-table__toggle-expand-button {
  display: grid;
  place-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: var(--a-border-radius-medium);
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

.navds-table__expandable-icon {
  transition: transform 150ms ease-in-out;
}

.navds-table__expandable-row:not(.navds-table__expandable-row--expansion-disabled) .navds-table__toggle-expand-cell:hover {
  cursor: pointer;
}

.navds-table__toggle-expand-button:hover,
.navds-table__toggle-expand-cell:hover > .navds-table__toggle-expand-button,
.navds-table__expandable-row--clickable:hover .navds-table__toggle-expand-button {
  background-color: var(--a-surface-hover);
}

.navds-table__toggle-expand-cell--open > :where(.navds-table__toggle-expand-button) :where(.navds-table__expandable-icon) {
  transform: translateY(0) rotate(180deg);
}

.navds-table__toggle-expand-button:hover > :where(.navds-table__expandable-icon) {
  transform: translateY(1px);
}

.navds-table__toggle-expand-cell--open > .navds-table__toggle-expand-button:hover > :where(.navds-table__expandable-icon) {
  transform: translateY(-1px) rotate(180deg);
}

.navds-table__toggle-expand-button:focus-visible {
  outline: none;
  box-shadow: var(--a-shadow-focus);
}

@supports not selector(:focus-visible) {
  .navds-table__toggle-expand-button:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
  }
}

.navds-table__expanded-row-cell {
  padding: 0;
}

.navds-table__expanded-row-cell:empty {
  display: none;
}

.navds-table__expanded-row-collapse:not([style*="height: 0px;"]) {
  border-bottom: 1px solid var(--ac-table-row-border, var(--a-border-default));
}

.navds-table__expanded-row:has(+ .navds-table__row--selected) .navds-table__expanded-row-collapse {
  border-color: var(--a-border-action);
}

.navds-table__expanded-row-content {
  --__ac-table-expanded-row-pi: calc(var(--a-spacing-2) + 3rem);

  padding-block: var(--a-spacing-4);
}

.navds-table--small .navds-table__expanded-row-content {
  padding-block: var(--a-spacing-2);
}

.navds-table__expanded-row-content--gutter-both {
  padding-inline: var(--__ac-table-expanded-row-pi);
}

.navds-table__expanded-row-content--gutter-left {
  padding-inline: var(--__ac-table-expanded-row-pi) var(--a-spacing-2);
}

.navds-table__expanded-row-content--gutter-right {
  padding-inline: var(--a-spacing-2) var(--__ac-table-expanded-row-pi);
}

.navds-table__expanded-row-content--gutter-none {
  padding-inline: var(--a-spacing-2);
}

@media (forced-colors: active) {
  .navds-date.navds-date button.rdp-day_selected {
    forced-color-adjust: none;
    background-color: highlight;
    color: highlighttext;
    box-shadow: none;
  }

  .navds-date.navds-date button {
    color: buttontext;
    forced-color-adjust: none;
    outline: none;
    box-shadow: none;
  }

  .navds-date button:focus-visible {
    color: buttontext;
    forced-color-adjust: none;
    outline: 2px solid highlight;
  }

  .navds-date.navds-date button.rdp-day_disabled {
    color: GrayText;
  }
}
