:root {
  --navds-table-cell-color-border: var(--navds-semantic-color-border-muted);
  --navds-table-row-color-background-hover: var(
    --navds-semantic-color-canvas-background
  );
  --navds-table-row-color-background-selected: var(
    --navds-semantic-color-interaction-primary-hover-subtle
  );
  --navds-table-row-color-background-selected-hover: var(
    --navds-global-color-blue-100
  );
  --navds-table-row-color-background-zebra: var(
    --navds-semantic-color-component-background-alternate
  );
  --navds-table-cell-color-border-hover: var(--navds-semantic-color-border);
}

.navds-table {
  width: 100%;
  border-collapse: collapse;
  display: table;
}

.navds-table__header {
  display: table-header-group;
}

.navds-table__body {
  display: table-row-group;
}

.navds-table__row {
  display: table-row;
}

.navds-table__body .navds-table__row:hover {
  background-color: var(--navds-table-row-color-background-hover);
}

.navds-table__row--selected {
  background-color: var(--navds-table-row-color-background-selected);
}

.navds-table__body .navds-table__row--selected:hover {
  background-color: var(--navds-table-row-color-background-selected-hover);
}

.navds-table--zebra-stripes
  .navds-table__body
  .navds-table__row:nth-of-type(odd):not(:hover):not(.navds-table__row--selected) {
  background-color: var(--navds-table-row-color-background-zebra);
}

.navds-table__header-cell,
.navds-table__data-cell {
  display: table-cell;
  padding: var(--navds-spacing-4) var(--navds-spacing-3);
  border-bottom: 1px solid var(--navds-table-cell-color-border);
  text-align: left;
}

.navds-table__header-cell--align-right,
.navds-table__data-cell--align-right {
  text-align: right;
}

.navds-table__header-cell--align-center,
.navds-table__data-cell--align-center {
  text-align: center;
}

.navds-table__body .navds-table__row:hover .navds-table__header-cell,
.navds-table__body .navds-table__row:hover .navds-table__data-cell {
  border-color: var(--navds-table-cell-color-border-hover);
}

.navds-table--small .navds-table__header-cell,
.navds-table--small .navds-table__data-cell {
  padding: var(--navds-spacing-2) var(--navds-spacing-3);
}

.navds-table .navds-checkbox .navds-checkbox__input {
  top: -12px;
}

.navds-table .navds-checkbox--small .navds-checkbox__input {
  top: -6px;
}

.navds-table .navds-checkbox .navds-checkbox__label {
  padding: 0;
}

.navds-table__header-cell[aria-sort] {
  padding: 0;
}

.navds-table__sort-button {
  appearance: none;
  background: none;
  color: var(--navds-semantic-color-link);
  border: none;
  cursor: pointer;
  margin: 0;
  padding: var(--navds-spacing-4) var(--navds-spacing-3);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: inherit;
  font-weight: inherit;
}

.navds-table--small .navds-table__sort-button {
  padding: var(--navds-spacing-2) var(--navds-spacing-3);
}

.navds-table__sort-button:hover {
  background-color: var(--navds-semantic-color-canvas-background);
}

.navds-table__sort-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--navds-semantic-color-focus);
}

.navds-table__header-cell[aria-sort="ascending"] .navds-table__sort-button,
.navds-table__header-cell[aria-sort="descending"] .navds-table__sort-button {
  background-color: var(--navds-global-color-blue-50);
}

.navds-table__header-cell--align-right .navds-table__sort-button {
  justify-content: end;
}

.navds-table__header-cell--align-center .navds-table__sort-button {
  justify-content: center;
}

.navds-table__sort-button svg {
  font-size: 1rem;
  flex-shrink: 0;
}

.navds-table__expandable-button {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--navds-spacing-1);
  margin: -1px 0;
}

.navds-table__expandable-button:focus {
  box-shadow: var(--navds-shadow-focus);
}

.navds-table__expandable-button:hover .navds-table__expandable-icon,
.navds-table__expandable-icon--filled {
  display: none;
}

.navds-table__expandable-button:hover .navds-table__expandable-icon--filled {
  display: block;
}

.navds-table__expandable-icon--open {
  transform: rotate(180deg);
}
.navds-table__expandable-row > td {
  padding: var(--navds-spacing-4) var(--navds-spacing-4) var(--navds-spacing-6)
    var(--navds-spacing-16);
  border-bottom: 1px solid var(--navds-table-cell-color-border);
}

.navds-table__expandable-row {
  display: none;
}

.navds-table__expandable-row--open {
  display: table-row;
}

.navds-table__expandable-cell--open {
  border: none;
}
