:root {
  --navds-table-cell-color-border: var(--navds-semantic-color-border-muted);
}

.navds-table {
  border-collapse: collapse;
  width: 100%;
  display: table;
}

.navds-table__header {
  display: table-header-group;
}

.navds-table__body {
  display: table-row-group;
}

.navds-table__row {
  display: table-row;
}

.navds-table__body .navds-table__row:hover {
  background-color: var(--navds-semantic-color-canvas-background-default);
}

.navds-table__row--selected {
  background-color: #e6f0ff;
}

.navds-table__body .navds-table__row--selected:hover {
  background-color: #cce1ff;
}

.navds-table--zebra-stripes
  .navds-table__body
  .navds-table__row:nth-of-type(odd):not(:hover) {
  background-color: var(--navds-semantic-color-component-background-alternate);
}

.navds-table__header-cell,
.navds-table__data-cell {
  display: table-cell;
  padding: var(--navds-spacing-4);
  border-bottom: 1px solid var(--navds-table-cell-color-border);
  text-align: left;
}

.navds-table__body .navds-table__row:hover .navds-table__header-cell,
.navds-table__body .navds-table__row:hover .navds-table__data-cell {
  border-color: var(--navds-global-color-gray-600);
}

.navds-table--small .navds-table__header-cell,
.navds-table--small .navds-table__data-cell {
  padding: var(--navds-spacing-2);
}

.navds-table .navds-checkbox .navds-checkbox__input {
  top: -12px;
}

.navds-table .navds-checkbox--small .navds-checkbox__input {
  top: -6px;
}

.navds-table .navds-checkbox .navds-checkbox__label {
  padding: 0;
}
