.navds-tabs__tablist-wrapper {
  box-shadow: inset 0 -1px 0 0 var(--ac-tabs-border, var(--a-border-divider));
  width: 100%;
  display: flex;
}

.navds-tabs__tablist {
  display: flex;
  max-width: 100%;
  width: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
}

.navds-tabs__tablist::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.navds-tabs__scroll-button {
  padding: var(--a-spacing-3) var(--a-spacing-4);
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navds-tabs__scroll-button--hidden {
  visibility: hidden;
}

.navds-tabs__scroll-button svg {
  font-size: 1.25rem;
  flex-shrink: 0;
}

.navds-tabs--small .navds-tabs__scroll-button {
  padding: var(--a-spacing-1-alt) var(--a-spacing-4);
  width: 2rem;
}

.navds-tabs__tab {
  min-height: 3rem;
  padding: var(--a-spacing-3) var(--a-spacing-4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--ac-tabs-text, var(--a-text-default));
  cursor: pointer;
}

.navds-tabs__tab:hover {
  box-shadow: inset 0 -3px 0 0 var(--ac-tabs-hover-border, var(--a-border-subtle-hover));
}

.navds-tabs__tab[aria-selected="true"] {
  box-shadow: inset 0 -3px 0 0 var(--ac-tabs-selected-border, var(--a-border-action-selected));
  color: var(--ac-tabs-selected-text, var(--a-text-default));
}

.navds-tabs__tab:focus-visible {
  outline: 2px solid transparent;
  outline-offset: -2px;
  box-shadow: inset var(--a-shadow-focus);
  color: var(--ac-tabs-focus-text, var(--a-text-default));
}

@supports not selector(:focus-visible) {
  .navds-tabs__tab:focus {
    outline: 2px solid transparent;
    box-shadow: inset var(--a-shadow-focus);
    color: var(--ac-tabs-focus-text, var(--a-text-default));
  }
}

.navds-tabs__tab-inner {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-1);
}

.navds-tabs__tab-inner > * {
  display: inline-flex;
}

.navds-tabs__tab-inner svg {
  flex-shrink: 0;
}

.navds-tabs__tab-icon--top > .navds-tabs__tab-inner {
  flex-direction: column;
  gap: 0;
}

.navds-tabs__tab--small {
  min-height: 2rem;
  padding: var(--a-spacing-1-alt) var(--a-spacing-4);
}

.navds-tabs__tab-icon--top,
.navds-tabs__tab--small.navds-tabs__tab-icon--top {
  padding: var(--a-spacing-1) var(--a-spacing-4);
}

.navds-tabs__tab svg,
.navds-tabs__tab--small.navds-tabs__tab--icon-only svg,
.navds-tabs__tab--small.navds-tabs__tab-icon--top svg {
  font-size: 1.25rem;
}

.navds-tabs__tab--small svg {
  font-size: 1rem;
}

.navds-tabs__tab--icon-only svg,
.navds-tabs__tab-icon--top svg {
  font-size: 1.5rem;
}

.navds-tabs__tab--fill {
  flex: 1 1 100%;
}

.navds-tabs__tabpanel:focus-visible {
  outline: 2px solid transparent;
  box-shadow: inset 0 0 0 2px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
  .navds-tabs__tabpanel:focus {
    outline: 2px solid transparent;
    box-shadow: inset 0 0 0 2px var(--a-border-focus);
  }
}

@media (forced-colors: active) {
  .navds-tabs__tab[aria-selected="true"] {
    border-bottom: 3px solid canvastext;
    padding-block-end: calc(var(--a-spacing-3) - 3px);
  }

  .navds-tabs__tab--small[aria-selected="true"] {
    padding-block-end: calc(var(--a-spacing-1-alt) - 3px);
  }

  .navds-tabs__tab-icon--top[aria-selected="true"],
  .navds-tabs__tab--small.navds-tabs__tab-icon--top[aria-selected="true"] {
    padding-block-end: calc(var(--a-spacing-1) - 3px);
  }
}
