.navds-tabs__tablist-wrapper {
  box-shadow: inset 0 -1px 0 0 var(--navds-global-color-gray-300);
  width: 100%;
  display: flex;
}

.navds-tabs__tablist {
  display: flex;
  max-width: 100%;
  width: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
}

.navds-tabs__tablist::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.navds-tabs__scroll-button {
  padding: var(--navds-spacing-3) var(--navds-spacing-4);
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navds-tabs__scroll-button--hidden {
  visibility: hidden;
}

.navds-tabs__scroll-button svg {
  font-size: 1.25rem;
  flex-shrink: 0;
}

.navds-tabs--small .navds-tabs__scroll-button {
  padding: 0.375rem var(--navds-spacing-4);
  width: 32px;
}

.navds-tabs__tab {
  min-height: 48px;
  padding: var(--navds-spacing-3) var(--navds-spacing-4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--navds-semantic-color-text-muted);
  cursor: pointer;
}

.navds-tabs__tab:hover {
  box-shadow: inset 0 -3px 0 0 var(--navds-global-color-gray-300);
}

.navds-tabs__tab[aria-selected="true"] {
  box-shadow: inset 0 -3px 0 0 var(--navds-semantic-color-interaction-primary);
  color: var(--navds-semantic-color-text);
}

.navds-tabs__tab:focus {
  outline: none;
  box-shadow: inset var(--navds-shadow-focus);
  color: var(--navds-semantic-color-text);
}

.navds-tabs__tab-inner {
  display: flex;
  align-items: center;
  gap: var(--navds-spacing-1);
}

.navds-tabs__tab-inner svg {
  flex-shrink: 0;
}

.navds-tabs__tab-icon--top > .navds-tabs__tab-inner {
  flex-direction: column;
  gap: 0;
}

.navds-tabs__tab--small {
  min-height: 32px;
  padding: 0.375rem var(--navds-spacing-4);
}

.navds-tabs__tab-icon--top,
.navds-tabs__tab--small.navds-tabs__tab-icon--top {
  padding: var(--navds-spacing-1) var(--navds-spacing-4);
}

.navds-tabs__tab svg,
.navds-tabs__tab--small.navds-tabs__tab--icon-only svg,
.navds-tabs__tab--small.navds-tabs__tab-icon--top svg {
  font-size: 1.25rem;
}

.navds-tabs__tab--small svg {
  font-size: 1rem;
}

.navds-tabs__tab--icon-only svg,
.navds-tabs__tab-icon--top svg {
  font-size: 1.5rem;
}

.navds-tabs__tabpanel:focus {
  outline: none;
}
