:root,
:host {
  --navds-tag-color-border: var(--navds-semantic-color-border-muted);
  --navds-tag-color-background: var(--navds-semantic-color-component-background-alternate);
  --navds-tag-color-info-background: var(--navds-semantic-color-feedback-info-background);
  --navds-tag-color-info-border: var(--navds-semantic-color-feedback-info-border);
  --navds-tag-color-warning-background: var(--navds-semantic-color-feedback-warning-background);
  --navds-tag-color-warning-border: var(--navds-semantic-color-feedback-warning-border);
  --navds-tag-color-success-background: var(--navds-semantic-color-feedback-success-background);
  --navds-tag-color-success-border: var(--navds-semantic-color-feedback-success-border);
  --navds-tag-color-error-background: var(--navds-semantic-color-feedback-danger-background);
  --navds-tag-color-error-border: var(--navds-semantic-color-feedback-danger-border);
}

.navds-tag {
  border: 1px solid;
  border-color: var(--navds-tag-color-border);
  border-radius: var(--navds-border-radius-medium);
  background-color: var(--navds-tag-color-background);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem var(--navds-spacing-3);
  min-height: 32px;
}

.navds-tag--small {
  min-height: 24px;
  padding-right: var(--navds-spacing-1);
  padding-left: var(--navds-spacing-1);
}

.navds-tag--error {
  background-color: var(--navds-tag-color-error-background);
  border-color: var(--navds-tag-color-error-border);
}

.navds-tag--success {
  background-color: var(--navds-tag-color-success-background);
  border-color: var(--navds-tag-color-success-border);
}

.navds-tag--warning {
  background-color: var(--navds-tag-color-warning-background);
  border-color: var(--navds-tag-color-warning-border);
}

.navds-tag--info {
  background-color: var(--navds-tag-color-info-background);
  border-color: var(--navds-tag-color-info-border);
}
