.navds-tag {
  border: 1px solid;
  border-radius: var(--a-border-radius-small);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem var(--a-spacing-2);
  min-height: 32px;
  line-height: 1;
}

.navds-tag--small {
  min-height: 24px;
  padding: 0 0.375rem;
}

.navds-tag--xsmall {
  min-height: 20px;
  padding: 0 var(--a-spacing-1);
}

.navds-tag--error {
  border-color: var(--ac-tag-error-border, var(--a-red-500));
  background-color: var(--ac-tag-error-bg, var(--a-red-50));
  color: var(--ac-tag-error-text, var(--a-gray-900));
}

.navds-tag--error-filled {
  border-color: transparent;
  background-color: var(--ac-tag-error-filled-bg, var(--a-red-500));
  color: var(--ac-tag-error-filled-text, var(--a-white));
}

.navds-tag--success {
  border-color: var(--ac-tag-success-border, var(--a-green-500));
  background-color: var(--ac-tag-success-bg, var(--a-green-50));
  color: var(--ac-tag-success-text, var(--a-gray-900));
}

.navds-tag--success-filled {
  border-color: transparent;
  background-color: var(--ac-tag-success-filled-bg, var(--a-green-500));
  color: var(--ac-tag-success-filled-text, var(--a-white));
}

.navds-tag--warning {
  border-color: var(--ac-tag-warning-border, var(--a-orange-600));
  background-color: var(--ac-tag-warning-bg, var(--a-orange-50));
  color: var(--ac-tag-warning-text, var(--a-gray-900));
}

.navds-tag--warning-filled {
  border-color: transparent;
  background-color: var(--ac-tag-warning-filled-bg, var(--a-orange-500));
  color: var(--ac-tag-warning-filled-text, var(--a-gray-900));
}

.navds-tag--info {
  border-color: var(--ac-tag-info-border, var(--a-lightblue-700));
  background-color: var(--ac-tag-info-bg, var(--a-lightblue-50));
  color: var(--ac-tag-info-text, var(--a-gray-900));
}

.navds-tag--info-filled {
  border-color: transparent;
  background-color: var(--ac-tag-info-filled-bg, var(--a-lightblue-500));
  color: var(--ac-tag-info-filled-text, var(--a-gray-900));
}

.navds-tag--neutral {
  border-color: var(--ac-tag-neutral-border, var(--a-gray-500));
  background-color: var(--ac-tag-neutral-bg, var(--a-gray-100));
  color: var(--ac-tag-neutral-text, var(--a-gray-900));
}

.navds-tag--neutral-filled {
  border-color: transparent;
  background-color: var(--ac-tag-neutral-filled-bg, var(--a-gray-800));
  color: var(--ac-tag-neutral-filled-text, var(--a-white));
}

.navds-tag--alt1 {
  border-color: var(--ac-tag-alt1-border, var(--a-purple-400));
  background-color: var(--ac-tag-alt1-bg, var(--a-purple-100));
  color: var(--ac-tag-alt1-text, var(--a-gray-900));
}

.navds-tag--alt1-filled {
  border-color: transparent;
  background-color: var(--ac-tag-alt1-filled-bg, var(--a-purple-400));
  color: var(--ac-tag-alt1-filled-text, var(--a-white));
}

.navds-tag--alt2 {
  border-color: var(--ac-tag-alt2-border, var(--a-limegreen-500));
  background-color: var(--ac-tag-alt2-bg, var(--a-limegreen-100));
  color: var(--ac-tag-alt2-text, var(--a-gray-900));
}

.navds-tag--alt2-filled {
  border-color: transparent;
  background-color: var(--ac-tag-alt2-filled-bg, var(--a-limegreen-400));
  color: var(--ac-tag-alt2-filled-text, var(--a-gray-900));
}

.navds-tag--alt3 {
  border-color: var(--ac-tag-alt3-border, var(--a-deepblue-400));
  background-color: var(--ac-tag-alt3-bg, var(--a-deepblue-100));
  color: var(--ac-tag-alt3-text, var(--a-gray-900));
}

.navds-tag--alt3-filled {
  border-color: transparent;
  background-color: var(--ac-tag-alt3-filled-bg, var(--a-deepblue-500));
  color: var(--ac-tag-alt3-filled-text, var(--a-white));
}
