.navds-timeline {
  --navds-timeline-track-size: 1.5rem;
  --navds-timeline-marker-gap: 1rem;

  color: var(--ac-timeline-text, var(--navds-global-color-gray-900));
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  max-width: 36rem;
}

.navds-timeline__item {
  display: grid;
  grid-template-columns: [track] var(--navds-spacing-10) [gap] var(--navds-timeline-marker-gap) [content] auto;
  grid-auto-flow: column;
  min-height: 6rem;
  padding: 0 0.5rem;
  grid-template-rows: [kicker] var(--navds-spacing-5) [title-start] auto auto [title-end content] auto [gutter] var(
      --navds-spacing-7
    );
}

.navds-timeline__item--present {
  background-color: var(--navds-global-color-gray-100);
}

.navds-timeline__line {
  --_line-color: var(--navds-global-color-gray-200);
  --_dash-size: 7px;
  --_dash-gap: 4px;

  width: 2px;
  justify-self: center;
  grid-column: track;
  background-color: var(--_line-color);
}

.navds-timeline__line--1 {
  grid-row: kicker;
  display: none;
}

.navds-timeline__line--2 {
  grid-row: title-start / content-end;
  grid-row: kicker / content-end;
}

:where(.navds-timeline__item:first-of-type) .navds-timeline__line--2 {
  grid-row: title-start / content-end;
}

:where(.navds-timeline__item:last-of-type) .navds-timeline__line--2 {
  grid-row: kicker / title-start;
}

.navds-timeline__marker {
  background-color: var(--navds-global-color-gray-200);
  width: 2.5rem;
  height: 2.5rem;
  grid-column: track;
  grid-row: title;
  overflow: hidden;
  margin-inline: auto;
  z-index: 1;
  place-items: center;
  display: grid;
  border-radius: var(--navds-border-radius-full);
  font-size: 1.5rem;
}

.navds-timeline__marker .navds-timeline__marker--iconless {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid var(--navds-global-color-gray-200);
  display: flex;
}

.navds-timeline__content {
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
  grid-row: content;
  row-gap: 1.5rem;
  padding-top: var(--navds-spacing-3);
  padding-block-end: 1.25rem;
  position: relative;
}

.navds-timeline__title {
  grid-row: title;
  grid-column: content;
  margin-top: 6px;
}

.navds-timeline__description {
  color: var(--navds-global-color-gray-700);
}

.navds-timeline__cont {
  padding-top: 1rem;
}

.navds-timeline__content-inner {
  grid-column: content;
}

.navds-timeline__item--present .navds-timeline__description {
  color: var(--navds-global-color-gray-900);
}
