.navds-timeline {
  --navds-timeline-circle-size: 2rem;
  --navds-timeline-border-width: 2px;
  --navds-timeline-line-length: 1rem;

  color: var(--navds-global-color-gray-600);
  line-height: 1;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navds-timeline__item {
  display: grid;
  grid-template-rows:
    [line-1] auto [step-start] var(--navds-timeline-circle-size)
    [line-2 step-end] auto;
  grid-template-columns: var(--navds-timeline-circle-size) auto;
  justify-items: flex-start;
  gap: 0.5rem;
}

.navds-timeline__line {
  background-color: var(--navds-semantic-color-border-muted);
  width: var(--navds-timeline-border-width);
  height: 100%;
  min-height: var(--navds-timeline-line-length);
  justify-self: center;
  grid-column: 1;
}

.navds-timeline__line--1 {
  grid-row: line-1;
  display: none;
}

.navds-timeline__line--2 {
  grid-row: line-2;
}

:where(.navds-timeline__item:last-of-type) .navds-timeline__line--2 {
  display: none;
}

.navds-timeline__step {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: [circle] var(--navds-timeline-circle-size) [content] auto;
  gap: var(--navds-spacing-2);
  justify-content: flex-start;
  text-decoration: none;
  padding: var(--navds-timeline-border-width);
  margin: calc(var(--navds-timeline-border-width) * -1)
    calc(var(--navds-timeline-border-width) * -1) 1.75rem;
}

.navds-timeline__icon {
  grid-column: circle;
  display: inline-grid;
  place-items: center;
  flex-shrink: 0;
  width: var(--navds-timeline-circle-size);
  height: var(--navds-timeline-circle-size);
  line-height: 1;
  font-size: 24px;
}

.navds-timeline__content {
  min-width: fit-content;
  line-height: 1.5;
  grid-column: content;
  padding-top: 0.035rem;
  color: var(--navds-global-color-gray-900);
  display: grid;
}

.navds-timeline__content-label {
  display: flex;
  margin-top: var(--navds-spacing-1);
}

.navds-timeline__content-description {
  margin-top: 0.5rem;
}

/* Active step */
:where(.navds-timeline__step--active) .navds-timeline__content {
  color: var(--navds-global-color-gray-900);
}

:where(.navds-timeline__step--active) .navds-timeline__icon {
  color: var(--navds-global-color-gray-900);
}
