.navds-toggle-group__wrapper {
  display: grid;
  justify-items: start;
  gap: var(--a-spacing-2);
}

.navds-toggle-group {
  border-radius: 7px; /* Custom value OK */
  background-color: var(--ac-toggle-group-bg, var(--a-surface-default));
  box-shadow: inset 0 0 0 1px var(--ac-toggle-group-border, var(--a-border-default));
  padding: calc(var(--a-spacing-1) + 1px);
  gap: var(--a-spacing-1);
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.navds-toggle-group__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--a-spacing-3);
  min-height: 48px;
  border: none;
  cursor: pointer;
  background-color: var(--ac-toggle-group-button-bg, var(--a-surface-default));
  color: var(--ac-toggle-group-button-text, var(--a-text-default));
  border-radius: var(--a-border-radius-small);
  min-width: fit-content;
}

.navds-toggle-group__button:hover {
  background-color: var(--ac-toggle-group-button-hover-bg, var(--a-surface-action-subtle));
  color: var(--ac-toggle-group-button-hover-text, var(--a-text-action-on-action-subtle));
}

.navds-toggle-group__button:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--a-surface-default), 0 0 0 4px var(--a-border-focus);
}

.navds-toggle-group__button:focus:hover[aria-pressed="false"] {
  box-shadow: 0 0 0 1px var(--ac-toggle-group-button-hover-bg, var(--a-surface-action-subtle)), 0 0 0 4px var(--a-border-focus);
}

.navds-toggle-group__button-inner {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
}

.navds-toggle-group__button-inner > * {
  flex-shrink: 0;
}

.navds-toggle-group__button[aria-pressed="true"],
.navds-toggle-group__button[aria-checked="true"] {
  background-color: var(--ac-toggle-group-selected-bg, var(--a-surface-action-selected));
  color: var(--ac-toggle-group-selected-text, var(--a-text-on-action));
}

.navds-toggle-group--small > .navds-toggle-group__button {
  padding: 0.375rem;
  min-height: 32px;
  min-width: fit-content;
}

.navds-toggle-group__button > .navds-toggle-group__button-inner > svg {
  font-size: 1.5rem;
}

.navds-toggle-group--small > .navds-toggle-group__button > .navds-toggle-group__button-inner > svg {
  font-size: 1.125rem;
}
