:root {
  --navds-tooltip-color-text: var(--navds-semantic-color-text-inverted);
  --navds-tooltip-color-text-inverted: var(--navds-semantic-color-text);
  --navds-tooltip-color-background: var(
    --navds-semantic-color-component-background-inverted
  );
  --navds-tooltip-color-background-inverted: var(
    --navds-semantic-color-component-background-light
  );
  --navds-tooltip-color-key-background: var(--navds-global-color-gray-700);
  --navds-tooltip-color-key-background-inverted: var(
    --navds-global-color-gray-200
  );
  --navds-tooltip-color-key-text: var(--navds-semantic-color-text-inverted);
  --navds-tooltip-color-key-text-inverted: var(--navds-semantic-color-text);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.navds-tooltip {
  background-color: var(--navds-tooltip-color-background);
  color: var(--navds-tooltip-color-text);
  border-radius: var(--navds-border-radius-medium);
  padding: 2px var(--navds-spacing-2);
  /* white-space: nowrap; */
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-duration: 0.15s;
  display: flex;
  gap: var(--navds-spacing-3);
  align-items: center;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.navds-tooltip[data-side="top"] {
  animation-name: slideUp;
}

.navds-tooltip[data-side="bottom"] {
  animation-name: slideDown;
}

.navds-tooltip[data-side="right"] {
  animation-name: slideRight;
}

.navds-tooltip[data-side="left"] {
  animation-name: slideLeft;
}

.navds-tooltip__arrow {
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg);
  z-index: -1;
  background-color: var(--navds-tooltip-color-background);
  position: absolute;
}

.navds-tooltip--inverted {
  background-color: var(--navds-tooltip-color-background-inverted);
  color: var(--navds-tooltip-color-text-inverted);
}

.navds-tooltip--inverted .navds-tooltip__arrow {
  fill: var(--navds-tooltip-color-background-inverted);
}

.navds-tooltip__key {
  font-family: var(--navds-font-family);
  background-color: var(--navds-tooltip-color-key-background);
  color: var(--navds-tooltip-color-key-text);
  border-radius: 2px;
  padding: 0 4px;
  min-width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navds-tooltip__key--inverted {
  background-color: var(--navds-tooltip-color-key-background-inverted);
  color: var(--navds-tooltip-color-key-text-inverted);
}

.navds-tooltip__key + .navds-tooltip__key {
  margin-left: 0.125rem;
}
