:root {
  --navds-tooltip-color-text: var(--navds-semantic-color-text-inverted);
  --navds-tooltip-color-background: var(
    --navds-semantic-color-component-background-inverted
  );
}

.navds-tooltip {
  z-index: var(--navds-z-index-popover);
  background-color: var(--navds-tooltip-color-background);
  color: var(--navds-tooltip-color-text);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: var(--navds-spacing-2);
  white-space: nowrap;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.navds-tooltip__arrow {
  z-index: -1;
  fill: var(--navds-tooltip-color-background);
}
