@import (reference) '~nav-frontend-core/less/_variabler';

.leftNavigation {
  background: #f4f4f4;
  overflow-y: scroll;
  width: 300px;
  padding: 3rem 2rem;

  .typo-systemtittel {
    margin-bottom: 1rem;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      display: block;
      padding: 0.75rem 1rem;
      color: @navBla;
      text-decoration: none;
      border-left: 2px solid transparent;
      position: relative;
      line-height: 1.15rem;

      &:hover {
        background: white;
        border-left:2px solid @navBla;
      }

      &.active {
        background: white;
        color: @navMorkGra;
        background: @navBla;
        color: white;
      }

      &:focus {
        z-index: 10;
      }
    }
  }
}