.leftNavigation {
  background-color: white;
  border-right: 3px solid #e7e9e9;
  top: 0;
  width: 304px;
  position: fixed;
  overflow-x: hidden;
  padding: 24px 12px 24px 12px;

  &__logoSection {
    position: relative;
    text-decoration: none;
    
    &__logo {
      align-content: center;
      display: block;
      margin: 0 auto;
      height: auto;
      z-index: 1;
    }
    
    .typo-normal {
      margin-top: 12px;
      font-size: 20px;
      text-align: center;
    }

    .line {
      cursor: default;
      background-color: #e7e7e9;
      border: 0;
      top: 16px;
      height: 3px;
      position: relative;
      width: 40px;
    }
  }

  &__expandableListWrapper {
    padding: 12px;
    letter-spacing: 0.4px;
    font-size: 18px;
    top: 76px;
    position: relative;
  }
}

