@import (reference) '~NavFrontendCore/less/_variabler';
@import (reference) '~NavFrontendCore/less/_mixins';

.leftNavigation {
  background: #f4f4f4;
  overflow-y: scroll;
  width: 300px;
  padding: 3rem 2rem;

  .typo-systemtittel {
    margin-bottom: 1rem;
  }

  .contribute-promo {
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem -2rem -3rem -2rem;
    border-top: 1px solid @navGra20;
  }

  .divider {
    margin-top: 1rem;
  }
}