.overviewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(14rem, 100%), 1fr));
  gap: var(--ax-space-24);
  margin-block: var(--ax-space-48);
}

.overviewLi {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overviewCardLink {
  display: grid;
  gap: var(--ax-space-12);
  color: var(--ax-text-neutral);

  &:focus-visible {
    outline: none;
  }
}

.overviewImageWrapper {
  display: grid;
  place-content: center;
  width: 100%;
  overflow: hidden;
  height: min-content;
  aspect-ratio: 16 / 10;
  border-start-start-radius: calc(var(--ax-border-radius-xlarge) - 1px);
  border-start-end-radius: calc(var(--ax-border-radius-xlarge) - 1px);
  background: var(--ax-bg-moderate);
}

.overviewCardHeading {
  display: flex;
  align-items: center;
  gap: var(--ax-space-8);
}
