/* stylelint-disable csstools/value-no-unknown-custom-properties */

/* TODO:  */

/* Validate that each 'size' variant is correct */

/* refactor code for 'line' above and below */

/* Discuss animation */

/* Avoid animation from triggering on initial render if default open */

/* ---------------------------- Accordion header ---------------------------- */
.navds-accordion__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--ax-spacing-3);
  padding: var(--ax-spacing-2) var(--ax-spacing-3);
  text-align: left;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 1;
  border-radius: var(--ax-border-radius-large);
  background: transparent;
  color: var(--ax-text-accent);

  &:hover {
    background-color: var(--ax-bg-accent-hover);
    color: var(--ax-text-accent-strong);

    &::before,
    &::after {
      display: none;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 2px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.navds-accordion__header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navds-accordion__header::before,
.navds-accordion__header::after,
.navds-accordion__item:last-child > .navds-accordion__content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--ax-border-subtle);
}

.navds-accordion__header::after,
.navds-accordion__item:last-child > .navds-accordion__content::after {
  top: initial;
  bottom: 0;
}

.navds-accordion__item[data-expanded="true"] > .navds-accordion__header::after,
.navds-accordion__item:not(:last-child) > .navds-accordion__header::after {
  display: none;
}

.navds-accordion__item[data-expanded="false"]:has(.navds-accordion__header:hover)
  + .navds-accordion__item
  > .navds-accordion__header::before {
  display: none;
}

/* ------------------------- Accordion chevron icon ------------------------- */
.navds-accordion__icon-wrapper {
  display: grid;
  place-content: center;
  border-radius: var(--ax-border-radius-large);
  width: 22px;
  height: 22px;
  align-self: center;
  background-color: var(--ax-bg-accent-moderate);
  color: var(--ax-text-accent-strong);
}

.navds-accordion__header:hover > .navds-accordion__icon-wrapper {
  background-color: var(--ax-bg-accent-strong-hover);
  color: var(--ax-text-accent-contrast);
}

.navds-accordion__header-chevron {
  height: inherit;
  width: inherit;
  flex-shrink: 0;
  transition: transform 250ms cubic-bezier(0.2, 0, 0, 1);
}

.navds-accordion__item--open > .navds-accordion__header .navds-accordion__header-chevron {
  transform: rotateX(-180deg);
}

/* ---------------------------- Accordion content --------------------------- */
.navds-accordion__content {
  --__acx-accordion-content-line-width: 2px;

  padding-inline: var(--ax-spacing-6) var(--ax-spacing-3);

  /* TODO: Will this cause issues? */
  position: relative;
  opacity: 0.01;
  display: none;
  overflow: hidden;
  padding-block: 0;
  max-height: 0;
  transition: all 250ms cubic-bezier(0.2, 0, 0, 1) allow-discrete;
}

.navds-accordion--indent > .navds-accordion__item > .navds-accordion__content {
  /* Since we use psuedo-element for "border", we add the width to left-padding. This alignes with the header-text */
  padding-inline: calc(var(--ax-spacing-11) + var(--__acx-accordion-content-line-width)) var(--ax-spacing-8);
}

.navds-accordion--indent > .navds-accordion__item > .navds-accordion__content::before {
  content: "";
  display: block;
  position: absolute;
  top: var(--ax-spacing-2);
  left: calc(var(--ax-spacing-6) - var(--__acx-accordion-content-line-width));
  height: calc(100% - var(--ax-spacing-7));
  width: var(--__acx-accordion-content-line-width);
  background-color: var(--ax-border-subtleA);
}

.navds-accordion__item--open > .navds-accordion__content {
  display: block;
  opacity: 1;
  overflow: visible;
  max-height: fit-content;
  padding-block: var(--ax-spacing-4);
  padding-block-end: var(--ax-spacing-7);
}

@starting-style {
  .navds-accordion__item--open > .navds-accordion__content {
    padding-block: 0;
    max-height: 0;
    opacity: 0.01;
  }
}
