.navds-copybutton {
  --__axc-copybutton-padding: var(--ax-space-12) var(--ax-space-20) var(--ax-space-12) var(--ax-space-16);

  cursor: pointer;
  margin: 0;
  text-decoration: none;
  border: none;
  border-radius: var(--ax-border-radius-large);
  padding: var(--__axc-copybutton-padding);
  display: grid;
  place-content: center;
  background-color: transparent;
  transition: color 0.2s cubic-bezier(0.05, 0.7, 0.1, 1);

  &.navds-copybutton--icon-only {
    --__axc-copybutton-padding: var(--ax-space-12);
  }

  &.navds-copybutton--icon-right {
    --__axc-copybutton-padding: var(--ax-space-12) var(--ax-space-16) var(--ax-space-12) var(--ax-space-20);
  }

  &:hover {
    background-color: var(--ax-bg-moderate-hoverA);
  }

  &:focus-visible {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--ax-opacity-disabled);
  }

  &:disabled:hover {
    background-color: transparent;
  }
}

@media (forced-colors: active) {
  .navds-copybutton {
    background-color: ButtonFace;
    border: solid 1px ButtonText;
    color: ButtonText;

    &:disabled {
      opacity: 1;
      border-color: GrayText;
    }
  }
}

/* -------------------------- CopyButton small size ------------------------- */
.navds-copybutton--small {
  min-height: 2rem;
  min-width: 2rem;

  --__axc-copybutton-padding: var(--ax-space-4) var(--ax-space-12) var(--ax-space-4) var(--ax-space-8);

  &.navds-copybutton--icon-right {
    --__axc-copybutton-padding: var(--ax-space-4) var(--ax-space-8) var(--ax-space-4) var(--ax-space-12);
  }

  &.navds-copybutton--icon-only {
    --__axc-copybutton-padding: var(--ax-space-4);
  }

  & > .navds-copybutton__content {
    gap: var(--ax-space-4);
  }
}

/* ------------------------- CopyButton xsmall size ------------------------- */
.navds-copybutton--xsmall {
  min-height: 1.5rem;
  min-width: 1.5rem;

  --__axc-copybutton-padding: var(--ax-space-2) var(--ax-space-8) var(--ax-space-2) var(--ax-space-4);

  &.navds-copybutton--icon-right {
    --__axc-copybutton-padding: var(--ax-space-2) var(--ax-space-4) var(--ax-space-2) var(--ax-space-8);
  }

  &.navds-copybutton--icon-only {
    --__axc-copybutton-padding: var(--ax-space-2);
  }

  & .navds-copybutton__icon {
    font-size: 1.25rem;
  }

  & > .navds-copybutton__content {
    gap: var(--ax-space-2);
  }
}

/* ----------------------------- CopyButton Icon ---------------------------- */
.navds-copybutton__icon {
  font-size: 1.5rem;
  display: flex;
}

.navds-copybutton--active .navds-copybutton__icon {
  animation: akselCopyButtonIconAnimation 2s cubic-bezier(0.05, 0.7, 0.1, 1);
}

@keyframes akselCopyButtonIconAnimation {
  8% {
    transform: translateY(0);
  }

  17% {
    transform: translateY(-10%);
  }

  25% {
    transform: translateY(2%);
  }

  30% {
    transform: translateY(0);
  }
}

/* ---------------------------- CopyButton Action --------------------------- */
.navds-copybutton--action {
  color: var(--ax-text-accent);

  &.navds-copybutton--active {
    color: var(--ax-text-success);
  }

  &:disabled {
    color: var(--ax-text-accent);
  }
}

/* --------------------------- CopyButton Neutral --------------------------- */
.navds-copybutton--neutral {
  color: var(--ax-text-subtle);

  &:disabled {
    color: var(--ax-text-subtle);
  }
}

.navds-copybutton__content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--ax-space-6);
}
