.aksel-copybutton[data-active="true"] .aksel-copybutton__icon {
  animation: akselCopyButtonIconAnimation 2s cubic-bezier(0.05, 0.7, 0.1, 1);
}

@keyframes akselCopyButtonIconAnimation {
  8% {
    transform: translateY(0);
  }

  17% {
    transform: translateY(-10%);
  }

  25% {
    transform: translateY(2%);
  }

  30% {
    transform: translateY(0);
  }
}
