.aksel-dialog__popup {
  --__axc-dialog-transform: ;

  position: fixed;
  background-color: var(--ax-bg-raised);
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: opacity, transform;
  border-radius: var(--ax-radius-12);
  color: var(--ax-text-neutral);
  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  &[data-entering-style],
  &[data-exiting-style] {
    opacity: 0;
    transform: var(--__axc-dialog-transform);
  }

  &[data-position="center"] {
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(-50%);
    top: 10%;
    max-width: calc(100dvw - 3rem);
    max-height: calc(100dvh - 3rem);
    margin-top: -2rem;
    outline: 1px solid var(--ax-border-neutral-subtle);
    margin-block: auto;
    width: 640px;

    &[data-entering-style] {
      transform: translate(-50%, 10%) scale(1.04);
    }

    &[data-exiting-style] {
      transform: translate(-50%, -10%) scale(0.96);
    }
  }

  &[data-position="right"],
  &[data-position="left"] {
    height: 100dvh;
    max-width: calc(100vw - 3rem);
    top: 0;
    bottom: 0;
    width: 640px;
  }

  &[data-position="right"] {
    --__axc-dialog-transform: translateX(35%);

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
  }

  &[data-position="left"] {
    --__axc-dialog-transform: translateX(-35%);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
  }

  &[data-position="bottom"] {
    --__axc-dialog-transform: translateY(35%);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: calc(100dvh - 64px);
    max-width: 100dvw;

    /* TODO: Optimize for reading length */
    width: 640px;
    margin-inline: auto;
    height: auto;
  }

  &[data-position="fullscreen"] {
    --__axc-dialog-transform: translateY(5%) scale(0.96);

    border-radius: 0;
    inset: 0;
    max-height: 100dvh;
    max-width: 100dvw;
    width: 100%;
    height: 100%;
  }
}

.aksel-dialog__backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: var(--ax-bg-overlay);
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  &[data-entering-style],
  &[data-exiting-style] {
    opacity: 0;
  }
}

.aksel-dialog__header {
  z-index: 1;
  flex-shrink: 0;
  border-bottom: 1px solid var(--ax-border-neutral-subtleA);
  padding-inline: var(--ax-space-20);
  padding-block: var(--ax-space-16);
}

.aksel-dialog__title {
  margin-block-end: var(--ax-space-4);
}

.aksel-dialog__description {
  /* TODO: */
}

.aksel-dialog__close-button {
  float: right;
  margin-left: var(--ax-space-16);
}

.aksel-dialog__body {
  overflow: auto;
  flex-grow: 1;
  padding-inline: var(--ax-space-20);
  padding-block: var(--ax-space-16);
}

.aksel-dialog__footer {
  /* TODO: up for discussion */
  justify-content: flex-end;
  display: flex;
  flex-flow: wrap;
  flex-shrink: 0;
  gap: var(--base-size-8, 0.5rem);
  z-index: 1;
  padding-inline: var(--ax-space-20);
  padding-block: var(--ax-space-16);
}
