.aksel-dialog__popup {
  --__axc-dialog-transform: ;

  position: fixed;
  background-color: var(--ax-bg-raised);
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: transform, opacity, translate;
  border-radius: var(--ax-radius-12);
  color: var(--ax-text-neutral);
  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  &[data-entering-style],
  &[data-exiting-style] {
    opacity: 0;
    transform: var(--__axc-dialog-transform);
  }

  &[data-position="center"] {
    --__axc-dialog-center-margin: 3rem;

    left: 0;
    right: 0;
    margin-inline: auto;
    top: 0;
    outline: 1px solid var(--ax-border-neutral-subtle);
    max-width: 100dvw;
    max-height: 100dvh;

    &[data-entering-style],
    &[data-exiting-style] {
      opacity: 0;
    }

    &[data-entering-style] {
      transform: scale(0.98);
    }

    &[data-exiting-style] {
      transform: scale(0.98);
      transition-duration: 100ms;
    }

    &[data-nested-dialog-open="true"] {
      transform: scale(calc(1 - 0.02 * var(--__axc-nested-level)));
      translate: 0 calc(0px + 1rem * var(--__axc-nested-level) * -1);
      transition-duration: 0ms;
    }

    &[data-nested="true"] {
      &[data-entering-style] {
        opacity: 1;
        transition-duration: 0ms;
        transform: scale(1);
      }

      &[data-exiting-style] {
        opacity: 1;
        transition-duration: 0ms;
        transform: scale(1);
      }
    }

    /* &[data-nested="true"] {
      &[data-entering-style] {
        opacity: 1;
        transform: translateY(2%);
      }

      &[data-exiting-style] {
        transition: none;
        opacity: 0;
        transform: translateY(2%);
      }
    } */

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      border-radius: inherit;
      background-color: var(--ax-bg-overlay);
      opacity: 0;
      z-index: 1;
      pointer-events: none;
    }

    &[data-nested-dialog-open="true"] {
      &::after {
        transition: opacity 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        opacity: 1;
      }

      /* outline-color: transparent; */
    }

    @media screen and (min-width: 480px) {
      max-width: calc(100dvw - 3rem);
    }

    /* TODO: Clips to bottom, now. Needs to keep bottom/margin-bottom until mobile  */
    @media screen and (min-height: 480px) {
      max-height: calc(90dvh - var(--__axc-dialog-center-margin));
      margin-block: max(var(--__axc-dialog-center-margin), 10dvh) auto;
    }

    @media screen and (max-width: 479px) and (max-height: 479px) {
      border-radius: 0;
    }
  }

  &[data-position="right"],
  &[data-position="left"] {
    height: 100dvh;
    max-width: calc(100vw - 48px);
    top: 0;
    bottom: 0;
  }

  &[data-position="right"] {
    --__axc-dialog-transform: translateX(35%);

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
  }

  &[data-position="left"] {
    --__axc-dialog-transform: translateX(-35%);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
  }

  &[data-position="bottom"] {
    --__axc-dialog-transform: translateY(35%);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: calc(100dvh - 64px);
    max-width: 100dvw;
    margin-inline: auto;
    height: auto;
  }

  &[data-position="fullscreen"] {
    --__axc-dialog-transform: translateY(5%) scale(0.96);

    border-radius: 0;
    inset: 0;
    max-height: 100dvh;
    max-width: 100dvw;
    width: 100%;
    height: 100%;
  }
}

.aksel-dialog__backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: var(--ax-bg-overlay);
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  &[data-entering-style],
  &[data-exiting-style] {
    opacity: 0;
  }
}

.aksel-dialog__header {
  z-index: 1;
  flex-shrink: 0;

  /* TODO: Maybe a separate divider component? */

  /* border-bottom: 1px solid var(--ax-border-neutral-subtleA); */
  padding-inline: var(--ax-space-20);
  padding-block: var(--ax-space-16);
}

.aksel-dialog__title {
  margin-block-end: var(--ax-space-4);
}

.aksel-dialog__description {
  /* TODO: */
}

.aksel-dialog__close-button {
  float: right;
  margin-left: var(--ax-space-16);
}

.aksel-dialog__body {
  overflow: auto;
  flex-grow: 1;
  padding-inline: var(--ax-space-20);
  padding-block: var(--ax-space-16);
}

.aksel-dialog__footer {
  /* TODO: up for discussion */
  justify-content: flex-end;
  display: flex;
  flex-flow: wrap;
  flex-shrink: 0;
  gap: var(--base-size-8, 0.5rem);
  z-index: 1;
  padding-inline: var(--ax-space-20);
  padding-block: var(--ax-space-16);
}
