.navds-expansioncard {
  --__ac-expansioncard-border-color: var(--ax-border-default);
  --__ac-expansioncard-border-width: 1px;
  --__ac-expansioncard-border-radius: var(--ax-border-radius-xlarge);
  --__ac-expansioncard-padding-block: var(--ax-spacing-4);
  --__ac-expansioncard-padding-inline: var(--ax-spacing-6);

  border-radius: var(--__ac-expansioncard-border-radius);
  background-color: var(--ax-bg-raised);
  height: fit-content;

  &:hover {
    --__ac-expansioncard-border-color: var(--ax-border-strong);
  }
}

.navds-expansioncard--small {
  --__ac-expansioncard-padding-block: var(--a-spacing-3);
  --__ac-expansioncard-padding-inline: var(--a-spacing-4);
}

/* -------------------------- ExpansionCard Header -------------------------- */
.navds-expansioncard__header {
  width: 100%;
  display: flex;
  gap: var(--ax-spacing-4);
  padding: var(--__ac-expansioncard-padding-block) var(--__ac-expansioncard-padding-inline);
  border-radius: var(--__ac-expansioncard-border-radius);
  background-color: transparent;
  position: relative;
  border: var(--__ac-expansioncard-border-width) solid var(--__ac-expansioncard-border-color);
  justify-content: space-between;

  &:hover {
    background-color: var(--ax-bg-neutral-raised-hover);
    box-shadow: 0 0 0 1px var(--__ac-expansioncard-border-color);
  }
}

.navds-expansioncard--open > .navds-expansioncard__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: var(--__ac-expansioncard-border-width) solid var(--__ac-expansioncard-border-color);
  border-bottom: none;
}

.navds-expansioncard--open > :where(.navds-expansioncard__header):hover {
  box-shadow:
    1px 0 0 0 var(--__ac-expansioncard-border-color),
    -1px 0 0 0 var(--__ac-expansioncard-border-color),
    0 -1px 0 0 var(--__ac-expansioncard-border-color);
}

.navds-expansioncard--open > :where(.navds-expansioncard__header)::after {
  content: "";
  background-color: var(--ax-border-subtle);
  bottom: 0;
  left: var(--__ac-expansioncard-padding-inline);
  height: 1px;
  width: calc(100% - 2 * var(--__ac-expansioncard-padding-inline));
  position: absolute;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.navds-expansioncard--open > :where(.navds-expansioncard__header:hover)::after {
  opacity: 0;
}

/* ---------------------- ExpansionCard Head typography --------------------- */
.navds-expansioncard__title--small {
  margin-top: 0.625rem;
}

.navds-expansioncard__title--medium {
  margin-top: var(--ax-spacing-2);
}

.navds-expansioncard__title--large {
  margin-top: var(--ax-spacing-1);
}

.navds-expansioncard--small > :where(.navds-expansioncard__header) :where(.navds-expansioncard__title--small) {
  margin-top: var(--ax-spacing-05);
}

.navds-expansioncard--small :where(.navds-expansioncard__title--medium, .navds-expansioncard__title--large) {
  margin-top: 0;
}

/*************************
 * Header/Button *
 *************************/
.navds-expansioncard__header-button {
  display: grid;
  place-content: center;
  cursor: pointer;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: var(--ax-border-radius-large);
  min-height: 3rem;
  min-width: 3rem;
  font-size: 1.5rem;
  align-self: flex-start;
}

.navds-expansioncard--small > :where(.navds-expansioncard__header) > :where(.navds-expansioncard__header-button) {
  min-height: 2rem;
  min-width: 2rem;
}

:where(.navds-expansioncard__header):hover > :where(.navds-expansioncard__header-button) {
  background-color: var(--ax-bg-neutral-moderate-hoverA);
}

.navds-expansioncard__header-chevron {
  transition: transform 150ms ease-in-out;
}

.navds-expansioncard--open > :where(.navds-expansioncard__header) :where(.navds-expansioncard__header-chevron) {
  transform: translateY(0) rotate(180deg);
}

.navds-expansioncard__header-button:hover > :where(.navds-expansioncard__header-chevron) {
  transform: translateY(1px);
}

.navds-expansioncard__header-button:focus-visible {
  outline: 2px solid var(--ax-border-focus);
  outline-offset: 2px;
}

@supports not selector(:focus-visible) {
  .navds-expansioncard__header-button:focus {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 2px;
  }
}

.navds-expansioncard--open
  > :where(.navds-expansioncard__header)
  > :where(.navds-expansioncard__header-button):hover
  :where(.navds-expansioncard__header-chevron) {
  transform: translateY(-1px) rotate(180deg);
}

.navds-expansioncard__header-button::after {
  inset: 0;
  z-index: 1;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/*************************
 * Content *
 *************************/
.navds-expansioncard__content {
  --__ac-expansioncard-padding-block: var(--a-spacing-5);

  border-end-end-radius: var(--__ac-expansioncard-border-radius);
  border-end-start-radius: var(--__ac-expansioncard-border-radius);
  padding: var(--__ac-expansioncard-padding-block) var(--__ac-expansioncard-padding-inline)
    var(--__ac-expansioncard-padding-inline);
  border: var(--__ac-expansioncard-border-width) solid var(--__ac-expansioncard-border-color);
  border-top: none;
}

.navds-expansioncard--small .navds-expansioncard__content {
  --__ac-expansioncard-padding-block: var(--a-spacing-4);
}

.navds-expansioncard__content--closed {
  display: none;
}

:where(.navds-expansioncard__header):hover + .navds-expansioncard__content {
  box-shadow:
    1px 0 0 0 var(--__ac-expansioncard-border-color),
    -1px 0 0 0 var(--__ac-expansioncard-border-color),
    0 1px 0 0 var(--__ac-expansioncard-border-color);
}

.navds-expansioncard__content-inner {
  animation: fadeExpansionCard 250ms ease;
}

.navds-expansioncard--no-animation :where(.navds-expansioncard__content-inner) {
  animation: none;
}

@keyframes fadeExpansionCard {
  0% {
    opacity: 0.25;
    transform: translateY(-8px);
  }

  40% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (forced-colors: active) {
  .navds-expansioncard:hover {
    --__ac-expansioncard-border-color: highlight;

    outline: 1px solid highlight;
  }
}
