.navds-guide-panel {
  --__axc-guide-panel-guide-size: 4rem;

  position: relative;
  padding-top: calc(var(--__axc-guide-panel-guide-size) / 2);

  .navds-guide {
    background: var(--ax-bg-info-moderate);
    border: 2px solid var(--ax-border-info);
    border-radius: var(--ax-border-radius-full);
    overflow: hidden;
    position: absolute;
    width: var(--__axc-guide-panel-guide-size);
    height: var(--__axc-guide-panel-guide-size);
    left: 50%;
    transform: translate(-50%, -50%);

    & svg,
    & img {
      height: 100%;
      width: 100%;
    }
  }

  .navds-guide-panel__content {
    background-color: var(--ax-bg-raised);
    border: 2px solid var(--ax-border-info);
    border-radius: var(--ax-border-radius-xlarge);
    padding: var(--ax-spacing-4);
    padding-top: var(--ax-spacing-12);
  }
}

@media (min-width: 480px) {
  .navds-guide-panel {
    --__axc-guide-panel-guide-size: 6.25rem;
  }

  .navds-guide-panel__content {
    padding: var(--ax-spacing-8);
    padding-top: 4.25rem;
  }
}

/* not-poster */

.navds-guide-panel--not-poster {
  padding-top: 0;
  padding-left: calc(var(--__axc-guide-panel-guide-size) / 2);
}

.navds-guide-panel--not-poster .navds-guide {
  left: 0;
  top: var(--ax-spacing-5);
  transform: none;
}

.navds-guide-panel--not-poster .navds-guide-panel__content {
  padding: var(--ax-spacing-4);
  padding-left: var(--ax-spacing-10);
  min-height: calc(var(--__axc-guide-panel-guide-size) + var(--ax-spacing-5) + var(--ax-spacing-5));
}

@media (min-width: 480px) {
  .navds-guide-panel--not-poster {
    --__axc-guide-panel-guide-size: 5rem;
  }

  .navds-guide-panel--not-poster .navds-guide-panel__content {
    padding: var(--ax-spacing-6);
    padding-left: var(--ax-spacing-14);
  }
}

/* responsive-poster (on desktop) */

@media (min-width: 480px) {
  .navds-guide-panel--responsive-poster {
    --__axc-guide-panel-guide-size: 5rem;

    padding-top: 0;
    padding-left: calc(var(--__axc-guide-panel-guide-size) / 2);
  }

  .navds-guide-panel--responsive-poster .navds-guide {
    left: 0;
    top: var(--ax-spacing-5);
    transform: none;
  }

  .navds-guide-panel--responsive-poster .navds-guide-panel__content {
    padding: var(--ax-spacing-6);
    padding-left: var(--ax-spacing-14);
    min-height: calc(var(--__axc-guide-panel-guide-size) + var(--ax-spacing-5) + var(--ax-spacing-5));
  }
}
