.navds-help-text__button {
  margin: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--a-border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ac-help-text-button-color, var(--a-surface-action));
  font-size: 1.25rem;
  padding: calc(var(--a-spacing-1) / 2);
}

.navds-help-text__button:focus-visible {
  outline: 2px solid transparent;
  box-shadow:
    0 0 0 1px var(--a-border-focus),
    inset 0 0 0 1px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
  .navds-help-text__button:focus {
    outline: 2px solid transparent;
    box-shadow:
      0 0 0 1px var(--a-border-focus),
      inset 0 0 0 1px var(--a-border-focus);
  }
}

.navds-help-text__icon {
  border-radius: var(--a-border-radius-full);
}

.navds-help-text__popover > .navds-popover__arrow {
  background-color: var(--ac-help-text-popover-bg, var(--a-surface-info-subtle));
}

.navds-help-text__popover.navds-popover {
  background-color: var(--ac-help-text-popover-bg, var(--a-surface-info-subtle));
  max-width: min(65ch, calc(100vw - 1.5rem));

  --ac-popover-border: var(--a-border-info);
}

.navds-help-text__icon--filled {
  display: none;
}

.navds-help-text__button:where(:hover, :focus-visible, [aria-expanded="true"]) > .navds-help-text__icon {
  display: none;
}

.navds-help-text__button:where(:hover, :focus-visible, [aria-expanded="true"]) > .navds-help-text__icon--filled {
  display: inherit;
  color: var(--ac-help-text-button-hover-color, var(--a-surface-action-hover));
}

.navds-help-text__button[aria-expanded="true"] > .navds-help-text__icon--filled {
  color: var(--ac-help-text-button-active-color, var(--a-surface-action-active));
}

@supports not selector(:focus-visible) {
  .navds-help-text__button:where(:focus) > .navds-help-text__icon {
    display: none;
  }

  .navds-help-text__button:where(:focus) > .navds-help-text__icon--filled {
    display: inherit;
  }
}

@media (forced-colors: active) {
  .navds-help-text__button:where(:hover, :focus-visible, [aria-expanded="true"]) > .navds-help-text__icon {
    display: inherit;
  }

  .navds-help-text__button:hover > .navds-help-text__icon {
    color: highlight;
  }

  .navds-help-text__button:where(:hover, :focus-visible, [aria-expanded="true"]) > .navds-help-text__icon--filled {
    display: none;
  }
}
