.aksel-info-card {
  display: grid;
  border-radius: var(--ax-border-radius-xlarge);
  border: 1px solid var(--ax-border-default);
  overflow: clip;
  position: relative;
}

.aksel-info-card__header {
  display: flex;
  align-items: flex-start;
  gap: var(--ax-space-8);
  padding: var(--ax-space-8) var(--ax-space-20);
  border-bottom: 1px solid var(--ax-border-subtleA);
  background: var(--ax-bg-moderate);
  color: var(--ax-text-subtle);

  .aksel-info-card--small & {
    padding: var(--ax-space-8) var(--ax-space-16);
  }

  &:only-child {
    border-bottom: none;
  }
}

.aksel-info-card__icon {
  font-size: 1.5rem;
  margin-top: var(--ax-space-4);
  display: grid;

  .aksel-info-card--small & {
    font-size: 1.25rem;
  }
}

.aksel-info-card__title {
  padding-block: var(--ax-space-2);
}

.aksel-info-card__content {
  --__axc-info-card-padding-block-end-base: var(--ax-space-16);
  --__axc-info-card-padding-block-end-small: var(--ax-space-12);

  padding-block: var(--ax-space-12) var(--__axc-info-card-padding-block-end-base);
  padding-inline: var(--ax-space-20);

  .aksel-info-card--small & {
    padding-block: var(--ax-space-8) var(--__axc-info-card-padding-block-end-small);
    padding-inline: var(--ax-space-16);
  }
}

.aksel-info-card__collapsible-content {
  --gradient-start: calc(var(--ax-space-12) + 48px);

  position: relative;
  background: var(--ax-bg-default);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  height: var(--__axc-info-card-height);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  width: var(--__axc-info-card-width);
  transition: all ease-in-out;
  transition-duration: 0.5s;
  display: block;
  overflow: hidden;

  &::after {
    content: "";
    inset: auto 0 0;
    mask-image: linear-gradient(to top, rgb(0 0 0) var(--gradient-start), rgb(0 0 0) var(--gradient-start), rgb(0 0 0 / 0) 100%);
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s;
    height: calc(var(--gradient-start) + 48px);
    background-color: inherit;
  }

  --__axc-info-card-padding-block-end-base: var(--ax-space-64);
  --__axc-info-card-padding-block-end-small: var(--ax-space-56);

  &[data-expanded="true"] {
    &::after {
      opacity: 0;
    }
  }
}

.aksel-info-card__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
