.aksel-link-anchor__overlay {
  cursor: pointer;

  &:focus-within {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
  }
}

@supports selector(:has(*)) {
  .aksel-link-anchor__overlay:focus-within {
    outline: unset;
  }

  .aksel-link-anchor__overlay:has(:focus-visible) {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
  }
}

.aksel-link-anchor {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
  color: inherit;

  &:hover,
  .aksel-link-anchor__overlay:hover & {
    text-decoration-thickness: 0.111em;
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
    border-radius: 1px;
  }

  .aksel-link-anchor__overlay &:focus-visible {
    outline: none;
  }
}

.aksel-link-anchor__arrow {
  transition: transform 200ms;
  transform: translateX(0);
  flex-shrink: 0;

  .aksel-link-anchor:hover &,
  .aksel-link-anchor__overlay:hover & {
    transform: translateX(4px);
  }
}
