.navds-panel {
  background-color: var(--ac-panel-bg, var(--a-surface-default));
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-small);
  border: 1px solid transparent;
}

.navds-panel--border {
  border-color: var(--ac-panel-border, var(--a-border-default));
}
