.navds-popover {
  z-index: 1000;
  background: var(--ax-bg-raised);
  box-shadow: var(--ax-shadow-dialog);
  border: 1px solid var(--ax-border-subtleA);
  border-radius: var(--ax-border-radius-xlarge);

  /* Creates a small gutter between screen-edges on smaller devices */
  max-width: calc(100vw - var(--ax-spacing-6));
}

.navds-popover__content {
  padding: var(--ax-spacing-4);
}

.navds-popover--hidden {
  display: none;
}
