/* ----------------------------- ReadMore Button ---------------------------- */
.navds-read-more__button {
  cursor: pointer;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: flex-start;
  gap: var(--ax-spacing-1);
  color: var(--ax-text-accent);
  border-radius: var(--ax-border-radius-medium);
  padding-inline: 0 var(--ax-spacing-1);
  padding-block: var(--ax-spacing-1);
  text-align: start;

  &:hover {
    background-color: var(--ax-bg-neutral-hoverA);
    color: var(--ax-text-accent-strong);
  }

  &:focus-visible {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: 2px;
  }

  &[data-state="open"] {
    & > .navds-read-more__expand-icon {
      transform: rotateX(-180deg);
    }
  }
}

.navds-read-more[data-volume="low"] {
  &.navds-read-more--small {
    & .navds-read-more__button {
      padding-block: var(--ax-spacing-05);
    }

    & .navds-read-more__content {
      margin-left: calc(0.5rem + 1px);
      padding-left: calc(0.75rem + 1px);
    }
  }

  &.navds-read-more--medium {
    & .navds-read-more__button {
      padding-block: var(--ax-spacing-1);
    }
  }

  &.navds-read-more--large {
    & .navds-read-more__button {
      padding-block: var(--ax-spacing-3);
    }
  }

  &:is(.navds-read-more--medium, .navds-read-more--large) {
    & .navds-read-more__content {
      margin-left: calc(0.75rem - 1px);
      padding-left: calc(1rem - 1px);
    }
  }
}

.navds-read-more[data-volume="high"] {
  & .navds-read-more__button {
    background-color: var(--ax-bg-accent-moderate);
    border-radius: var(--ax-border-radius-full);

    &:hover {
      background-color: var(--ax-bg-accent-moderate-hoverA);
    }
  }

  &.navds-read-more--small {
    & .navds-read-more__content {
      margin-left: calc(1rem + 1px);
      padding-left: calc(0.75rem + 1px);
    }
  }

  &.navds-read-more--medium {
    & .navds-read-more__content {
      margin-left: calc(1.25rem - 1px);
      padding-left: calc(1rem - 1px);
    }
  }

  &.navds-read-more--large {
    & .navds-read-more__button {
      padding-inline: var(--ax-spacing-3) var(--ax-spacing-6);
    }

    & .navds-read-more__content {
      margin-left: calc(1.5rem - 1px);
      padding-left: calc(1rem - 1px);
    }
  }

  &:is(.navds-read-more--small, .navds-read-more--medium) {
    & .navds-read-more__button {
      padding-inline: var(--ax-spacing-2) var(--ax-spacing-4);
    }
  }
}

/* ---------------------------- ReadMore Content ---------------------------- */
.navds-read-more__content {
  margin-top: var(--ax-spacing-2);
  border-left: 2px solid var(--ax-border-neutral-subtleA);
  margin-left: calc(0.75rem - 1px);
  padding-left: calc(1rem - 1px);
  color: var(--ax-text-default);

  &[data-state="closed"] {
    display: none;
  }
}

.navds-read-more__expand-icon {
  font-size: 1.5rem;
  flex-shrink: 0;
  transition: transform 100ms cubic-bezier(0.2, 0, 0, 1);
}

/* ----------------------------- ReadMore Sizes ----------------------------- */
.navds-read-more--large {
  & .navds-read-more__button {
    padding-block: var(--ax-spacing-3);
  }
}

.navds-read-more--small {
  & .navds-read-more__button {
    padding-block: var(--ax-spacing-05);
  }

  & .navds-read-more__content {
    margin-left: calc(0.5rem + 1px);
    padding-left: calc(0.75rem + 1px);
  }

  & .navds-read-more__expand-icon {
    font-size: 1.25rem;
  }
}

/* ------------------------- ReadMore high-contrast ------------------------- */
@media (forced-colors: active) {
  .navds-read-more__button {
    background-color: ButtonFace;
    border: solid 1px ButtonText;
    color: ButtonText;
  }
}
