.aksel-read-more {
  --__axc-read-more-icon-size: 1.5rem;
  --__axc-read-more-pi-start: 0px;
  --__axc-read-more-pi-end: var(--ax-space-4);
  --__axc-read-more-pb: var(--ax-space-4);
}

/* ----------------------------- ReadMore Button ---------------------------- */
.aksel-read-more__button {
  cursor: pointer;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: flex-start;
  gap: var(--ax-space-4);
  color: var(--ax-text-subtle);
  padding-inline: var(--__axc-read-more-pi-start) var(--__axc-read-more-pi-end);
  padding-block: var(--__axc-read-more-pb);
  text-align: start;

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
  }

  &[data-state="open"] .aksel-read-more__expand-icon {
    transform: rotateX(-180deg);
  }
}

.aksel-read-more:is([data-volume="low"], :not([data-volume])) {
  & .aksel-read-more__button {
    border-radius: var(--ax-radius-4);

    &:hover {
      background-color: var(--ax-bg-neutral-moderate-hoverA);
    }
  }
}

.aksel-read-more[data-volume="high"] {
  & .aksel-read-more__button {
    background-color: var(--ax-bg-moderate);
    border-radius: var(--ax-radius-full);

    &:hover {
      background-color: var(--ax-bg-moderate-hoverA);
      color: var(--ax-text-default);
    }
  }

  &.aksel-read-more--large {
    --__axc-read-more-pi-start: var(--ax-space-12);
    --__axc-read-more-pi-end: var(--ax-space-24);
  }

  &.aksel-read-more--small,
  &.aksel-read-more--medium {
    --__axc-read-more-pi-start: var(--ax-space-8);
    --__axc-read-more-pi-end: var(--ax-space-16);
  }
}

/* ---------------------------- ReadMore Content ---------------------------- */
.aksel-read-more__content {
  margin-top: var(--ax-space-8);
  border-left: 2px solid var(--ax-border-neutral-subtleA);
  color: var(--ax-text-neutral);
  margin-left: calc(var(--__axc-read-more-pi-start) + var(--__axc-read-more-icon-size) / 2 - 1px);
  padding-left: calc(var(--__axc-read-more-icon-size) / 2 - 1px + var(--ax-space-4));

  &[data-state="closed"] {
    display: none;
  }
}

.aksel-read-more__expand-icon {
  font-size: var(--__axc-read-more-icon-size);
  flex-shrink: 0;
  transition: transform 100ms cubic-bezier(0.2, 0, 0, 1);
}

/* ----------------------------- ReadMore Sizes ----------------------------- */
.aksel-read-more--large {
  --__axc-read-more-pb: var(--ax-space-12);
}

.aksel-read-more--small {
  --__axc-read-more-icon-size: 1.25rem;
  --__axc-read-more-pb: var(--ax-space-2);
}

/* ------------------------- ReadMore high-contrast ------------------------- */
@media (forced-colors: active) {
  .aksel-read-more__button {
    background-color: ButtonFace;
    border: solid 1px ButtonText;
    color: ButtonText;
  }
}
