.navds-skeleton {
  background-color: var(--ax-bg-neutral-moderateA);
  height: 1.3em;
  animation: akselSkeletonAnimation 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  pointer-events: none;
}

.navds-skeleton--inline {
  display: inline-block;
}

.navds-skeleton--has-children {
  color: transparent;

  & > * {
    visibility: hidden;
  }

  &.navds-skeleton--no-height {
    height: auto;
  }

  &.navds-skeleton--no-width {
    width: fit-content;
  }
}

.navds-skeleton--text {
  height: auto;
  transform-origin: 0 55%;
  transform: scale(1, 0.6);
  border-radius: var(--a-border-radius-medium);

  &:empty::before {
    content: "\00a0";
  }
}

.navds-skeleton--circle {
  border-radius: var(--a-border-radius-full);
}

.navds-skeleton--rectangle {
  border-radius: 0;
}

.navds-skeleton--rounded {
  border-radius: var(--a-border-radius-xlarge);
}

@keyframes akselSkeletonAnimation {
  50% {
    opacity: 0.5;
  }
}

@media (forced-colors: active) {
  .navds-skeleton {
    forced-color-adjust: none;
    background-color: canvastext;
    animation-duration: 2s;
    opacity: 0.2;
  }
}
