/* Base */
.navds-tag {
  border: 1px solid var(--ax-border-default);
  border-radius: var(--ax-border-radius-small);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--ax-spacing-05) var(--ax-spacing-2);
  min-height: 2rem;
  line-height: 1;

  &:has(.navds-tag__icon--left) {
    gap: var(--ax-spacing-05);
  }

  & .navds-tag__icon--left {
    display: flex;
    font-size: var(--ax-font-size-heading-medium);
    margin-inline-start: -2px;
  }

  /* Sizes */

  & .navds-tag--small {
    min-height: 1.5rem;
    padding: 0 var(--ax-spacing-1-alt);

    & .navds-tag__icon--left {
      font-size: var(--ax-font-size-xlarge);
    }
  }

  &.navds-tag--xsmall {
    min-height: 1.25rem;
    padding: 0 var(--ax-spacing-1);

    & .navds-tag__icon--left {
      font-size: var(--ax-font-size-medium);
      margin-inline-start: -1px;
    }
  }
}

/* Error variant */
.navds-tag--error {
  border-color: var(--ax-border-danger);
  background-color: var(--ax-bg-danger-hover);
  color: var(--ax-text-default);
}

.navds-tag--error-filled {
  border-color: transparent;
  background-color: var(--ax-bg-danger-strong);
  color: var(--ax-text-danger-contrast);
}

.navds-tag--error-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-danger-moderate);
  color: var(--ax-text-default);
}

/* Success variant */
.navds-tag--success {
  border-color: var(--ax-border-success);
  background-color: var(--ax-bg-success-hover);
  color: var(--ax-text-default);
}

.navds-tag--success-filled {
  border-color: transparent;
  background-color: var(--ax-bg-success-strong);
  color: var(--ax-text-success-contrast);
}

.navds-tag--success-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-success-moderate);
  color: var(--ax-text-default);
}

/* Warning variant */
.navds-tag--warning {
  border-color: var(--ax-border-warning);
  background-color: var(--ax-bg-warning-hover);
  color: var(--ax-text-default);
}

.navds-tag--warning-filled {
  border-color: transparent;
  background-color: var(--ax-bg-warning-strong);
  color: var(--ax-text-warning-contrast);
}

.navds-tag--warning-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-warning-moderate);
  color: var(--ax-text-default);
}

/* Info variant */
.navds-tag--info {
  border-color: var(--ax-border-info);
  background-color: var(--ax-bg-info-hover);
  color: var(--ax-text-default);
}

.navds-tag--info-filled {
  border-color: transparent;
  background-color: var(--ax-bg-info-strong);
  color: var(--ax-text-info-contrast);
}

.navds-tag--info-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-info-moderate);
  color: var(--ax-text-default);
}

/* Neutral variant */
.navds-tag--neutral {
  border-color: var(--ax-border-default);
  background-color: var(--ax-bg-neutral-hover);
  color: var(--ax-text-default);
}

.navds-tag--neutral-filled {
  border-color: transparent;
  background-color: var(--ax-bg-neutral-strong);
  color: var(--ax-text-neutral-contrast);
}

.navds-tag--neutral-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-neutral-moderate);
  color: var(--ax-text-default);
}

/* Alt1 variant */
.navds-tag--alt1 {
  border-color: var(--ax-border-brand-one);
  background-color: var(--ax-bg-brand-one-hover);
  color: var(--ax-text-default);
}

.navds-tag--alt1-filled {
  border-color: transparent;
  background-color: var(--ax-bg-brand-one-strong);
  color: var(--ax-text-brand-one-contrast);
}

.navds-tag--alt1-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-brand-one-moderate);
  color: var(--ax-text-default);
}

/* Alt2 variant */
.navds-tag--alt2 {
  border-color: var(--ax-border-brand-two);
  background-color: var(--ax-bg-brand-two-hover);
  color: var(--ax-text-default);
}

.navds-tag--alt2-filled {
  border-color: transparent;
  background-color: var(--ax-bg-brand-two-strong);
  color: var(--ax-text-brand-two-contrast);
}

.navds-tag--alt2-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-brand-two-moderate);
  color: var(--ax-text-default);
}

/* Alt3 variant */
.navds-tag--alt3 {
  border-color: var(--ax-border-brand-three);
  background-color: var(--ax-bg-brand-three-hover);
  color: var(--ax-text-default);
}

.navds-tag--alt3-filled {
  border-color: transparent;
  background-color: var(--ax-bg-brand-three-strong);
  color: var(--ax-text-brand-three-contrast);
}

.navds-tag--alt3-moderate {
  border-color: transparent;
  background-color: var(--ax-bg-brand-three-moderate);
  color: var(--ax-text-default);
}

/* High contrast */
@media (forced-colors: active) {
  .navds-tag {
    forced-color-adjust: none;
  }

  .navds-tag--neutral,
  .navds-tag--neutral-moderate {
    border-color: canvastext;
    color: canvastext;
  }
}
