/* Heading */
.aksel-heading {
  font-weight: var(--ax-font-weight-bold);
  margin: 0;
}

.aksel-heading--xlarge {
  font-size: var(--ax-font-size-heading-2xlarge);
  letter-spacing: -0.01em;
  line-height: var(--ax-font-line-height-heading-2xlarge);
  font-weight: 650;
}

.aksel-heading--xlarge.aksel-typo--spacing {
  margin-bottom: var(--ax-space-20);
}

.aksel-heading--large {
  font-size: var(--ax-font-size-heading-xlarge);
  letter-spacing: -0.008em;
  line-height: var(--ax-font-line-height-heading-xlarge);
  font-weight: 650;
}

.aksel-heading--large.aksel-typo--spacing {
  margin-bottom: var(--ax-space-16);
}

/* Mobile scale */
@media (max-width: 480px) {
  .aksel-heading--xlarge {
    font-size: var(--ax-font-size-heading-xlarge);
    letter-spacing: -0.008em;
    line-height: var(--ax-font-line-height-heading-xlarge);
  }

  .aksel-heading--xlarge.aksel-typo--spacing {
    margin-bottom: var(--ax-space-16);
  }

  .aksel-heading--large {
    font-size: var(--ax-font-size-heading-large);
    letter-spacing: -0.004em;
    line-height: var(--ax-font-line-height-heading-large);
  }

  .aksel-heading--large.aksel-typo--spacing {
    margin-bottom: var(--ax-space-12);
  }
}

.aksel-heading--medium {
  font-size: var(--ax-font-size-heading-medium);
  letter-spacing: -0.002em;
  line-height: var(--ax-font-line-height-heading-medium);
  font-weight: 650;
}

.aksel-heading--medium.aksel-typo--spacing {
  margin-bottom: var(--ax-space-12);
}

.aksel-heading--small {
  font-size: var(--ax-font-size-heading-small);
  letter-spacing: -0.001em;
  line-height: var(--ax-font-line-height-heading-small);
}

.aksel-heading--small.aksel-typo--spacing {
  margin-bottom: var(--ax-space-12);
}

.aksel-heading--xsmall {
  font-size: var(--ax-font-size-heading-xsmall);
  letter-spacing: -0.001em;
  line-height: var(--ax-font-line-height-heading-xsmall);
}

.aksel-heading--xsmall.aksel-typo--spacing {
  margin-bottom: var(--ax-space-12);
}

/* Ingress */
.aksel-ingress {
  font-size: var(--ax-font-size-xlarge);
  font-weight: var(--ax-font-weight-regular);
  letter-spacing: -0.001em;
  line-height: var(--ax-font-line-height-xlarge);
  margin: 0;
}

.aksel-ingress.aksel-typo--spacing {
  margin-bottom: var(--ax-space-40);
}

/* Body */
.aksel-body-long {
  font-size: var(--ax-font-size-large);
  font-weight: var(--ax-font-weight-regular);
  letter-spacing: 0;
  line-height: var(--ax-font-line-height-xlarge);
  margin: 0;
}

.aksel-body-long.aksel-typo--spacing {
  margin-bottom: var(--ax-space-28);
}

.aksel-body-long--large {
  font-size: var(--ax-font-size-xlarge);
  letter-spacing: -0.0013em;
  line-height: var(--ax-font-line-height-xlarge);
}

.aksel-body-long--large.aksel-typo--spacing {
  margin-bottom: var(--ax-space-40);
}

.aksel-body-long--small {
  font-size: var(--ax-font-size-medium);
  letter-spacing: 0.002em;
  line-height: var(--ax-font-line-height-large);
}

.aksel-body-long--small.aksel-typo--spacing {
  margin-bottom: var(--ax-space-24);
}

.aksel-body-short {
  font-size: var(--ax-font-size-large);
  font-weight: var(--ax-font-weight-regular);
  letter-spacing: 0;
  line-height: var(--ax-font-line-height-large);
  margin: 0;
}

.aksel-body-short.aksel-typo--spacing {
  margin-bottom: var(--ax-space-12);
}

.aksel-body-short--large {
  font-size: var(--ax-font-size-xlarge);
  letter-spacing: -0.0013em;
  line-height: var(--ax-font-line-height-xlarge);
}

.aksel-body-short--large.aksel-typo--spacing {
  margin-bottom: var(--ax-space-16);
}

.aksel-body-short--small {
  font-size: var(--ax-font-size-medium);
  letter-spacing: 0.002em;
  line-height: var(--ax-font-line-height-medium);
}

.aksel-body-short--small.aksel-typo--spacing {
  margin-bottom: var(--ax-space-8);
}

/* Label */
.aksel-label {
  font-size: var(--ax-font-size-large);
  font-weight: var(--ax-font-weight-bold);
  letter-spacing: 0;
  line-height: var(--ax-font-line-height-large);
  margin: 0;
}

.aksel-label.aksel-typo--spacing {
  margin-bottom: var(--ax-space-12);
}

.aksel-label--small {
  font-size: var(--ax-font-size-medium);
  letter-spacing: 0.002em;
  line-height: var(--ax-font-line-height-medium);
}

.aksel-label--small.aksel-typo--spacing {
  margin-bottom: var(--ax-space-8);
}

/* Small text */
.aksel-detail {
  font-size: var(--ax-font-size-small);
  letter-spacing: 0.004em;
  line-height: var(--ax-font-line-height-medium);
  margin: 0;
}

.aksel-detail.aksel-typo--spacing {
  margin-bottom: var(--ax-space-8);
}

.aksel-detail.aksel-typo--uppercase {
  text-transform: uppercase;
}

.aksel-detail--small {
  font-weight: var(--ax-font-weight-regular);
}

.aksel-detail--small.aksel-typo--spacing {
  margin-bottom: var(--ax-space-8);
}

.aksel-error-message {
  color: var(--ax-text-danger-subtle);

  &.aksel-error-message--show-icon {
    display: flex;
    gap: var(--ax-space-4);

    & svg {
      margin-top: 0.15em;
      flex: 0 0 auto;
      width: 1em;
      height: 1em;
    }
  }
}

/* -------------------------------- Utilities ------------------------------- */
.aksel-typo--truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.aksel-typo--semibold {
  font-weight: var(--ax-font-weight-bold);
}

.aksel-typo--align-start {
  text-align: start;
}

.aksel-typo--align-center {
  text-align: center;
}

.aksel-typo--align-end {
  text-align: end;
}

.aksel-typo--visually-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

:is(.aksel-heading, .aksel-ingress, .aksel-body-long, .aksel-body-short, .aksel-label, .aksel-detail) {
  color: var(--ax-text-neutral);
}

[data-color] {
  &:is(.aksel-heading, .aksel-ingress, .aksel-body-long, .aksel-body-short, .aksel-label, .aksel-detail) {
    color: var(--ax-text-default);
  }
}

.aksel-typo--color-default {
  color: var(--ax-text-neutral);

  &[data-color] {
    color: var(--ax-text-default);
  }
}

.aksel-typo--color-subtle {
  color: var(--ax-text-neutral-subtle);

  &[data-color] {
    color: var(--ax-text-subtle);
  }
}
