.navds-story-content-container {
  display: flex;
  background: white;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  min-height: 10rem;
  background: repeating-linear-gradient(
    45deg,
    #d6d6d6,
    #d6d6d6 10px,
    transparent 10px,
    transparent 20px
  );
}
