@import (reference) "~nav-frontend-paneler-style";
@import (reference) "~nav-frontend-typografi-style/src/index";
@import "./assets/symbols";

.bekreftCheckboksPanel {
  .panel-mixin();
  .panel-focus-mixin();

  background-color: @navOransjeLighten80;
  border-color: @navOransjeLighten80;
  cursor: unset;
  transition: background-color linear 100ms;

  .bekreftCheckboksPanel__innhold {
    .typo-normal-mixin();

    max-width: 80ch;
    margin-bottom: 1rem;
  }

  .skjemaelement {
    margin-bottom: 0;
  }

  .checkboks:hover + .skjemaelement__label {
    text-decoration: underline;
  }

  &--checked {
    background-color: @navGronnLighten80;
    border-color: @navGronnLighten80;

    .bekreftCheckboksPanel__innhold {
      .lenke {
        &:not(:focus) {
          color: @navMorkGra;
        }
      }
    }

    .checkboks {
      + .skjemaelement__label {
        &::before {
          transition: none;
          background-color: @navGronn;
          border-color: @navGronn;
          background-image: @checkWhite;
        }

        &:hover {
          color: @navMorkGra;

          &::before {
            background-color: @navGronnDarken40;
            border-color: @navGronnDarken40;
          }
        }
      }

      &:focus {
        + .skjemaelement__label {
          &::before {
            border-color: @fokusFarge;
          }

          &:hover {
            &::before {
              background-image: @checkWhite;
            }
          }
        }
      }
    }
  }

  &--error {
    background-color: @pinkErrorBg;
    border: 1px solid transparent;
  }
}
