@import (reference) "~nav-frontend-core/less/_variabler";
@import (reference) "~nav-frontend-typografi-style/src/index";

[autocomplete="off"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.skjemaelement {
  .typo-normal-mixin();

  position: relative;

  &__label {
    .typo-element-mixin();

    display: block;
    line-height: 1.4;
    margin-bottom: 0.5rem;

    + .skjemaelement__description {
      margin-top: -0.25rem;
    }
  }

  &__description {
    margin-bottom: 0.5rem;
  }
}

@import "checkbox";
@import "radioknapp";
@import "textarea";
@import "select";
@import "input";
@import "input-fodselsnr";
@import "validering";
@import "toggle";
@import "input-panel";
@import "bekreft-checkboks-panel";
@import "feiloppsummering";
@import "skjema-gruppe";
