@import (reference) "~nav-frontend-core/less/_variabler";
@import (reference) "~nav-frontend-typografi-style/src/index";

.skjemagruppe,
.skjemagruppe fieldset,
.skjemagruppe__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  .skjemaelement {
    margin-bottom: 1rem;
  }

  .skjemagruppe {
    &.inputPanelGruppe,
    &.radiogruppe,
    &.checkboxgruppe {
      margin-bottom: 1rem;
    }
  }
}

.skjemagruppe__description {
  .typo-normal-mixin();

  margin-bottom: 1rem;
}

.skjemagruppe legend,
.skjemagruppe__legend {
  .typo-ingress-mixin();

  margin-bottom: 1rem;
}

.skjemagruppe {
  &.inputPanelGruppe,
  &.radiogruppe,
  &.checkboxgruppe {
    .skjemaelement {
      margin-bottom: 1rem;
    }

    legend,
    .skjemagruppe__legend {
      .typo-element-mixin();

      margin-bottom: 1rem;
    }
  }
}
