.skjemagruppe {
  &--feil {
    .skjemaelement__input:not(:focus):not(:hover):not(:active):not(:checked) {
      .skjemaelement-feilmarkering-mixin();

      &.checkboks + .skjemaelement__label::before,
      &.radioknapp + .skjemaelement__label::before {
        .skjemaelement-feilmarkering-mixin();
      }
    }

    .inputPanel:not(.inputPanel--focused):not(.inputPanel--checked):not(.inputPanel--disabled) {
      .skjemaelement-feilmarkering-mixin();
    }
  }
}

.skjemaelement__feilmelding {
  margin-top: 0.5rem;
}

.skjemaelement__feilmelding:empty {
  margin: 0;
}

.skjemaelement__input--harFeil:not(:focus):not(:hover):not(:active):not(.inputPanel--focused) {
  .skjemaelement-feilmarkering-mixin();

  &.checkboks,
  &.radio,
  &.radioknapp {
    &:not(:checked) + .skjemaelement__label {
      &::before {
        .skjemaelement-feilmarkering-mixin();
      }
    }
  }
}

.skjemaelement-feilmarkering-mixin() {
  border-color: @redError;
  box-shadow: 0 0 0 1px @redError;
}
