@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.navds-alert {
  border-radius: 4px;
  border: $navds-border-default;
  /* Padding calculated based on 16px font for 64px tall alert */
  padding: 1.1875em 1em;
  display: grid;
  grid-auto-flow: column;
  gap: 0.75rem;
  justify-content: start;
  font-size: $navds-font-size-small;
  line-height: $navds-font-line-height-small;
}

.navds-alert--small {
  border-radius: 0;
  padding: 0.5em 1em;
}

.navds-alert > svg {
  font-size: 1.5rem;
  background: radial-gradient(
    circle,
    $navds-color-background 50%,
    0,
    transparent
  );
}

.navds-alert > span {
  margin-top: 1px;
}

.navds-alert--error {
  border-color: $navds-color-error-border;
  background-color: $navds-color-error-background;
}

.navds-alert--error > svg {
  color: $navds-color-red-60;
}

.navds-alert--warning {
  border-color: $navds-color-warning-border;
  background-color: $navds-color-warning-background;
}

.navds-alert--warning > svg {
  color: $navds-color-orange-40;
  background: radial-gradient(
    circle,
    $navds-color-darkgray 50%,
    0,
    transparent
  );
}

.navds-alert--info {
  border-color: $navds-color-info-border;
  background-color: $navds-color-info-background;
}

.navds-alert--info > svg {
  color: $navds-color-lightblue-70;
}

.navds-alert--success {
  border-color: $navds-color-success-border;
  background-color: $navds-color-success-background;
}

.navds-alert--success > svg {
  color: $navds-color-green-70;
}
