@import (reference) "nav-frontend-core/less/_variabler";

.dodont {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;

  .dodont__button-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    width: calc(100% - 4rem);

    & > div > * {
      width: 100%;
    }
  }

  .dodont__label {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  .dodont__do,
  .dodont__dont {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
