@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.navds-button {
  display: inline-block;
  cursor: pointer;
  background-color: $navds-color-background;
  color: $navds-color-action-default;
  font: inherit;
  margin: 0;
  text-align: center;
  border: 2px solid $navds-color-action-default;

  /* Padding calculated based on 16px font for 40px tall button */
  padding: calc(0.5625em - 2px) calc(2em - 2px);
  border-radius: 2px;
  text-decoration: none;
  font-size: $navds-font-size-small;
  line-height: $navds-font-line-height-small;
}

.navds-button--small {
  /* Padding calculated based on 16px font for 32px tall button */
  padding: calc(0.3125em - 2px) calc(1.11em - 2px);
}

.navds-button:focus {
  outline: none;
  box-shadow: $navds-shadow-focus;
}

.navds-button--primary:hover {
  color: $navds-color-text-inverse;
  background-color: $navds-color-action-hover;
  padding: 0.5625em 2em;
  border: none;

  &.navds-button--small {
    padding: 0.3125em 1.11em;
  }
}

.navds-button--primary:active {
  color: $navds-color-text-inverse;
  background-color: $navds-color-action-active;
  padding: 0.5625em 2em;
  border: none;

  &.navds-button--small {
    padding: 0.3125em 1.11em;
  }
}

.navds-button--secondary {
  border-color: transparent;
  background-color: transparent;
}

.navds-button--secondary:focus,
.navds-button--secondary:hover,
.navds-button--secondary:active {
  border-color: $navds-color-action-default;
}

.navds-button--action {
  color: $navds-color-text-inverse;
  background-color: $navds-color-action-default;
  padding: 0.5625em 2em;
  border: none;

  &.navds-button--small {
    padding: 0.3125em 1.11em;
  }
}

.navds-button--action:focus:not(:hover) {
  border: 2px solid $navds-color-action-default;
  color: $navds-color-action-default;
  background-color: $navds-color-background;
  padding: calc(0.5625em - 2px) calc(2em - 2px);

  &.navds-button--small {
    padding: calc(0.3125em - 2px) calc(1.11em - 2px);
  }
}

.navds-button--action:hover {
  background-color: $navds-color-action-hover;
}

.navds-button--action:active {
  color: $navds-color-text-inverse;
  background-color: $navds-color-action-active;
}

.navds-button--danger {
  color: $navds-color-text-inverse;
  background-color: $navds-color-danger-default;
  padding: 0.5625em 2em;
  border: none;

  &.navds-button--small {
    padding: 0.3125em 1.11em;
  }
}

.navds-button--danger:focus:not(:hover) {
  border: 2px solid $navds-color-danger-default;
  color: $navds-color-danger-default;
  background-color: $navds-color-background;
  padding: calc(0.5625em - 2px) calc(2em - 2px);

  &.navds-button--small {
    padding: calc(0.3125em - 2px) calc(1.11em - 2px);
  }
}

.navds-button--danger:hover {
  background-color: $navds-color-danger-hover;
}

.navds-button--danger:active {
  background-color: $navds-color-danger-active;
}

.navds-button--action,
.navds-button--danger {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(calc(-1 * 2px));
  position: relative;

  &::before {
    bottom: calc(-1 * 2px);
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.navds-button--action:hover,
.navds-button--danger:hover {
  transform: translateY(calc(-1 * 3px));

  &:not(:focus) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25), 0 3px 0 rgba(0, 0, 0, 0.25);
  }

  &::before {
    bottom: calc(-1 * 3px);
    height: 3px;
  }
}

.navds-button--action:active,
.navds-button--danger:active {
  transform: translateY(calc(-1 * 0px));

  &:not(:focus) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.25);
  }

  &::before {
    bottom: calc(-1 * 0px);
    height: 0;
  }
}

.navds-button:disabled {
  border: none;
  background-color: $navds-color-disabled;
  color: $navds-color-text-inverse;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
  padding: 0.5625em 2em;
}
