@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

@mixin button-border-width($border-width: 2px) {
  border-width: $border-width;

  /* Padding calculated based on 16px font for 40px tall button */
  padding: calc(0.5625em - #{$border-width}) calc(2em - #{$border-width});

  &.navds-button--small {
    /* Padding calculated based on 16px font for 32px tall button */
    padding: calc(0.3125em - #{$border-width}) calc(1.11em - #{$border-width});
  }
}

@mixin button_elevation($elevation: 0px) {
  transform: translateY(calc(-1 * #{$elevation}));
  position: relative;

  &:not(:focus) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25),
      0 $elevation 0 rgba(0, 0, 0, 0.25);
  }

  &::before {
    bottom: calc(-1 * #{$elevation});
    height: $elevation;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
}

@mixin elevated-button($default-color, $hover-color, $active-color) {
  &:not(:disabled) {
    color: $navds-color-text-inverse;
    background-color: $default-color;
    border-color: $default-color;

    @include button-border-width(0px);
    @include button_elevation(2px);

    &:hover {
      background-color: $hover-color;

      @include button_elevation(3px);
    }

    &:active {
      background-color: $active-color;

      @include button_elevation(0px);
    }

    &:focus {
      color: $default-color;
      background-color: $navds-color-background;

      @include button_elevation(2px);
      @include button-border-width(2px);
    }

    &:hover:focus {
      background-color: $hover-color;
      color: $navds-color-text-inverse;

      @include button-border-width(0px);
    }

    &:active:focus {
      color: $active-color;
      background-color: $navds-color-background;

      @include button_elevation(0px);
      @include button-border-width(2px);

      border-color: $active-color;
    }

    &:hover:focus:active {
      color: $navds-color-text-inverse;
      background-color: $active-color;
    }
  }
}

.navds-button {
  display: inline-block;
  cursor: pointer;
  background-color: $navds-color-background;
  color: $navds-color-action-default;
  font: inherit;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: $navds-font-size-small;
  line-height: $navds-font-line-height-small;
  border-color: $navds-color-action-default;
  border-radius: 2px;
  border-style: solid;

  @include button-border-width(2px);

  &:focus {
    outline: none;
    box-shadow: $navds-shadow-focus;
  }

  &--primary {
    &:hover,
    &:active {
      color: $navds-color-text-inverse;
      background-color: $navds-color-action-hover;

      @include button-border-width(0px);
    }

    &:active {
      background-color: $navds-color-action-active;
    }
  }

  &--secondary {
    border-color: transparent;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      border-color: $navds-color-action-default;
    }
  }

  &--action {
    @include elevated-button(
      $navds-color-action-default,
      $navds-color-action-hover,
      $navds-color-action-active
    );
  }

  &--danger {
    @include elevated-button(
      $navds-color-danger-default,
      $navds-color-danger-hover,
      $navds-color-danger-active
    );
  }

  &:disabled {
    background-color: $navds-color-disabled;
    color: $navds-color-text-inverse;
    cursor: not-allowed;

    @include button-border-width(0px);
  }
}
