@import '../../../assets/styles/colors.less';

.header {
  background-color: @GL_WRAPPER_BACKGROUND_COLOR;
  display: flex;
  padding: 48px 32px 32px 32px;

  &__logo {
    max-width: 64px;
    max-height: 40px;
  }

  &__content {
    margin-left: 24px;

    &__line {
      border: 1px solid #3e3832;
      height: 64px;
      top: 38px;
      position: absolute;
    }


    &__textSection {
      .smallHeader {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.4px;
        margin: 0 0;
        text-transform: uppercase;
        top: -12px;
        position: relative;
      }

      h2 {
        font-size: 40px;
        font-weight: bold;
        margin: 0 0;
      }
    }
  }
}