.test-scss {
  margin: $ax-space-16;
  padding: $ax-space-0;
  padding: $ax-space-6;
  padding: $ax-space-2;
  /* Has replacement */
  background-color: $ax-bg-neutral-soft;
  /* Has no replacement */
  background-color: $a-surface-transparent;
}
