.componentMainPage {

  p,h1,h2,h3 {
    padding: 8px;
  }

  &__content {
    margin-top: -179px;
    left: -64px;
    width: 110%;
    z-index: 999;
    background-color: white;
    position: relative;
    padding-left: 64px;
    padding-top: 56px;

    img {
      max-width: 225px;
    }

    &__text {
      display: inline-block;
      top: 62px;
      left: 40px;
      max-width: 600px;
      position: relative;

      .typo-sidetittel {
        margin-bottom: 16px;
      }
    }
  }
}
