@import "@navikt/ds-css";

.wrapper {
  background-color: var(--ax-bg-default);
}

.form {
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--ax-bg-default);
}

.form-togglegroup {
  min-width: 10rem;
}

.form-search {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.categories {
  display: grid;
  width: 100%;
  place-content: start;
  gap: 2rem;
  padding: 1.5rem;
}

.sub-categories {
  display: grid;
  width: 100%;
  gap: 0.5rem;
}

.sub-heading {
  color: var(--ax-text-neutral-subtle);
  margin-bottom: 0.25rem;
}

.icons-wrapper {
  gap: 0.125rem;
  display: flex;
  flex-wrap: wrap;
}

.icon-button {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: var(--ax-radius-2);
  display: grid;
  place-content: center;
  background-color: var(--ax-bg-neutral-softA);
  cursor: pointer;
  border: none;
}

.icon-button:hover {
  background-color: var(--ax-bg-neutral-moderate-hoverA);
}

.icon-button:active {
  background-color: var(--ax-bg-neutral-moderate-pressedA);
}

.icon-button:focus-visible {
  outline: 3px solid var(--ax-border-focus);
  outline-offset: 2px;
}
