.componentGuidelinePage {
  .componentTitle {
    display: flex;
    align-items: center;

    .etikett {
      margin-left: 1rem;
    }
  }

  table {
    .dependencies {
      a {
        display:inline-block;
        margin-right: 0.5rem;
      }
    }
  }

  .section {
    > div {
      > .alertstripe {
        margin-top: 2rem;
      }
    }
  }
}