@import (reference) '~NavFrontendCore/less/_variabler';

.componentGuidelinePage {
  > .alertstripe {
    border-radius: 0;
    position:absolute;
    top: 0;
    left: 300px;
    right: 0;
    z-index: 2;
  }

  .componentTitle {
    display: flex;
    align-items: center;
    
    &--beta {
      margin-top: 2.5rem;
    }

    &--style {
      .etikett {
        background: @navBlaLighten80;
      }
    }

    .etikett {
      margin-left: 1rem;
    }
  }

  table {
    .dependencies {
      a {
        display:inline-block;
        margin-right: 0.5rem;
      }
    }
  }

  .install-doc {
    .typo-systemtittel {
      display: flex;
      align-items: center;
      .hjelpetekst {
        height: 1.5rem;
      }
    }

    .panel {
      margin: 0 !important;
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .section {
    > div {
      > .alertstripe {
        margin-top: 2rem;
      }
    }
  }
}

#beta-component-modal {
  padding: 3rem 3.5rem 2.5rem;
  max-width: 500px;
  text-align: center;

  p {
    text-align: left;
  }
}
