@import "../../../node_modules/@navikt/ds-tokens/dist/tokens.scss";

.ReactModal__Body--open {
  overflow: hidden;
}

.navds-modal {
  background-color: $navds-color-background;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  overflow: auto;
  max-height: 100%;
  margin-bottom: 0;
  z-index: $navds-z-index-modal-content;
}

.navds-modal:focus,
.navds-modal--focus {
  box-shadow: $navds-shadow-focus;
  outline: none;
}

.navds-modal__overlay {
  position: fixed;
  z-index: $navds-z-index-modal-overlay;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $navds-color-modal-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

// prettier-ignore
.navds-modal__overlay:active.navds-modal:not(:active).navds-modal__button--shake {
  transform: rotate(10deg);
  transition: transform 100ms cubic-bezier(0.82, -2, 1, 0.3);
}

.navds-modal__button--shake {
  transform: rotate(0deg);
  transition: transform 100ms cubic-bezier(0.82, 2, 1, 0.3);
}

.navds-modal__button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
}

.navds-modal__button svg {
  /* 24x24px */
  height: 1.5rem;
  width: 1.5rem;
}
