.legacyTokenViewGrid {
  margin-block-start: var(--ax-space-16);
  display: grid;

  &[data-stacked="true"] {
    gap: var(--ax-space-32);
  }

  &[data-stacked="false"] {
    gap: var(--ax-space-24);
    grid-template-columns: repeat(auto-fit, minmax(16rem /* 256px */, 1fr));

    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.legacyTokenViewGlobalBlock {
  z-index: 0;
  display: flex;
  width: fit-content;
  align-items: center;
}

.legacyTokenViewBlockOuter {
  margin-inline-end: var(--ax-space-12);
  display: grid;
  height: 4rem;
  width: 4rem;
  place-content: center;
  border-radius: var(--ax-border-radius-large);
}

.legacyTokenViewBlockInner {
  height: 4rem;
  width: 4rem;
  z-index: -1;
}

.legacyTokenViewDt {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--ax-space-4);
  font-size: var(--ax-font-size-medium);
}

.legacyTokenViewName {
  display: flex;
  min-height: 2rem;
  align-items: center;
}

.legacyTokenViewCheckeredBg {
  background-color: #fff;
  background-image: repeating-linear-gradient(
      45deg,
      rgb(241 241 241/ 0.8) 25%,
      transparent 25%,
      transparent 75%,
      rgb(241 241 241/ 0.8) 75%,
      rgb(241 241 241/ 0.8)
    ),
    repeating-linear-gradient(
      45deg,
      rgb(241 241 241/ 0.8) 25%,
      #fff 25%,
      #fff 75%,
      rgb(241 241 241/ 0.8) 75%,
      rgb(241 241 241/ 0.8)
    );
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
}
