.doDontNotch {
  padding: var(--ax-space-12) var(--ax-space-16);
  color: var(--ax-text-subtle);
  background-color: var(--ax-bg-moderate);
  border: 1px solid var(--ax-border-default);
  border-bottom: 1px solid var(--ax-border-subtleA);
  border-radius: var(--ax-border-radius-xlarge) var(--ax-border-radius-xlarge) 0 0;
  display: flex;
  gap: var(--ax-space-6);
}

.doDontImage {
  width: 100%;
  position: relative;
  border-inline: 1px solid var(--ax-border-default);
  background-color: var(--ax-bg-default);
}

.doDontDescription {
  padding: var(--ax-space-12) var(--ax-space-16);
  color: var(--ax-text-neutral);
  background-color: var(--ax-bg-neutral-softA);
  border: 1px solid var(--ax-border-default);
  border-top: 1px solid var(--ax-border-neutral-subtleA);
  border-radius: 0 0 var(--ax-border-radius-xlarge) var(--ax-border-radius-xlarge);
}
