.iconSquareWrapper {
  .iconSquare {
    background-color: #e7e7e9;
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    cursor: pointer;
    padding: 4rem;

    &:hover {
      opacity: 1;
    }
  }

  .textSection {
    margin-top: 0.75rem;
  }

  margin-bottom: 1rem;
}