.navds-content__container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--navds-content-container-max-width);
  padding: var(--navds-content-container-padding-small);
}

@media (min-width: 448px) {
  .navds-content__container {
    padding: var(--navds-content-container-padding-medium-and-larger);
  }
}
