.bash__pre {
  padding: 1rem;
  overflow-x: auto;
  width: 100%;
  background-color: var(--bg-code);
  align-items: center;
  display: flex;
  font-family: var(--navds-font-family);
}

.bash__preWrapper {
  position: relative;
  align-items: center;
  display: flex;
}

.bash__terminal {
  color: var(--color-code);
}

.bash__code {
  color: var(--color-code);
  font-family: var(--font-family-code);
  font-size: 1rem;
}

.bash__terminal::before {
  content: "$ ";
}

.bash__button {
  width: 3rem;
  background-color: var(--bg-code);
  position: absolute;
  right: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  height: calc(100% - 3rem - 0.5rem);
  align-items: center;
}

.bash__copyButton {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  background-color: var(--bg-code);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  align-items: center;
  display: flex;
}

.bash__copyButton:hover {
  background-color: var(--navds-color-gray-60);
}

.bash__copyButton:focus {
  outline: var(--outline-code);
  outline-offset: var(--outline-offset);
}
