.bash__pre {
  padding: 1rem;
  overflow-x: auto;
  width: 100%;
  background-color: var(--bg-code);
  align-items: center;
  display: flex;
  font-family: var(--navds-font-family);
}

.bash__pre--good {
  border-bottom: 8px solid var(--navds-color-green-50);
}

.bash__pre--bad {
  border-bottom: 8px solid var(--navds-color-red-60);
}

.bash__good-bad {
  margin-top: -1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.bash__preWrapper {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bash__terminal {
  color: var(--color-code);
}

.bash__code {
  color: var(--color-code);
  font-family: var(--font-family-code);
  font-size: 1rem;
  padding-right: 4rem;
}

.bash__terminal::before {
  content: "$ ";
}

.bash__copyButton {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  background-color: var(--bg-code);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  align-items: center;
  display: flex;
  z-index: 0;
}

.bash__copyButton:hover {
  background-color: var(--navds-color-gray-60);
}

.bash__copyButton:focus {
  outline: var(--outline-code);
  outline-offset: var(--outline-offset);
}

.bash__popover {
  padding: 0.5rem;
}

.inline-code {
  color: #c30000;
  font-family: var(--font-family-code);
  display: inline-block;
  padding: 0 0.125rem;
}
