.colorswitch {
  display: flex;
  align-items: center;
}
.colorswitch__button.navds-button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 0.5rem;
  margin: 0.2rem;
  box-shadow: var(--navds-shadow-hover);
  transform: translateY(0.2rem);
  border: 1px solid var(--navds-color-darkgray);
}

.colorswitch__button--none.navds-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #ffffff;
}

.colorswitch__closeicon {
  color: #a13a28;
}

.colorswitch__button--selected.navds-button {
  transform: translateY(-0.4rem);
  transform: rotateZ(5deg);
  box-shadow: var(--navds-shadow-focus);
  border: 1px solid #f1f1f1;
}
