.code__dropdown {
  font-size: var(--navds-font-size-heading-medium);
  line-height: var(--navds-font-line-height-medium);
  font-family: var(--navds-font-family);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  align-items: center;
  background-color: #fff;
  height: 2.5rem;
  border: none;
  /* border-top: 1px solid var(--navds-color-gray-60); */
  border: 1px solid var(--navds-color-gray-60);
  border-top: none;
  /* margin-top: -1px; */
  /* box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.1); */
}

.code__dropdown:hover {
  /* background-color: #f1f1f1; */
  outline: 2px solid var(--navds-color-action-hover);
  outline-offset: -2px;
  border-bottom: 1px solid transparent;
}

.code__dropdown:focus {
  outline: 2px solid var(--navds-text-focus);
  outline-offset: -2px;
  border-bottom: 1px solid transparent;
}

.code__dropdown[aria-expanded="true"] {
  border-bottom: none;
}

.code__dropdownCode {
  transition: height 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
    padding 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  padding: 0 1rem;
  border: 1px solid var(--navds-color-gray-60);
  border-top: none;
}

.code__dropdownCode--wrapper {
  overflow-x: auto;
  padding: 1rem 0 0 0;
  padding-top: 1rem;
}

.code__dropdownCode--open {
  padding: 1rem 0;
}

.code__dropdownHeading {
}

.code__dropdownChevron {
  width: 1.2rem;
  height: 1.2rem;
  transition: 150ms transform;
}

.code__dropdownCode--pre {
  margin: 0;
  padding: 1rem;
  background-color: #f1f1f1;
}

pre[class*="code__dropdownCode--pre"]:not([disabled])
  > code[class*="code__dropdownCode--code"] {
  border-left: 0;
  box-shadow: none;
  background-image: none;
  background-color: #f1f1f1;
}
