@import (reference) "nav-frontend-core/less/_variabler";
@import (reference) "nav-frontend-knapper-style";

code {
  &.inline {
    display: inline-block;
    color: @navRod;
    padding: 0 0.125rem;
  }

  &.bash {
    display: block;
    padding: 1rem;
    color: white;
    background: @navMorkGra;
    white-space: pre-wrap;
    outline-style: none;
    min-width: 200px;

    &--copy {
      .knapptaktil-mixin();

      border: 2px solid @navMorkGra;

      &:hover,
      &:focus {
        background-color: lighten(@navMorkGra, 10%);
        border: 2px solid @navMorkGra;
      }

      &:active,
      &:active:hover,
      &:active:focus {
        background-color: darken(@navMorkGra, 10%);
        border: 2px solid transparent;
        color: @white;
      }
    }
  }
}

.copyIcon {
  position: fixed;
  bottom: 0;
  right: 0;
}

pre {
  margin: 0;

  &[class*="language-"]:not([disabled]) {
    margin: 0;

    > code[class*="language-"] {
      border-left: 0;
      box-shadow: none;
      background-image: none;
      background-color: #f4f4f4;
      padding: 1rem;
      color: @navMorkGra;
    }

    // Avoids having these tags wrapped around <code>
    &::after,
    &::before {
      display: none;
    }
  }
}

.code-example {
  border: 3px solid #f4f4f4;
  border-top: none;

  &:hover {
    box-shadow: 0 2px 1px 0 var(--navds-global-color-gray-400);
  }

  &:focus {
    outline: none;
    border: 3px solid #254b6d;
    border-top: none;
  }
}
