.attachment {
  display: flex;
  gap: var(--ax-space-8);
  border-radius: var(--ax-border-radius-large);
  padding: var(--ax-space-12) var(--ax-space-16);
  border: 1px solid var(--ax-border-subtle);
  background-color: var(--ax-bg-moderate);
}

.attachmentIcon {
  display: grid;
  flex-shrink: 0;
  place-content: center;
  height: 1.5rem;
}
