.navds-copy-to-clipboard {
  display: inline-flex;
  padding: 0.25rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  margin: 0 0.25rem;
  position: relative;
  cursor: copy;
}

.navds-copy-to-clipboard:hover {
  border-color: var(--navds-color-action-default);
  color: var(--navds-color-action-default);
}

.navds-copy-to-clipboard:focus {
  outline: none;
  box-shadow: var(--navds-shadow-focus);
}

.navds-copy-to-clipboard svg {
  font-size: 1.5em;
}

.navds-copy-to-clipboard--success {
  position: absolute;
  left: 0;
  top: 1.3em;
  padding: 0.25em 0.75em;
  background-color: white;
  box-shadow: 0 0.1em 0.2em var(--navds-color-gray-60);
  border: 0.1em solid var(--navds-color-gray-60);
  border-radius: 0.25em;
  white-space: nowrap;
}

.navds-copy-to-clipboard--success::first-letter {
  text-transform: uppercase;
}
