name: Deploy aksel.nav.no
on:
  push:
    branches:
      - master
    paths:
      - "aksel.nav.no/**"

env:
  IMAGE: ghcr.io/navikt/designsystemet

jobs:
  sync_data_with_sanity:
    name: Update component data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - uses: actions/checkout@v2
      - name: add tokens to .env
        run: |
          echo "SANITY_WRITE_KEY=${{ secrets.SANITY_FEEDBACK_WRITE_KEY }}" >> aksel.nav.no/website/.env

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-prod-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-prod-

      - name: Install dependencies
        run: yarn

      - name: Run docgen
        run: |
          yarn boot
          yarn docgen

      - name: Update sanity sync
        run: yarn workspace aksel.nav.no sanity:update

  build_and_deploy:
    name: Build and deploy to prod-gcp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - uses: actions/checkout@v2
      - name: add tokens to .env
        run: |
          echo "SANITY_WRITE_KEY=${{ secrets.SANITY_FEEDBACK_WRITE_KEY }}" >> aksel.nav.no/website/.env
          echo "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}" >> aksel.nav.no/website/.env
          echo "SANITY_PREVIEW_TOKEN=${{ secrets.SANITY_PREVIEW_TOKEN }}" >> aksel.nav.no/website/.env
          echo "SANITY_PRIVATE_NO_DRAFTS=${{ secrets.SANITY_PRIVATE_NO_DRAFTS }}" >> aksel.nav.no/website/.env

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-prod-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-prod-

      - name: Install dependencies
        run: yarn

      - name: Build packages
        run: yarn boot

      - name: Tests
        run: yarn workspace aksel.nav.no test

      - name: Build application
        run: yarn workspace aksel.nav.no build:next

      - name: Login to GitHub Container Registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # Use commit-sha1 instead of tag for security concerns
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get complete tag
        run: echo "TAG=$( date +%s )" >> $GITHUB_ENV
      - name: Create docker image tags
        run: echo "DOCKER_TAG=${{ env.IMAGE }}:${{ env.TAG }}" >> $GITHUB_ENV
      - name: Build docker image
        run: docker build -t ${{ env.DOCKER_TAG }} . -f aksel.nav.no/Dockerfile
      - name: Wait for e2e-tests to succeed
        uses: lewagon/wait-on-check-action@v1.2.0
        with:
          ref: ${{ github.ref }}
          check-name: "Smoketest Aksel"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
      - name: Push docker image
        run: |
          docker push ${{ env.DOCKER_TAG }}

      - name: Deploy to prod-gcp
        uses: nais/deploy/actions/deploy@master
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          RESOURCE: aksel.nav.no/nais-prod.yaml
          CLUSTER: prod-gcp
          IMAGE: ${{ env.DOCKER_TAG }}
