name: Backup sanity dateset to gcp
on:
  workflow_dispatch:
  schedule:
    # 12.00 every 3 days
    - cron: "0 0 */3 * *"
jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required to retrieve git history
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-

      - name: Install dependencies
        run: yarn

      - name: Export dataset
        run: SANITY_TOKEN=${{secrets.SANITY_DATASET_EDITOR_TOKEN}} yarn sanity:backup
      - name: Upload GCP bucket
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.gcp_credentials_prod }}"
      - uses: "google-github-actions/upload-cloud-storage@v0"
        with:
          path: ./aksel.nav.no/sanity
          destination: "aksel-website-prod/backups"
          glob: "**/backup-*.tar.gz"
