name: Backup sanity dateset to gcp
on:
  workflow_dispatch:
  schedule:
    # 12.00 every 3 days
    - cron: "0 0 */3 * *"
jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Required to retrieve git history

      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: yarn
          cache-dependency-path: "**/yarn.lock"

      - name: Install dependencies
        run: cd aksel.nav.no/website && yarn
        env:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Export dataset
        run: cd aksel.nav.no/website && yarn backup
        env:
          SANITY_READ: ${{ secrets.SANITY_READ }}

      - name: Upload GCP bucket
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.gcp_credentials_prod }}"
      - uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          path: ./aksel.nav.no/website
          destination: "aksel-website-prod/backups"
          glob: "backup-*.tar.gz"
