# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Build -> Test -> Publish

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  test-build:
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required to retrieve git history
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Node-modules cache
        uses: actions/cache@v2
        id: node-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: install
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: postinstall
        if: steps.node-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Boot
        run: yarn boot
      - name: Eslint and Stylelint
        run: yarn lint
      - name: Test
        run: yarn test

  publish-npm:
    needs: test-build
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTOMATION }}
    if: github.event_name == 'push' && contains(github.event.head_commit.message, '[fix]') || contains(github.event.head_commit.message, '[feature]') || contains(github.event.head_commit.message, '[breaking]')
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
          token: ${{secrets.GIT_REPO}}
      - uses: actions/setup-node@v2
        with:
          registry-url: https://registry.npmjs.org
          node-version: 14
      - name: Node-modules cache
        uses: actions/cache@v2
        id: node-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: install
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Boot
        run: yarn boot
      - name: Generate docs
        run: yarn docgen
      - name: Setup github connection for auth
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git remote set-url origin https://github-actions[bot]:$NAV_DS_TOKEN@github.com/$GITHUB_REPOSITORY.git
        env:
          NAV_DS_TOKEN: ${{secrets.GIT_REPO}}

      - name: Update changed packages with PATCH
        if: contains(fromJson('["fix", "patch"]'), github.event.head_commit.message)
        run: yarn lerna version patch --force-publish --include-merged-tags --yes
      - name: Update changed packages with MINOR
        if: contains(fromJson('["feature", "minor"]'), github.event.head_commit.message)
        run: yarn lerna version minor --force-publish --include-merged-tags --yes
      - name: Update changed packages with MAJOR
        if: contains(fromJson('["breaking", "major"]'), github.event.head_commit.message)
        run: yarn lerna version major --force-publish --include-merged-tags --yes
      - name: Publish to NPM registry
        run: yarn lerna publish --no-verify-access from-package --yes

      - name: Create a .npmrc file for the github package repository
        uses: FerLuisxd/create-npmrc@3
        with:
          org_name: navikt
        env:
          AUTH_TOKEN: ${{secrets.GIT_REPO}}
      - name: Publish to Github registry
        run: |
          yarn lerna publish --registry https://npm.pkg.github.com from-package --yes
