name: Chromatic

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - big-one-oh

jobs:
  chromatic-pr:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && github.event_name != 'push'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Node-modules cache
        uses: actions/cache@v3
        id: node-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: install
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: postinstall
        if: steps.node-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Boot
        run: yarn boot
      - name: run chromatic
        uses: chromaui/action@v1
        id: chromatic_tests
        continue-on-error: true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: x3xqdfgkujg
          exitZeroOnChanges: false

      - name: replace storybook url
        uses: frabert/replace-string-action@v2.0
        id: storybook_url
        with:
          pattern: "(iframe.html)"
          string: ${{ steps.chromatic_tests.outputs.storybookUrl }}
          replace-with: ""

      - name: Get commit sha
        id: vars
        shell: bash
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Find Comment
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: Chromatic build-output

      - name: Create or update comment
        if: steps.chromatic_tests.outcome == 'success'
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Chromatic build-output:

            - :clipboard: [Review](${{steps.chromatic_tests.outputs.url}})
            - :tada: [Storybook preview](${{steps.storybook_url.outputs.replaced}})
            - :white_check_mark: SUCCESS :white_check_mark:

            commit: `${{ steps.vars.outputs.sha_short }}`
          edit-mode: replace

      - name: Create or update failed comment
        if: steps.chromatic_tests.outcome != 'success'
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            **Chromatic build-output**:

            - :clipboard: [Review](${{steps.chromatic_tests.outputs.url}})
            - :tada: [Storybook preview](${{steps.storybook_url.outputs.replaced}})
            - :no_entry_sign: FAILED :no_entry_sign:, review endringer.

            commit: `${{ steps.vars.outputs.sha_short }}`
          edit-mode: replace

  chromatic-push:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && github.event_name == 'push'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Node-modules cache
        uses: actions/cache@v3
        id: node-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: install
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: postinstall
        if: steps.node-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Boot
        run: yarn boot
      - name: run chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: x3xqdfgkujg
          autoAcceptChanges: true
