name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: "Linter: eslint, stylelint"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup project
        uses: ./.github/actions/setup
        with:
          npm_auth_token: ${{ secrets.READER_TOKEN }}

      - name: Lint
        run: yarn lint

  validate-examples:
    name: "Validate Aksel.nav.no component examples"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup project
        uses: ./.github/actions/setup
        with:
          npm_auth_token: ${{ secrets.READER_TOKEN }}

      - name: Validate example code
        run: yarn validate:eksempler

  test:
    name: "Unit tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup project
        uses: ./.github/actions/setup
        with:
          npm_auth_token: ${{ secrets.READER_TOKEN }}

      - name: Test
        run: yarn test
