name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: "Validate build"
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: "write"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - name: set-env for yarn install to @navikt scope
        shell: bash
        run: echo "NPM_AUTH_TOKEN=${{ secrets.READER_TOKEN }}" >> $GITHUB_ENV

      - name: Install dependencies
        run: yarn

      - name: Boot (build packages)
        run: yarn boot

      - name: Lint
        run: yarn lint

      - name: Validate example code
        run: yarn workspace website validate:eksempler

      - name: Test
        run: yarn test
