name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: "Validate build"
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 16.13.0
          cache: yarn

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-test-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-test

      - name: Install dependencies
        run: yarn

      - name: Boot (build packages)
        run: yarn boot

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
