name: E2E / Playwright Tests
on:
  push:
    branches: [main, next]
    paths:
      - "aksel.nav.no/**"
  pull_request:
    branches: [main, next]
    paths:
      - "aksel.nav.no/**"

jobs:
  playwright:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.35.1-jammy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - name: set-env for yarn install to @navikt scope
        shell: bash
        run: echo "NPM_AUTH_TOKEN=${{ secrets.READER_TOKEN }}" >> $GITHUB_ENV

      - name: Install dependencies
        run: yarn

      - name: Build packages
        run: |
          yarn boot

      - name: Create empty .env file (Can be removed when env-file-if-exists is implemented in node v22)
        run: echo "" > .env

      - name: Build application
        env:
          SANITY_READ: ${{ secrets.SANITY_READ }}
          SANITY_READ_NO_DRAFTS: ${{ secrets.SANITY_READ_NO_DRAFTS }}
        run: yarn workspace aksel.nav.no build:next

      - name: Run Playwright tests
        env:
          SANITY_READ: ${{ secrets.SANITY_READ }}
          SANITY_READ_NO_DRAFTS: ${{ secrets.SANITY_READ_NO_DRAFTS }}
        run: yarn workspace website e2e:ci-full
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: aksel.nav.no/website/playwright-report/
          retention-days: 10
