name: "push-to-cdn"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "fonts/**"

jobs:
  upload:
    runs-on: ubuntu-latest

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: "actions/checkout@v3"

      - id: upload
        uses: navikt/frontend/actions/cdn-upload/v1@main
        with:
          cdn-team-name: aksel
          source: ./fonts
          destination: "" # uploads folder to team root

      - run: echo uploaded file ${{ steps.upload.outputs.uploaded }}
        shell: bash
