name: Smoketest aksel.nav.no
on:
  push:
    branches:
      - main
    paths:
      - "aksel.nav.no/**"

env:
  IMAGE: ghcr.io/navikt/aksel

jobs:
  smoketest:
    name: Smoketest Aksel
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.30.0-focal
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - uses: actions/checkout@v2
      - name: add tokens to .env
        run: |
          echo "SANITY_WRITE_KEY=${{ secrets.SANITY_FEEDBACK_WRITE_KEY }}" >> aksel.nav.no/website/.env
          echo "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}" >> aksel.nav.no/website/.env
          echo "SANITY_PREVIEW_TOKEN=${{ secrets.SANITY_PREVIEW_TOKEN }}" >> aksel.nav.no/website/.env
          echo "SANITY_PRIVATE_NO_DRAFTS=${{ secrets.SANITY_PRIVATE_NO_DRAFTS }}" >> aksel.nav.no/website/.env

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-prod-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-prod-

      - name: Install dependencies
        run: yarn

      - name: build packages
        run: |
          yarn boot

      - name: Build application
        run: yarn workspace aksel.nav.no build:next

      - name: E2E smoketest
        run: yarn workspace website e2e:ci
