name: Update tokens

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required to retrieve git history
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Node-modules cache
        uses: actions/cache@v2
        id: node-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: install
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: postinstall
        if: steps.node-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Test implementation
        run: yarn test
      - name: Update tokens
        run: yarn update:tokens
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_IKONER_API }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GIT_REPO }}
          commit-message: "Oppdatert tokens fra figma"
          committer: GitHub <noreply@github.com>
          branch: figma-tokens-sync
          delete-branch: true
          title: "[FEATURE] Automatisk PR for tokens"
          labels: |
            Design tokens
            automated pr
