[class*="navds-chevron--"] {
  --chevron-rotation: 0deg;
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: 200ms transform;
  vertical-align: middle;
  transform: rotate(var(--chevron-rotation));
}
[class*="navds-chevron--"]::before,
[class*="navds-chevron--"]::after {
  transition: 200ms transform;
  border-radius: 10px;
  transform: translateX(2px) rotate(var(--chevron-rotatePsuedo));
}

[class*="navds-chevron--"]::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background: currentColor;
  top: 0;
  left: 0;
}
[class*="navds-chevron--"]::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background: currentColor;
  top: 0;
  right: 0;
}

.navds-chevron--right,
.navds-chevron--left {
  --chevron-rotation: -90deg;
}

.navds-chevron--down::before,
.navds-chevron--right::before {
  transform: translateX(2px) rotate(45deg);
}

.navds-chevron--up::before,
.navds-chevron--left::before {
  transform: translateX(2px) rotate(-45deg);
}

.navds-chevron--down::after,
.navds-chevron--right::after {
  transform: translateX(-2px) rotate(-45deg);
}

.navds-chevron--up::after,
.navds-chevron--left::after {
  transform: translateX(-2px) rotate(45deg);
}
