@import (reference) "nav-frontend-core";

.app {
  width: 100vw;
  background-color: #f1f1f1;

  &__header {
    height: 150px;
    background-color: @navMorkGra;
    color: @white;
  }

  &__main {
    height: calc(100vh - 120px);
  }

  &__footer {
    height: 150px;
    background-color: @navMorkGra;
  }
}
