/* ---------------------------- Accordion header ---------------------------- */
.aksel-accordion__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--ax-space-12);
  padding: var(--ax-space-12);
  text-align: left;
  cursor: pointer;
  border: none;
  position: relative;
  border-radius: var(--ax-radius-8);
  background: transparent;
  color: var(--ax-text-subtle);

  > * {
    font-weight: var(--ax-font-weight-regular);
  }

  @media (forced-colors: active) {
    border: 1px solid buttonborder;
    background-color: canvas;
    color: canvastext;
  }

  &:hover {
    background-color: var(--ax-bg-moderate-hoverA);

    &::before,
    &::after {
      display: none;
    }

    > .aksel-accordion__icon-wrapper {
      background-color: var(--ax-bg-strong-hover);
      color: var(--ax-text-contrast);
    }

    @media (forced-colors: active) {
      background-color: canvas;
      border: 1px solid highlight;
      color: highlight;
    }
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
    z-index: 1;

    &::before,
    &::after {
      display: none;
    }
  }
}

.aksel-accordion--small .aksel-accordion__header {
  padding-block: var(--ax-space-8);
}

.aksel-accordion__header::before,
.aksel-accordion__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--ax-border-neutral-subtleA);
}

.aksel-accordion__header::after {
  top: initial;
  bottom: 0;
}

.aksel-accordion__item[data-expanded="true"] > .aksel-accordion__header::after,
.aksel-accordion__item:not(:last-child) > .aksel-accordion__header::after {
  display: none;
}

.aksel-accordion__item[data-expanded="false"]:has(.aksel-accordion__header:where(:hover, :focus-visible))
  + .aksel-accordion__item
  > .aksel-accordion__header::before {
  display: none;
}

/* ------------------------- Accordion chevron icon ------------------------- */
.aksel-accordion__icon-wrapper {
  border-radius: var(--ax-radius-8);
  width: 22px;
  height: 22px;
  align-self: center;
  background-color: var(--ax-bg-moderateA);
  color: var(--ax-text-subtle);
}

.aksel-accordion__header-chevron {
  height: inherit;
  width: inherit;
  flex-shrink: 0;
  transition: transform 250ms cubic-bezier(0.2, 0, 0, 1);
}

.aksel-accordion__item[data-expanded="true"] > .aksel-accordion__header .aksel-accordion__header-chevron {
  transform: rotateX(-180deg);
}

/* ---------------------------- Accordion content --------------------------- */

.aksel-accordion--indent > .aksel-accordion__item .aksel-accordion__content-inner {
  padding-block: var(--ax-space-8);
  padding-inline: calc(var(--ax-space-20) + 2px) var(--ax-space-20);

  @media (forced-colors: active) {
    border-left: 1px solid canvastext;
  }
}

.aksel-accordion--indent > .aksel-accordion__item > .aksel-accordion__content {
  box-shadow: -2px 0 0 0 var(--ax-border-neutral-subtleA);
}

.aksel-accordion__item {
  & > .aksel-accordion__content {
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    overflow: hidden;
    margin-inline: var(--ax-space-24) var(--ax-space-12);
    margin-block: 0;
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    transition-duration: 250ms;
    transition-property: visibility, opacity, grid-template-rows, margin, min-height;
    border-color: transparent;
    opacity: 0;

    & .aksel-accordion__content-inner {
      min-height: 0;
      padding-block: 0;
    }
  }

  &[data-expanded="true"] {
    & > .aksel-accordion__content {
      grid-template-rows: 1fr;
      visibility: visible;
      margin-block: var(--ax-space-8);
      margin-block-end: var(--ax-space-24);
      border-color: var(--ax-border-neutral-subtleA);
      opacity: 1;

      & .aksel-accordion__content-inner {
        min-height: fit-content;
      }
    }

    &:last-child {
      border-bottom: 1px solid var(--ax-border-neutral-subtleA);
    }
  }
}
