.aksel-coachmark__popover {
  z-index: 2000;
}

.aksel-coachmark__popover_content {
  --__axc-coachmark__content-width: calc(var(--ax-space-128) + var(--ax-space-128) + var(--ax-space-32));
  --__axc-coachmark__content-padding-block: var(--ax-space-24);

  max-width: var(--__axc-coachmark__content-width);
  padding-block: var(--__axc-coachmark__content-padding-block);
  padding-inline: var(--ax-space-16);

  &[data-top-close-button="true"] {
    --__axc-coachmark__content-padding-block: var(--ax-space-2) var(--ax-space-24);
  }
}

.aksel-coachmark__footer {
  --__axc-coachmark__footer-p-b: var(--ax-space-12) var(--ax-space-0);

  justify-content: flex-end;
  display: flex;
  flex-flow: wrap;
  gap: var(--ax-space-8);
  padding-block: var(--__axc-coachmark__footer-p-b);
}

.aksel-coachmark__image {
  width: var(--__axc-coachmark__content-width);
  margin-bottom: var(--ax-space-8);

  /* TODO: Who handles this? */
  > * {
    object-fit: cover;
    width: 100%;
  }
}

.aksel-coachmark__title {
  margin-bottom: var(--ax-space-8);
}

.aksel-coachmark__description {
  margin-bottom: var(--ax-space-8);
}

.aksel-coachmark__progress {
  margin-bottom: var(--ax-space-8);
}

.aksel-coachmark__backdrop {
  position: fixed;
  pointer-events: none;
  min-height: 100dvh;
  inset: 0;
  background-color: var(--ax-bg-overlay);
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 2000;

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }
}
