/* stylelint-disable no-duplicate-selectors */

.aksel-data-table__border-wrapper {
  /* display:flex and max-height:100% is needed for a "no page scroll" layout */
  display: flex;
  max-height: 100%;
}

.aksel-data-table__scroll-wrapper {
  overflow: auto;
  width: 100%;
  position: relative;
}

.aksel-data-table {
  /*
  We should NOT set min-width:100% b.c. it will cause inconsistencies in column resizing.
  We could discuss whether it matters, though. But it feels buggy.
  Downside is that it looks weird when the table is smaller than the container.
  Maybe we could "manually" resize the other columns so that it fills the container? But that would add a lot of complexity.
  We could have a toggle for the resize feature, and let the consumer decide which downside they prefer. Might need that anyways.
  */

  &[data-layout="fixed"] {
    table-layout: fixed;
    width: 1px; /* This is for some reason needed to make the browser respect the column width. TODO: Test in all browsers */

    /* TODO: review side-effects from this hack */
    min-width: 100%;
  }

  &[data-layout="auto"] {
    min-width: 100%;
  }

  --__axc-data-table-density: var(--ax-space-16);

  &[data-density="condensed"] {
    --__axc-data-table-density: var(--ax-space-8);
  }

  &[data-density="spacious"] {
    --__axc-data-table-density: var(--ax-space-32);
  }

  &[data-zebra-stripes="true"] {
    & .aksel-data-table__tbody :where(.aksel-data-table__tr:nth-child(odd)) {
      background-color: var(--ax-bg-neutral-softA);
    }
  }

  &[data-truncate-content="true"] {
    .aksel-data-table__td > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.aksel-data-table__thead {
  background-color: var(--ax-bg-raised);
  position: sticky;
  top: 0;
}

.aksel-data-table__tbody {
  background-color: var(--ax-bg-raised);
}

.aksel-data-table__tr--selected {
  background-color: var(--ax-bg-softA);
  box-shadow:
    inset 1px 0 0 0 var(--ax-border-default),
    inset -1px 0 0 0 var(--ax-border-default);

  &:first-of-type {
    box-shadow:
      inset 1px 0 0 0 var(--ax-border-default),
      inset -1px 0 0 0 var(--ax-border-default),
      inset 0 1px 0 0 var(--ax-border-default);
  }

  & :is(.aksel-data-table__td, .aksel-data-table__th) {
    border-color: var(--ax-border-default);
  }
}

/* BORDER STYLING START */

.aksel-data-table__border-wrapper {
  border-radius: var(--ax-radius-12);
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 1px solid var(--ax-border-neutral-subtle);
    border-radius: var(--ax-radius-12);
  }
}

.aksel-data-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid var(--ax-border-neutral-subtle);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.aksel-data-table__thead {
  box-shadow: 0 1px 0 0 var(--ax-border-neutral-subtle);
}

.aksel-data-table__th,
.aksel-data-table__td {
  /* border doesn't work on sticky thead when we have collapsed borders, so using box-shadow instead */
  box-shadow: inset 1px 1px 0 0 var(--ax-border-neutral-subtle);

  &[data-align="left"] {
    text-align: left;
  }

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="right"] {
    text-align: right;
  }
}

/* BORDER STYLING END */

.aksel-data-table__th {
  position: relative;
  background-color: var(--ax-bg-neutral-soft);
  color: var(--ax-text-neutral);
  padding: var(--ax-space-8) var(--ax-space-16);
  text-align: start;
  font-weight: var(--ax-font-weight-bold);

  &:has(.aksel-data-table__th-sort-button):hover {
    background-color: var(--ax-bg-neutral-moderate-hover);
  }

  &:has(.aksel-data-table__th-sort-button):active {
    background-color: var(--ax-bg-neutral-moderate-pressed);
  }

  &[data-sortable="true"] {
    padding: 0;
    block-size: calc(var(--__axc-data-table-density) + 1.5rem);
  }
}

.aksel-data-table__th-sort-button {
  display: flex;
  align-items: center;
  gap: var(--ax-space-2);
  padding-inline-start: var(--ax-space-16);
  block-size: calc(var(--__axc-data-table-density) + 1.5rem);
  width: 100%;
  cursor: pointer;
  text-align: start;
  background-color: transparent;
  border: none;
  font-weight: inherit;

  &:focus-visible {
    outline: none;
  }
}

.aksel-data-table__th-sort-icon {
  flex-shrink: 0;
  margin-left: auto;

  &[data-sort-direction="none"] {
    visibility: hidden;
  }

  .aksel-data-table__th-sort-button:is(:hover, :focus-visible, :focus-within) & {
    visibility: visible;
  }

  .aksel-data-table[data-layout="fixed"] &[data-sort-direction="none"] {
    display: none;
  }

  .aksel-data-table[data-layout="fixed"] .aksel-data-table__th-sort-button:is(:hover, :focus-visible, :focus-within) & {
    display: block;
  }
}

.aksel-data-table__th-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.aksel-data-table__th-resize-handle {
  z-index: 2;
  position: absolute;
  cursor: col-resize;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  inset-block: 0;
  inset-inline-end: -10px;
  width: 19px; /* TODO: Violation of WCAG SC 2.5.8 Target Size? https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html */

  &:focus-visible {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: -4px;
    border-radius: var(--ax-radius-8);
  }

  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    width: 3px;
    height: 75%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--ax-radius-full);
    transition: background 50ms linear;
  }

  &:hover::after {
    /* TODO: Consider if the resize-handle should be visible already when hovering the column header */
    background: var(--ax-bg-strong);
  }

  &:active::after,
  &:focus-visible::after {
    background: var(--ax-bg-strong-pressed);
  }

  .aksel-data-table__th:last-of-type & {
    inset-inline-end: 0;
    width: 15px;

    &::after {
      inset-inline-end: 0;
    }
  }

  &[data-active="true"] {
    .aksel-data-table__th-resize-handle-indicator {
      position: absolute;
      top: 50%;
      color: var(--ax-bg-strong);
      transform: translateY(-50%);
      height: 1.5rem;

      &.aksel-data-table__th-resize-handle-indicator--start {
        right: 12px;
      }

      &.aksel-data-table__th-resize-handle-indicator--end {
        left: 12px;
      }
    }

    &::after {
      background: var(--ax-bg-strong);
    }

    &:focus-visible,
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.aksel-data-table__th-action-button {
  transition: 0.1s ease-in-out;

  /* TODO: Animating all these sort of "stutters" a little now. Can some be removed? */
  transition-property: opacity, width, min-width, max-width, padding;

  &:focus-visible {
    transition: none;
  }

  &:not(.aksel-data-table__th:is(:hover, :focus-within) &, &:focus-visible, &[data-expanded="true"]),
  .aksel-data-table__th:has(.aksel-data-table__th-resize-handle:hover:not(:focus)) & {
    opacity: 0;
    min-width: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden;
  }
}

.aksel-data-table__td {
  text-align: start;
  vertical-align: middle;
  color: var(--ax-text-neutral-subtle);

  > div {
    padding-block: var(--__axc-data-table-density);
    padding-inline: 1rem;
  }
}

.aksel-data-table__td,
.aksel-data-table__th {
  scroll-margin-block: var(--ax-space-0);
  scroll-margin-inline: var(--ax-space-0);

  &:focus-visible,
  /* Focus instead of focus-visible so that effect of sort-icon staying isnt strange */
  &:has(.aksel-data-table__th-sort-button:focus) {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: -4px;
  }
}

.aksel-data-table__tfoot {
  background-color: var(--ax-bg-raised);
}

.aksel-data-table__filler-cell {
  width: auto;
  display: table-cell;
}

.aksel-data-table__drag-and-drop-item {
  &[data-dragging="true"] {
    background: var(--ax-bg-default);
  }

  &[data-mouse-dragging="true"]:not(:active) {
    opacity: 0.8;
  }

  &[data-keyboard-dragging="true"] {
    .aksel-data-drag-and-drop__drag-handler__button {
      outline: 2px solid var(--ax-border-focus);
      outline-offset: -1px;
      border-radius: var(--ax-radius-8);
    }
  }

  &[data-drop-target="true"] {
    background: var(--ax-bg-neutral-moderate);
  }
}

.aksel-data-drag-and-drop__drag-handler__button {
  cursor: grab;
  height: 1.5rem;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;

  &:focus-visible {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: -1px;
    border-radius: var(--ax-radius-8);
  }
}

.aksel-data-drag-and-drop__drag-handler__arrow {
  height: 1.2rem;
}

.aksel-data-drag-and-drop__drag-handler__alt {
  position: relative;

  .aksel-data-drag-and-drop__drag-handler__arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    &[data-direction="up"] {
      top: -10px;
    }

    &[data-direction="down"] {
      bottom: calc(-100% - 6px);
    }
  }
}
