.aksel-data-table__border-wrapper {
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-12);
  overflow: hidden;
  flex-grow: 1;
}

.aksel-data-table__scroll-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.aksel-data-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 1px; /* This is for some reason needed to make the browser respect the column width. TODO: Test in all browsers */

  /*
  We should NOT set min-width:100% b.c. it will cause inconsistencies in column resizing.
  We could discuss whether it matters, though. But it feels buggy.
  Downside is that it looks weird when the table is smaller than the container.
  Maybe we could "manually" resize the other columns so that it fills the container? But that would add a lot of complexity.
  We could have a toggle for the resize feature, and let the consumer decide which downside they prefer. Might need that anyways.
  */

  --__axc-data-table-density: var(--ax-space-16) 0;

  &[data-density="condensed"] {
    --__axc-data-table-density: 0 0;
  }

  &[data-density="spacious"] {
    --__axc-data-table-density: var(--ax-space-32) 0;
  }

  &[data-zebra-stripes="true"] {
    & .aksel-data-table__tbody :where(.aksel-data-table__tr:nth-child(odd)) {
      background-color: var(--ax-bg-neutral-softA);
    }
  }

  &[data-truncate-content="true"] {
    .aksel-data-table__td > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.aksel-data-table__thead {
  background-color: var(--ax-bg-raised);
  position: sticky;
  top: 0;
  box-shadow: 0 1px 0 0 var(--ax-border-neutral-subtle);
}

.aksel-data-table__tbody {
  background-color: var(--ax-bg-raised);
}

.aksel-data-table__tr {
  border: none;
}

.aksel-data-table__tr--selected {
  background-color: var(--ax-bg-softA);
  box-shadow:
    inset 1px 0 0 0 var(--ax-border-default),
    inset -1px 0 0 0 var(--ax-border-default);

  &:first-of-type {
    box-shadow:
      inset 1px 0 0 0 var(--ax-border-default),
      inset -1px 0 0 0 var(--ax-border-default),
      inset 0 1px 0 0 var(--ax-border-default);
  }

  & :is(.aksel-data-table__td, .aksel-data-table__th) {
    border-color: var(--ax-border-default);
  }
}

.aksel-data-table__th {
  position: relative;
  background-color: var(--ax-bg-neutral-soft);
  color: var(--ax-text-neutral);
  padding: var(--ax-space-8) var(--ax-space-16);
  text-align: start;
  border-block-end: 1px solid var(--ax-border-neutral-subtle);

  &:not(:first-child) {
    border-inline-start: 1px solid var(--ax-border-neutral-subtle);
  }
}

.aksel-data-table__th-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.aksel-data-table__th-resize-handle {
  z-index: 2;
  position: absolute;
  cursor: col-resize;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  inset-block: 0;
  inset-inline-end: -10px;
  width: 19px; /* TODO: Violation of WCAG SC 2.5.8 Target Size? https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html */

  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    width: 3px;
  }

  &:hover::after {
    /* TODO: Consider if the resize-handle should be visible already when hovering the column header */
    background: var(--ax-bg-strong);
  }

  &:active::after {
    background: var(--ax-bg-strong-pressed);
  }
}

.aksel-data-table__th-action-button {
  transition: 0.1s ease-in-out;

  /* TODO: Animating all these sort of "stutters" a little now. Can some be removed? */
  transition-property: opacity, width, min-width, max-width, padding;

  &:focus-visible {
    transition: none;
  }

  &:not(.aksel-data-table__th:is(:hover, :focus-within) &, &:focus-visible, &[data-expanded="true"]),
  .aksel-data-table__th:has(.aksel-data-table__th-resize-handle:hover:not(:focus)) & {
    opacity: 0;
    min-width: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden;
  }
}

.aksel-data-table__td {
  text-align: start;
  vertical-align: middle;
  border-block-end: 1px solid var(--ax-border-neutral-subtle);
  border-block-start: 1px solid var(--ax-bg-raised);
  color: var(--ax-text-neutral-subtle);

  > div {
    padding: var(--__axc-data-table-density);
    padding-inline: 1rem;
  }

  &:not(:first-child) {
    border-inline-start: 1px solid var(--ax-border-neutral-subtle);
  }

  .aksel-data-table__tfoot .aksel-data-table__tr:last-child & {
    border-block-end: none;
  }

  .aksel-data-table:not(:has(.aksel-data-table__tfoot)) .aksel-data-table__tr:not(.aksel-data-table__tr--selected):last-child & {
    border-block-end: none;
  }
}

.aksel-data-table__td,
.aksel-data-table__th {
  scroll-margin-block: var(--ax-space-0);
  scroll-margin-inline: var(--ax-space-0);

  &:focus-visible {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: -4px;
  }
}

.aksel-data-table__tfoot {
  background-color: var(--ax-bg-raised);
}
