.aksel-data-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--ax-space-8);
}

.aksel-data-toolbar__actions {
  margin-inline-start: auto;
  display: flex;
  align-items: center;

  > :not(:last-child) {
    border-right: 1px solid var(--ax-border-neutral-subtle);
    margin-inline-end: var(--ax-space-4);
    padding-inline-end: var(--ax-space-4);
  }
}

.aksel-data-toolbar__input {
  /* max-inline-size: 600px; */
  width: 100%;
}

.aksel-data-toolbar__pagination {
  display: flex;
  align-items: center;
  gap: var(--ax-space-8);
}
