@charset "UTF-8";

/* CSS is ordered by specificity, so that browsers without layers fall backs to good defaults */
@layer aksel.reset, aksel.theming, aksel.baseline, aksel.print, aksel.typography, aksel.components, aksel.layout;

/* ----------------------------- CSS foundations ---------------------------- */
@import "./baseline/fonts.css" layer(aksel.typography);
@import "./baseline/reset.css" layer(aksel.reset);
@import "./baseline/tokens.css" layer(aksel.theming);
@import "./baseline/baseline.css" layer(aksel.baseline);
@import "./baseline/print.css" layer(aksel.print);

/* ------------------------------- Components ------------------------------- */
@import "./theme.css" layer(aksel.components);
@import "./typography.css" layer(aksel.components);
@import "./button.css" layer(aksel.components);
@import "./chips.css" layer(aksel.components);

/**
  * Most components depend on typo-styles, so we import them first.
  *
  * `./form/index.css` edits the following components:
  * - Button
  * - Chips
  * To avoid specificity conflicts, we import those components before form.
*/
@import "./form/index.css" layer(aksel.components);
@import "./accordion.css" layer(aksel.components);
@import "./alert.css" layer(aksel.components);
@import "./chat.css" layer(aksel.components);
@import "./copybutton.css" layer(aksel.components);
@import "./date.css" layer(aksel.components);
@import "./dropdown.css" layer(aksel.components);
@import "./action-menu.css" layer(aksel.components);
@import "./expansioncard.css" layer(aksel.components);
@import "./guide-panel.css" layer(aksel.components);
@import "./help-text.css" layer(aksel.components);
@import "./inline-message.css" layer(aksel.components);
@import "./internalheader.css" layer(aksel.components);
@import "./link.css" layer(aksel.components);
@import "./link-panel.css" layer(aksel.components);
@import "./link-anchor.css" layer(aksel.components);
@import "./link-card.css" layer(aksel.components);
@import "./loader.css" layer(aksel.components);
@import "./modal.css" layer(aksel.components);
@import "./pagination.css" layer(aksel.components);
@import "./popover.css" layer(aksel.components);
@import "./tag.css" layer(aksel.components);
@import "./timeline.css" layer(aksel.components);
@import "./tooltip.css" layer(aksel.components);
@import "./toggle-group.css" layer(aksel.components);
@import "./panel.css" layer(aksel.components);
@import "./read-more.css" layer(aksel.components);
@import "./progress-bar.css" layer(aksel.components);
@import "./skeleton.css" layer(aksel.components);
@import "./process.css" layer(aksel.components);
@import "./stepper.css" layer(aksel.components);
@import "./table.css" layer(aksel.components);
@import "./tabs.css" layer(aksel.components);
@import "./list.css" layer(aksel.components);

/* --------------------------------- Layout --------------------------------- */
@import "./primitives/index.css" layer(aksel.layout);
