.aksel-inline-message {
  display: flex;
  gap: var(--ax-space-4);
  color: var(--ax-text-default);
}

.aksel-inline-message__icon {
  color: var(--ax-text-subtle);
  font-size: 1.5rem;
  flex: 0 0 auto;

  .aksel-inline-message[data-size="small"] & {
    font-size: 1.25rem;
  }
}
