.aksel-listbox__group-label {
  background: var(--ax-bg-neutral-softA);
  padding: var(--ax-space-2) var(--ax-space-8);
  margin-bottom: var(--ax-space-2);

  .aksel-listbox__group:not(:first-child) & {
    margin-top: var(--ax-space-6);
  }
}

.aksel-listbox__option {
  scroll-margin-block: var(--ax-space-2);
  padding: var(--ax-space-2) var(--ax-space-4);

  .aksel-listbox__options > &:first-child {
    margin-top: var(--ax-space-2);
  }

  .aksel-listbox__options > &:last-child,
  .aksel-listbox__group:last-child &:last-child {
    margin-bottom: var(--ax-space-2);
  }

  .aksel-listbox__group:first-child &:nth-child(1 of &) {
    /* When we scroll to the first option, and that option is in a group,
       scroll to the very top so that the group label is visible as well.
       We exaggerate the value to take into account custom content. */
    scroll-margin-top: 60px;
  }
}

.aksel-listbox__option-inner {
  cursor: default;
  border-radius: var(--ax-radius-8);

  .aksel-listbox[data-size="small"] & {
    padding: var(--ax-space-6);
  }

  .aksel-listbox[data-size="medium"] & {
    padding: var(--ax-space-8);
  }

  .aksel-listbox__option[data-virtual-focus="true"] & {
    outline: 2px solid var(--ax-border-focus);
    outline-offset: -2px;
    background-color: var(--ax-bg-neutral-moderate-hoverA);
  }
}
