.aksel-listbox__list {
  padding: var(--ax-space-4);
}

.aksel-listbox__item {
  cursor: default;
  border-radius: var(--ax-radius-8);
  padding: var(--ax-space-4) var(--ax-space-2);
  scroll-margin-block: 4px;

  &[data-virtual-focus="true"] {
    outline: 2px solid var(--ax-border-focus);
  }
}
