.aksel-lookup-trigger {
  all: unset;
  appearance: none;
  cursor: pointer;
  color: inherit;
  text-decoration: underline dotted;
  text-underline-offset: 10%;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--ax-border-default);
  background: var(--ax-bg-info-softA);
  border-radius: var(--ax-radius-4);
  padding-inline: var(--ax-space-1);

  &:hover {
    background: var(--ax-bg-info-moderate-hoverA);
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 2px;
  }
}

.aksel-lookup__content {
  position: relative;
  max-width: min(65ch, calc(100vw - var(--ax-space-24)));
}

.aksel-lookup__title {
  margin-block-end: var(--ax-space-8);
  margin-inline-end: var(--ax-space-28);
}

.aksel-lookup__close-button {
  position: absolute;
  top: var(--ax-space-16);
  right: var(--ax-space-16);
}
