.aksel-lookup-trigger {
  appearance: none;
  all: unset;
  color: inherit;
  text-decoration: underline dotted;
  text-underline-offset: 10%;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--ax-border-default);
  background: var(--ax-bg-info-softA);
  border-radius: var(--ax-radius-4);

  &:hover {
    background: var(--ax-bg-info-moderate-hoverA);
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 2px;
  }

  &[data-hover-effect="true"] {
    background: linear-gradient(to right, var(--ax-bg-info-moderate-hoverA) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 150ms ease;

    &:hover {
      background-position: left bottom;
    }
  }
  /* TODO: ASK DESIGN
  &:active {
    background: var(--ax-bg-info-moderate-pressedA);
  }
    */
}

.aksel-lookup__popover-content {
  &:focus-visible {
    outline: none;
  }
}
