.aksel-lookup-trigger {
  appearance: none;
  all: unset;
  color: inherit;
  text-decoration: underline dashed;
  text-underline-offset: var(--ax-space-4);
  text-decoration-thickness: var(--ax-space-2);
  text-decoration-color: var(--ax-border-default);
  background: transparent;

  &:hover {
    background: var(--ax-bg-moderate-hover);
  }

  &[data-hover-effect="true"] {
    background: linear-gradient(to right, var(--ax-bg-moderate-hover) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 150ms ease;

    &:hover {
      background-position: left bottom;
    }
  }

  &:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 2px;
    border-radius: var(--ax-radius-2);
  }

  &:active {
    background: var(--ax-bg-moderate-pressed);
  }
}
