.aksel-status-badge {
  --__axc-status-badge-size: 1.25rem;

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--__axc-status-badge-size);
  height: var(--__axc-status-badge-size);
  padding-inline: var(--ax-space-6);
  border-radius: var(--ax-radius-full);
  background: var(--ax-bg-strong);
  color: var(--ax-text-contrast);
  line-height: 1;
  text-align: center;

  @media (forced-colors: active) {
    forced-color-adjust: none;
    background: canvastext;
    color: canvas;
  }
}

.aksel-status-badge--dot {
  --__axc-status-badge-size: var(--ax-space-12);

  min-width: var(--__axc-status-badge-size);
  padding-inline: 0;
}

.aksel-status-badge--floating {
  --__axc-status-badge-size: 1rem;

  position: absolute;
  z-index: 1;
  padding-inline: var(--ax-space-4);

  &.aksel-status-badge--dot {
    --__axc-status-badge-size: var(--ax-space-8);
  }

  &[data-placement="top-right"] {
    inset-block-start: 0;
    inset-inline-end: 0;
    transform: translate(50%, -50%);
  }

  &[data-placement="top-left"] {
    inset-block-start: 0;
    inset-inline-start: 0;
    transform: translate(-50%, -50%);
  }

  &[data-placement="bottom-right"] {
    inset-block-end: 0;
    inset-inline-end: 0;
    transform: translate(50%, 50%);
  }

  &[data-placement="bottom-left"] {
    inset-block-end: 0;
    inset-inline-start: 0;
    transform: translate(-50%, 50%);
  }
}
