.aksel-status-badge__anchor {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
}

.aksel-status-badge {
  --__axc-status-badge-size: 1.25rem;

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--__axc-status-badge-size);
  height: var(--__axc-status-badge-size);
  padding-inline: var(--ax-space-6);
  border-radius: var(--ax-radius-16);
  background: var(--ax-bg-strong);
  color: var(--ax-text-contrast);

  @media (forced-colors: active) {
    forced-color-adjust: none;
    background: canvastext;
    color: canvas;
  }

  &[data-pulse="true"]::before {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: var(--ax-bg-strong);
    opacity: 0.6;
    animation: status-badge-ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

@keyframes status-badge-ping {
  50% {
    opacity: 1;
    transform: scale(1);
  }

  90%,
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.aksel-status-badge--dot {
  --__axc-status-badge-size: var(--ax-space-12);

  min-width: var(--__axc-status-badge-size);
  padding-inline: 0;
}

.aksel-status-badge__anchor > .aksel-status-badge {
  --__axc-status-badge-size: 1rem;

  position: absolute;
  z-index: 1;
  padding-inline: var(--ax-space-4);
  outline: 1px solid var(--ax-bg-default);

  &.aksel-status-badge--dot {
    --__axc-status-badge-size: var(--ax-space-12);

    padding-inline: 0;
  }
}

.aksel-status-badge__anchor[data-placement="top-right"] > .aksel-status-badge {
  inset-block-start: 0;
  inset-inline-end: 0;
  transform: translate(40%, -40%);
}

.aksel-status-badge__anchor[data-placement="top-left"] > .aksel-status-badge {
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translate(-40%, -40%);
}

.aksel-status-badge__anchor[data-placement="bottom-right"] > .aksel-status-badge {
  inset-block-end: 0;
  inset-inline-end: 0;
  transform: translate(40%, 40%);
}

.aksel-status-badge__anchor[data-placement="bottom-left"] > .aksel-status-badge {
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: translate(-40%, 40%);
}
