@import "@docsearch/css";

.DocSearch {
  --docsearch-highlight-color: var(--a-surface-action);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--a-surface-action);
  --docsearch-container-background: var(--a-surface-backdrop);
  --docsearch-muted-color: var(--a-text-subtle);
}

.DocSearch-Hit > a:focus {
  outline: none;
}

.DocSearch-Hit > a:focus-visible {
  box-shadow: inset 0 0 0 2px var(--a-border-focus);
}

.DocSearch-Container {
  z-index: 2000;
}
