@import "@docsearch/css";

.DocSearch {
  --docsearch-highlight-color: var(--navds-semantic-color-interaction-primary);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--navds-semantic-color-interaction-primary);
  --docsearch-container-background: rgba(38, 38, 38, 0.7);
  --docsearch-muted-color: var(--navds-semantic-color-text-muted);
}

.DocSearch-Hit > a:focus {
  outline: none;
}

.DocSearch-Hit > a:focus-visible {
  box-shadow: inset 0 0 0 2px var(--navds-semantic-color-focus);
}

.DocSearch-Container {
  z-index: 2000;
}

/* .DocSearch-Hit-source {
  display: none;
} */
