@import '../../../../../../../node_modules/highlight.js/styles/github.css';

.react-doc {
  padding: 12px;
  border-radius: 4px;
}

.install-doc {
  padding: 12px;
  overflow-x: hidden;

  pre {
    cursor: pointer;
    white-space: pre-wrap;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}