.typographyPage {
  .semibold { font-weight: 600; }
  .bold { font-weight: 700; }
  .bolder { font-weight: 900; }
  .light { font-weight: 300; }
  .lighter { font-weight: 200; }
  .italic { font-style: italic; }

  .description {
    // max-width: 60%;
    padding: 24px 0px 0px 0px;

    .typo-normal {
      line-height: 1.38;
    }

    .sample {
      font-size: 32px;
    }
  }

  .wrapper {
    margin-top: 80px;

    &--extra {
      margin-top: 140px !important;

      @media screen and (max-width: 600px) {
        margin-top: 80px !important;
      }
    }
  }
}